[2014-10-30 23:41] cascheberg commented on #1156
Ok, translation updated, now uses "Beginnen" instead of "Starten" (I still like both versions though), and I removed the article in "den Mozilla Stumbler".

[2014-10-30 23:45] Rondom commented on #1156
Looks good to me!

I second the feedback given to the English original and would like to add that I would consider it worthwhile to mention MozStumbler's license as well in the last sentence.

[2014-10-31 08:58] kparal commented on #1150
I have Nexus 7 2013 Wifi (no 3G or LTE) and I also can't install the app from the play store (it says "not compatible"). I have stock Android 4.4, non-rooted. I assume you don't need mobile networks functionality to work, right? I'd like at least to submit wifi data.

[2014-10-31 14:00] garvankeeley commented on #1150
A GPS chip is required.

[2014-10-31 14:01] edt-xx commented on #1150
All nexus tablets have GPS chips.
On Oct 31, 2014 10:00 AM, "Garvan Keeley" notifications@github.com wrote:

[2014-10-31 14:10] kparal commented on #1150
Yes, I have GPS in the tablet.

[2014-10-31 14:13] garvankeeley commented on #1150
Wow, even the wi-fi-only. I'll try find out if _anyone_ has installed on a Nexus 7 from the play store.

[2014-10-31 14:18] garvankeeley commented on #1150
this one should be an optional requirement, will fix in the next update:
  uses-feature android:name="android.hardware.telephony"

[2014-10-31 14:40] #1150 closed, assigned to nobody

[2014-10-31 15:08] crankycoder commented on #1156
If this is all good, can someone post a final version that is ok to submit?

[2014-10-31 15:15] cascheberg commented on #1156
@crankycoder You can use the version from my first comment. I updated that one to include changes that were suggested in the following comments.

[2014-10-31 16:26] garvankeeley commented on #1156
This is 88 chars and the store only allows 80 I just found out:
"Helfen Sie Mozilla, einen offenen WLAN und Funkzellen Lokalisierungsdienst zu erschaffen"
Please shorten, thanks!

[2014-10-31 16:30] garvankeeley commented on #1156
Here is the graphic, anyone have Adobe Illustrator to update this for German:
https://drive.google.com/file/d/0B1sYPwjczMsQRWwxRC12OThUYkk

The text is
"A geolocation stumbler for the Mozilla Location Service"

If just that is translated, I'll get the .ai file updated

[2014-10-31 16:49] garvankeeley commented on #1154
Added to the store now, thanks!

[2014-10-31 16:49] garvankeeley commented on #1154
Any suggestion for our feature graphic? The text is
"A geolocation stumbler for the Mozilla Location Service"

(.ai file: https://drive.google.com/file/d/0B1sYPwjczMsQRWwxRC12OThUYkk)

[2014-10-31 16:54] garvankeeley commented on #1157
Thanks! Updated the text. I still need to update the banner.

[2014-10-31 17:51] Djfe commented on #1156
Some shortened versions, that come to my mind:
"Hilf Mozilla, einen offenen WLAN und Funkzellen Ortungsdienst zu erschaffen"
"Helfen Sie Mozilla, einen offenen Lokalisierungsdienst zu erschaffen"

Pls give feedback on what is the most accurate version in your opinion (@Germans).

Shortening "Lokalisierungsdienst" to "Ortungsdienst" saves 7 spaces so I needed to remove "Wlan und Funkzellen" if I wa

[2014-10-31 18:00] VolMi commented on #1156
It was missing two dashes. My shortened suggestion:
`Helfen Sie Mozilla, einen freien WLAN-/Funkzellen-Ortungsdienst zu erschaffen`

My freely chosen suggestion is even smaller
`Spenden Sie Standortdaten für Mozillas weltweite Geodatenbank`
("donate location data for mozilla worldwide geo data base")

[2014-10-31 18:09] Djfe commented on #1156
I like @VolMi 's suggestion much more (Helfen Sie Mozilla, einen freien WLAN-/Funkzellen-Ortungsdienst zu erschaffen)
But we should stay consistent with the app's strings and use Wi-FI instead of WLAN and it looks better without the last dash:
"Helfen Sie Mozilla, einen freien Wi-Fi-/Funkzellenortungsdienst zu erschaffen"

Not sure about the following translation though:
Spenden Sie Standortdaten

[2014-10-31 18:10] SteveALee opened #1174 "Lost reports after a crash"
I was walking about so no wifi connection and thus also no auto upload (as settings at default of off) when I got the dreaded 'Sumbler had problems and is closing' error. I had just launched GMail and my phone is low on resources s oI expect that killed Stumbler.

However when I restarted stumbler all my reports since starting Stumbler had disappeared from the map and the stats were all at 0. It s

[2014-10-31 18:17] edt-xx commented on #1168
Day three here and points from day one still have not appeared.  They are accumulating under my nick though...

[2014-10-31 18:20] garvankeeley commented on #1168
Can you try App Info -> Clear cache?
This should force the coverage tiles to reload and tell us if the bug is on the server or on the Stumbler.

[2014-10-31 18:22] Djfe opened #1175 "Bangladesh translation of playstore listing"
Copied text from @crankycoder for Bangladesh (Modern Standard Bengali?) translation
We need to get title, short description and full description translated to Bangladesh.

I'm happy to just have people fill in the text in this ticket as a comment and we can directly patch the description in the playstore listing.

Title:

[code]

Short description:

[code]

Full Description:

[code]

[2014-10-31 18:30] edt-xx commented on #1168
Clearimg the app cache helped.  Now I see them on the map in the app.  What
is strange is they were not showing on the
location.services.mozilla.com/map# site either.  Now they are.
Thanks
On Oct 31, 2014 2:20 PM, "Garvan Keeley" notifications@github.com wrote:

[2014-10-31 18:33] Djfe commented on #1174
Which device and what version of Mozilla Stumbler were you using?

As far as I know reports only get saved every 50 reports or something like that.

Maybe that can be improved, so that they get saved every x seconds.

This limitation has been introduced together with the file-based database (was needed for the integration into Fennec (Firefox for Android)), because Garvan wanted to reduce the numb

[2014-10-31 18:37] garvankeeley commented on #1174
Correct, every 50, or if stumbling stops, or if some timeout (I have to check how long).

[2014-10-31 18:38] Rondom commented on #1156
I like @VolMi's location the most: "Helfen Sie Mozilla, einen freien WLAN-/Funkzellen-Ortungsdienst zu erschaffen"

I would not think of Ichnaea, when I hear Geodatenbank (or "geo database" in English). Instead I would rather think of Openstreetmap.

Regarding Wi-Fi vs. WLAN. If the app translation uses Wi-Fi, i agree that it should be consistent. Still I consider WLAN is a _considerably_ more com

[2014-10-31 18:47] Djfe commented on #1165
If you are not moving at all then new Wi-Fi points that the Android device needed some time to detect for, should be added to the current report, too IMO (maybe that fixes this issue)

btw.: does your brother see any Wi-Fi aps in his logs (at the top where they aren't truncated)?
maybe you could add further logging to the part of the ap that excludes wifis, which tells you why they don't get added

[2014-10-31 18:48] Djfe commented on #1156
What do you think about "Funkzellenortungsdienst" instead of "Funkzellen-Ortungsdienst"

[2014-10-31 18:49] SteveALee commented on #1174
Sorry, Android (old HTC One S) and latest version from Play (assuming it auto updates).
I guess I was unlucky and it crashed just under 50 reports.

I understand the engineering compromise and it seems good to me.

[2014-10-31 18:50] garvankeeley commented on #1174
@SteveALee can make sure crash reporting is on? It is in the developer setting right now, we need to bubble that up.

We aren't handling low memory notifications from the OS yet, and we should, I'll add a bug for that.
#1176

[2014-10-31 18:51] Rondom commented on #1156
Better, prefer the version without the dash i.e. "Funkzellenortungsdienst"

[2014-10-31 18:52] garvankeeley opened #1176 "Write to disk on low memory notification from OS"
We aren't handling Application::onLowMemory() onTrimMemory(), and we should.

[2014-10-31 18:53] SteveALee commented on #1174
@garvankeeley Done

[2014-10-31 19:03] Djfe commented on #1087
tested now:
&bull are new points drawn over older ones? (happens only on high zoom levels -> dots get closer)
and it happens still:
![2014-10-31 17 12 04](https://cloud.githubusercontent.com/assets/5685512/4866950/9d3b871e-6130-11e4-89c1-c42a4919b464.png)
![2014-10-31 17 12 14](https://cloud.githubusercontent.com/assets/5685512/4866952/9f83b3e8-6130-11e4-97d5-905e23612fa9.png)

[2014-10-31 19:08] Djfe opened #1178 "I see a different map at times"
Sometimes I see a different map, from usual (rarely and only for a few seconds).
![2014-10-30 09 10 24](https://cloud.githubusercontent.com/assets/5685512/4867006/3d481f7e-6131-11e4-817f-f16399326777.png)
I'm using the GitHub version, and normally I get this map:
![2014-10-30 09 10 50](https://cloud.githubusercontent.com/assets/5685512/4867014/48b2783c-6131-11e4-91ad-fb6cf62a6961.png)

[2014-10-31 20:46] garvankeeley commented on #1168
This is a bug, we should keep an eye on this. The tiles are supposed to refresh automatically.

[2014-10-31 20:50] #827 closed, assigned to nobody

[2014-10-31 20:59] khernyo commented on #1162
You can use https://github.com/JakeWharton/sdk-manager-plugin for automated SDK install/update.

[2014-10-31 22:39] cpeterso commented on #1178
Are these screenshots from the same build? I think the first screenshot shows OSM map tiles and the second MapBox tiles. Have you ever tested installed a MozStumbler build from F-Droid or your own local build on the same device? Non-Mozilla builds don't have a MapBox license key, so they fallback to OSM map tiles, which may have become cached in osmdroid's shared tile cache on the sdcard.

[2014-10-31 22:43] Djfe commented on #1178
yes, I had but that was way back
I have deleted the OSMdroid folder since it isn't needed anymore for Mozilla Stumbler (it uses the app cache now and a different tile caching method)
so the issue might have vanished now, the tiles were only visible for a few seconds where I had no internet connection, yet (I got lucky to take a screenshot)

will close this until it happens again

[2014-10-31 23:27] RexWheeler commented on #1087
102 seems to have fixed the drawing of dots when in follow mode for me (per my above comment).

[2014-11-01 01:28] cascheberg commented on #1156
I suggest to keep the "offenen" (open) instead of "frei" (free) in the title, because in my opinion this is more meaningful. And I slightly prefer to just drop the wifi and cell part, because it is easier to read and the details are still explained in the text. And then you could keep the "Lokalisierungsdienst", since "Ortungsdienst" somehow reminds me of surveillance...
I think @Djfe`s first idea

[2014-11-01 02:40] crankycoder commented on #1025
I just cut release tag v1.2.1 - which is basically the same as the 1.0.0.0 build.

The main change is that we now support doing builds for F-Droid.  A merge request is pending in gitlab, after that - we should be live on the F-Droid store.

https://gitlab.com/fdroid/fdroiddata/merge_requests/338

[2014-11-01 10:01] hannosch commented on #1055
From what I remember, the problem with WiFi scanning is, that the frequency of API calls, does not reflect how often the underlying hardware actually gets new information. Typically it takes a couple of seconds for the chips to cycle through all available frequencies and find all available networks. That is if they do active probing. If they just do passive listening for the beacon frames from the

[2014-11-01 11:25] SteveALee commented on #1152
I have found that when I **switch back** to Stumbler (Android) it turns back on. This is not good and I would say a bug

By switching I mean using the android recent apps button, not starting again from home screen

Steps
- Launch stumbler
- turn off
- switch to another app
- turn off display and wait a while
- Turn on display and switch back to stumbler

Result: after switching it turns back on
E

[2014-11-01 13:03] Djfe commented on #1152
That's normal Android behavior, it freezes the app and restarts it with the old values, but MozStumbler just starts fresh instead because there are no values to save (except maybe what you are looking for)

the devs made it so that MoStumbler gets closed when it isn't used, so that you don't need to close it using some kind of task manager (if you have a device without much memory)

[2014-11-01 13:09] Djfe commented on #285
@crankycoder will there be a google group for beta staging or not?
else this issue can be closed ;)

[2014-11-01 13:11] Djfe commented on #895
@cpeterso what is the state of this? finished review?

[2014-11-01 13:12] Djfe commented on #1055
this could be tested on more devices, on cpeterso devices' there were no differences but on others there might be:
https://github.com/mozilla/MozStumbler/issues/40

[2014-11-01 13:16] Djfe commented on #1055
btw. if the guy here is correct(xenonite), then it only takes 0.7 for passive scanning:
http://stackoverflow.com/questions/5958715/what-is-the-difference-between-active-scan-and-passive-scan

maybe active scanning also probs for hidden SSIDs (Jadiyappa)

interesting, too:
https://groups.google.com/forum/#!topic/mozilla.dev.geolocation/6O1KxH2qupI

[2014-11-01 13:42] httpless commented on #1081
@crankycoder  yes, so far so good but does this also explain why certain roads need to be driven many many times to be recorded?

[2014-11-01 16:19] SteveALee opened #1180 "Restore stumbled path on map after process death"
After a long walk I tried to manually upload data when connected to wifi. It failed and when I got home I also noted my log is filling with html idols post errors for all hanshake. I can't seem to cut and past text from the log or insert a screen shot.

Can I do anything to post the data, preferably before the log fills the device.

[2014-11-01 16:25] SteveALee commented on #1180
The error is (hand entered):
Stumbler  HttpUtil:post error: javax ... 94410:SSL routines: SLL3_READ_BYTES:sslv3 alert handshake failure(exeternal/openssl/ssl/s3_pkt.c:1290 ox51910420:0x00000003

[2014-11-01 16:36] forhadcmt opened #1181 "Localize the Play Store description to Bengali"
I was get a mail from the mailing list of Mozilla Geo location service mailing list. In there i found this link
https://github.com/mozilla/MozStumbler/issues/1175, which i have to translate. But i don't know to translate it in github. So, i need help to translate in Bengali. Actually in need know that how to translate it in github.

[2014-11-01 16:42] SteveALee commented on #1152
So I thought normal Android behaviour was that it multitasks so apps are expected to run when in background. I expected Stumbler to carry on when I switch to another app. Are you saying that is wrong? It seems to carry on if I simply switch back and forth between apps

If I switch apps I don't expect them to change state. The stop watch does not stop when you switch away. Switching away does not m

[2014-11-01 16:48] crankycoder opened #1182 "Add a "file a bug" button"
We frequently get bug reports where we inevitably ask for device and rom info.

We should really be able to file bugs from the device which captured this information for us.

Maybe implement this as a hook into ACRA?

[2014-11-01 16:49] crankycoder commented on #1180
I've filed bug #1182 to assist in capturing device info when filing bugs,  but in the mean time -  what device and rom are you using?

That's an sslv3 crash and we don't support sslv3 because of security issues.

[2014-11-01 16:51] crankycoder commented on #1181
We need to get title, short description and full description translated to Bengali.

I'm happy to just have people fill in the text in this ticket as a comment and we can directly patch the description in the playstore listing.

Title:

[code]

Short description:

[code]

Full Description:

[code]

[2014-11-01 16:53] crankycoder commented on #1180
Which isn't to say that the ssl problem is your fault.  We just need to figure out a way to detect if ssl3 is something we'll have to work around inside the stumbler.

[2014-11-01 17:01] crankycoder opened #1183 "Detect if no SD card is available"
Some devices only have android internal storage available.  In this case,  we can't write tiles to storage or write stumble logs.

We need to display a message to the user that the stumbler requires some kind of external storage.

The current user experience in this case is that the stumbler inexplicably doesn't work.

We can only test this by trying to write to storage and getting an error.  If n

[2014-11-01 17:18] SteveALee commented on #1180
:) It's a stock HTC One S

I've been stumbling with no problem for some time. The only difference I can think of was I did connect to a BT access point while in the pub using their [app](https://play.google.com/store/apps/details?id=com.bt.mnie.wispr&hl=en). Once I was home it switched back to normal access (our BT home hub)

I just lost all the data due to the stumbler reset discussed in #1152

[2014-11-01 17:21] SteveALee commented on #1182
I tried to supply info from the log but could not cut and paste it.
I then tried a screen dump but after switching to desktop GitHub in Firefox for Android it reset back to an empty mobile form after I tried to insert the image.

[2014-11-01 17:24] SteveALee commented on #1180
Android 4.1.1
HTC Sense 4+
Software ver 3.12.771.7
Kernel 3.4.10-g2407d99

[2014-11-01 17:40] forhadcmt commented on #1181
Hello Dear,
Thanks Victor. I just complete the translation. But unfortunately the
electricity just gone! i mean it's loadsheding !! So, please wait
till i get the electricity.  i will  give my translation in the
comment section of issue.

Best Regards
Forhad Hossain
 https://mozillians.org/en-US/u/forhad/
https://location.services.mozilla.com/leaders#forhad

On 11/1/14, Victor Ng notifications@git

[2014-11-01 18:43] forhadcmt commented on #1181
শিরোনাম:

মোজস্ট্যাম্বলার

সংক্ষিপ্ত বিবরণ:

মজিলাকে একটি উম্মুক্ত ওয়াই-ফাই এবং মোবাইল জিওলোকেশন সার্ভিস তৈরিতে সহায়তা করুন

সম্পূর্ণ বর্ণনা:

মজিলা হলো একটি অলাভজনক প্রজেক্ট এবং একটি গ্লোবাল কমিউনিটি যারা একটি সুন্দর ইন্টারনেট তৈরিতে কাজ করে। <b>মজিলা স্ট্যাম্বলার</b>  একটি উম্মুক্ত ওয়্যালেস নেটওয়ার্ক স্ক্যানার যা অামাদের লোকেশন সার্ভিসের জন্য জিপিএস ডাটা সংগ্রহ করে।  অাপনি কাছাকাছি ঘুরলে, অ্যাপ

[2014-11-01 21:38] crankycoder commented on #285
The stable version is on the Google Play https://play.google.com/store/apps/details?id=org.mozilla.mozstumbler now.  F-Droid releases will also be synchronized with Play store releases.  We just got merged into F-Droid (https://gitlab.com/fdroid/fdroiddata/merge_requests/338) so we will shortly appear over there as well.

Github will continue to be used as a beta channel. We can't manage Google Pl

[2014-11-01 21:38] #285 closed, assigned to nobody

[2014-11-02 00:55] crankycoder commented on #1025
We haven't got into F-Droid quiet yet, keeping this open until we show up there.

[2014-11-02 02:19] crankycoder commented on #1025
F-Droid build output gets emitted to a wiki.  v1.2.1 should appear sometime on Sunday Nov 2. https://f-droid.org/wiki/page/org.mozilla.mozstumbler

[2014-11-02 07:25] ag88 commented on #1136
here is an old blog that says something about google latitude
Locate your friends in real time with Google Latitude
http://googlemobile.blogspot.sg/2009/02/locate-your-friends-in-real-time-with.html

it is really not a maps feature, more so than that it is more of a service run from a server which allow location info to be broadcasted to a (subscribed) group of people. i'd think it is quite possib

[2014-11-02 09:28] hannosch commented on #1136
From a broader Mozilla perspective, we have two projects that do some of the latittude work. One is the Firefox Hello project (codename: Loop, https://wiki.mozilla.org/Loop) which allows cross-platform communications and includes the technical bits for an address book ("social graph") and "presence" (in order to make a webrtc call to someone, we need to be able to figure out if that person is onli

[2014-11-02 09:30] hannosch commented on #1025
Well, the build log at https://f-droid.org/wiki/page/org.mozilla.mozstumbler/lastbuild says:

"no space left on device"

which sounds like a general problem.

[2014-11-02 14:25] crankycoder commented on #1025
Breaking the build box > breaking the build.

I think we deserve points for this one.

I'll contact the fdroid folks.

@hannosch,  you do PTO badly. :-)

[2014-11-02 15:07] SteveALee commented on #1152
So android docs _do_ say activities should be restored.

If an activity is paused or stopped, the system can drop the activity from memory by either asking it to finish, or simply killing its process. When it is displayed again to the user, it must be completely restarted and restored to its previous state.

http://developer.android.com/reference/android/app/Activity.html

Stumbler doesn't do this

[2014-11-02 15:13] SteveALee commented on #1180
In case it helps I found my data had uploaded, though with several large gaps. I thought stumbled had reset without my data being uploaded as all the points vanished.

[2014-11-02 15:37] crankycoder commented on #1152
I've changed the title of this bug as it's just about a preference

[2014-11-02 15:39] crankycoder commented on #1180
This sounds like we just need to restore the stumbled path to the UI after process death.  We currently don't read in the stumble logs to regenerate the path on the map.

[2014-11-02 15:42] crankycoder commented on #1167
I need to add a proper unit test to verify tile reloads are behaving correctly.

[2014-11-02 16:28] garvankeeley commented on #1181
Thanks! The 3 section headings aren't part of the translation (those are the boxes that we fill in on the play store listing):

শিরোনাম:
^ this is title?

সংক্ষিপ্ত বিবরণ:
^ this is short description?

সম্পূর্ণ বর্ণনা:
^ this is long description?

[2014-11-02 16:46] SteveALee commented on #1180
Agree.

[2014-11-02 16:48] SteveALee commented on #1152
I don't think it should switch to 'on when reactivating as opposed to starting. Though I will accept a preference give your comments on most common use case. :)

[2014-11-02 17:53] forhadcmt commented on #1181
A little update....

Title:

Mozilla Stumbler

Short description:

Mozilla কে একটি উম্মুক্ত ওয়াই-ফাই এবং মোবাইল জিওলোকেশন সার্ভিস তৈরিতে সহায়তা করুন

Full Description:

Mozilla হলো একটি অলাভজনক প্রজেক্ট এবং একটি গ্লোবাল কমিউনিটি যারা একটি সুন্দর ইন্টারনেট তৈরিতে কাজ করে। <b>Mozilla Stumbler</b>  একটি উম্মুক্ত ওয়্যালেস নেটওয়ার্ক স্ক্যানার যা অামাদের লোকেশন সার্ভিসের জন্য জিপিএস ডাটা সংগ্রহ করে।  অ

[2014-11-02 20:05] Djfe commented on #1181
It's called Mozilla Stumbler now and not MozStumbler anymore...

[code]

and later (typo you missed the "m"):

[code]

[2014-11-02 20:06] #1175 closed, assigned to nobody

[2014-11-02 20:30] Cameleon commented on #1154
sorry, I am not sure to understand what the "feature graphic" is :-(

[2014-11-03 01:08] crankycoder commented on #1025
Woot!

We're live on F-Droid.

https://f-droid.org/repository/browse/?fdfilter=mozstumbler&fdid=org.mozilla.mozstumbler

Note that the rev 1.2.1 is virtually identical to the v1.0.0 release on Google Play.

The next stable release will have the same version and tag across Google Play, F-Droid and Github.

[2014-11-03 01:08] #1025 closed, assigned to crankycoder

[2014-11-03 10:31] forhadcmt commented on #1181
Thanks for your review!! i update translation, you can use this now!
Title:

Mozilla Stumbler

Short description:

Mozilla কে একটি উম্মুক্ত ওয়াই-ফাই এবং মোবাইল জিওলোকেশন সার্ভিস তৈরিতে সহায়তা করুন

Full Description:

Mozilla হলো একটি অলাভজনক প্রজেক্ট এবং একটি গ্লোবাল কমিউনিটি যারা একটি সুন্দর ইন্টারনেট তৈরিতে কাজ করে। <b>Mozilla Stumbler</b>  একটি উম্মুক্ত ওয়্যালেস নেটওয়ার্ক স্ক্যানার যা অামাদের

[2014-11-03 15:07] crankycoder commented on #1178
This is almost certainly a bug in osmdroid.

[2014-11-03 15:10] crankycoder commented on #1178
I forked and started hacking on the BasicTileProvider and renamed it to BetterTileProvider.

While doing so, I commented on bugs I found while refactoring and cleaning up the code.

The problem of the wrong map is because of a too many constructors, and one in particular which passes in a default tile source:

https://github.com/mozilla/MozStumbler/blob/dev/android/src/main/java/org/mozilla/osmdro

[2014-11-03 15:26] crankycoder opened #1184 "ACRA crash while deflating"
I think this is probably a device problem, and not a bug in MozStumbler.

Reported on a Sony C1605_1271-7596

[code]

[2014-11-03 15:28] garvankeeley opened #1185 "ACRA report: NPE Reporter.startup:64"
line is:
TelephonyManager tm = (TelephonyManager) mContext.getSystemService(Context.TELEPHONY_SERVICE);

[2014-11-03 15:30] crankycoder opened #1186 "ACRA crash inflating layout: Invalid int: "5.0dip" (likely won't fix, not in our code)"
Reported on a Samsung GT-P5100 running 4.1.2

[code]

[2014-11-03 15:32] garvankeeley opened #1187 "ACRA Report: NPE WifiScanner.java:44 (and 46 in 1020000)"
Caused by: java.lang.NullPointerException
at android.content.ContextWrapper.getApplicationContext(ContextWrapper.java:109)
at org.mozilla.mozstumbler.service.stumblerthread.scanners.WifiScanner.<init>(WifiScanner.java:44)
at org.mozilla.mozstumbler.service.stumblerthread.Reporter.<init>(Reporter.java:52)
at org.mozilla.mozstumbler.service.stumblerthread.StumblerService.<init>(StumblerService.java:

[2014-11-03 15:33] garvankeeley opened #1188 "ACRA Report: NPE StumblerService.<init>(StumblerService.java:37)"
java.lang.NullPointerException
at org.mozilla.mozstumbler.service.stumblerthread.scanners.ScanManager.<init>(ScanManager.java:35)
at org.mozilla.mozstumbler.service.stumblerthread.StumblerService.<init>(StumblerService.java:37)
at org.mozilla.mozstumbler.service.stumblerthread.StumblerService.<init>(StumblerService.java:51)
at org.mozilla.mozstumbler.client.ClientStumblerService.<init>(ClientStumb

[2014-11-03 15:34] crankycoder opened #1189 "ACRA: Crash on Blackberry Z10 MainApp: SecurityException: Unable to find app for callerApplicationThreadProxy"
I'm tempted to say "won't fix".

ACRA isn't even reporting the application version code or version name properly.

This is on a Blackberry Z10 running Stumbler 1.0.0.

[code]

[2014-11-03 15:35] garvankeeley commented on #1183
I developed the code on a no-sdcard simulator, it ran fine, I don't think this is a bug.

[2014-11-03 15:36] garvankeeley commented on #1187
Here is for 1020000:
Caused by: java.lang.NullPointerException
at android.content.ContextWrapper.registerReceiver(ContextWrapper.java:467)
at org.mozilla.mozstumbler.service.stumblerthread.scanners.WifiScanner.<init>(WifiScanner.java:46)
at org.mozilla.mozstumbler.service.stumblerthread.Reporter.<init>(Reporter.java:52)
at org.mozilla.mozstumbler.service.stumblerthread.StumblerService.<init>(Stumb

[2014-11-03 15:36] crankycoder opened #1190 "ACRA: NPE FirstRunFragment$1.onClick(FirstRunFragment.java:50)"
Samsung GT-S5570 running 2.3.6.  Stumbler v1.0.0

[code]

[2014-11-03 15:58] garvankeeley commented on #1137
Make logging quieter on fennec. Re-opening and self-assigning, as a Fennec to-do item

[2014-11-03 16:10] crankycoder commented on #1165
Wifi was disabled on the device. After wifi was enabled, all dots when green.

[2014-11-03 16:26] Djfe commented on #1178
So you are gonna basically almost rewriting the whole code of osm?
Wow!
you could improve the source by committing your changes so that those bugs get fixed in the original version, too :D

[2014-11-03 16:29] Djfe commented on #1181
you still forgot `• প্রতিদিন নতুন নতুন জায়গায় MozStumbler এর সাথে হাঁটতে, সাইকেলিং অথবা ড্রাইভিং করতে চেষ্টা করুন!`
`• প্রতিদিন নতুন নতুন জায়গায় Mozilla Stumbler এর সাথে হাঁটতে, সাইকেলিং অথবা ড্রাইভিং করতে চেষ্টা করুন!`

btw. you can keep tags and stuff like `&bull; <b></b>`
by writing 3 ` one line before the text and one line after the text

take a look at this:
https://guides.github.com/features

[2014-11-03 16:49] crankycoder opened #1191 "Add a simulation mode"
We need to have a simulation mode where the stumbler will receive a fake walking path, fake GPS, fake Wifi and fake Cell data.

We should be able to instrument this using a file as input so that we can later use the actual report logs or KML files to supply simulation data to the stumbler.

[2014-11-03 16:54] malvadeza commented on #1158
Hope it works!

I don't see any translation for Mozilla Stumbler that is not clumsy.
So I think everyone here will be pretty comfortable to the name in english.

**Title**
**Título**
Mozilla Stumbler

**Short Description**
**Descrição rápida**

**Full Description**
**Descrição completa**

**How to use Mozilla Stumbler**
**Como utilizar o Mozilla Stumbler**
- Vá a uma área não mapeada (não coberta

[2014-11-03 17:57] mikaland2 commented on #895
Legal review was completed - you can close this issue.

[2014-11-03 18:17] garvankeeley commented on #1186
I can't find this 5.0dip used in our layouts, I assume this is part of the v7 support classes we use
 grep -r "5.0dip" returns nothing

[2014-11-03 18:42] #1189 closed, assigned to nobody

[2014-11-03 19:38] #895 closed, assigned to cpeterso

[2014-11-03 19:52] garvankeeley commented on #1156
How close are we to a translation? I don't feel like reading the entire thread :)

[2014-11-03 19:56] garvankeeley commented on #1154
I didn't know either :), this is the graphic (the blue part):
![_20141103_145505](https://cloud.githubusercontent.com/assets/5495083/4889144/59d5ab7a-6393-11e4-9ea0-6d5d57deeab6.JPG)

[2014-11-03 19:57] #1148 closed, assigned to nobody

[2014-11-03 20:13] garvankeeley commented on #1181
Anyone know how I get Bengali as a language option on the play store "Add Translation"?

[2014-11-03 20:14] cascheberg commented on #1156
It's (almost) done.
Recent discussions were about choosing one out of two shorter descriptions. The first one just drops the "wifi and cell" part, while the second one says it in a shorter, but somewhat less catchy way.
All the latest versions including both short descriptions and a graphics text are in my first comment.
@hannosch any last feedback?

[2014-11-03 20:16] Cameleon commented on #1154
I would translate it like
"Mozilla Stumbler
Un détecteur de données de géolocalisation pour le service de localisation de Mozilla"
but I am not sure that this would be the best translation... It is quite hard to find an equivalent of "stumbler" in french.

[2014-11-03 20:21] garvankeeley commented on #1188
This doesn't line up with anything in the code that I can see. May close for now and see if gets reproduced.

[2014-11-03 20:22] #1190 closed, assigned to nobody

[2014-11-03 21:38] cascheberg commented on #1188
Is it possible that crashes of builds that have been modified and built locally are also uploaded?  (Maybe due to 204d81c417f0653206aac7f738ebff37bad8ba97, @crankycoder is that push supposed to include an API key and ACRA password?)

[2014-11-04 03:47] crankycoder commented on #1188
Good point.  This might be local builds throwing errors. I should modify
the build to include the git revision and build host in the version name.

Yes,  the acra configuration is meant to be in there. This is mostly for
fdroid.
On Nov 3, 2014 4:38 PM, "Christian Ascheberg" notifications@github.com
wrote:

[2014-11-04 09:28] hannosch commented on #1156
I've saved and published the edited text from the first comment in the Play Store. Not sure how long it takes to show up.

What's still missing is the translated graphic, as I don't have Adobe Illustrator. The suggested translation sounds good to me: `Ein Scanner für den Mozilla Lokalisierungsdienst`

[2014-11-04 12:39] forhadcmt commented on #1181
This is the final update! I think it should be ok now!! But if need further any help then feel free to ask me for that. :)
Title:

Mozilla Stumbler

Short description:

Mozilla কে একটি উম্মুক্ত ওয়াই-ফাই এবং মোবাইল জিওলোকেশন সার্ভিস তৈরিতে সহায়তা করুন

Full Description:

Mozilla হলো একটি অলাভজনক প্রজেক্ট এবং একটি গ্লোবাল কমিউনিটি যারা একটি সুন্দর ইন্টারনেট তৈরিতে কাজ করে। <b>Mozilla Stumbler</b> এক

[2014-11-04 13:44] cascheberg opened #1200 "Cleanup UI for wifi-only devices"
Things that can be optimized if cell scanning is not available:
- hide wifi only upload preference
- hide map legend
- do not display cell metrics
- indicate in map view that cell scanning is not available
- adjust notification text

[2014-11-04 14:10] cascheberg opened #1201 "Build System: parallel install of different app versions"
I'd like to keep the Play Store version installed in any case, so it would be great if Github and local builds could be installed in parallel.
Whenever I built the app locally, I have to remove the Play Store version and all its data before I can run it on my device. Is there a way around that? Am I doing it wrong?
And it's nice to have one permanent stable version and one dev/debug/reference vers

[2014-11-04 14:51] crankycoder opened #1202 "Capture buildhost in versionName"
We may be receiving crash reports from custom builds of MozStumbler. We should include the build host name in the versionName or somewhere else that we can inspect within an ACRA crash log.

We should be able to do something like:

[code]

and stuff it into the versionName.

[2014-11-04 14:53] #1169 closed, assigned to nobody

[2014-11-04 14:54] #1185 closed, assigned to nobody

[2014-11-04 15:04] #1187 closed, assigned to nobody

[2014-11-04 15:09] garvankeeley commented on #1201
I think the idea of having both for comparison as we try out new features is a good one.
We were planning to build the github and play store with the same signing key so that users could switch between them (hopefully seamlessly, it _should_ not require uninstalling). I don't think there is a possibility of having 2 builds with the same org.mozilla.mozstumbler package name. So if we aren't going t

[2014-11-04 16:00] cascheberg commented on #1201
In my focus of interest is the ability to install local builds while keeping one permanent official release.
I just found out that this can be done by adding

to one of the `productFlavors` in the gradle build file.

[2014-11-04 17:26] Djfe commented on #1181
@garvankeeley never published any apps, but it should be explained here:
http://developer.android.com/distribute/googleplay/developer-console.html#store-listing-details

else you could maybe contact the Google support, if nobody knows an answer.

[2014-11-04 19:29] garvankeeley opened #1204 "Update build instructions for Android Studio"
we now use ./gradlew assembleGithubDebug

[2014-11-04 20:17] crankycoder opened #1205 "Build documentation is way out of date."
Everything has changed since the last time the docs were updated.

All the properties files have changed.

Android Studio configuration has been changed.

Release process has changed.

Makefile default targets have changed as well.

[2014-11-04 20:20] garvankeeley commented on #1204
duplicate of #1025. (other way around actually!)

[2014-11-04 20:20] #1204 closed, assigned to nobody

[2014-11-04 22:14] garvankeeley opened #1208 "release_check needs 2 updates"
Monsieur Cranky, deux fix for you:
- is looking for ACRA in the props file
  and
- maybe fix this (github and playstore have the same properties file)
  traceback (most recent call last):
  File "./release_check.py", line 6, in <module>
    for line in open('android/properties/private-%s.properties' % sys.argv[-1]):
  IOError: [Errno 2] No such file or directory: 'android/properties/private-github

[2014-11-04 23:44] crankycoder commented on #1208
patched in 37b7a14798acdde1adb10adf630bc8404027d28e

I've since cut a v1.3.0 release and put the APK up in the v1.3.0 release tag here: https://github.com/mozilla/MozStumbler/releases/tag/v1.3.0

[2014-11-04 23:44] #1208 closed, assigned to crankycoder

[2014-11-05 02:05] Djfe opened #1209 "Another messed up version code"
I downloaded 1.3.0 from the github repo, but the version android reads out of the .apk file is 1.2.0.
And at the first start Mozilla Stumbler asks for an update again already -> loop.

[2014-11-05 02:20] garvankeeley commented on #1209
@crankycoder I'll generate one from the build machine now

[2014-11-05 02:26] garvankeeley commented on #1209
@djfe I updated it with a build from our build box, which should be corrected. Checking now... looks good

[2014-11-05 03:36] crankycoder commented on #1209
Ugh.  Bug in the rename_release.sh script.

Sorry.

[2014-11-05 04:01] garvankeeley commented on #1209
np, closing, i think it is all good now

[2014-11-05 04:01] #1209 closed, assigned to nobody

[2014-11-05 08:02] Djfe commented on #1154
Same goes for the German language since Stumbler is exclusively a word in English.
We translated it with scanner.

[2014-11-05 08:21] Djfe commented on #1209
No for me. This didn't cause any issues since the version wasn't up for too long.

It's more amusing for me to see how often the build system contains bugs because it gets changed so often ^^

[2014-11-05 11:12] tuliogit commented on #178
I have a dual SIM Moto G and I have been scanning a lot. It's sad to know that I have to scan the same path twice: one with each carrier as the main one.

[2014-11-05 11:56] Djfe commented on #178
I'm interested in whether you would be able to scan GSM and UMTS at the same time, too

@cascheberg maybe you could take a look at this (if you have time)
@illarionov has started working on it (refactored cell scanner to allow adding further scanners), but a lot of code got changed since then so I guess, you might need to figure stuff out first.

[2014-11-05 12:01] Djfe opened #1210 "modifying how long the OSM cache lasts"
@crankycoder could you pls modify your tiledownloader code so that map tiles get saved for at least a month, if they are used in that time (one time/2 days at least).
and only deleted if they get switched out by the current version (updated map tile gets downloaded and if that is successful it replaces the "old" map tile)

for the MLS tiles you should keep the caching as it is.
This is only about

[2014-11-05 12:08] Djfe opened #1211 "updater dialog gets drawn before first run"
I don't know if this is an issue but the updater dialog gets drawn above the first run dialog.

I noticed this because I needed to uninstall Mozilla Stumbler yesterday because of the sign key change.
After installing 1.3.0 the first run dialog popped up
and then directly after that the update dialog because of the bug in the build system (version 1.2.0 instead of 1.3.0).

[2014-11-05 12:15] Djfe opened #1212 "Upload/Settings row on drawer: needs visual separation"
some stuff that is missing still IMO:
![drawer](https://cloud.githubusercontent.com/assets/4610807/4893592/2bd0adde-63c4-11e4-9e92-9e22e7b82f1c.png)
the fixed part at the bottom (settings and upload buttons) has no visual separation to the metrics
there should be a line and maybe a drop-shadow or something
or it shouldn't be fixed anymore
<br/>

if we move the leaderboard button into that bar, too

[2014-11-05 12:21] Djfe opened #1213 "play store: translating changelogs"
are we going to translate the changelogs for the play store, too?

[2014-11-05 12:22] Djfe opened #1214 "play store issue: it says: "optimized for phones""
the play store says: optimized for phones:
why shouldn't it be optimized for tablets, too?

since the map got integrated into the main activity the whole space is filled
the only thing I could think of are the settings and leaderboard pages, which maybe could be optimized further, but that is minor IMO.

[2014-11-05 12:24] Djfe opened #1215 "further screenshots"
Maybe we should upload a few more screenshots to the play store
of tablets, phones without software navigation buttons, maybe the settings page, even if it isn't too beautiful.

btw. is there a way to upload translated ones? (show different screenshots depending on the country)

are the screenshots getting updated if updates change the look of the GUI? (/who takes care of this?)

[2014-11-05 12:32] Djfe commented on #1214
added a screenshot:
![2014-11-05 13 30 25](https://cloud.githubusercontent.com/assets/5685512/4917676/d53881f2-64e7-11e4-954b-ac7c12c52cf4.png)

[2014-11-05 14:41] Djfe opened #1216 "bug wifi always on"
Wi-Fi always on doesn't seem to work anymore...
As far as I know Mozilla Stumbler should try to scan and scanning should work with that option on but wifi on.

It shows 0 wifis if wifi is deactivated on app start
if I switch it on for a short term only then it shows a number of wifis, but that number only goes down after that (as if the system or the app caches the wifis)

[2014-11-05 16:10] ferongr opened #1217 "MLS only geolocation mode."

[2014-11-05 16:11] ferongr commented on #1217
It would be neat if there was a mode where instead of stumbling, the client would track the user's location on the map using MLS as the sole information provider.

[2014-11-05 17:23] Djfe commented on #903
seems to be fixed ;)

[2014-11-05 17:25] Djfe commented on #1212
or we move the leaderboard into the settings (#887)
and the upload time into the line at the bottom of the screen (like podcasts: #893)

[2014-11-05 17:30] cascheberg commented on #976
This bug was not overly annoying, but only until #1197 landed...

[2014-11-05 17:31] #786 closed, assigned to nobody

[2014-11-05 17:36] Djfe commented on #568
can't we convert Unicode nicknames and e-mails into ASCII by writing \u1234
while \u is the indication for a unicode char?

[2014-11-05 17:46] Djfe commented on #976
now that @crankycoder has changed so much OSMdroid code already,
it shouldn't be an issue to change the zoom buttons so that they fit more into the Holo/dark style of the app, maybe @ryanfeeley has an idea for the design
scale plus zoom buttons would look nice, some inspiration from the maps app:
![maps](http://cloud2.baohe.org/allimg/androidmobiletradarcom-1347779884/google-maps-updated-scale-bar

[2014-11-05 18:05] santiago-hollmann commented on #976
@cascheberg could yout tell me when do they appear? For example, everytime you touch anything inside the drawer (such as metrics, bottom butoons) or the empty space between seetings and upload

[2014-11-05 18:13] cascheberg commented on #976
@santiago-hollmann The zoom buttons only appear when opening the sidebar, as said in the first comment.
I assume my comment was a bit misleading. I did not mean to say that your PR made it happen more often. It's just that the zoom buttons perfectly hide the settings button now, so I always have to wait until the zoom buttons disappear before I can access the settings.
![screenshot_2014-11-05-19-1

[2014-11-05 18:45] santiago-hollmann commented on #976
@cascheberg no worries man, I asked because I saw it doing the actions I mentioned above and I fixed it so I was wondering if the issue still remains.

Just to get a little bit mre of context, could you tell me your device and OS version so I can replicate it. Thanks!

[2014-11-05 18:48] cascheberg commented on #976
@santiago-hollmann Nexus 4 with latest stock Android 4.4.4

[2014-11-05 20:44] cascheberg commented on #1214
This [post](https://plus.google.com/+AndroidDevelopers/posts/LHKmeL5x7LN) has all the details and gives links that tell you how to fix/improve that.

[2014-11-05 21:48] Djfe commented on #1165
Why did you leave this bug open then?

[2014-11-05 22:03] cascheberg commented on #1165
This case of visible wifi count without active wifi scanning probably occurred because of the bug described in #1218

[2014-11-06 00:50] gpoo opened #1219 "Not possible to install 1.3.0 in 2.3.7"
I tried to upgrade from 0.102.0.0 to 1.3.0, it downloaded the package, but it cannot be installed (the message from the package manager is "Application not installed".

I have not been able to try with Play Store because it does not offer any update.

If the newer version does not work with old Androids, it might worth to release a new version that does not bring a pop-up window saying there is a

[2014-11-06 15:17] garvankeeley commented on #1213
I hadn't considered it, do most apps do that? I could see we could do German or Spanish since we have contributors who are quick to update those.

[2014-11-06 15:19] garvankeeley commented on #1219
Can you try uninstall first? We changed the signing key of the gihub releases as of 1.3 to match the play store, so those builds can be used interchangeably.

[2014-11-06 15:23] garvankeeley commented on #1211
It worked ok otherwise?

It is on the github (a.k.a. our beta channel) so I think users will be ok with it.

[2014-11-06 15:26] garvankeeley commented on #1200
This is a small set of users, I'm not sure we want to target this audience too heavily in terms of the UI.

[2014-11-06 15:27] garvankeeley commented on #1188
I'll close this, as it isn't actionable, and I think the other NPE fixes we put in caught this.

[2014-11-06 15:27] #1188 closed, assigned to nobody

[2014-11-06 15:29] garvankeeley commented on #1186
Closing, not actionable. No further reports of this in ACRA either.

[2014-11-06 15:29] #1186 closed, assigned to nobody

[2014-11-06 15:29] garvankeeley commented on #1184
No further reports, and the crash log isn't actionable.

[2014-11-06 15:29] #1184 closed, assigned to nobody

[2014-11-06 15:36] garvankeeley commented on #1178
I think we should sit on this bug for now:
- I am assuming this is an extremely rare report
- It is harmless
- OSMDroid always has a fallback to this map style, I think changing this behaviour will introduce a different set of bugs.

[2014-11-06 15:38] garvankeeley commented on #1214
Without tablet-specific layouts, we will see this

[2014-11-06 15:39] garvankeeley commented on #1217
Have you tried the feature to show MLS locations on the map? It is quite similar to that.

[2014-11-06 16:19] ferongr commented on #1217
![screenshot_2014-10-28-18-32-46](https://cloud.githubusercontent.com/assets/544658/4939121/78945e32-65d0-11e4-9d78-e989356b2afd.png)

Right. I never figured that the red points were MLS responces to queries. Thanks, this works.

[2014-11-06 16:19] #1217 closed, assigned to nobody

[2014-11-06 16:24] #1216 closed, assigned to nobody

[2014-11-06 17:23] Djfe commented on #1211
everything worked fine, and it' probably a rare case that a user uses the app for the first tim and an update is available at the same time

[2014-11-06 17:23] #1211 closed, assigned to nobody

[2014-11-06 17:31] Djfe commented on #1213
depends on the apps whether they do it, it's not a must-have

some use automatic translation for description and changelogs which is ugly

but apps like Spotify have their description and changelogs translated (at least to german)

EDIT:
we should wait for #896 before we consider this because translating changelogs through issues/tickets on GitHub is confusing/unclear.

[2014-11-06 18:06] gpoo commented on #1219
Yes, that fixed it. Thanks!

[2014-11-06 18:06] #1219 closed, assigned to nobody

[2014-11-06 20:25] cascheberg commented on #1158
@malvadeza You can find the translation file for the app [here](../blob/dev/android/src/main/res/values-pt-rBR/strings.xml) :) If you want to work on this, you can (mostly) ignore the comments in the file, just take the [english](../blob/dev/android/src/main/res/values/strings.xml) one as reference.

[2014-11-07 00:49] znmeb opened #1222 "Can this run on a Firefox OS phone?"
I've got two phones - an Android phone and a Firefox OS Flame. Can this run on the Firefox phone?

[2014-11-07 01:35] crankycoder commented on #1200
I agree with @Garvankeeley.  Optimizing this UI is going great to mostly
affect tablets which are a very small single digit percent age of our user
base.

Maintaining the UI modification over the lifespan of the application seems
like a poor use of very constrained engineering resources.

I would only reconsider this if we have automated verification of UI
elements across both phone and tablet lay

[2014-11-07 01:43] crankycoder commented on #1178
Agreed.  There are lots of other more pressing issues like power management.

Considering that this is a fairly harmless bug,  I say we close this bug with a won't fix for now and mark it as a known issue referencing the closed bug.

[2014-11-07 01:54] santiago-hollmann commented on #976
@cascheberg thanks for the data.

Sorry for the delay, the last two nights I had no electricity :-1:

I just switched to the latest commit (e445a39f5d611fffd0a9fa9b4273d8125efd6c3b) before #1197 and I found that on Android 4.4.4 (Nexus 5) the zoom buttons appear with the same frequency as they do today, which is every time you open the drawer with the gesture.

So, this could be an issue of the cu

[2014-11-07 02:34] #1205 closed, assigned to crankycoder

[2014-11-07 02:37] crankycoder commented on #1183
We're seeing this no tiles behaviour in at least the Galaxy Fit running android 2.3 with no SD card.

[2014-11-07 02:41] crankycoder commented on #1153
The fdroid appstore only refreshes content every 14 days in client side by default.  If you force fdroid to update,  you should see 1.2 available.

[2014-11-07 02:44] #1016 closed, assigned to nobody

[2014-11-07 02:46] crankycoder commented on #926
Osmdroid prevents us from using a lot of produced optimizations.  We cant have this problem anymore because the troublesome optimizations aren't even attempted by proguard anymore.

[2014-11-07 02:46] #926 closed, assigned to nobody

[2014-11-07 02:48] crankycoder commented on #693
Closing as the bug is not clear on the benefits of the proposed feature.

[2014-11-07 02:48] #693 closed, assigned to nobody

[2014-11-07 02:48] crankycoder commented on #667
The UI isn't stable enough yet to consider theming.

[2014-11-07 02:49] #667 closed, assigned to nobody

[2014-11-07 02:51] crankycoder commented on #620
I don't see any performance benefits using the latest map box demo on Android.

The lack of layer support would cause mozstumbler to have problems.

It's not clear at all that switching would solve any more problems than it would introduce.

[2014-11-07 02:51] #620 closed, assigned to nobody

[2014-11-07 02:54] #132 closed, assigned to nobody

[2014-11-07 02:54] #93 closed, assigned to nobody

[2014-11-07 18:32] crankycoder commented on #920
Duplicate of #1191

[2014-11-07 18:32] #920 closed, assigned to crankycoder

[2014-11-07 23:16] garvankeeley opened #1227 "Fennec logging: isDebug used for non PII debug log, port back to Github"
Port these changes back to github:
https://bugzilla.mozilla.org/show_bug.cgi?id=1036514

Look at having 2 levels of logging. We still need developer-level logging with PII (location, detailed scans, etc.).

[2014-11-08 01:16] Djfe commented on #667
I wasn't thinking about custom third-party skins or something like that

this was just an idea for someone who wanted to add a white skin again + skin selection in the settings

[2014-11-09 01:55] Djfe commented on #1222
MozStumbler is an app that is developed specifically for Android
the service of the app is used in fennec (Firefox for Android)

Firefox OS apps that do pretty much the same and report scans to MLS):
https://github.com/clochix/fxstumbler
http://pocz.org/ac/projects/mvdstumbler/mvdstumbler.html

You need to install them manually using the .zip files though since they need specific rights to access

[2014-11-09 01:56] Djfe commented on #1219
normally .102 should show a dialog directly before the update stating that you need to uninstall the app first

[2014-11-09 10:44] hannosch commented on #1222
For Firefox OS there are three different kind of apps. https://developer.mozilla.org/en-US/Marketplace/Options/Packaged_apps#types_of_packaged_apps has the long overview.

On FxOS some API's are restricted and need the users consent in order to be accessed by an app. A webapp cannot access most of them, a privileged app (hosted on a marketplace and signed by it) can ask for specific permissions (a

[2014-11-09 13:50] Djfe commented on #1222
definitely a better and more detailed explanation than my one.
Thanks for chiming in @hannosch :)

[2014-11-10 16:59] garvankeeley commented on #976
Now that we have osmdroid in our codebase, it is a matter of exposing this control (or adding a function call in osmdroid) to hide this control.

[2014-11-10 21:11] AdamHauner commented on #1108
I see it as really good idea in the context of wifi collecting and battery life, but I'm not sure, if it's perfect for cells collection. I will add my 2 cents: My phone collects cells of my operator only, not all available cells on location (correct me if I'm wrong). Also cells and wifis are changing over long time.

"Blue cloud" of coverage is not operator-wise and doesn't contain information whe

[2014-11-11 02:36] aishraj commented on #1202
I'd like to work on this. Is there a way to assign the issue to me ?
Also what sort of build version hostname combination are we looking? Is it simply something like MozStumbler Version X.X - hostname.domain.org ?

[2014-11-11 12:20] cascheberg opened #1240 "Change wording of title "Previous sessions" in metrics"
The title "Previous sessions" is not quite accurate, since in fact it shows the number of reports uploaded, and you can already upload reports multiple times within the current session.
Changing the title to e.g. "Already sent" (or "Sent (total)") would give a clear distinction between current session data and uploads (sent/ready to send).
I can create a PR if the change is ok.
![metrics](https://

[2014-11-11 15:09] #976 closed, assigned to nobody

[2014-11-11 17:47] #1019 closed, assigned to nobody

[2014-11-11 17:49] aishraj commented on #1202
@crankycoder I've added the buildHostname in #1238 . Please let know if it requires any further changes.

[2014-11-12 02:22] garvankeeley commented on #1240
Makes sense. @ryanfeeley can you take a look?

[2014-11-12 02:24] #1212 closed, assigned to nobody

[2014-11-12 05:24] garvankeeley commented on #664
I think this can be closed as we no longer want to do this.
However, regex in the block list is desirable.

[2014-11-12 05:53] rodmoreno commented on #893
@crankycoder maybe this should close.

[2014-11-12 05:55] anishgkanchan commented on #664
So what is to be done in it?

[2014-11-12 15:37] #1166 closed, assigned to nobody

[2014-11-12 16:19] crankycoder opened #1249 "Rev the ACRA login"
We're getting crash reports from 0.40.4 that were fixed a long ago.  Update the ACRA login to bounce the 0.40.4 crash logs.

[2014-11-12 16:27] #1222 closed, assigned to nobody

[2014-11-12 16:28] garvankeeley commented on #1168
I think this is all sorted out now.

[2014-11-12 16:28] #1168 closed, assigned to nobody

[2014-11-12 16:29] #1165 closed, assigned to crankycoder

[2014-11-12 16:36] garvankeeley commented on #664
@crankycoder raised concerns about the stability of introducing full regex support (performance problems on bad regex, people writing malformed regex), so I agree full regex is not the best approach.

When this bug was filed, it seemed like the block list was of active interest to users, but that interest seems to have waned.

If there is enhancements to how the block list works we should file a d

[2014-11-12 16:36] #664 closed, assigned to nobody

[2014-11-12 16:42] garvankeeley commented on #1106
@hannosch Does ichnaea handle mobile hotspot detection in some fashion?

[2014-11-12 16:46] hannosch commented on #1106
ichnaea does pretty much the same here as Victor suggests. It continually updates the aggregate wifi position based on incoming observations. If those observations tell it that the wifi has moved more than 5km away from the last location, the entry gets removed and put on a blacklist. After a week we allow entries to be added again for the same wifi, so if it has moved and is now in a new stable p

[2014-11-12 19:43] garvankeeley commented on #1240
We agree 'Already sent' is a good title for this.

[2014-11-13 14:18] crankycoder opened #1255 "Add option to move stumble files into a user defined directory."
While the stumbler is active, we currently save our stumble records as gzipped JSON data into persistent storage.

After we upload, we delete those files.
#3 is a request for a local database so that users can export their data.
#979 is a bug that's real intent is to improve debugging of the stumbler in real world situations.

I propose that instead of deleting the stumble logs, we just provide a

[2014-11-13 14:18] crankycoder commented on #3
Closing this as we have local storage in the form of JSON bundles.  I've opened #1255 to formally add exportable data.

[2014-11-13 14:18] #3 closed, assigned to nobody

[2014-11-13 14:19] crankycoder commented on #708
@naoliv is this still happening for you on v1.3.0 of the stumbler?

[2014-11-13 14:20] crankycoder commented on #979
Closing this as exporting the stumble logs in #1255 and replaying them with #1191 should provide the same capability.

[2014-11-13 14:20] #979 closed, assigned to nobody

[2014-11-13 14:25] #1240 closed, assigned to nobody

[2014-11-13 14:37] naoliv commented on #708
It seems to be fixed.

[2014-11-13 15:50] scruss commented on #1255
Yes, please ... Don't gracenote us!

Ideally, I'd want website access to all data since it's open, but later ...

[2014-11-13 19:57] garvankeeley opened #1257 "Minor settings UI items: Crash Reports title and change to MLS detailed info"
- Title for crash reports section:
  *\* just "Crash reports", or something in the direction of "Feedback" / "Support". Firefox has "Data Choices".
- detailed info for MLS location:
  "At the cost of a bit more energy, memory and network usage, the MLS location is shown for each report. This is shown on the map as a red dot for the MLS location, with a line to its report. However, it will not quer

[2014-11-14 17:25] crankycoder commented on #1255
You can currently download the aggregated cellular data from https://location.services.mozilla.com/downloads

We don't currently publish any wifi data yet as we haven't resolved the privacy issues surrounding that.  More information is available at that downloads link.

[2014-11-14 18:14] garvankeeley opened #1262 "If no movement, stop GPS scanning"
Although we can't use non-GPS locations for data collection, we _can_ use them for basic movement detection. We should used fused+network location types to determine if the user is not moving (ex. position change <30m for 5 mins). If not moving stop the GPS. Essentially this means switching between coarse and fine location.

Caveats:
- if the coarse location accuracy is too low, we can't use this

[2014-11-14 19:22] Djfe opened #1263 "Freeze log"
I would like to have a button in the log screen that allows me to freeze the log
->New entries like a GPS fix normally "refresh" the log, so that the view gets reset to the bottom of the screen, which is bugging me for some time already

[2014-11-14 20:17] Djfe opened #1264 "The osm contributors string needs a translation, too"
This is about the osm string in the bottom-right corner of the map

[2014-11-14 20:21] Djfe commented on #1262
It might be useful to keep the user's position, but the GPS although shouldn't stay on longer than a minute after the scanning got stopped (this happens when the map is on display/screen is on), or does it get turned off when the display is off?

[2014-11-15 00:56] meteficha commented on #369
A variation on this theme would be using the Lollipop's job scheduling API.

[2014-11-15 18:49] Djfe commented on #664
why does the performance during upload matter so much?
I mean the checks don't have to be done during scanning, right?

or is the information already used for the green and blue markers on the map? (does it check whether the wifi will be even uploaded before showing them?)

[2014-11-15 18:53] Djfe commented on #369
the API level is too high, so i guess until someone else is interested in this and contributes commits for it that the feature won't be implemented by using the new API, since that would limit the use to newer/high-end devices (except play store edition devices)

this will probably be implemented without the new API first

[2014-11-16 13:56] Djfe commented on #1108
Not a good idea IMO
The coverage layer is too inaccurate for privacy reasons and it doesn't show whether the region has only cells and which type of cells/wifis
And an old phone might only discover 2,4ghz wifi and gsm/umts cells but no LTE, while a new one does that.

Delivering such information would need a new server API.
But that would cause unnecessary traffic.

And this technique destroys the

[2014-11-16 16:05] piotrdrag commented on #1160
There you go:

Title:

[code]

Short description:

[code]

Full Description:

[code]

[2014-11-17 16:20] garvankeeley commented on #1183
That is because changes to OSMDroid have somehow caused this. This works with the unmodified OSMDroid in our code (with the 1 modification for overriding the tile storage directory).

[2014-11-17 16:42] garvankeeley opened #1268 "Report JSON is triggering OOM Crash"
We have seen this a few times now. And tried to double check our Wi-Fi and Cell limits. Of all the allocations in the app that _could_ trigger OOM, this is the only one we are seeing, which is _highly_ indicative of a bug in building the report JSON.
The JSON object bounded at 200 wifis and 50 cells, and we expect these strings to be of a certain maximal length. As @crankycoder suggested, we are n

[2014-11-18 04:52] garvankeeley opened #1271 "Crash: provider gps doesn't exist, (GPSListener.java:28)"
java.lang.RuntimeException: Unable to resume activity {org.mozilla.mozstumbler/org.mozilla.mozstumbler.client.navdrawer.MainDrawerActivity}: java.lang.IllegalArgumentException: requested provider gps doesn't exisit : at org.mozilla.mozstumbler.client.mapview.GPSListener.<init>(GPSListener.java:28)

[2014-11-18 12:23] cascheberg commented on #1264
@Djfe This is really easy to fix. So if you are interested in fixing this yourself and need some help, I could give you some hints.

[2014-11-18 15:18] #1263 closed, assigned to nobody

[2014-11-18 21:24] Djfe commented on #1264
ok the pull request is up at #1273 ^^

[2014-11-18 21:24] #1264 closed, assigned to nobody

[2014-11-18 21:28] #1257 closed, assigned to nobody

[2014-11-18 21:36] Djfe commented on #1156
@garvankeeley are you going to modify the graphic now and close this issue? ;)

[2014-11-18 21:37] garvankeeley commented on #1156
I have no Adobe Illustrator, not so easy to do

[2014-11-18 21:37] Djfe commented on #353
This is being worked on at the moment.

[2014-11-18 21:37] #353 closed, assigned to nobody

[2014-11-18 22:20] Djfe commented on #1156
ok who has it then? @ryanfeeley maybe?

[2014-11-18 22:22] ryanfeeley commented on #1156
This one? https://www.dropbox.com/s/ingsi8jtaj2yly5/mozstumbler.ai.zip?dl=0

[2014-11-20 14:22] crankycoder opened #1277 "Getting the hostname on OSX seems to have broken recently"
@garvankeeley  hit this bug, then I hit it after simulating the problem using :

[code]

on my OSX 10.10.1 laptop:

[code]

This appears to be a bug in OSX where you can specify hostnames where OSX cannot properly resolve localhost properly.

This is **not** a bug in Java as per http://bugs.java.com/bugdatabase/view_bug.do?bug_id=7180557

This bug resolved on my machine once I had HostName, Comput

[2014-11-20 14:23] crankycoder commented on #1277
Oh, to force the hostnames to be consistent I did this:

[code]

Then did the usual hostname setting changes in Sharing Preferences in OSX.

[2014-11-20 16:53] crankycoder commented on #1277
Bah.  This fix didn't work on @garvankeeley's machine.  Build on OSX at your own peril.

[2014-11-20 16:53] #1277 closed, assigned to nobody

[2014-11-20 19:28] garvankeeley opened #1280 "@vinitraje: Islampur stumbling pilot planning"
@vinitraje has reached out regarding @cpeterso idea regarding stumbling with garbage trucks.
Vinit is planning to approach the city about this, and Mozilla will support this effort.
This is the city:
Islampur Maharashra (pop 100K).
https://location.services.mozilla.com/map#12/17.0318/74.2847
- Mozilla to ensure device budgets are in place (Android device and in-vehicle charging cables). Aside: Vin

[2014-11-21 15:35] #1268 closed, assigned to crankycoder

[2014-11-21 18:10] Djfe commented on #836
This would definitely be better for a simple reason:
the GPS follow icon is not shown if there is no GPS signal
but also if the map follows the user's GPS position

if the GPS signal is there but the map doesn't follow the user's position then the button isn't shown

[2014-11-21 20:39] Djfe opened #1281 "fix version naming (broken as of 1.4.0)"
is it correct that an ip is attached to version 1.4.0?
![2014-11-21 18 28 52](https://cloud.githubusercontent.com/assets/5685512/5149223/ec19d588-71c6-11e4-9a7a-2d6e77477de1.png)

[2014-11-21 20:41] Djfe commented on #836
I tested Version 1.4.0 and I like the approach there:
an empty GPS icon looks pretty nice for the follow mode being turned off

[2014-11-21 20:47] garvankeeley commented on #1281
uh no, that is not correct.

[2014-11-21 20:48] Djfe opened #1282 "Android Wear interface"
What do you think about building something for Android Wear that shows the statistics of the app while it is running?

Maybe even a small map preview in the background
nothing too complicated

this is just an idea for later on, after more tickets have been closed

[2014-11-21 20:56] Djfe opened #1283 "log scan bug"
@cascheberg thx for the ability to freeze scanning but I found a bug
it only scrolls down to the first line of the latest log entry but not the end of the log which is always a few lines deeper (especially at the beginning when the entries aren't truncated)

[2014-11-21 21:05] garvankeeley commented on #1109
#1261 fixes this

[2014-11-21 21:05] #1109 closed, assigned to nobody

[2014-11-21 21:09] cascheberg commented on #1283
The bug was already there before I implemented #1265, but I could not figure out how to fix it.

[2014-11-21 21:09] Djfe commented on #1283
oh then I didn't notice it before :)

maybe this helps: http://stackoverflow.com/questions/3606530/listview-scroll-to-the-end-of-the-list-after-updating-the-list

[2014-11-21 21:18] garvankeeley commented on #1107
#1270 fixes this

[2014-11-21 21:18] #1107 closed, assigned to nobody

[2014-11-21 21:23] #517 closed, assigned to nobody

[2014-11-21 21:24] garvankeeley opened #1284 "Research GPS scan frequency impact on battery"
After #1270, the next step is to look at a variable GPS scan frequency. But this should be evidence based, and we don't have the data as to how the freq affects battery life. On new devices, Google reports a fully-active GPS as 7% an hour.

[2014-11-21 21:26] garvankeeley commented on #542
#1270 improves this significantly. Closing as I think #1284 is the next step in solving battery consumption, but if there is more actionable items from this bug we should split them out.

[2014-11-21 21:26] #542 closed, assigned to nobody

[2014-11-21 21:27] garvankeeley commented on #261
I think #1270 will change this. I can now leave the app running full time for days, with scanning on, and I have don't see major battery consumption. That said, the benefit of #1270 depends on how much you move around.

[2014-11-21 21:35] Djfe commented on #1280
I like that idea, maybe we can get some German cities into doing it as well
and it's not only garbage trucks, but also: street sweepers and winter service vehicles

and maybe we could help them improving their routes through the city regarding the traffic by writing some software to return their service

trains or trucks could be helpful, too but I'm not sure whether they would do this for "free"

[2014-11-21 22:26] Djfe commented on #442
this is continued in #896

[2014-11-21 22:26] #442 closed, assigned to nobody

[2014-11-21 22:31] garvankeeley commented on #333
#1270 addresses this. The AOSP 4.3 and up has this in the form of the significant motion sensor.

[2014-11-21 22:31] #333 closed, assigned to nobody

[2014-11-21 22:31] Djfe commented on #511
@rodmoreno is this still an issue? the uploader has been rebuild completely and doesn't rely on the sync adapter anymore so this is probably fixed

[2014-11-22 02:08] aishraj opened #1288 "Material design based notification icon in devices running Android 5.0 or higher"
Notifications have undergone a major change in Android 5.0 . With this, the icon displayed in the notification area for several of Google's own apps have followed the "material design" approach to switch over to more elegant icons.
I suggest that the icon currently being used in the notification area ic_status_scanning be replaced with an icon more apt for the Android 5.0 UX.

[2014-11-22 18:43] Djfe commented on #324
this issue still happens, if the activity is reloaded (on device rotation or app reload (happens if you come back from the launcher or another app even though the service is running))
but it doesn't happen if you come back from the settings or the leaderboard anymore

[2014-11-22 18:54] Djfe commented on #1288
are you thinking about a design without a shadow or what do you have in mind?
I think it's fairly simple already
but if you have some suggestions, feel free to leave them here ;)

this icon is used by https://location.services.mozilla.com/ as well, and I think it's supposed to be the same on every plattform

[2014-11-22 20:18] crankycoder commented on #1281
It's just the private IP of the buildbox.  It's not public facing.  In anycase, the buildhost addition breaks fdroid.

[2014-11-22 20:18] #1281 closed, assigned to nobody

[2014-11-23 00:25] Gitschubser commented on #1280
Maybe we can win contributors from openstreetmap?
If possible a short article/info for example at
http://blogs.openstreetmap.org/ or
http://blog.openstreetmap.de/
could awaken interest.

[2014-11-23 01:16] garvankeeley opened #1290 "No motion paused: MapLocationListener switched to network location, just turn this off completely"
By design, MapLocationListener switches to network location when in no motion paused state.
This looks like it is still using up more battery than I would like, we should just shut off all location listeners while in this paused state. If there is no significant motion, why bother listen to the network location at all.

[2014-11-23 01:56] aishraj commented on #1288
Well, the current notification icon appears to have been "greyed out", which IMHO was the desired behaviour in pre 5.0 devices.
What I a suggest is using the same  icon as the app icon in the notification area as well (which IMHO is what [Google's apps seem to do](https://developer.android.com/design/patterns/notifications.html). In terms of code, its a very minute change.
Further, I guess what wo

[2014-11-23 05:01] Djfe commented on #1288
cannot hurt to bring in some color
I didn't know that the icon is shown with a grey circular background, which looks ugly IMO
either we need to make it brighter or use the colored version instead and without the grey circle

on the page you linked google used grey for the icons
only if there was an image of a contact/if it was about a contact without an image the icon was colored
the reason behind

[2014-11-23 10:39] cascheberg opened #1291 "Notify user when low battery threshold was reached"
The user should be notified when scanning is stopped because of the battery level reaching the configured min battery level (#1261).

Example notification:

**Mozilla Stumbler**
Scanning was stopped, because battery level reached 30%.
**[ >** Continue stumbling anyway **]**

And I suggest to use vibration to actually draw attention to the new notification.

[2014-11-24 15:34] garvankeeley opened #1293 "ACRA: NPE BatteryCheck.batteryLevel"
java.lang.SecurityException: Unable to find app for caller android.app.ApplicationThreadProxy@436130e8 (pid=12014) when registering receiver null
at android.os.Parcel.readException(Parcel.java:1465)
at android.os.Parcel.readException(Parcel.java:1419)
at android.app.ActivityManagerProxy.registerReceiver(ActivityManagerNative.java:2330)
at android.app.ContextImpl.registerReceiverInternal(ContextImp

[2014-11-24 17:21] Djfe commented on #1262
this can be closed I guess, except if you want to use MLS for the detection instead of the legacy or the other movement sensors

[2014-11-24 17:24] Djfe commented on #903
@crankycoder #1271 not everybody using f-droid or github seems to be capable enough ^^

[2014-11-24 18:23] crankycoder opened #1294 "Add tests around Motion Sensor code"
We need to add some tests around the motion sensor code.

Initially, I'd like to see code that exercises the significant motion sensor, and verifies the state of all the scanners.

We should have a test that checks the notification drawer to check that it has been updated during pause or motion states.

Start/Stop of scanning behaviour should be verified for the pause and movement states.

We shou

[2014-11-24 18:24] crankycoder opened #1295 "Port significant motion sensor code from open-sensor project"
There's some code at the open sensor projects licensed under the Apache license that should allow us to implement proper signficant motion detection using the standard accelerometers for devices that do not support the significant motion detector.

https://github.com/sensorplatforms/open-sensor-platform/tree/master/embedded/common/alg

[2014-11-24 20:38] crankycoder opened #1297 "TYPE_ACCELEROMETER readings include gravity"
We have to filter out gravity from the LegacyMotionSensor readings when we use Sensor.TYPE_ACCELEROMETER.

The TYPE_LINEAR_ACCELEROMETER already does this automatically.

One thing to note is that filtering gravity out will require convergence on the calculation, so we'll need to skip the first couple dozen iterations of the value before we get something that is usable.

[2014-11-24 23:21] Djfe opened #1299 "Error on opening empty username/email in settings activity (adb log)"
11-25 00:19:41.796  22380-22380/org.mozilla.mozstumbler E/SpannableStringBuilder﹕ SPAN_EXCLUSIVE_EXCLUSIVE spans cannot have a zero length

[2014-11-24 23:32] Djfe opened #1300 "battery saving technique is only effective once the device had a GPS signal and doesn't move"

[2014-11-24 23:33] #1300 closed, assigned to nobody

[2014-11-24 23:36] Djfe opened #1301 "only scan for GPS before first GPS fix"
this is probably interesting if there will be some automation in the future (NFC, Tasker, boot, etc.):
MozStumbler should only search for GPS to save battery (on application start)
it doesn't make sense to fire wifi/cell timers if the data doesn't get saved into reports

[2014-11-25 00:22] cascheberg commented on #1284
Do you want to find out how well Android optimizes `LocationManager.requestLocationUpdates()`?
Do you know if [power profiles](https://android.googlesource.com/device/lge/hammerhead/+/android-5.0.0_r7/overlay/frameworks/base/core/res/res/xml/power_profile.xml) are useful in general?

If you want to have variable GPS position reporting frequency, which I think would be really great, you probably mu

[2014-11-25 04:50] garvankeeley commented on #1290
Recent fixes address this, closing

[2014-11-25 04:50] #1290 closed, assigned to nobody

[2014-11-25 11:56] cascheberg commented on #1299
I do not see this. According to [this](http://stackoverflow.com/questions/13670374/android-span-exclusive-exclusive-spans-cannot-have-a-zero-length), the error might be caused by Samsung TouchWiz or another 3rd party keyboard, so it would be outside the scope of this project.

[2014-11-25 15:18] garvankeeley commented on #1293
No longer relevant

[2014-11-25 15:18] #1293 closed, assigned to nobody

[2014-11-25 15:24] garvankeeley commented on #1284
We currently scan at 0.5 Hz, and consume ~7%/hr on a Nexus 5. What is the battery consumption if we scan at these intervals:
5 sec, 10 sec, 30 sec, 1 min, 5 min, 10 min 15 min, etc.

I suspect that in the smaller ranges, there is little to no battery savings (that the GPS chip remains active with a timeout). At approx. what interval do we see a drop in power usage, and how can me make use of scann

[2014-11-25 15:48] #1271 closed, assigned to nobody

[2014-11-25 17:43] garvankeeley opened #1305 "Treat low battery as a paused mode (similar to motion)"
Low battery should be another "paused state".
- like the no motion state, should update notifications, and have messages to the user to see this state.
- when battery is >min, start scanning again if paused due to low battery

[2014-11-25 19:26] Djfe commented on #1299
ok, strange that it shows up for the application instead of for the keyboard application

I'm using Swiftkey and a CustomRom

[2014-11-25 19:26] #1299 closed, assigned to nobody

[2014-11-25 20:46] #1297 closed, assigned to nobody

[2014-11-26 06:16] crankycoder opened #1309 "Set required flag on accelerometer to false"
Android devices should have accelerometers, but don't have to.

http://static.googleusercontent.com/media/source.android.com/en//compatibility/android-cdd.pdf

[2014-11-26 09:03] HassanHeydariNasab opened #1310 "force close 1.50"
I just updated to version 1.50 and it being force closed .
My device is XPERIA mini with CM11.0

[2014-11-26 10:44] cascheberg commented on #1310
Which version did you use before? Is 1.4.0 working for you?
And was crash reporting enabled previously?

[2014-11-26 13:32] debloper commented on #1280
Awesome idea @vinitraje - this is finally happening... let's engage the community!
Feel free to send out an email to mozilla-india list, so that other interested folks can get involved.

[2014-11-26 15:16] Djfe commented on #1280
a small device that we could use in Europe (in other parts of the world, too probably, but I'm not sure about the frequencies)
The Galaxy Ace
http://www.gsmarena.com/samsung_galaxy_ace_3-5479.php

There are three variants
- 3g
- LTE
- dual SIM

both dual SIM and LTE would be interesting, because we could discover either two carriers at a time or new LTE towers

it doesn't support Wi-Fi 802.11a and

[2014-11-26 15:32] garvankeeley commented on #1280
That reminds me, we need to fix this https://github.com/mozilla/MozStumbler/issues/178

[2014-11-26 17:23] garvankeeley commented on #1310
If you can install 1.4, turn on crash reporting, then upgrade, we will see the crash reports and get it fixed

[2014-11-26 18:16] HassanHeydariNasab commented on #1310
I didn't find 1.40 on f-droid

[2014-11-26 19:10] debloper commented on #1280
@garvankeeley India doesn't have 4G (LTE) coverage as of now (experimental coverage only in 2-3 metro cities). With that in hand, we can totally skip looking for LTE capable devices.

[2014-11-26 19:53] Djfe commented on #1280
of course ;)
but I was thinking about doing something similar in Europe, where we have lots of LTE cell towers already

[2014-11-26 19:54] garvankeeley commented on #1280
@debloper good point. Is India almost completely 2G (or 2.5G) outside of the major cities?

[2014-11-26 19:54] #1249 closed, assigned to crankycoder

[2014-11-26 20:14] vinitraje commented on #1280
@debloper True! 4G isn't necessary right now. But we should not ignore 3G.

@garvankeeley In rural areas 2.5G coverage is present, and in semi-rural, urban areas 3G is present too.

[2014-11-26 20:22] Djfe commented on #1280
I don't know of any devices nowadays that support only 2g
even the cheapest devices I know support 3g

[2014-11-27 15:37] #1176 closed, assigned to nobody

[2014-11-27 15:38] #1137 closed, assigned to nobody

[2014-11-27 19:59] garvankeeley opened #1311 "ACRA crash: MapLocationListener.java:124 Network provider not available"
Acra report:
Java.lang.IllegalArgumentException: provider doesn't exist: network at org.mozilla.mozstumbler.client.mapview.MapLocationListener.enableLocationListener(MapLocationListener.java:124)

[2014-11-27 20:04] garvankeeley commented on #1310
Can you install 1.3, go to settings>developer and turn on crash reporting? Then upgrade, and we will get the crash report

[2014-11-28 00:27] crankycoder commented on #1310
1.5.0 and 1.5.1 should be live in fdroid.  If you can't see the new release,  you need to force the fdroid app store to refresh.

[2014-11-28 00:28] garvankeeley commented on #1310
Those show up ok, it is that they crash immediately. But if the prev version is installed and crash reporting turned on, the new version should inherit that setting and we will get a crash report.

[2014-11-28 00:29] Bugsbane commented on #1182
Yes, please. I just accidentally filled what I thought was a Stumbler big on the ichnara project because I couldn't find a bug report link in Stumbler. Then I tried to insert a screenshot, to get the same form blanking bug in GitHub mobile, then I tried to copy and paste the log, but found that you can't select text in the log... just like the previous commenter.

[2014-11-28 00:29] #1105 closed, assigned to nobody

[2014-11-28 00:32] crankycoder commented on #1021
Closing  this as we've got code to hook the accelerometer to detect device motion.  Accelerometer use should be better than setting a fixed timer.

[2014-11-28 00:32] #1021 closed, assigned to nobody

[2014-11-28 00:33] #1024 closed, assigned to crankycoder

[2014-11-28 09:28] SteveALee commented on #1182
So glad it is not just me! :)

[2014-11-28 09:36] SteveALee commented on #1180
As an update to the original problem of uploads failing it apears some do get through to your server as my leader board count is higher than that in the info pane.

[2014-11-28 15:19] garvankeeley opened #1313 "MLS Dots legend: add red dot next to label on Metrics drawer"

[2014-11-28 19:12] garvankeeley commented on #1280
Vinit suggested: This one http://www.snapdeal.com/product/intex-aqua-star-powerblack/1605443260
$115 USD
4.4 Android

[2014-11-28 20:04] garvankeeley commented on #1280
This issue doesn't capture all the work that has gone on thus far, but it is progressing rapidly, next week we will put the details here.
Shout-out to @debloper (MozRep India) for helping out on this, very appreciated!

[2014-11-28 20:42] Djfe commented on #1280
that device looks well suited for the desired needs

[2014-11-29 12:23] Rondom commented on #1136
Maybe OsMo fits your needs. There is a dedicated client for Android and an Osmand plugin.
http://osmo.mobi/

[2014-11-29 15:04] cascheberg commented on #1311
I got this error (reproducibly) when I ran the app in an Android virtual device API level 16. But I don't know if that was logged to the server, and of course I don't know if you got more reports from other people as well.

[2014-11-29 20:02] Djfe commented on #1310
crash reports are only uploaded on app updates?
->we won't get any crash reports from the play store?

why aren't they uploaded along-side of the reports?

[2014-11-29 20:36] HassanHeydariNasab commented on #1310
In 1.5.2 it was solved .

[2014-11-29 21:41] garvankeeley commented on #1310
crash reports are only uploaded on app updates?
A: no, they are only uploaded if the Setting is checked on

->we won't get any crash reports from the play store?
A: typically, no.

why aren't they uploaded along-side of the reports?
A: They are uploaded when the crash happens.

[2014-11-29 21:42] garvankeeley commented on #1310
Also, thanks for letting us know it stopped crashing. Yay!

[2014-11-29 21:42] #1310 closed, assigned to nobody

[2014-11-30 23:37] gpoo opened #1317 "1.5.2 drains the battery by leaving the GPS active after stop stumbling"
After upgrading MozStumbler into 1.5.2 in my Nexus One, and after the following steps:
1. Stumble a while.
2. Got home, submit report, press the stop button
3. Leave the application

I was using an external battery, so when I stop stumbling the phone was fully charged.  Next day morning, the battery was ~25% being just inactive.  The power consumption used to be ~11% overnight, not ~%75%.

Then I

[2014-11-30 23:46] garvankeeley commented on #1317
If the map view is visible on the screen, and the scanning is not in a paused state, the GPS is active to show your location on the map.

However, if I interpret this correctly: you stopped scanning, stumbler app is not the foreground app, and yet the device status bar is showing geolocation icon (which is an indication the stumbler app is using the GPS)?
If that is correct, that is a bug for sure

[2014-12-01 00:28] gpoo commented on #1317
Yes, I did stopped it (as I always do), and MozStumbler was not on foreground.

I can reproduce the issue on both Nexus 1 and Nexus 5 (Cyanmodgen and stock Android 4.4.4, respectively).

Moreover, on my Nexus 5, the only way to remove the GPS icon, it is by showing the active applications (with the icon in the right bottom corner), and swift the MozStumbler little screenshot out.  The downside of

[2014-12-01 02:20] garvankeeley commented on #1317
Do you mind walking me through just the steps to repro this?
1) do this
2) do this, etc.

I can't repro, and would very much like to fix this ASAP. I think I will be a quick fix

[2014-12-02 02:22] gpoo commented on #1317
Assuming GPS is on (though not active):
1. Turn on Wifi
2. Start stumbling
3. Stumble.  I tried with 80 reports or so.
4. Stop stumbling
5. Press the button Home or Back (the ones that Android has at the bottom of the screen).
6. Do something else (for a while)
7. Go back to the phone, check the GPS icon still is there.

FWIW, If first tried the same steps, but skipping 3. but it works as expected

[2014-12-02 10:58] VolMi commented on #1317
I saw the same on my S4 mini with Cyanogenmod 11. Sorry for being too lazy to file a bug report...
Would any kind of log be interesting for you?

[2014-12-02 13:23] AdamHauner commented on #1317
I have same experience, it was same with 1.5.1 (Android 4.0.3/Google Nexus S).

[2014-12-02 15:28] cascheberg commented on #1317
@garvankeeley I found one bug, not sure if it is exactly this one, but I will investigate a bit more and create a PR later.

[2014-12-03 01:19] garvankeeley opened #1320 "ACRA crash: MainApp.getCacheDir(MainApp.java:100)"
ArrayIndexOutOfBoundsException: length=0; index=0 : at org.mozilla.mozstumbler.client.MainApp.getCacheDir(MainApp.java:100)

We could catch this, and show a toast or something. But there isn't much more we plan to do, with no cachedir access, the app won't run.

[2014-12-03 20:32] garvankeeley opened #1322 "Critical: Galaxy S5 motion detection not working, scanning never starts"
Report on play store that this isn't working, after pausing scanning, the app fails to detect motion to start scanning again.

Not sure if it is a custom ROM or not. Would be good to have the log activity checked on startup to see if device has significant motion sensor or not. Also, what steps were taken to try wake the scanning?
(Chris hopefully you see this and can fill in the questions).

[2014-12-03 20:47] crankycoder commented on #1322
On a related note - we should setup a google doc or an etherpad page with a list of all contributors and testers with the devices+ROM that they have on hand for testing.

[2014-12-03 20:57] crankycoder opened #1323 "Coverage map tiles are still not expiring correctly."
Coverage tiles are still not expiring correctly.

I've reproduced this problem by stumbling over a new area with one device, then viewing the coverage maps on the same device, along with a separate device.

After 24 hours, the second device correctly shows the stumble path while the first device - the one used to stumble which had a copy of the old coverage tiles continued to display the old cover

[2014-12-04 21:25] crankycoder opened #1324 "AGPS data may be expired. We should try to accelerate fixes by forcing a refresh."
We can help the GPS get a faster time to fix by injecting AGPS assistance data.

This is dependent on the GPS driver on a per device basis, but this may help in some cases.

The code from https://f-droid.org/repository/browse/?fdfilter=agps&fdid=com.vonglasow.michael.satstat has examples of:
- detecting if AGPS data is expired
- requesting new AGPS data to be injected

[2014-12-04 22:11] crankycoder opened #1325 "Get FxA accounts integrated"
We need to get FxA integrated with the stumbler.  Support for nicknames can be added to the FxA Profile server.   We'll need to talk to rfkelly to co-ordinate nickname support.

[2014-12-04 22:39] garvankeeley opened #1326 "[Engagement] Ask users to sign up with a nick after a certain contribution level"
... to encourage active stumblers to add a nick, which make it easier to track contribution numbers.

[2014-12-04 23:18] cascheberg opened #1327 "Update Gradle version"
The recently released Android Studio 1.0 RC requires a new Gradle version.

The `build.gradle` file needs some adjustments and should use:

And in `gradle-wrapper.properties`:

[2014-12-05 06:16] crossle commented on #1186
This should right-to-left crash when Samsung 4.1 devices

[2014-12-05 06:30] garvankeeley commented on #1322
We have to get to the bottom of this, I am hearing anecdotal reports from users that stumbling is "difficult" to start after pausing.
@cpeterso : did you confirm having problems on your Cyanogenmod 4.3 Nexus 4

[2014-12-05 10:22] cascheberg commented on #1327
@crankycoder I do not know how to update the code that rewrites the `AndroidManifest.xml` (#1016). Can you have a look at this issue?

[2014-12-05 17:37] crankycoder commented on #1162
Thanks @khernyo !  I've finally gotten around to doing this.  I'm hoping to get more contributors in now that we have a one step build.

[2014-12-05 17:41] crankycoder commented on #1327
No problem.  I'll take a look tonight.

[2014-12-06 09:14] Djfe commented on #1186
I don't understand what you are trying to say...
Pls point it out further ;)

[2014-12-06 09:21] Djfe commented on #1325
What happens to the leaderboard then?
Reset or the first one who claims a certain nickname gets the points?
What happens to entries without an account that haven't been updated to the new system after a month or so?

About the nicknames: simply add the nickname to the ichnaea db and link it to the email address/fxa account
Will this be able to fix the unicode nickname issue? (using user ids/emails

[2014-12-06 09:23] Djfe commented on #1324
I wanted this for so long. I'm using GPS status and toolbox from the play store before every time I go stumbling to get an instant GPS fix.
This would make that step unnecessary.

[2014-12-06 09:36] Djfe commented on #1324
This could be helpful as well:
https://gitorious.org/android-eeepc/base/source/fd9f42a6967370490cd2c66e628ccbf2eacc4a4b:location/java/com/android/internal/location/GpsLocationProvider.java#L32

[2014-12-06 10:01] crossle commented on #1186
The crash because enable Right-to-left language, add like paddingStart paddingEnd,  then crash only on some Samsung 4.1 devices. https://code.google.com/p/android/issues/detail?id=60055

[2014-12-07 19:34] #1317 closed, assigned to nobody

[2014-12-08 07:24] znmeb commented on #1284
I should probably gather more data, but I fired up Stumbler tonight at dinner. Then I went to the grocery store and home and the whole time must have been about a half hour. The battery was drained enough to give me a warning _and_ the phone got hot!

So I'm going to charge it up again and try and get some actual data. I don't like the fact that it got hot at all!

[2014-12-08 14:23] simonpoole commented on #1322
I can confirm the issue. Essentially even though no other apps have problems tracking the position at the same time (including such for which I'm the main dev) since version 1.5.2 mozstumbler seems to be essentially not working. Prior versions didn't exhibit this behaviour.

While pausing seems to increase the issues, even freshly started the behaviour is erractic.

[2014-12-08 18:24] Djfe commented on #1186
@garvankeeley do you want to fix it?

[2014-12-09 02:34] garvankeeley commented on #1186
Not sure if we can, it appears to be OS-level.

[2014-12-09 02:38] garvankeeley commented on #1324
Injecting AGPS is an impossibility that I am aware of. The GPS interface only accepts SUPL, which is a dedicated connection between the chipset/driver and the SUPL server. I saw the GPS Status app that had a feature to download AGPS data. I don't know how they could do this, as I don't see any injection mechanism in gps.h.

[2014-12-09 02:39] crankycoder commented on #1327
Sorry @cascheberg, I haven't been able to look at this. I just updated my Android Studio now and I'll try to get to see what's going on.

[2014-12-09 02:56] garvankeeley commented on #1322
@simonpoole can you try 1.5.3
https://github.com/mozilla/MozStumbler/releases/tag/v1.5.3

[2014-12-09 02:56] maxious commented on #1324
There is a generic API in the LocationManager to send extra commands that are chipset provider specific https://developer.android.com/reference/android/location/LocationManager.html#sendExtraCommand(java.lang.String, java.lang.String, android.os.Bundle)

The Qualcomm chipsets at support "force_xtra_injection" and "force_time_injection" (AGPS data and copy system time from CPU)
http://androidforum.

[2014-12-09 02:58] crankycoder commented on #1327
Oh wow. everything is broken in 1.0. :(

[2014-12-09 03:21] garvankeeley commented on #1324
From reading those links, my understanding: for qualcomm chips, one can force the download from the internet of an AGPS  file 'xtra.bin'. Not clear how that file gets injected to the chip. Any idea?

[2014-12-09 16:51] #1327 closed, assigned to crankycoder

[2014-12-09 18:47] Djfe commented on #1324
I don't think that this works on Qualcomm only, because the app GPS Status and Toolbox manages to do it on my Samsung Galaxy Tab 3, too (Intel x86)

maybe you can ask their devs for further advice ;)

[2014-12-09 21:39] simonpoole commented on #1322
@garvankeeley sorry, will test tomorrow,

[2014-12-10 15:03] crankycoder commented on #1324
These are two separate sets of APIs.  You can inject time for any chipset.

It's a bit confusing because they're all implemented in https://android.googlesource.com/platform/frameworks/base/+/jb-release/services/jni/com_android_server_location_GpsLocationProvider.cpp

Injecting the XTRA data is only supported by Qualcomm chipsets and it's baked directly into android code.  That API _only_ works on

[2014-12-10 15:43] #1162 closed, assigned to crankycoder

[2014-12-10 16:44] simonpoole commented on #1322
OK, the good news (1.5.3): behaviour is better in that there no unmotivated pauses and resulting hanging outside with good GPS reception, however it doesn't actually seem to pause at all even when clearly at rest.

Bad news (repeatable): moving indoors with loss of GPS reception will, after a while lead to the app pausing recording and hanging (clear sign of this: GPS sat display in MozStumbler fr

[2014-12-10 17:57] vinitraje opened #1342 "Ability to export stored data"
https://github.com/mozilla/MozStumbler/issues/1280

Regarding the above project, I am asked by the city municipal corporation for the daily commute data of their garbage collection trucks. In this scenario it would be difficult for us to export data if the app is killed inadvertently by any reason.

As I know Mozilla Stumbler doesn't store data if the application quits. @garvankeeley told me that

[2014-12-10 17:58] garvankeeley commented on #1342
@crankycoder ping because you were looking at this topic recently

[2014-12-10 18:08] crankycoder commented on #1342
We've got very preliminary support for this in #1334.

That patch adds a switch that will copy log files to the sdcard instead of deleting them on upload.

Code to process those logs into something usable by a human being isn't in the stumbler client yet.  You can probably post-process those files quickly using Python if you needed something quickly.  The long term intention is that we eventually

[2014-12-10 19:06] garvankeeley commented on #1322
Any chance you can screenshot the Log screen when this happens?

My guess at the bug:
- with no GPS, then the app goes into 'paused' state.
- then if you keep moving at a constant rate, we don't get notification of a significant change in motion.

[2014-12-10 22:54] Skatox opened #1343 "Installed the app but doesn't sync"
I've installed the app, it can scan and recolects data but it is not reflected at left menu, so there's nothing to upload, when i go to the log it show this:

![error](https://cloud.githubusercontent.com/assets/177008/5386008/a07b3568-8099-11e4-86c8-19fb71a57c1d.jpg)

I'm using a Nexus 4 with Android 5.0 and Cyanogen 11, tried both wifi and mobile data, currently there are no data at my city.

[2014-12-10 23:08] garvankeeley commented on #1343
It is saying there is no network connection for getting the map tiles, it isn't actually an error state (note to self, stop this message from showing up in red).
We reduced the amount of those messages in the next build.

[2014-12-10 23:11] garvankeeley commented on #1343
Are you using https://github.com/mozilla/MozStumbler/releases/tag/v1.5.3?

[2014-12-10 23:12] garvankeeley commented on #1343
- On the map view, is there a message that scanning is paused?
- Also on that screen, what numbers are beside the gps icon? You need 4 or more satellites to scan (the first number after the gps icon)
- What indicator do you have that you are collecting data? Is the report count increasing (the number after the binoculars icon)?

[2014-12-11 11:36] simonpoole commented on #1322
![screenshot_2014-12-11-12-26-43](https://cloud.githubusercontent.com/assets/1011860/5393405/ccff1d00-8131-11e4-8d2d-bb74a7c6ad30.png)

This is from the end of testing, I believe I came in the door around 17:33, after roughly 2-3 minutes went upstairs where I had GPS reception again (verified with other app).

[2014-12-11 15:40] garvankeeley commented on #1322
This log looks ok. To wake the scanning requires moving >50m in 2 minutes, do you know if you did that and it didn't wake up?

[2014-12-11 15:41] rabimba commented on #1280
If the phone is solely for collecting data then I don't think we even need to go that far. This one (and several others) http://www.flipkart.com/karbonn-smart-a12-star/p/itmduwgksjf7r4ss?pid=MOBDUWGCFEZJFENZ&srno=b_14&ref=a7deeddf-1c4f-4fa4-96a1-1b8003833ad7

Should come in almost at half price as well with 3g capability (also capable of running the stumbler app).

And I have seen Flame and other

[2014-12-11 15:44] garvankeeley commented on #1280
I look for Android 4.4 or higher and more than one SIM, so that one LGTM.

[2014-12-11 15:46] rabimba commented on #1280
This one is 4.4.2 and Dual sim as well.
But is multisim relevant for stumbler? I use it in my S2 with PA and it works pretty well.

But of course I don't know if there is any other specific things are needed which is not in this device. I just compared price point.

[2014-12-11 15:47] garvankeeley commented on #1280
Oh yeah, we haven't hooked up multi-SIM scanning yet :). Should really try to do that ASAP

[2014-12-11 16:07] simonpoole commented on #1322
Ok that explains a lot. If you are on foot and for example window shopping you might never start recording.

On 11. Dezember 2014 16:40:36 MEZ, Garvan Keeley notifications@github.com wrote:

##

Diese Nachricht wurde von meinem Android-Mobiltelefon mit Kaiten Mail gesendet.

[2014-12-11 16:08] rabimba commented on #1280
And I remember scanning even without a sim in my Flame and S2. Worked pretty well (I was connected to wifi when uploading the data though)

[2014-12-11 16:08] vinitraje commented on #1280
@rabimba We chose that Intex phone because of its battery. I don't think Karbonn would sustain a day of scanning with GPS on.

[2014-12-11 20:50] Djfe commented on #1280
can't you charge the devices in the cars/trucks? -> 12V charger

[2014-12-11 21:58] garvankeeley commented on #1322
Hmm good point.
- 1 after not moving 50m in 120s, app pauses
- 2 you continue to walk, app wakes, checks to see if location is indeed changing
- 3 after not moving 50m in 120s, app pauses
- repeat steps 2 and 3

Pausing is ok in this case, as it should immediately detect motion, and wake again.

[2014-12-12 04:16] rabimba commented on #1280
@vinitraje no phone would last a day of scanning without battery or a car charger. Take any phone (other than Droid MAXX) and it will run out in 5-6 hours max if stumbler is always on. Not even with my Nexus,S2 or Flame.
@Djfe by default NO. But if they agree to this proposal, this should be a trivial matter to install a car charger in the truck. (I say "should" be since everything is hypothesis,

[2014-12-12 06:47] vinitraje commented on #1280
@rabimba Droid MAXX has battery capacity of 3500mAh while the Intex mobile I suggested has battery of 4000mAh.

Plus it has WVGA screen, so less battery consumption than Droid MAXX. I had a Lenovo P780 with 4000mAh battery and it used to give straight 40 hours backup on moderate use.

@Djfe We are exploring all possibilities.

[2014-12-12 16:18] rabimba commented on #1280
@vinitraje Oh really? My mistake in that case(and apologies). I thought I saw in the snapdeal page @garvankeeley mentioned it's written as 3000mAh. And from my 2100 mAh N4 I can pretty much assume how a quad core phone would perform on battery. I won't even go into N4 and Intex/karbonn/others battery performance comparison though (standby times touted as 390 and 350/300 hrs)

I just did the value

[2014-12-12 16:38] vinitraje commented on #1280
@rabimba Snapdeal changed the link, I recommended Intex Aqua Power not Intex Aqua Star Power. There's difference. http://www.intexmobile.in/product_detail.aspx?PID=220&PCatID=3

[2014-12-12 17:10] garvankeeley opened #1349 "F-droid API key not registering uploads"
For reasons unknown, we are seeing zero uploads with the f-droid API key.

[2014-12-12 22:41] garvankeeley commented on #1322
#1350 Added a 'window shopping' test case "testSmallMovementThenPauseThenBigMovement()"

Seems to work ok, brief pauses will happen but scanning shouldn't be affected due to the regular wake ups from user's movements.

[2014-12-13 01:57] garvankeeley opened #1352 "ACRA crash: Legacy Motion Sensor registerListener NPE"
Crash report from 1.5.2

java.lang.NullPointerException
at android.hardware.SensorManager.registerListener(SensorManager.java:1149)
at android.hardware.SensorManager.registerListener(SensorManager.java:1040)
at org.mozilla.mozstumbler.service.stumblerthread.motiondetection.LegacyMotionSensor.start(LegacyMotionSensor.java:116)
at org.mozilla.mozstumbler.service.stumblerthread.motiondetection.Motion

[2014-12-13 02:04] garvankeeley commented on #1183
SmartFSProvider.java: so far, if I change checkSdCard() to set mSdCardAvailable to true, this works again. Will check with @crankycoder for opinion on this.

I don't see the value of this check, because we override OSMDroid's default behaviour with TileFilePath.java, which tricks OSMDroid into using our chosen directory path, which is either sdcard if one is available, or the main storage if that

[2014-12-13 02:25] Skatox commented on #1343
Hi, I'm using latest version. I currently have 3 GPS satellites it might be the problem, gotta try it on a open field to test it.

There are no messages that scanning is paused, also the number at binoculars is 1 sometimes 2.

[2014-12-13 05:24] garvankeeley commented on #1280
One more item. We need devices that support the significant motion sensor. This is in Android API 4.3 and newer, but it doesn't mean that devices actually have it. With this sensor the battery efficiency is much better, and the devices are very unlikely to drain the battery when this sensor is not being triggered.

The Log screen on the stumbler will state if a device has this sensor.

[2014-12-14 00:47] kbrosnan commented on #1322
I can confirm that this fails even for large movements on a Galaxy S5. I traveled over 1km on foot without the stumbler re-enabling. The log is the same as simonpoole's.

Work around is killing mozstumbler using the Samsung task manager and restarting.

[2014-12-15 19:02] grrrrr commented on #1322
I can add to this

Samsung Galaxy S4
CyanogenMod CM11 M11
Mozstumbler 1.5.4 and previously 1.5.3
Pause settings: 30m in 300s

Pause fails to resume while driving.   Set up was:  Driving for 8km, parked for 6 minutes, drive back the 8km.  MozStumbler never unpauses.  Had to toggle off and on when I noticed it was paused after approx 6km of driving.

[2014-12-15 20:21] crankycoder commented on #1322
This is a list certainly because significant motion won't trigger in a car.
On Dec 15, 2014 2:03 PM, "grrrrr" notifications@github.com wrote:

[2014-12-15 22:06] garvankeeley commented on #1322
@crankycoder Any motion change in a car triggers it on my Nexus 5 (both with 4.4.4 and now L). Only constant speed in a car seems to not trigger it, in which case that is ok, as the GPS location would be changing, and thus we don't need the significant motion sensor.

[2014-12-15 22:14] garvankeeley commented on #1322
@grrrrr @kbrosnan when this happens, can you use another app like GPS Status to see if you can get a GPS fix? It is possible that the GPS couldn't get a fix at that point, and therefore the app stayed paused.

We should provide more feedback to the user that this is the current state, as this isn't paused due to not moving, this is paused due to no GPS fixes to tell the app a user is moving.

[2014-12-15 22:45] garvankeeley commented on #1322
Can anyone having this problem post updated log activity screenshots? There is more debugging info that we added in 1.5.4 that may be present in the logs.

[2014-12-15 23:15] kbrosnan commented on #1322
GPS seems to be working fine and even updates in the app. Will get a log with 1.5.4

![screenshot_2014-12-10-19-13-12](https://cloud.githubusercontent.com/assets/250273/5445913/2e59d246-846d-11e4-8d30-c51fa9dff7b0.png)

[2014-12-15 23:43] kbrosnan commented on #1322
1.5.4 seems to be working correctly.

![screenshot_2014-12-15-15-33-48](https://cloud.githubusercontent.com/assets/250273/5446256/0ef4206a-8471-11e4-9d7b-4ded2303b0ee.png)

[2014-12-16 13:21] Skatox commented on #1343
It was a problem with the GPS on my device. Now it is working.

[2014-12-16 13:21] #1343 closed, assigned to nobody

[2014-12-16 22:01] #1313 closed, assigned to nobody

[2014-12-16 22:13] garvankeeley opened #1357 "Motion sensor not working for cpeterso, app pauses and doesn't wake up"
@cpeterso I am determined to get this working for you.

Your device: (I forget)
Your OS: Cyanogenmod 4.3.3 I think
Confirmed that the log says 'Device has significant motion sensor'? (I think we confirmed this)

Last bug report:
- having problems with the github stumbler. even when driving in a car, it will often think I'm not moving, but toggling the stumblers on/off button will make it wake up.

[2014-12-17 02:24] crankycoder commented on #510
@Monotronics no, this is to detect spoofed locations.  We actually now use this API in our simulation mode anyway.

[2014-12-17 02:37] crankycoder opened #1361 "Localize the app_name strings for debug builds"
We have the app_name string set to "Debug Stumbler" for debug builds.  Unfortunately, this only works if the system language is set to english: https://github.com/mozilla/MozStumbler/pull/1340#issuecomment-67246750

More gradle fun.

cc/ @cascheberg

[2014-12-17 04:59] crankycoder commented on #1343
Just in case we see this issue with someone else,  what was the problem
with your GPS?
On Dec 16, 2014 8:22 AM, "Miguel Useche" notifications@github.com wrote:

[2014-12-17 06:47] cpeterso commented on #1357
I am using a Nexus 4 running CyanogenMod 10.2.1 (Android 4.3.1).

Some areas to investigate:
- My phone's clock may be messed up. I've had some calendar events sync'd from another device with reminders scheduled for 20,343,874 minutes (always the same number) before each event. My phone also reproduces a rare Firefox for Android bug ([1085554](https://bugzilla.mozilla.org/show_bug.cgi?id=1085554))

[2014-12-17 11:16] vinitraje commented on #1280
### Update:
- We got the administrative permission from municipal council
- Number of trucks available are 7 mini trucks and 1 large truck
- The link to documentation folder is - http://1drv.ms/1AhsTs9
- I am going to upload daily scanning reports in the same folder above

[2014-12-17 12:14] Djfe commented on #510
@Monotronics this got merged but we encountered issues so it got unmerged again:
some devices (like mine) don't have valid NMEA data so some people couldn't report data anymore.

before checking NMEA the idea was to prohibit mock locations and fake gps but all those ideas got scraped now anyway -> you should be able to use bluetooth gps devices

it all didn't work out the right way anyway and if s

[2014-12-17 12:21] Djfe commented on #381
You need to link the GPS data in some way.
Either there is way in Android to accept the bluetooth devices as a GPS source or you need to use the the spoofing method to put in GPS positions (that aren't spoofed but that doesn't matter, it's just a way to get the GPS position)

have you tried this?:
http://support.garmin.com/support/searchSupport/case.faces?supportPage=GLO&caseId={924b5370-b8f3-11e2

[2014-12-18 06:22] debloper commented on #1280
@vinitraje great going... cheers! Can you please confirm if the trucks will have any power options to keep the devices charged? This will be very helpful in selecting the best phones for the purpose.

[2014-12-18 14:07] Skatox commented on #1343
My main problem is that my GPS doesn't work after some days so I've to reboot the phone. The problem with MozStumbler, is that it doesn't complain about having less than 4 GPS satelittes, it should show some error message to let you know why it is not taking reports. I live in a cloudy city and inside buildings GPS doesn't work good.

[2014-12-19 00:31] garvankeeley opened #1362 "Public help needed: Nexus 4 + 4.4 in India is missing Significant Motion sensor?"
We have confirmed that Nexus 4 + 4.4 users in N.America have this sensor (which is actually a software sensor that depends a a number of hardware sensors).

In India, the report we have is that this device is reporting legacy motion sensor only. Obviously this is very weird. Can anyone with a Nexus 4 please check the first line in the Log screen in the app and let us know if it says 'Significant M

[2014-12-19 21:37] garvankeeley commented on #1362
Custom 1.5.5 build for testing that removes the API check before trying to acquire the significant motion sensor.
https://drive.google.com/file/d/0B1sYPwjczMsQb2dtbkdWMGF6bVk

[2014-12-20 17:52] johnnyxh commented on #1182
I've been working towards adding this feature today, mostly on the UI portions for a new bug reporting activity. I've been meaning to use ACRA for this by taking in bug title/description/reproducibility fields from my new bug reporting activity and stuffing it into the CUSTOM_DATA field, then I can manually send a "crash report" with just that data. Problem is I don't know where these reports are

[2014-12-22 15:29] crankycoder opened #1365 "Simulation Mode should be refactored into an injected dependency"
The current implementation of #1191 uses a ContextWrapper around the application context as a control point for all simulation events.  This is problematic as we need to manage how the contexts are passed around throughout the application.  It's very likely that we'll break the simulation mode as we make further modifications to the stumbler codebase.

We should instead have a service provided by

[2014-12-22 15:43] crankycoder opened #1366 "UI is unclear when a GPS fix hasn't been acquired yet"
There are cases where GPS satellites are visible and counts are showing up, but a fix has not occured yet.   It's unclear to users why stumbles are not occuring when this is happening.  We should have some kind of visual indicator that a fix has not been acquired yet.

See: https://github.com/mozilla/MozStumbler/issues/1343#issuecomment-67489780

[2014-12-22 16:07] crankycoder commented on #1349
Crap.  We're using the same API key for fdroid as the github release.

https://github.com/mozilla/MozStumbler/blob/dev/android/properties/private-fdroid.properties#L10

@hannosch can you send me the proper API key for f-droid?

[2014-12-22 16:25] crankycoder commented on #1182
@johnnyxh have you tried installing the ACRA server on your own machine?  Standing up an Acralyzer server is not too bad.     Can you try the instructions over here?  https://github.com/ACRA/acralyzer/wiki/setup

[2014-12-22 16:38] garvankeeley commented on #1362
This doesn't make a difference, I will revert this change.
The vast majority of inexpensive (<200 USD) 4.4 android models in India do not appear to have this sensor.

[2014-12-22 17:17] johnnyxh commented on #1182
@crankycoder I set up my own ACRA database on Cloudant along with Acralyzer, and tried it out. It works decently well, though at first glance these look like regular crash reports. The stack trace sets apart regular crashes from bug reports, since the stack trace entries contain "Requested by the developer". Not sure if this is a good enough distinction, but you can see the bug title/description/e

[2014-12-22 17:58] #1191 closed, assigned to crankycoder

[2014-12-22 19:20] Djfe commented on #1366
I would be greatful if #974 could be fixed together with this since it's related and known for some time now already ;)
(users aren't able to see whether stumbler is able to scan cells/wifi atm.)

[2014-12-22 19:27] Djfe commented on #1357
such ROMs often have bugs like these. (maybe the significant motion sensor is there but does nothing)
What happens if @cpeterso tries out a build that defaults to the legacy sensor that might work.

Maybe there need to be checks that ensure the significant motion sensor reports movement while the device is moving (verifiy by using GPS, but we need real movement for this, because the GPS takes it's

[2014-12-22 19:28] Djfe commented on #1365
good idea! way easier to maintain it as an interface

[2014-12-22 19:46] Djfe commented on #1357
Even though it is marked stable you have issues with it
-> you should consider moving on to a nightly
http://download.cyanogenmod.org/?device=mako&type=
stable should be stable but maybe they keeped on developing and when Android Kitkat/Jelly Bean (4.3) came out they just switched to it and keeped it as a nightly but it was more stable then the stable
at least that's my guess if the last stable wa

[2014-12-22 23:28] garvankeeley commented on #1357
I was able to look at some of the Log screens from his device, and they look completely normal. In that, the scanning is paused only after no GPS has been received for 2 mins (the default). However, the wake up code is not working, which largely suggests the sensor is not behaving as expected. We could have a developer switch for forcing legacy sensor.

[2014-12-22 23:58] Djfe commented on #1357
even though his rom seems to behaving correctly in terms of GPS and cell/wifi scan functionality that doesn't indicate that the significant motion sensor is working
maybe the bug is that the ROM tells the app that the sensor is there even though it isn't...

a developer switch is a working solution, but could lead to users switching to legacy despite a working significant motion sensor (we need to

[2014-12-23 09:51] kbrosnan commented on #1322
Hm had it fail on my s5 again using the latest version. I was in a car, stopped to do an errand and it never resumed. City surface street speeds 25 mph/40 kph. Then transferred to a bike ride to the office. This is rather concerning as the s5 was my gold standard for gps accuracy. Any chance issue #1324 will help?

[2014-12-23 11:46] hannosch commented on #1349
Sent Victor the API key in email.

[2014-12-23 16:09] #1349 closed, assigned to nobody

[2014-12-25 13:23] cascheberg commented on #1361
I have a somewhat hacky fix for this. But since this is not bothering me much, I am also happy to leave this to someone else, maybe there is a better way.

[2014-12-26 19:49] greyskyunderthewoods commented on #1361
Hello, I would like to help. I am new to volunteering with Mozilla.

[2014-12-26 19:52] crankycoder commented on #1361
Great!  I've marked this as a good first bug,  but I'm really not sure how this can be done.  I personally don't see this bug because I'm building the app using English localization.

@cascheberg -  can you fill in some details on how to reproduce this bug?  Outlining your hacky fix might be useful as well.

[2014-12-27 22:04] cascheberg commented on #1361
@crankycoder I think the app is always built for all languages. So you can just change the Android system language to anything but English, and the bug should become visible instantly.

My fix is this:
I introduced a new string that either references the original (localized) string id or contains the debug app name. The only thing to pay attention to is that the new string definition must not be c

[2014-12-28 21:41] cascheberg opened #1371 "MapLocationListener is too slow"
If you are traveling fast, the location updates of the `MapLocationListener` are slower than those of the `GPSScanner`. As a result, new reports are drawn on the map without the blue user position dot being updated. So it is lagging behind which looks odd.
I think an easy fix would be to make the `MapLocationListener` listen to `GPSScanner.ACTION_GPS_UPDATED` intents.

![stumbler](https://cloud.gi

[2014-12-29 12:28] #1201 closed, assigned to crankycoder

[2014-12-29 14:00] hannosch opened #1372 "Fix cdma mcc handling / fallback to SIM mcc"
@kociepa from OpenCellID pointed me towards a problem with CDMA networks and MCC values.

We have two different code paths for getting data about the active cell connection and neighboring cells. I think we rely on [TelephonyManager.getNetworkOperator](http://developer.android.com/reference/android/telephony/TelephonyManager.html#getNetworkOperator%28%29) to get the MCC/MNC combination for the act

[2014-12-29 17:24] mishari commented on #1349
@crankycoder @hannosch forgive my ignorance, but does this mean I should not upload any data until a new release is on f-droid?

[2014-12-29 17:39] crankycoder commented on #1349
It doesn't matter.  It's primarily for out own record keeping to see which
distribution method for the stumbler gives us the most users.
On Dec 29, 2014 12:24 PM, "mishari" notifications@github.com wrote:

[2014-12-30 11:10] cascheberg commented on #836
@garvankeeley This issue was fixed in #1248 and should be closed.

[2014-12-30 11:12] cascheberg commented on #708
@naoliv Please close this issue if the problem is fixed.

[2014-12-30 11:14] cascheberg commented on #893
@crankycoder Reminder: This issue was fixed and should be closed.

[2014-12-30 11:17] cascheberg commented on #1066
@petercpg "Last Upload Time" strings should now be fully localizable. Please check the translation and close this issue.

[2014-12-30 11:20] cascheberg commented on #476
@goldfndr This feature is now implemented, so I think this issue should be closed.

[2014-12-30 11:27] cascheberg commented on #768
@cpeterso The geofence feature is not in the app anymore since #791, so this specific issue should be closed.

[2014-12-30 11:43] cascheberg commented on #951
@Hugo14 F-Droid currently has the latest version 1.5.4 available. That version supports sending crash reports from within the app. Is there any reason to keep this issue open?

[2014-12-30 12:01] Hugo14 commented on #951
Nope, Ive actuallized and everything seems fine.

[2014-12-30 12:03] #951 closed, assigned to nobody

[2014-12-30 14:27] naoliv commented on #708
My phone is dead :-( but in the last times it was working as expected. Thus closing it.

[2014-12-30 14:27] #708 closed, assigned to nobody

[2014-12-30 14:36] #768 closed, assigned to nobody

[2014-12-30 14:36] #476 closed, assigned to nobody

[2014-12-30 14:59] #893 closed, assigned to nobody

[2014-12-30 15:03] petercpg commented on #1066
Will close this issue as soon as #1373 is merged. :)

[2014-12-30 16:01] #1066 closed, assigned to nobody

[2014-12-31 13:49] cascheberg commented on #1106
I got the impression that server-side filtering is more effective and should include all raw client data. Referencing #867 as a side note.

[2014-12-31 22:17] #149 closed, assigned to nobody

[2015-01-02 15:15] crankycoder commented on #1106
Given https://github.com/mozilla/MozStumbler/issues/1106#issuecomment-62749905 , I propose that we stop adding to the wifi blacklist on the client side.  Thoughts @garvankeeley ?

[2015-01-02 15:15] crankycoder commented on #1106
Marking this as won't fix since the server side does this already. No need to re-implement this.

[2015-01-02 15:16] #836 closed, assigned to nobody

[2015-01-02 18:20] SteveALee opened #1382 "MLS locations not improving for mobile only locations"
I'm not sure if this is a problem but I would expect all MLS locations to get more accurate with time.

I regularly walk the same route and where there is wifi the MLS locations are indeed now fairly accurate. However for those points that are blue (mobile only) the points are still a long way out and many seem to map to the same point well away from the actual location. There are usually more tha

[2015-01-02 21:55] crankycoder commented on #1382
This isn't really a bug - location fixes with cell tower only are going to be pretty imprecise.  Stumbler just get's its location fixes from [ichnaea](http://github/mozilla/ichnaea).  With only cell information, you're not going to do much better than the radius of a cell tower.

[2015-01-02 21:55] #1382 closed, assigned to nobody

[2015-01-02 22:04] SteveALee commented on #1382
Thanks. I wondered if some sort of triangulation would give better fixes. But it's not something I know anything about :)

[2015-01-04 02:47] #685 closed, assigned to nobody

[2015-01-04 02:48] #511 closed, assigned to nobody

[2015-01-04 04:32] Noitidart opened #1385 "Individual contributor app for iPhone?"
They have android app for individual contributors here:
https://location.services.mozilla.com/apps

What about for iPhone and if we want to contribute?

[2015-01-04 07:32] Bugsbane commented on #1182
Sweeeeeeeeeeeeeet. :)

[2015-01-04 15:28] VolMi opened #1386 "add explicit high-power mode"
There are a lot of [efforts to limit power consumption](https://github.com/mozilla/MozStumbler/labels/Power%20Consumption) to "reasonable" values.
However, there are situations where I just don't care and I'd rather find more networks than saving power: Driving fast with a 5s scan interval means that you miss most WiFi networks.

My wish for an option:
-  [x] smart tradeoff: power vs. thoroughness

[2015-01-04 21:34] hannosch commented on #1385
Unfortunately iOS is a closed ecosystem in which Apple controls what kind of apps can run on their platform. They have chosen to disallow and prevent apps from getting access to the WiFi and cell information that we require.

So building a stumbling app for iOS is not possible.

[2015-01-04 21:34] #1385 closed, assigned to nobody

[2015-01-05 00:45] Noitidart commented on #1385
Aw dang ok thanks

[2015-01-05 13:57] lua86 commented on #1386
I would so love such a feature. So before that, it would be needed to NOT hardcode scanning time.

[2015-01-05 14:55] garvankeeley commented on #1386
Not a bad idea to add a developer setting for this rate. In my experimentation, the startScan() rate had very little effect, but it could be specific to my hardware. The code currently calls the wifi startScan() every 5 seconds, but the call is asynchronous, thus the wifi subsystem may be running completely independent of this (in terms of scan timing), and that call may be just keeping the wifi s

[2015-01-05 14:56] #1106 closed, assigned to nobody

[2015-01-05 15:02] #1170 closed, assigned to garvankeeley

[2015-01-05 22:42] cascheberg commented on #1386
Some discussion about configurable scanning frequency is in https://github.com/mozilla/MozStumbler/issues/1055#issuecomment-61025494
But there should not be any negative effects on the data accuracy here as long as you do not decrease the GPS position reporting frequency.

[2015-01-07 20:38] cascheberg commented on #404
@Djfe this is fixed and should be closed

[2015-01-07 22:16] cascheberg commented on #1323
One thing I noticed in `TileDownloaderDelegate.isTileCurrent`: you request the URL and add the etag header, but  you throw away the response if the response code is not 304. But in that case, the response already contained the full requested tile, right? Wouldn't it be better to move that code to `downloadTile` and only send and check the etag there?

[2015-01-07 22:59] cascheberg opened #1389 "widget problem"
@lomash The widget from #1353 is nice, but I think I see a bug:
1. stop scanning
2. kill the app
3. click the stumbler icon in the widget
4. Result: the app will show up, but the main screen is black and nothing is happening

Is it intended at all that the app is launched from the widget?

Because this is working, I guess:
1. start scanning
2. kill the app (scanning process is still active)
3. cli

[2015-01-08 00:17] Djfe commented on #1389
So that's what people call fluently switching between languages ^^ (irony off)
-> the title is German ;)

[2015-01-08 00:22] Djfe commented on #404
Agreed! This bug was in the old GUI still.

[2015-01-08 00:22] #404 closed, assigned to nobody

[2015-01-08 00:29] Djfe commented on #1386
What could be possible is: collecting all streams independently (wifi/cells/gps/motion data)
and then interpolating the positions of the wifis and cells by taking a look at time, position and speed when they were recorded
interpolating should happen between the points where new networks appear to estimate the exakt switching point

depending on whether this calculations are made on the device or t

[2015-01-08 00:30] garvankeeley commented on #1322
I am still stumped as to the cause of this. I have been trying to repro. I am trying to get my hands on an S5 and see if can get the problem to happen.
I don't think this is specific to that device, as there are now 2 more reports on the app store about this happening on HTC M8 and Android One devices.

I don't think #1324 is related.

One idea might be to have a setting to enable a more detailed

[2015-01-08 00:44] Djfe commented on #1371
saw this happening as well still

why are the updates slower btw.? are there some calculations being done at the same time or is the interval hardcoded?

[2015-01-08 01:13] VolMi commented on #1386
I found the hint to #1055 quite insightful, thanks.

This request is mainly meant in a more abstract way, not because of my great oversight but my thin understanding...
I seemed to comprehend that the power saving efforts came at a price of reduced `No. of WiFis found` / `GPS accuracy`. I would not mind the density of GPS positions but it seemed to me that the recent stumbler releases found less W

[2015-01-08 02:54] Djfe commented on #1386
Ok so that's your issue.
well the reason for that is:
the GPS update only saves scans every second and only every 30meters

it was 10meters before and got reduced to every 30meters to prevent extra server-side stress on the play store release
(up to 1/3 less traffic per person)

I'm not sure though maybe it got reset to 10 already
hanno said once already that the server-side stress isn't too high

[2015-01-09 15:42] garvankeeley commented on #1386
It is still at the 30m/2s rate.

[2015-01-09 20:04] Djfe commented on #1322
If it helps: my brother has the HTC one mini m7
I'm gonna test whether the issue is happening on that device as well and report further information tomorrow

[2015-01-09 20:53] garvankeeley commented on #1322
Yes that helps.
I have yet to get my hands on a device that is suspected to have motion detection bugs. I have dozens of devices available for hands-on debugging, none of which match the specs of the bug reports.

[2015-01-09 21:51] Djfe commented on #1386
Should I make a PR?

[2015-01-11 11:28] kparal opened #1394 "Scanning pauses when I stand still, but doesn't resume when I start moving"
Some time ago there was a Stumbler update which was supposed to pause scanning when you stopped moving, in order to save battery. That seems to work, however, since that time, I experience a large unscanned gaps in my travel routes. If I stand still for a while (e.g. waiting for a tram, or filling gas in a car), Stumbler turns off scanning. But when I start moving, it does _not_ resume scanning. I

[2015-01-11 11:38] kparal opened #1395 "ON/OFF button is not reliable"
It happens to me very often that when I switch scanning from ON to OFF, the button:
a) either jumps back to ON again immediately (I need to switch it off a second time)
b) or it stays at OFF position, but the stumbler icon in notification area still shows that scanning is enabled (I need to press the home button, open stumbler again via the notification menu, and switch it off again).

This does n

[2015-01-11 17:29] garvankeeley commented on #1394
We are trying to reproduce these problems and have them fixed, but I agree with an option to turn this off. Device sensors are too variable, and I fear there will always be some devices/ROMs that have bugs with this.

Can you check the first entry in the Log screen and tell me if is says you have a 'Legacy' or 'Significant Motion' sensor? We have 2 code paths depending on the type of motion sensor

[2015-01-11 20:41] cascheberg commented on #1395
The problem that the notification does not disappear (b) might have been fixed in #1356.
This does not explain the problem regarding the switch jumping back to ON (a) though.
In that case, does the number of reports actually increase if you keep moving?

[2015-01-11 20:58] kparal commented on #1395
When I see it again, I'll try.

[2015-01-11 21:01] cascheberg commented on #1386
Increasing the rate of reported GPS positions should have no influence on the number of found wifis, because those are scanned independently every 5 seconds, as mentioned. But it should increase data accuracy.
And still, a pref to increase wifi scan frequency would be interesting.

Something else to note: certain earlier releases displayed the number of total wifi observations, in contrast to the

[2015-01-11 21:03] kparal commented on #1394
Thanks for working on this. My device has a 'legacy motion sensor'.

[2015-01-11 21:31] Djfe commented on #1386
But increasing the rate by decreasing the number of meters down to 10 should increase it a lot (especially if you are walking)

we could leave the number of seconds at 2 but I still think 1 second is better

@cascheberg note is definitely another thing that could have caused confusion

a beta build that allows experiencing with these values could be interesting
->driving a few kilometers in a car/

[2015-01-11 21:34] Djfe commented on #1322
mmh my younger brother doesn't allow me to test it with his device
maybe I can convince him the next time I'm at home ^^

[2015-01-12 16:27] garvankeeley commented on #1394
This is good info. What this tells me is that the problem isn't that the app isn't sensing motion -because the legacy motion sensor only reports the device not moving when sitting perfectly still.
So, the problem is that the GPS is not getting a signal, so that we can confirm the user is actually moving. This is the tricky part.
Is it that the GPS has gone cold and is taking too long to start? We

[2015-01-12 20:14] crankycoder opened #1396 "Widget update needs to be pulled into a Service"
There's a bug with the Homescreen widget in the dev branch.

Updates to the widget must happen from within a service.

See: https://groups.google.com/forum/#!topic/android-developers/sKPaSjwbfvk

The currently implemented code in v1.5.5 won't crash the whole application as the RuntimeException is caught, but the widget will not update propery in those cases.

[2015-01-12 20:58] crankycoder commented on #1323
Crap. That's probably correct.  I was doing an HTTP HEAD before but that wasn't working consistently - so I switched to using the etag method.  I'll take a look at your PR tonight.

[2015-01-12 21:10] cascheberg commented on #1323
I tried to reproduce this bug, but so far I couldn't. Could it be that you get tiles from the `LRUMapTileCache` or so, without `isTileCurrent` ever being called? Did you kill the app and then check again?

[2015-01-12 22:49] VolMi commented on #1395
I have all mentioned oddnesses, too. On CM11 and now on CM12. I'd like to just try the next release before digging deeper. Probably @cascheberg already fixed it anyways.

[2015-01-13 03:24] crankycoder commented on #1323
Hrm.  The LRUMapTileCache may very well be the problem.  That would be consistent with the behavior I saw.

Here's what I saw - it was while using two separate devices.

I had a OnePlus One running CM11s (Android 4.4.4) and a Moto G 2013 (1st gen) running Android 4.4.3.

The Moto G had a previous set of coverage maps from a couple days earlier.  The One Plus was doing a new stumble and covered pre

[2015-01-14 12:13] cascheberg opened #1401 "Full offline map support"
Use case:
1. use the app, some map tiles will be cached, close the app
2. disable all internet connections
3. open the app again

Result:
- The OSM tiles are visible, but the MLS overlay is not
- If you enable internet access briefly, then all previously cached overlay tiles become visible

[2015-01-14 19:22] SteveALee commented on #1180
Update: I'm also getting the same SSL3 errors and apparent failure to upload on my new Sony Z3 Compact running KK. it's intermittent though, sometimes all is well

[2015-01-14 19:25] SteveALee commented on #1382
Thought: One potential issue with cell only is if ichnaea uses the connected tower. Phones regularly hang on to old weaker signal towers when better ones become available. This appears to be happening to my records

[2015-01-14 20:28] Djfe opened #1402 "Full Offline Map Support (2) - found a bug"
This bug concerns everyone that doesn't have a flatrate/only uses Wi-Fi/starts the app in other countries (->roaming)

No Mapdata is visible even though it got cached before.
What actually happens:
MozStumbler/OSMDroid tries to show the low zoom level map which hasn't been cached unlike the high resolution zoom levels that you just watched/preloaded using your home wifi
->you don't see anything on

[2015-01-14 20:30] garvankeeley commented on #1394
Can you try 1.5.5 on github and see if it works better?

[2015-01-14 20:31] garvankeeley commented on #1357
@cpeterso can you try 1.5.5 in github and report back?

[2015-01-14 20:31] garvankeeley commented on #1322
Please try 1.5.5 on github and report your findings

[2015-01-14 20:32] garvankeeley commented on #1311
this should be fixed with #1312

[2015-01-14 20:32] #1311 closed, assigned to nobody

[2015-01-14 21:16] kparal commented on #1394
Sure, will try.

[2015-01-15 08:51] kparal opened #1404 "Visually distinguish paused mode in the notification area"
If scanning gets paused because of insufficient movement, the description of the notification changes from `Mozilla Stumbler is scanning` to `Mozilla Stumbler is paused`. That is great. It would be very helpful if you actually distinguished that also using the icon in the notification area, so that people don't need to unlock their phones and pull down the notification menu to check whether stumbl

[2015-01-15 09:09] kparal opened #1405 "Tiles caching doesn't seem to be working when switching from wifi to 3G"
In 1.5.5 release notes, I saw:

So I started stumbler at my home while being on wifi, and scrolled through my entire city in different zoom levels, so that I have high quality tiles cached of the whole city.

But when I stepped out and my wifi got replaced by a 3G connection, as soon as I looked at stumbler, the high-quality tiles got thrown away and it started to download and display low-quality

[2015-01-15 12:07] hannosch commented on #1382
@SteveALee for cell connections, most phones don't report a proper list of neighboring cells, so the currently connected cell is the only available data point.

This depends on a lot of factors, the Android version, the chipset, radio driver, radio tech (GSM, UMTS, etc) being amongst them. If you like technical underpinnings, I wrote this up in more detail in a slightly different context at https:

[2015-01-15 12:46] cascheberg commented on #1405
This is a duplicate of #954.
The caching works, the cached high-res tiles are not actually thrown away. But the app completly switches to the low-res map based on the internet connection anyway, so the high-res tiles are not used.
The easy workaround would be to always either use only low- or high-resolution tiles, or use that to cache low-res tiles at home as well.
I wonder if it would be a good

[2015-01-15 13:51] cascheberg commented on #1402
Currently the map type is always switched to low-res if there is no internet connection. I suggest to just not switch the current map type, which one ever it is, until some sort of internet access is available again. I think I can create a PR for that.

[2015-01-15 14:22] Djfe commented on #1405
That wouldn't be a good way to solve this imo because it would take up more space on your device and look worse than it could be

and it would download the low-res tiles on mobile as well (if you activated high-res only ) which would lead to more traffic than needed

[2015-01-15 20:52] kparal commented on #1394
I have tested it a bit today, and the problem seems to be gone. We can close this and I'll reopen it if it appears again.

One note though: "Paused" mode seems to be really hard to achieve on my phone (with the "legacy motion sensor") with stumbler 1.5.5. I can basically trigger it if I lay my phone on the table and it doesn't move at all. But any tiniest movement of the phone (just picking in up

[2015-01-16 20:46] #1401 closed, assigned to nobody

[2015-01-16 20:50] garvankeeley commented on #1404
+1 to this idea

[2015-01-16 20:54] garvankeeley commented on #1405
We would like to have the map component use the cached higher resolution tiles if available when on cell networks. It is challenging and time-consuming to fix. However I don't want to scare anyone off trying :).

[2015-01-16 21:07] garvankeeley commented on #1394
Thanks for your feedback this is exactly what I needed. I know where to fix the code now :).

With the Legacy sensor type, it will only pause when the device is sitting perfectly still.

To increase the likelihood of pausing, we had an additional check that after motion detected, quickly check the location of the device, and if the reported location is unchanged, pause again. The legacy sensor cou

[2015-01-16 21:09] #1402 closed, assigned to nobody

[2015-01-16 22:20] cascheberg opened #1408 "Add option to download map only on WiFi"
Use case:
- high-res map tiles are nicer to use than low-res map tiles, so cache them at home
- during stumbling mobile internet should stay enabled for email/messenger

Problem:
- accidentally scrolling / zooming into uncached map areas will quickly increase mobile data usage

Solution:
- add a separate preference to download map only on WiFi

[2015-01-17 15:52] kparal commented on #1395
Since I upgraded to stumbler 1.5.5, I haven't seen this. I've tried it just a few times yet, though.

[2015-01-17 15:59] kparal commented on #1394
I have tried again today, and unfortunately I still experience the "unscanned gaps" problems.

When the display is turned on, it's true that any slight movement flips it back to scanning mode. But it doesn't seem to be the case when the display is turned off, because I had my phone in a pocket in my jacket, so it was moving slightly all the time, but still I have seen large gaps during my travel t

[2015-01-17 16:27] gpoo opened #1409 "[Regression] MozStumbler's UI gets unresponsive after scanning a while (low end devices)"
Since 1.5.4 (I think), my Nexus One takes several minutes to respond the UI after scanning for a while. Say for example:
- Start Mozstumbler and press Start Scanning.
- Walk for around 15 minutes
- See MozStumbler again, and try to interact with it ('stop' button, load the menu, get actual location), and it takes several minutes (possibly 5 or more) to show something.

In the meantime, Android dis

[2015-01-17 16:54] cascheberg commented on #1409
I have only scanned a few times for a short while since upgrading to 1.5.5 (Update: I did not notice this using 1.5.4), but I also noticed that responsiveness was worse. After scanning for a while, pressing the stop button and scrolling the map became laggy on my Nexus 4, Android 5.0.1.

[2015-01-17 17:30] gpoo commented on #1409
@cascheberg I've heard many times that Android 5 is painfully slow (besides that drains the battery faster). Could it be that?

FWIW, in a Nexus 5, with Android 4.4.4 I don't see any issues, likely because it has better hardware (I won't upgrade to Android 5 yet :-)

[2015-01-18 19:50] cascheberg commented on #1409
@crankycoder @lomash I did some regression testing and I am pretty sure that the widget (94c77b8 #1353) is causing performance problems on my device.
I always installed a clean build, put it on a desk where it had a stable GPS fix, then started the scan. The screen was on all the time, and I manually disabled the motion detection code so that it kept scanning. After waiting for a few minutes (~ 5-

[2015-01-18 20:49] Djfe opened #1412 "[Feature] advanced settings"
Specific settings for rooted devices and advanced user:
- Enable GPS automatically when Scanning is started and disable it when it is stopped (as two different options)
- Change API Url and key to allow people using their own servers (based on Ichnaea)
- allow several servers for uploading data

Possible stuff (probably not possible atm.):
- get further data from the baseband
- use certain feature

[2015-01-19 02:41] RexWheeler commented on #1409
I am seeing similar things as @gpoo on 1.5.5. Seemed to start happening after my upgrade to 1.5.5. After I have been stumbling for a bit (10-20 mins) I will see the Wait/Force Stop dialog or sometimes Mozstumber just won't be running anymore. This is on a Galaxy S4 Active (SGH-I537) running the stock AT&T 4.4.2 kernel. To my knowledge I am not using the widget (I haven't put it on my home screen.)

[2015-01-19 13:40] cascheberg commented on #1409
The call to `AppWidgetManager.updateAppWidget(provider, views)` is what causes performance problems. It's execution time somehow increases over time. At first it's only < 10ms, then after some minutes it's already > 200ms. This method currently gets called at least twice a second while scanning.
Will see if I can learn something about Android widgets later...

[2015-01-19 14:04] crankycoder commented on #1409
Ugh.

This is probably being slowed down by checking the report counts.  This is where I'd normally say something like "we need to profile the app to make sure", but profiling in Android is painful.

I'll just pull the widget for the 1.5.6 release.  We can think about re-enabling it through a developer option later.

[2015-01-19 14:16] cascheberg commented on #1409
The rest of `MainDrawerActivity.updateWidget()`, which includes checking the stats such as `remoteViews.setTextViewText([...], service.getObservationCount())` etc., is not a problem. Only the call I mentioned above is slow. But I have no idea what it does, and if it invokes anything within the scope of the app. And I do not know anything about (how one would usually update) widgets.

[2015-01-20 07:10] gpoo commented on #1409
Excuse my ignorance: I wonder why the home widget needs to be updated if there is no widget enabled in the home screen.  Could that be avoided?

(I guess it is by Android design, but maybe not)

[2015-01-20 15:18] Djfe commented on #1409
bad code that got reviewed by people not familiar with widgets
as simple as that

the code looked good but was committed by someone else

now the code needs to be fixed/optimized ;)

[2015-01-20 15:39] crankycoder commented on #1409
Widgets really need to be on their own service - that wasn't apparent until I filed #1396.  I'm still of the opinion that all widget and notification area code should updated with intents instead of direct method calls.  We're just removing the widget for now in #1413

[2015-01-20 22:38] garvankeeley opened #1415 "Accelerometer not working with screen off"
Here is a list of devices with this problem
http://www.saltwebsites.com/2012/android-accelerometers-screen-off

We will need to work around this for battery saving mode.

[2015-01-20 22:39] garvankeeley commented on #1394
Related to #1415

[2015-01-21 00:46] VolMi commented on #1409
Could you please release an update witch #1413 pretty soonish? I am currently pausing my stumbling activity altogether because of this annoyance.

[2015-01-21 00:47] garvankeeley commented on #1394
One bug you are mentioning is that with the screen off, the motion sensor isn't triggering. Is this with the Moto G? We have one available to test, it seemed to work fine with the screen off.
We test like this:
- in developer settings, change the Motion Detection time window from 120s to 30s.
- wait 30s, scanning pauses, put device to sleep (with power button)
- shake device, then push button to w

[2015-01-21 01:10] gpoo commented on #1409
@VolMi You can install a previous version from https://github.com/mozilla/MozStumbler/releases in the meantime.

[2015-01-21 01:11] garvankeeley commented on #1409
We'll try to get the builds out tomorrow.

[2015-01-21 02:01] crankycoder commented on #1394
I'd like to verify the ROM and hardware on your device - it _should_ be the same as mine, but I'm not sure if you've got the 2013 or 2014 edition of the Moto G.

@kparal can you file a bug with 1.5.5?    Filing a bug in the settings panel will collect some firmware and chipset data and send it back to us for analysis.

In my own testing, long bus rides have ~1-2km gaps after 20 minutes on the high

[2015-01-21 07:42] Djfe commented on #1394
does it get into deep sleep in under 30 seconds?

@crankycoder are you sure, that your device is next to windows while riding a bus?

at least in trains I only get GPS fixes when the device is next to the window, the GPS signal doesn't seem to be strong enough to get through the ceiling completely.

what about a test mode in addition to the simulation, that logs massively into a file on the SD car

[2015-01-21 07:47] Djfe commented on #1415
wake locks might help
-> integrated list of concerned devices (that have this issue)
activated per Default for these devices

maybe it is even possible to detect a device with this issue that is not in the list above and report it through Acra

[2015-01-21 16:41] crankycoder commented on #1415
PARTIAL_WAKE_LOCK doesn't seem to help all phones, you'd need to do a SCREEN_DIM_WAKE_LOCK which is crazy.  Keeping the screen on just to run the stumbler seems like madness to me.

[2015-01-21 16:44] crankycoder opened #1417 "Drop wifi blocklists"
Now that Firefox Android embeds the stumbler in a passive stumbling mode, the wifi blocklist does more harm than good for the server side.

We are pulling out the wifi blocklist from the stumbler so that filtering can occur on the server side.

[2015-01-21 16:53] crankycoder commented on #1394
WIth the Moto G - yes, this is while on a bus by a window.  Deep sleep doesn't happpen for minutes - I'm not sure what the time window is and I'm not sure what all the variables are to cause deep sleep to happen.

This seems device specific - higher end phones like a OnePlus seem to get GPS locks on buses just fine.

[2015-01-21 17:05] Djfe commented on #1415
the accelerometer function is only needed for legacy mode, right?
do other sensors work still?

how does the open-sensor plattform handle this issue? #1295

[2015-01-21 17:12] Djfe commented on #1394
Well so @kparal would need to wait a bit longer to egt his device into deep sleep mode

as far as I know deep sleep mode depends on the governor, so if his device is rooted then he should use a governor that allows sleep mode (not like performance or a governor that keeps the frequency at the lowest possible value without going into sleep mode)

another factor are opened apps, who might use wake l

[2015-01-21 18:04] hannosch commented on #1417
The same was true already for a while for FxStumbler and geoclue, which don't include a blocklist. But they contribute much less data, so it wasn't that big of an issue. Also different versions of Mozilla Stumbler used different blocklists, as they were only shipped as part of the releases and not dynamically updated.

All this meant that we would get moving WiFi's only from some of the apps. Othe

[2015-01-22 14:08] crankycoder opened #1425 "Need a new buildbox"
We need to provision a new buildbox that has more RAM.  We can't have a persistent build daemon on the current machine, and we've had to clobber the Android dx script because we're running low on memory.

[2015-01-22 18:58] kparal commented on #1394
Hello people, I have Moto G LTE version, so I assume 2014. But I have sent a bug report from Stumbler, with title "Fake report for github issue 1394". I don't have it rooted.

I tried this. The problem is that the stumbler seems to activate scanning mode every time I resume the device, even if it has not moved at all. I.e. I have it laying on the table all the time, just wait until it's paused, tu

[2015-01-22 19:02] kparal commented on #1395
I think this can be closed, I haven't seen it since. I'll reopen it if it occurs again.

[2015-01-22 19:02] #1395 closed, assigned to nobody

[2015-01-22 19:05] kparal opened #1427 "improve description of "enable MLS location queries""
In settings, I can enable "Enable MLS location queries". But the dialog that pops up doesn't really explain what an MLS location is. I can then display it on the map (I see no red dot if I enable it), and I'm still clueless about what it is.

Can you please improve the description and describe what it is exactly?
Thanks!

stumbler 1.6.1

[2015-01-22 19:13] crankycoder opened #1428 "Extract an embeddable library"
Since this is actually one of the 2015Q1 goals, we should probably have a proper bug filed.

Reorganize the stumbler so that we have a proper embeddable android library that can be used by other android applications.

[2015-01-22 19:14] gpoo commented on #1409
It seems fixed (1.6.0).  Thanks a lot for your work!

[2015-01-22 19:14] #1409 closed, assigned to nobody

[2015-01-22 19:42] garvankeeley commented on #1394
Great info!! The GPS should not be causing the unpausing, because in the paused state, the app doesn't listen for GPS.
As you suggested, can you repeat the test and check the log screen for the "is motionless: true/false" lines. Those are timestamped. I think that touching the device sleep button is triggering the accelerometer (maybe it is ultra-sensitive), but the log will confirm that.

[2015-01-22 22:37] kparal commented on #1394
If I leave the device display on, wait for the paused state, and then try to move it slightly, the sensor doesn't seem to be that ultra sensitive. I don't trigger it if I'm careful. But almost every resume triggers it. There's probably something more in it.

Nevertheless, the log seems to indicate that the motion sensors really doesn't kick in while sleeping.
![motion](https://cloud.githubusercont

[2015-01-22 22:42] kparal opened #1429 "log lines are duplicated after putting the device to sleep and waking up it"
If I have Log open, suspend the device and resume it, all the lines get reprinted. For example, there are 5 lines in here that got reprinted two times (because I suspended and resumed the device twice while looking at the log):

![log-duplicated](https://cloud.githubusercontent.com/assets/755451/5866271/ffa6a64a-a28f-11e4-9667-b66f25221fc5.png)

You can easily see the duplication by the timestamps

[2015-01-23 18:09] tjrptupr opened #1430 "Document export logs to SD card option"
As of 1.6.1 I cannot figure out how to export logs, only view them.

[2015-01-23 18:11] tjrptupr opened #1431 "CSV export"
Add option to export scans to a .csv file for personal use.

[2015-01-24 22:32] MikkCZ opened #1433 "Provide Czech translation for MozStumbler"
Hi.

In Mozilla.cz we are interested in translating Mozilla Stumbler to Czech. What's the proper process for adding new language to Mozilla Stumbler and which files should be translated, please?

[2015-01-25 03:37] swarnava commented on #1433
You can start from here:
- https://github.com/mozilla/MozStumbler/blob/dev/android/src/main/res/values-cz/strings.xml

[2015-01-26 15:43] crankycoder commented on #1431
Exporting to CSV doesn't make a lot of sense to me.  We have a JSON format which is exportable right now. I don't think that flattening out the data to CSV gives us much advantage, and it's yet one more format that we need to support, but we do not internally use.

Is there a usecase for CSV data or would JSON data be ok?

[2015-01-26 16:52] kbrosnan commented on #1322
1.6.1 this is still a problem

[2015-01-26 17:04] garvankeeley commented on #1322
@kbrosnan in the new Power Saving Options screen, is motion detection on, and below that, your device is reported to have a 'significant motion sensor'?

Hmm, could it be that the GPS isn't getting a fix, and scanning pauses as a result? Can you keep an eye on the GPS sats (the fixed sats is the first number, 3 or more needed for a fix).

[2015-01-26 17:08] kbrosnan commented on #1322
'Your device has a significant motion sensor' Yes motion detection was on. Yes it reports 0 SATs when I expect it to resume.

[2015-01-26 17:16] garvankeeley commented on #1322
There is a 2 min window for GPS to become active*. In the event that it doesn't, scanning will pause, until more motion is detected, and it will try again. Does this correlate with what you see?

*Assuming the user hasn't changed this in the Developer options screen

[2015-01-26 21:41] kbrosnan commented on #1362
The Nexus 4 only has one [ROM](https://developers.google.com/android/nexus/images#occam) and two variants. One is a North American model and the other is a international model. My understanding is the difference is in the supported radio bands. I only have access to the NA model which has a significant motion sensor, maybe there is a European contributor that can check their device?

[2015-01-27 00:14] kbrosnan commented on #1322
State 0: I stumbled for a few blocks, walking. Looks good. Waited two min for the lack of motion sensor to kick in. I have walked for about 5 min in this screenshot but stumbler does not seem to know this.

![screenshot_2015-01-26-13-59-15](https://cloud.githubusercontent.com/assets/250273/5910968/3955e92c-a575-11e4-884f-4e008d1af113.png)

State 1: a few seconds after the above screenshot I check

[2015-01-27 00:22] garvankeeley commented on #1322
Great info! I think there is a bug when the GPS is put to sleep we aren't setting the GPS to 0/0 in the main UI.
Did the "Location not changing" message disappear at all? I would have expected it to disappear for 2 mins, then re-appear. The Log screen will also show "is motionless: false" with a timestamp, when the app thinks you have moved (and the "Location not changing" message disappears).

[2015-01-27 00:26] kbrosnan commented on #1322
To the best of my knowledge the "location not changing" message remains until the app is killed from the Samsung task killer or the phone is rebooted.

[2015-01-27 17:34] #1417 closed, assigned to nobody

[2015-01-27 18:27] Djfe opened #1435 "get movement updates through GPS (when other apps use the GPS) or Google Service"
we should pull information from the gps chip (event listener) so that we know whether it is active at the moment or not even when mozstumbler tries to save power.

->in case another app uses the GPS it won't make a difference if mozstumbler takes available location data anyways (this is related to #356)
it won't activate the gps sensor because it is active already
we would just gather more data an

[2015-01-27 18:36] Djfe opened #1436 "paused mode should set gps/wifi/cell values to zero"
this is an issue that was brought up in #1322

since the device isn't scanning anything in paused mode those values probably should be set to zero to avoid confusion

[2015-01-27 18:37] Djfe commented on #1322
First: Pls make a screenshot of the log file, when the issue happens again, that helps us a lot with the debugging ;)

second:
One reason why it shows a different position is that you probably have Google's geo service activated -> OSM retrieves this position I think and shows it on the map although there is no gps fix

as @garvankeeley mentioned there is a bug that the GPS doesn't show 0/0 when t

[2015-01-27 18:43] Djfe commented on #1262
totally overread what you wanted to say above, I didn't know what you meant with "fused+network location types" above and focussed too much on the issue title which lead me to thinking this would be about the significant motion sensor (sometimes tl;dr is not good...)

I opened a new issue with further ideas about what you said above already before I found this issue again
#1435

[2015-01-27 19:19] kbrosnan commented on #1322
The logs end up very similar to https://cloud.githubusercontent.com/assets/1011860/5393405/ccff1d00-8131-11e4-8d2d-bb74a7c6ad30.png which is already in this report.

[2015-01-27 21:54] Djfe commented on #1322
@garvankeeley
why does it go into motionless mode within the second it records an observation?

[2015-01-28 14:44] #1429 closed, assigned to nobody

[2015-01-28 15:33] garvankeeley commented on #1322
I don't know what is happening here. I have an S5 on order, so I should be able to get this bug sorted

[2015-01-28 16:30] cascheberg commented on #551
This can be closed as the wifi blocklist was dropped in #1418

[2015-01-28 16:31] cascheberg commented on #496
This can be closed as it was implemented in #1414

[2015-01-28 17:02] #551 closed, assigned to nobody

[2015-01-28 17:40] grrrrr commented on #1322
I would just like to update that my issue mention on the S4 above is resolved,  embarrassingly it was due to `xprivacy` blocking `mozstumbler` access  to the phones sensors.

[2015-01-28 17:48] #496 closed, assigned to nobody

[2015-01-28 18:37] crankycoder opened #1439 "NPE Crash in 1.6.1"
org.mozilla.mozstumbler.client.subactivities.FirstRunFragment$1.onClick(FirstRunFragment.java:49)

[2015-01-28 18:42] crankycoder opened #1440 "Check for known privacy enhancements that cause problems"
XPrivacy for XPosed can block sensors like the accelerometers and significant activity sensor which will screw up the sleep functionality and possibly all stumbling.

Cyanogenmod also has enhanced privacy controls on a per application, per permission basis.

We should see if we can do early detection of these and give prescriptive warnings to users.

http://stackoverflow.com/questions/4212992/how-

[2015-01-28 18:50] crankycoder commented on #1394
@kparal ah!  Thanks!

I see your bug report.

For my own use:  Hardware is a XT1039. Stock firmware: KXB21.14-L1.46

[2015-01-28 18:53] crankycoder opened #1441 "NPE 1.6.0"
org.mozilla.mozstumbler.service.stumblerthread.motiondetection.MotionSensor$1.onTrigger(MotionSensor.java:87)

[2015-01-28 20:42] garvankeeley opened #1442 "Library: when not in Mozilla Stumbler, ensure only one stumbler lib is running at a time"
Could do this with a system-wide intent broadcast at start, and if another stumbler lib responds to the intent, then have the stumbler lib not run.

[2015-01-29 13:59] cascheberg commented on #1433
@MikkCZ you can find all the existing strings here

and you should copy the translated strings into this file

(the ending "-cz" was incorrect, so the file was moved).
Then create a new PR with those changes.

[2015-01-29 17:00] MikkCZ commented on #1433
@swarnava @cascheberg Thank you both. Here https://github.com/mozilla/MozStumbler/pull/1444 is my pull request.

[2015-01-29 17:03] garvankeeley commented on #1441
Being that we haven't seen this in 1.6.1, I think we should be conservative in trying to fix it. I think it is a side effect of 1.6.0 motion sensor bug.

[2015-01-30 14:13] swarnava opened #1446 "Leaderboard is not updating"
I am having issue with mozstumbler, on leaderboard my point is not updating. It is also happening with other two mozillian..is it known issue?

[2015-01-30 15:17] garvankeeley commented on #1446
I'm not aware of a problem,
@hannosch any idea?

[2015-01-30 15:33] garvankeeley commented on #1322
@kbrosnan I got an S5 (with android 4.4.2), and fresh out of the box, it reports it has a sig. motion sensor, and then doesn't trigger on sig. motion. Now to figure out how to handle this...

[2015-01-30 15:49] hannosch commented on #1446
I'm not aware of any problems with the leaderboard.

[2015-01-30 16:41] Djfe commented on #1446
Does the log confirm, that they get uploaded to ichnaea correctly?
Are the new dots appearing on the map?

[2015-01-30 16:46] Djfe commented on #1322
Good luck with that!
Maybe you can do it like crankycoder and use other apps to analyze what the sensor reports in general (especially with screen off)

[2015-01-30 17:29] Djfe opened #1447 "Scanning for cells stops working with the screen off"
It could be a Rom dependent bug. But for some reason my phone seems to report 0 cells back after some time with the screen off. At least mozstumbler shows an only wifi report on the map then.
This is very unlikely because I only sat in a train, which drove through a bigger city and my carrier/provider is the German Telekom though (biggest provider around here)
I guess cell scanning isn't triggered

[2015-01-30 18:04] crankycoder opened #1448 "Startup of stumbler should have a one time onboarding"
We need to have an 'onboarding' experience when the stumbler first starts up.

Some devices (notably the Samsung Galaxy S5) have significant motion sensors that are completely non-functional.

We need this onboarding experience so that the user runs through a couple tests so that we can verify that the significant motion and legacy accelerometers work.

1) For significant motion sensors, we need t

[2015-01-30 21:14] garvankeeley opened #1449 "Motion Sensing V2 Planning"
Next week we need to get the motion sensor working better, lets describe on a high level how we will do this. My proposal:
- Always have fallback legacy sensor running, so that if the sig. motion sensor is failing (like on the Samsung S5) we aren't stuck in paused state
- Come up with a stricter threshold for the linear accelerometer, so that it behaves a bit more like the significant motion senso

[2015-01-31 11:31] swarnava commented on #1446
I dont know whats was wrong exactly, but after doing factory reset, leaderboard seems updating properly.

[2015-01-31 11:31] #1446 closed, assigned to nobody

[2015-02-01 02:00] Djfe opened #1452 "Cannot build anymore (win)"
I get a german error if I try to build MozStumbler at the moment.

the following line in the build.gradle file seems to be the issue:
def gitHash = "git rev-parse --short HEAD".execute().text.trim()

It complains about not being able to find the file (I guess it's about git)

I "registered" git in Android Studio though.

Before it was the portable version that came with the Github for Windows clie

[2015-02-02 06:43] jhesketh opened #1454 "Feature request: Cell and AP details"
This app is a lot of fun, but I think it would be quite interesting to see cell and access point details. Things like signal strength, which towers you were connected to when, what AP's are around and information like SSID and security. Granted some of these sound like war-driving features but it'd actually be interesting to see which towers are the most used, where you'd get better reception, whe

[2015-02-02 14:04] crankycoder commented on #1454
I agree - sometimes.  :)

One of the constant issues with the Stumbler is juggline the user interface constraints.  Some people want to see "all the data" like you.  Others just want to see how many points they are accumulating on the Ichnaea server.  Yet others don't want to see anything at all except the number of final reports which are being uploaded.

There's been experiments to have a homesc

[2015-02-02 14:23] crankycoder commented on #1452
Urgh.  I don't have access to a Windows machine over here.

@garvankeeley - this is your call as module owner, but I think we want to officially support Windows as a build platform.  I'm not sure what to do about CI builds though as Travis doesn't support Windows.  I guess we could spin up a small long running EC2 box for that.

[2015-02-02 14:33] crankycoder commented on #1449
I've reorganized the layout of the motion sensor code in #1453 to push the legacy and significant motion sensor code behind a common interface.   That patch binds only one of the significant or legacy motion sensor into the MotionSensor class, but there's no reason we can't hold onto both.

So on point 1) I agree with you that we should always have the legacy motion sensor available as a backup.

[2015-02-02 14:34] lua86 commented on #1452
I am sorry but I don't see any reason to support W$ as a build platform. I think it is pretty unnecessary hassle

[2015-02-02 14:37] Djfe commented on #1452
It's just useful for me and others that wan't to contribute, but have only Win installed.
I wouldn't need travis for that.

And since building the app through android studio has worked before it might be only a small issue (maybe even on my side)

[2015-02-02 14:47] MikkCZ commented on #1433
Fixed by https://github.com/mozilla/MozStumbler/pull/1444.

[2015-02-02 14:47] #1433 closed, assigned to nobody

[2015-02-02 15:05] garvankeeley commented on #1452
We need all the contributions we can get, so we want to keep our system working on Windows. The whole tech stack should be platform neutral. I think C.I. for it is overkill, but when Windows build bugs come in we should try to fix them.
I am trying to free up hard disk space this week to get a Windows 8.1 VM running on my system. So I'll be able to help look at bugs like this soon.

[2015-02-02 15:07] Djfe commented on #1452
Maybe I could bisect in that time to find out since when it doesn't work anymore

[2015-02-02 19:56] Djfe commented on #1452
so by testing I know for sure now that I'm not able to build anymore since version 1.5.5

the issue got introduced between version 1.5.4 and 1.5.5

v1.5.4 builds fine, v1.5.5 has the same error message as above (maybe the lines are different but the issue is caused by the same line)

[2015-02-02 20:08] Djfe commented on #1452
I guess it was this one:
https://github.com/Mozilla/MozStumbler/commit/70a4b646423cf7581be1c40a7bdb02eb2207ff73

[2015-02-02 20:22] Djfe commented on #1452
Fixed the issue by myself:
I reinstalled git and this time checked the option to make git available in the windows console as well and not only for bash (maybe a stupid issue on my side, but i thought pointing Android Studio to the git executable like before was enough, but since the gradle script itself now uses git...)

worked like a charme now

is .execute a hacky fix or the way to go normally?

[2015-02-02 22:02] garvankeeley commented on #1449
On the S5, at rest, the accelerometer is cycling between ~0 (correct) and ~3-5 (not correct). The latter is a pretty big motion. What is strange is that this cycle is consistent, one good, then one bad reading.

EDIT: nevermind, i am getting both accel. and lin. accel. arriving, will address this.

[2015-02-02 22:25] crankycoder commented on #1449
Do both the linear and regular accelerometer exhibit this behaviour?
On Feb 2, 2015 5:02 PM, "Garvan Keeley" notifications@github.com wrote:

[2015-02-02 22:38] garvankeeley commented on #1449
To follow up, the lin. accel. on the S5 is useless. Sitting on my desk I accelerate to 30 km/hr and then return to 0. And repeat.
However, the accel. code is working perfectly.

[2015-02-03 02:40] crankycoder opened #1457 "Update ./test.sh to run tests in libraries"
There's no easy way to target individual tests in the libraries/stumbler code.

test.sh doesn't work and the ctrl-shift-t shortcut in Android Studio also don't work.

The only way to run tests in the libraries right now is to manually run:

`./gradlew test` from within libraries/stumbler.

This is dumb and will scare off contributors.

**Update:** This is actually worse than I thought.  `make test

[2015-02-03 17:24] garvankeeley commented on #1322
To illustrate how broken the sensors are on the S5. This is the linear accelerometer at rest. It accelerates over time to faster than gravity. This wandering is 100% reproducible.

![u1gketmwnmdlaig6xasqbzugcpdz-5vsxet-1mh8vqm](https://cloud.githubusercontent.com/assets/5495083/6025308/5fc7d4dc-ab9f-11e4-9780-76e27b52cffc.png)

[2015-02-03 17:55] #1441 closed, assigned to crankycoder

[2015-02-03 17:56] #1294 closed, assigned to crankycoder

[2015-02-03 18:03] crankycoder commented on #1323
I'm closing this bug.  I'm going to assume it's the LRUMapTileCache and I really don't want to touch that code as it's created headaches with freeing GPU memory before.

If this continues to be a problem, we can open a new bug and reinvestigate this issue, but for now - let's just handwave and say "bigger problems to fix".

[2015-02-03 18:03] #1323 closed, assigned to crankycoder

[2015-02-03 18:05] crankycoder commented on #1167
Closing this as it's related to cycling between low and high res maps and has been addressed in #1406

[2015-02-03 18:05] #1167 closed, assigned to crankycoder

[2015-02-03 18:45] Djfe commented on #1322
Have you considered letting your S5 get replaced?
You could argue with a hardware failure.
Just to see if all or only some S5s are affected.

What happens if you move?
Can you differentiate movement from this buggy behaviour?

[2015-02-03 19:06] crankycoder commented on #1322
No, this is reproducible on multiple S5 instances.  It's a bug in the Samsung device or firmware.

[2015-02-04 00:35] naoliv opened #1460 "Describe motion sensors"
What exactly is a "legacy motion sensor" and a non-legacy?

[2015-02-04 02:41] crankycoder commented on #1460
Android provides several motion sensors that are available depending on the version of Android you're running and your hardware and chipset support.

Legacy motion sensor refers to our wrapping of the standard accelerometer and linear accelerometer. These basically measure acceleration in 3 directions. The linear accelerometer tries to remove the force of gravity.

Newer higher end devices support

[2015-02-04 02:42] crankycoder commented on #1460
Is there an actual issue here or is this a comment that we should have some documentation around this?

[2015-02-04 03:04] naoliv commented on #1460
One doubt is that I have a Motorola Moto G 2nd generation and I don't know if my device lacks a more advanced sensor or if somehow MozStumbler is misdetecting it.
Another doubt was exactly an explanation/documentation about this.

[2015-02-04 10:00] jhesketh commented on #1454
I would love to be able to help out, but unfortunately this is one of those drive-by feature requests where I just don't have the time or skills to help out. Was mostly hoping to provide food for thought, sorry!

[2015-02-04 13:13] garvankeeley commented on #1454
Edit: commented on the wrong bug :)

With regards to this bug, I desperately want to see the cell towers displayed on the map.

[2015-02-04 13:24] garvankeeley commented on #1460
We are still actively refining this part of the app, so the definitions aren't fully set in stone. Currently, the legacy sensor is using the accelerometer and the non-legacy uses the significant motion sensor.

As for the Moto G, what we are finding is that certain devices are falsely reporting having a significant motion sensor. The next github release will have an attempt at fixing this.

[2015-02-04 18:08] crankycoder commented on #1186
To clarify, this _only_ affects Samsung devices and it appears that Samsung must apply the fix at the OS layer.  There's not much we can do at the application layer.

[2015-02-04 18:13] crankycoder opened #1461 "NPE Crash in 1.6.1 - FirstRunFragment"
[code]

[2015-02-06 15:11] garvankeeley commented on #1449
To filter false positives, check to see if the visible wifis have changed, and then do a quick check for GPS location to see that it is moving. Otherwise sleep again. Works great for me, except for wifi hotspots.
Because you might be surrounded by wifi hotspots, it will appear that your wifi APs are not changing.

[2015-02-06 15:13] garvankeeley commented on #1449
Another approach I have looked at was monitoring the GPS satellites, but not the location, and see if that might be a lower power state while paused. This doesn't work, you can't just listen for the satellites without the GPS active for location also.

[2015-02-06 16:37] riginoommen commented on #1461
What is NPE crASH

[2015-02-06 18:12] riginoommen commented on #1325
https://bugzilla.mozilla.org/show_bug.cgi?id=1130453

[2015-02-06 20:33] crankycoder commented on #1461
It's a NullPointerException causing the application to stop functioning properly.

[2015-02-09 13:10] breversa opened #1465 "Use on-device OsmAnd maps instead of downloading them ?"
Hi there,

For people who use both OsmAnd and MozStumbler, would it be possible that MozStumbler uses OsmAnd maps for display, instead of downloading them again (hence duplicating) ? I'm not thinking of displaying cells IN OsmAnd, just using OsmAnd map data in MozStumbler.

Advantages I see :
- No additionnal use of data, be it wifi or phone network
- High-detail maps all the time
- Some device sp

[2015-02-09 15:17] crankycoder commented on #1465
We can't do that.  Sharing tiles has numerous problems with respect to caching.  OsmAnd assumes that all applications have exactly the same use-case for the tiles - and we don't fit in there.  We used to use the same tile directory but it just lead to problems with incorrect tiles, or mismatched tiles when the stumbler downloaded tiles collided with OsmAnd tiles.

I'm closing this as this is actua

[2015-02-09 15:17] #1465 closed, assigned to nobody

[2015-02-09 15:20] breversa commented on #1465
Okay, thanks for the development history info. :-)

[2015-02-09 15:36] JNKL opened #1466 "Autostart option"
I am letting MozStumbler run pretty much all the time. Autostart/dont-close option would be nice.

[2015-02-09 15:43] crankycoder opened #1467 "SecurityException crash when there is no ACCESS_COARSE_LOCATION permission"
We should try to gracefully inform the user that location permission is required to run properly.

[code]

[2015-02-11 13:40] #1461 closed, assigned to crankycoder

[2015-02-11 13:42] crankycoder commented on #1457
Make test now runs tests recursively on the libraries code,  but the shell script still won't target individual tests.

The groovy hack is still broken.  It won't run individual tests in libstumbler.

[2015-02-11 17:50] crankycoder opened #1475 "Wrap the ApplicationContext with a class."
We need to have a consistent way to hold a context as a member variable.

The only reasonable thing to do is hold onto the ApplicationContext as it's tied to the lifecycle of the process.

https://github.com/crankycoder/MozStumbler/commit/2f91b3fd750f596e051ab45d3cc09ceaebcee9ce#commitcomment-9696914

[2015-02-11 18:52] garvankeeley opened #1476 "Limited zoom setting: when disabled, zoom buttons on map don't update immediately"
The zoom buttons on the map view don't change to reflect that more zooming out is available until the user zooms in (or pinch zooms in or out).

Related to #1474

[2015-02-11 19:34] jaredlockhart opened #1477 "Failure attempting to run make"
I've tried to run 'make' on the repo on two separate machines, a macbook running OSX Yosemite and an EC2 running Ubuntu 14.04 and I get the following on both:

SDK extracted at '/home/ubuntu/.android-sdk'. Writing to local.properties.
No /home/ubuntu/MozStumbler/android/properties/private-github.properties for Mozilla API Key configuration.
No /home/ubuntu/MozStumbler/android/properties/private-gi

[2015-02-11 22:21] garvankeeley opened #1479 "Service startup consolidation: the app uses binding, passive mode uses startService"
Also, the passive mode startService starts the StumblerService on its own thread.
The Mozilla Stumbler app service binding, runs the StumblerService in the main thread.

[2015-02-11 22:51] crankycoder commented on #1477
android-sdk-manager is misbehaving.

I'll update the docs as I'm working on #1428 rigt now - but in the short ter - you basically need to run make twice.  Like compiling your LaTeX in the 90s.

I suggest:

`make clean; make test`

After that - things should only require a single invocation of `make`.

[2015-02-11 22:52] #1477 closed, assigned to nobody

[2015-02-12 02:10] crankycoder commented on #1466
I'm not sure what this means.

On the first run of the stumbler,  the application goes into an active run state.

It remains running unless it's killed or is explicitly stopped.

Do you mean you'd like to have the application automatically schedule itself for restart after being killed?

[2015-02-12 02:11] crankycoder commented on #1460
Closing as not actionable.

[2015-02-12 02:11] #1460 closed, assigned to nobody

[2015-02-13 12:55] cascheberg opened #1481 "Limited zoom feature problems"
@garvankeeley there are some more problems with #1463 / #1474
- zooming out on low-res map becomes blank
- both res types do not show the MLS coverage anymore when zooming out too far
- I think the description text is not quite accurate. I suggest something like: zooming out can increase data usage (instead of conveying that the feature generally reduces data usage)

[2015-02-13 13:36] crankycoder commented on #1481
I'm confirming the first 2 problems :
- if I use only low-res maps and zoom out all the way, maps become blank.
- MLS coverage does seem to disappear on both high-res only and low-res only maps on maximal zoom.

I think the description is ok as it is already.  The default setting is that we limit the zoom and the data usage.

[2015-02-13 19:50] cascheberg commented on #1087
@Djfe I think this issue should be closed, because the original bug is fixed. And in case of remaining bugs, more specific separate issues should be filed.

[2015-02-13 20:15] Djfe commented on #1087
well at least the bug this issue was first about isn't fixed 100%
it still happens at higher zoom levels (when you see more) and in lock mode but it fixes itself after some time again

we could close this as it's a cosmetic issue, though

![2015-01-30 17 15 22](https://cloud.githubusercontent.com/assets/5685512/6194504/5f9b02b2-b3c5-11e4-8dd8-2ee62f8c005b.png)
![2015-02-01 18 32 12](https://cloud.

[2015-02-13 20:15] #1452 closed, assigned to nobody

[2015-02-13 20:16] Djfe commented on #1447
Some screenshots that show my issue:

![2015-01-30 17 15 22](https://cloud.githubusercontent.com/assets/5685512/6194527/8aea6124-b3c5-11e4-96c9-f2840989d357.png)
![2015-02-01 18 32 12](https://cloud.githubusercontent.com/assets/5685512/6194529/8df5c2b4-b3c5-11e4-99b6-45e52f74980d.png)

[2015-02-13 20:19] Djfe opened #1484 "status bar is only updated on intervals -> wrong numbers on start"
if there hasn't happened an upload the last time the app was open then the numbers in the status bar are wrong for some time
In this screenshot there aren't too many, but the status bar should use the actual numbers on app start and then start updating them periodically, I think (faster wasn't possible I think due to interface limitations)

![2015-01-30 17 26 52](https://cloud.githubusercontent.co

[2015-02-13 20:56] crankycoder opened #1485 "XPosed causes intermittent problems"
I've installed xposed to see if I could reproduce some of the issues that we've been reported.

With just the xposed framework and PlayPermissionsExposed installed, I _should_ have no conflicts with the Stumbler, but I appear to.  This crash came about while testing the DemoStumbler which is a example application harness for stumbler library.

The crash happened the instant Strava finished install

[2015-02-13 21:57] crankycoder commented on #1485
Just got another one of these on a different line of code.    I think we just have to not run with xposed.

Since the code is a moving target, for reference, these are crashing on these lines in ScanManager.

[code]

Crash log below:

[code]

[2015-02-15 21:14] Djfe commented on #1485
I'm using xposed and I never had any issues like these (with mozstumbler itself)
->I cannot believe that the setup with using the library will change that much :/

what does the xposed log say? (in the installer app)

what happens with a clean xposed install?
no modules at all, just in case -> maybe your play store is causing issues because something changed in a newer play store version (because

[2015-02-15 21:20] Djfe opened #1488 "experimental unit test support in gradle"
I'm getting notified, right now, everytime I start Android Studio that there is an experimental support for unit tests in the current gradle version now

just wanted to inform you so you could maybe consider it (running tests locally) -> if that wouldn't cause any additional effort of course (if you would need to rewrite the stuff then it doesn't make sense of course

if this isn't any new informa

[2015-02-17 15:23] garvankeeley opened #1489 "What's new: switch to a link to play store What's new"
Too difficult to keep this in sync with the translations with the current method: if we release version x.y and a translation for the what's new is added, we need to release version x.(y+1) to get the updated translation.

[2015-02-17 15:27] garvankeeley opened #1490 "Accelerometer Motion sensor gaps in scanning"
Been testing the latest accelerometer-based power savings on the S5, and results are very good overall.
I ran into one case where the scanning stayed paused, not sure why just yet. The blue arrow is where the scanning stopped at a streetlight and did not restart. One possibility is a GPS problem.
![screenshot 2015-02-15 12 18 22](https://cloud.githubusercontent.com/assets/5495083/6230679/80aa4d88-

[2015-02-17 15:29] garvankeeley commented on #1490
For comparison, this is a correct gap in the data, where I was driving and stopped for 2 mins:
![screenshot 2015-02-15 12 15 28](https://cloud.githubusercontent.com/assets/5495083/6230712/c5eed7f6-b68f-11e4-96ac-15201e283cd0.png)

[2015-02-17 15:57] crankycoder commented on #1490
I've seen the same behavior on the Nexus 4 and Moto G devices while riding the bus back to Newmarket.  I'm in agreement that this is probably some problem with losing the GPS fix.

[2015-02-17 16:16] crankycoder commented on #1485
Hrm. Maybe this isn't XPosed. It's some other bug.  The `mWifiScanner` and `mCellScanner` attributes are null, but I don't see how this is even possible.

[code]

[2015-02-17 16:22] crankycoder commented on #1485
Ah. This is a bad side effect of the simulation code I landed a while back.  This only affects the libstumbler version of the stumbler because it's excercising passive stumbling - a code path we don't actively use in the standalone version of Mozilla Stumbler.

This also doesn't show up in Fennec because the code over there doesn't contain some of the newer changes (like simulation mode) that we h

[2015-02-17 16:47] crankycoder commented on #1488
Hmm.. I'm not seeing this notification.

Do you have a link to an announcement? A quick search on google didn't help me find anything.

[2015-02-17 16:48] crankycoder commented on #1489
As per IRC conversation, let's just push this to a text blurb on the play store.

We can just provide a link in the changelog dialog.

[2015-02-17 19:55] crankycoder commented on #1365
This is causing #1485

[2015-02-18 02:46] crankycoder commented on #1475
I tried to get this in while closing off #1365 but ended up breaking everything.  Note for the next person who tries this - watch for testcase breakage.

[2015-02-18 15:08] crankycoder commented on #1365
Merged in #1492

[2015-02-18 15:08] #1365 closed, assigned to crankycoder

[2015-02-18 15:27] crankycoder commented on #1466
Not actionable.

[2015-02-18 15:27] #1466 closed, assigned to nobody

[2015-02-18 16:18] cascheberg commented on #1484
I think changing the parameter [here](https://github.com/mozilla/MozStumbler/blob/dev/android/src/main/java/org/mozilla/mozstumbler/client/MainApp.java#L277) to `true` will fix the problem. But that will immediately update the notification after creation, and I do not know what that looks like in Android versions that use an animation for that.

[2015-02-18 16:25] cascheberg commented on #1087
@Djfe The blue GPS dot itself is drawn correctly in your screeshots, isn't it?
The only minor issue that I see that is left is

[2015-02-18 16:40] cascheberg commented on #1427
The dialog is mostly a warning about negative impacts of this feature. The description is below the checkbox title.
@garvankeeley How about:

[2015-02-18 16:47] garvankeeley commented on #1427
@cascheberg yes, I think that is an improvement

[2015-02-18 17:22] kparal commented on #1427
I still have no idea what "MLS estimated location" is, neither from the old nor from the new description. If I enable it, I see green dots at places I went through, and some linked red dots which are quite off the path. My request was to help the users (and myself) understand what those red dots mean. I haven't found any documentation on the web that would explain it.

[2015-02-18 17:39] garvankeeley commented on #1427
I can explain and perhaps you can help me shorten the description for fitting on a dialog.

Based on the visible Wi-Fis and Cell Towers, Mozilla Location Service (MLS) can return your location. Those are the red dots on the map. To tie these dots to the actual GPS location, there is a 1 pixel line from the red dot to the GPS dot.
The more stumbling that happens in a given area, the closer the red

[2015-02-18 17:42] garvankeeley commented on #1481
Moved this to developer activity until this is fixed.
https://github.com/mozilla/MozStumbler/pull/1491

[2015-02-18 18:09] kparal commented on #1427
Oh, that's interesting. So basically it shows the location precision based on previous stumbled data. Thanks for explanation.

I'm sure some native speaker will be able to provide a better suggestion, but what about:

If people understand the principle, it can motivate them to stumble more. I didn't know this, and somewhat ignored the blue-covered areas, because of "ah, already stumbled" approach.

[2015-02-18 18:30] crankycoder commented on #1488
I just got the Android Studio 1.1RC1 notification. This is just adding basic JUnit and mockito support. We do both as well as robolectric already.   This seems to add IDE support:

http://tools.android.com/tech-docs/unit-testing-support

But it seems buggy right now according to Stack Overflow - and I get the same bootclassPath error.

http://stackoverflow.com/questions/28434161/android-unit-tests

[2015-02-19 06:39] gpoo opened #1493 "Strategy for saving stumble logs might lead to future issues"
While it is nice to save stumble logs, those are saved in the same directory.

This strategy of saving all these logs in the same directory might have an impact in the filesystem underneath.

Today I noticed that my Nexus 5 had >16.000 of these small files (less than 2Kb each), which took a Nexus 5 between 30 to 60 seconds to show a simple listing.

My guess is that MozStumbler create/access a fil

[2015-02-19 15:15] crankycoder commented on #1439
Fixed in 1df6a71d

[2015-02-19 15:15] #1439 closed, assigned to nobody

[2015-02-19 15:38] crankycoder opened #1495 "NPE when acquiring the AlarmService in v1.6.1"
[code]

[code]

The alarm manager seems to be coming back as null.

[2015-02-19 15:46] crankycoder commented on #1449
We got a bug filed from a Nexus 6 user that the motion sensor had unexpected gaps.

"Stop at some location long enough to cause Stumbler to pause and then resume driving. Make sure to be driving someplace where you don't have active dots from current session so that you can see an active gap in recorded locations."

Trying to get him to hop on the mailling list to provide more information.

[2015-02-19 16:37] crankycoder commented on #1479
I need to read up on the AOSP code to see if there's a real difference between bindService and startService from a thread lifecycle perspective.

[2015-02-19 16:40] crankycoder commented on #1431
We've got JSON export already.

[2015-02-19 16:40] #1431 closed, assigned to nobody

[2015-02-19 16:43] #1488 closed, assigned to nobody

[2015-02-19 17:03] crankycoder commented on #1430
The export feature is a developer option.   You can export the logs the the sdcard.

![2015-02-19_11_44_45](https://cloud.githubusercontent.com/assets/4829/6271539/440adff4-b82f-11e4-903f-75f95e0b1f6b.png)

[2015-02-19 17:03] #1430 closed, assigned to nobody

[2015-02-20 17:11] garvankeeley commented on #1490
Here is a deceleration that should have triggered the sensor and did not:

![screenshot 2015-02-20 12 05 33](https://cloud.githubusercontent.com/assets/5495083/6305378/d64e3e00-b8f8-11e4-9eeb-7c800c29e7ad.png)

[2015-02-20 19:58] crankycoder commented on #1493
Thanks!

We don't currently have a plan to do anything about this right now.   The saving of stumbler logs is a developer option which we put in on request by a user, but we don't have any driving reason to use those files.

Do you think you might be able to contribute a patch to sort this out?

I think you should be able to do this by just patching the lines over at https://github.com/mozilla/Moz

[2015-02-20 20:24] crankycoder opened #1496 "Significant motion sensor doesn't wake up when current location dot indicates movement"
The significant motion sensor doesn't seem to always be hooked into the GPS location.

I think we need to do some work here to capture a delta between the last 2 known GPS locations and force a wakeup.  Here - I'm on a train that is accelerating slowly.  The phone clearly knows that I"m moving - the map centering appears to be correct, but you can see the overlay that indicates that the stumbling

[2015-02-20 20:35] garvankeeley commented on #1496
I would have thought the wifi-based location changes would have triggered the sig. motion sensor. I assumed that was one of the things it was watching as a trigger.

[2015-02-20 20:38] garvankeeley commented on #1496
Updated the title to reflect that the current position dot may be updating based on wifi positioning.

The MapLocationListener.java has both a GPS and a network location listener. It is likely the latter that is changing. And yes we should have that trigger that motion is occurring.

[2015-02-20 21:06] crankycoder commented on #1496
dmesg shows

[code]

which looks like a Motorola chip.

The accelerometers are on the QC chipset, so it seems pretty reasonable that the significant motion sensor isn't seeing the wifi location.

[2015-02-20 21:12] crankycoder commented on #1496
Hrm.. the snapdragon 801 should have wifi on board.

https://www.qualcomm.com/products/snapdragon/processors/801

but who knows. Maybe the wifi location lookups aren't fed back into the chipset.

[2015-02-21 00:04] crankycoder opened #1497 "Add speed to StumblerBundle"
While working on porting MozStumbler to use geolocate and geosubmit, I've noticed that we can add speed to the stumbler bundle.

Grab it from the Location object and check the hasSpeed() method first.

https://github.com/crankycoder/MozStumbler/blob/8ae4bbecaec883f06897e76d0a89de9b73457609/libraries/stumbler/src/main/java/org/mozilla/mozstumbler/service/stumblerthread/datahandling/StumblerBundle.j

[2015-02-21 10:56] hannosch commented on #1497
Yes, we have both a new `speed` and `heading` field in the API. Those actually got added to the submit API as well, put where never provided by mozstumbler.

[2015-02-21 11:02] hannosch commented on #1497
Other differences between the submit / geosubmit API's (not to mention the lower vs. camel case):
- A new `timestamp` field in ms since the unix epoch, no more `time` field using an ISO date string.
- Always put the `radioType` field inside each cell record, don't provide a `radioType` at the top report level - this removes the weirdness with phone type vs. cell type.
- Wifi records have a new `si

[2015-02-21 18:25] Djfe commented on #1087
yeah

that and the blue gps dot gets drawn correctly but other points are drawn on top of it

[2015-02-24 16:52] crankycoder opened #1499 "Geosubmit and Geolocate APIs must be used in the library"
To finish #1428 we need to port to use the geosubmit and geolocate API in ichnaea.

[2015-02-24 16:55] crankycoder commented on #1499
@hannosch, I've sent you emails with JSON blobs for the geosubmit and geolocate data that the new code is submitting.  Not including it here because of (minor) PII concerns.

[2015-02-24 20:18] crankycoder commented on #983
Once #1498 lands, this should make homescreen widgets a lot easier to implement.

Widget docs: http://developer.android.com/guide/topics/appwidgets/index.html

[2015-02-25 09:17] Djfe opened #1503 "Unique number of available cells keeps increasing without a gps fix (on map)"
I think this bug is only optical because afterwards (acoording to the log) only 3 cells were flushed to the disk (report).

If a device doesn't find a GPS fix it keeps on scanning (without the motion sensor), the number of wifi aps stays normal but the number of cells (on top of the map) is steadily increasing (cells that aren't available anymore aren't removed until the device gets a gps fix and

[2015-02-25 09:20] Djfe opened #1504 "file path disappears to fast (export as kml)"
saving a kml file is so fast that you cannot see the file path in one go
the dialog immediatly disappears again

-> solution print out the file path on the sd card with a toast (enough time to read)

[2015-02-25 09:22] Djfe opened #1505 "NPE HTTP response client (log)"
I dunno if this is a bug but I saw this in the log:
![2015-02-23 16 01 28](https://cloud.githubusercontent.com/assets/5685512/6367921/f6b5a6a0-bcd7-11e4-9810-c6757da429c6.png)

it says that this shouldn't have happened (NPE)

the reason that it happened was a bad connection to a cell tower, so maybe you can somehow fix something there (the npe is already being catched, I guess -> else the log entr

[2015-02-25 09:24] Djfe opened #1506 "unlimited map zoom bug (tiles not visible)"
we don't get MLS tiles above the limited zoom level (pls fix this) (I just see the map without the coverage tiles

-on the low resolution mode you don't see any map at all at a certain zoom level (just the circles on the map)

[2015-02-25 09:25] Djfe commented on #1506
#1481

[2015-02-25 09:28] Djfe commented on #1447
![2015-02-21 04 47 46](https://cloud.githubusercontent.com/assets/5685512/6367998/d39924a2-bcd8-11e4-8d50-bd84f084fdea.png)

I drove on the highway for quite some time actually (the distance without cells is about 300kms)

on the way back I plugged in the charging cable and left the display on -> scanning was normal and cells got detected

[2015-02-25 09:34] Djfe commented on #1489
that's the way Chrome Beta does it, but I don't really like the approach (barely anyone would open up his webbrowser to get that info)

either a changelog in the app (where we could do translations)

or a list new changes that is not finished could be translated continuosly until release
if the translator didn't finish his translation before the release the translation won't be there but at least

[2015-02-25 10:35] hannosch commented on #1499
My findings based on the JSON blobs:
- accuracy, altitude and altitudeAccuracy should be floats now, they used to be ints
- remove accuracy and altitude fields from geolocate, those fields only exist for geosubmit
- cell radioType field should be called wcdma instead of umts (gsm, cdma and lte are the other strings)
- You end up sending a negative asu value, which would actually be the signalStren

[2015-02-25 12:15] hannosch commented on #1499
I looked into the cellid / lac -1 issue: The service API was wrong and required all fields. I fixed this in the service code to accept cell entries without cellid / lac fields. This isn't deployed yet.

We didn't hit this yet, since FxOS is the only client sending cell data and it only sends the serving cell and no neighboring cells.

[2015-02-25 16:44] crankycoder opened #1507 "Drop LocationActivity"
This class and the associated test class were added when the simulation code was added.  It's effectively just dead code.

[2015-02-25 17:35] crankycoder commented on #1499
re: ASU being encoded with signal strength or android doing the wrong thing - why pick one?  There was a bug with writing signal strength into the ASU parameter and Android appears to be giving me negative values sometimes.  Still investigating the negative values over here.

[2015-02-25 18:36] Djfe commented on #1506
I closed this because it's a duplicate, but ok

[2015-02-25 22:40] garvankeeley commented on #1506
If someone picks this up as a 'good first bug', ping me and I can point you in the right direction. I think.

[2015-02-25 22:42] garvankeeley commented on #1447
This is a good bug for anyone who can reproduce with their device. I am happy to help on it, I can't repro it on my devices.

[2015-02-25 22:44] garvankeeley commented on #1404
This is fun UI bug for someone to try.

[2015-02-25 22:56] Djfe commented on #1447
The thing is: your device needs to have it's screen off for at least 20min I guess, probably more, but not more than 45min/1hour

I will ask my rom developer if it could be a rom bug

EDIT:
anyways thx for taking your time trying to reproduce this bug ;)

my comment at xda:
http://forum.xda-developers.com/showthread.php?t=2575425&page=116#post59088125

[2015-02-26 18:13] crankycoder opened #1510 "CellID and LAC should be optional fields in CellInfo"
Ichanea has a bug that is in production, but not in the current master branch where CellID and LAC are required fields.

Uncomment the guards in `CellInfo::toJSONObject()` once ichnaea is updated.

[2015-02-26 18:16] crankycoder opened #1511 "CellInfo uses UNKNOWN_CID for fields that are not Cell ID"
This is confusing when reading code.

UNKNOWN_CID is a constant with a value of -1.

The CellInfo class uses that constant for other fields including:
- Timing Advance
- PSC
- MCC
- MNC
- LAC

Go over the CellInfo class and clean this up.   In general, make sure that we have constants defined for field of the CellInfo where it makes sense.

[2015-02-26 18:20] crankycoder opened #1512 "CellInfo refactoring"
CellInfo went through a refactoring where the top level radioType which came from `TelephonyManager.getPhoneType()` was removed.

This means the constructor now takes no arguments, but you must invoke one of:
- setGsmCellInfo
- setWcdmaCellInfo
- setLteCellInfo
- setCdmaCellInfo

to get a valid object.  There is also a constructor to create CellInfo records for a neighboring CellInfo.

All 5 cases

[2015-02-26 20:52] grrrrr opened #1513 "Allow Offline Maps"
A feature request.  It would be good to have the ability for users to download their own offline maps, at the moment I must use Mozstumbler with maps disabled as my data plan is too small for able to have maps downloaded as I stumble.

A solution like c:geo which allows user to download maps and manually install like from http://download.mapsforge.org/ or OSMAnd which allows you to install offline

[2015-02-27 15:27] crankycoder opened #1514 "Turkish translations crash in the MetricsView for 1.7.1"
@asteko - I'm getting crashes in the MetricsView from turkish users.

I'm backing out the turkish translation until we can have that resolved.

[code]