[2014-08-28 20:23] crankycoder commented on #779
I'm closing this as this appears to be a problem with F-Droid.  The stumbler installs just fine on the Nexus 7.  Checksums will be sorted out when we move to the Play Store.

[2014-08-28 20:23] #779 closed, assigned to nobody

[2014-08-28 22:28] Zeriuno commented on #779
Well, honestly I don't think it should be closed until the problem with F-Droid is identified and resolved: is F-Droid allowing to install it now? As far as I know no, it isn't.

[2014-08-29 20:42] Djfe commented on #781
that was due to the fact that the map was locked to the GPS
everytime a gps fix occured the map focussed your current location again
(gps fix=GPS location refresh)

[2014-08-29 20:46] Djfe commented on #758
Reopened, because the issue is that the size turns 0 once the upload starts.
->doesn't represent the real size in the database during upload

[2014-08-29 20:48] Djfe opened #785 "Upload button doesn't respond at first"
I often have to press the upload button at least twice to start uploading. (first press does nothing)
I'm not sure if this is an issue though.

[2014-08-31 13:59] anishgkanchan commented on #664
I'm still not clear about what exactly needs to be done here.
Suppose we maintain the list in a txt file. Then the contents would have to be read by the app and stored in WifiBlockLists.java
And hence if the user adds some new SSIDs in the file, even they will get read by the app.
But then this would mean that every time the app starts, it will read the file and store it's SSIDs. Wouldn't this mak

[2014-08-31 21:21] Djfe opened #786 "Geofencing visual issues"
1st issue:
Geofencing is written black and only visible for me in portrait mode
I cannot scroll to it in landscape mode

this happens on my Sony Ericsson Xperia Arc S (running Carbonrom(Kitkat))

on my Samsung galaxy tab 3 10.1 it is not visible at all

on both devices I have never used the geofencing functionality

![2014-08-29 17 44 30](https://cloud.githubusercontent.com/assets/5685512/4103257/

[2014-09-02 06:45] ghost opened #788 "Upload Button Crashes on First Try"
Upload Button Crashes MozStumbler on first try then have to restart it and try again which works.

[2014-09-02 06:46] ghost commented on #780
Hannosch, Will we ever see a port? The FxStumbler seems to be less user friendly than MozStumbler and also has not seen updates in months.

[2014-09-02 11:02] hannosch commented on #780
@bkerensa Current priorities on the client side are finishing up the Fennec/Stumbler integration, polishing MozStumbler for a 1.0 release and then look at the FxOS story in Q4/2014. That might both be helping out with FxStumbler or integration stumbling into FxOS itself.

[2014-09-02 13:16] garvankeeley commented on #788
Which build are you using?

[2014-09-02 13:16] garvankeeley commented on #785
I assume this is on the latest beta 0.21.0?

[2014-09-02 13:22] Djfe commented on #785
Yes
I should've already provided that info in the first place

[2014-09-02 13:27] garvankeeley opened #789 "UI Redesign: Move Log, Upload, Leaderboard, Settings, About, to be navigable from MapActivity"
The redesign of the app is to make the map the main screen, these screens are currently accessed from the MainActivity screen which will no longer be the main activity.
These screens need to move to be sub activities of the map view as part of our 1.0 redesign.
Also need to consider the priority of these, which should be shown on the toolbar, which should be on the options menu, which should get i

[2014-09-02 13:34] garvankeeley opened #790 "UI Redesign, MapActivity: Icons for Cells and WiFis instead of text"
I realize that text labels on the screen create difficulties with layouts on small screens, and localized text. Better to use icons like @keverets did for the top bar that has the GPS info.

[2014-09-02 13:41] garvankeeley commented on #772
Looks great!

[2014-09-02 13:41] #772 closed, assigned to nobody

[2014-09-02 14:48] crankycoder commented on #783
This is fixed in #782

[2014-09-02 15:05] garvankeeley commented on #757
This is superseded by #773

[2014-09-02 15:06] #757 closed, assigned to nobody

[2014-09-02 15:07] #731 closed, assigned to nobody

[2014-09-02 15:13] garvankeeley commented on #765
We will likely change to just drawing collection points, and not joining the lines

[2014-09-02 15:16] garvankeeley commented on #557
This is fixed closing, yay :)

[2014-09-02 15:22] crankycoder opened #791 "Pull geofencing code out and target a post 1.0 revision"

[2014-09-02 15:27] crankycoder commented on #746
Pretty sure this is fixed in #782 - we should double check when that lands.

[2014-09-02 15:28] garvankeeley commented on #732
I think @keverets fixed this as part of other work, I'll leave this for myself to recheck any place we are doing this.

[2014-09-02 15:33] garvankeeley commented on #582
The current map view is now functional, so we don't need this for 1.0. In future may still be an option

[2014-09-02 15:37] garvankeeley commented on #336
Part of this has been addressed by showing the collection points on the map. The other part of this is to show on the map the cell and wifi info at each collection point. Hopefully for 2.0? :)

[2014-09-02 15:42] garvankeeley opened #792 "UI Redesign: Start/Stop button on Map Activity"
The redesign of the app is to make the map the main screen, therefore it needs a start/stop scanning button.

[2014-09-02 15:43] crankycoder opened #793 "We need to add telemetry code"
The stumbler is embeddable so we can't reuse the telemetry code in Fennec which ends up calling javascript to send the telemetry data back.

Need to figure out exactly what telemetry events we need to be capturing.

We should at least have _some_ telemetry for 1.0.

[2014-09-02 16:41] garvankeeley opened #794 "UI: First run experience"
As part of the product experience: the first-run should:
- have a legal dialog (if needed)
- brief explanation of the app (VERY brief)
- door hangars on key buttons/icons to explain what they do

[2014-09-02 16:47] garvankeeley opened #795 "UI Redesign: with the loss of the MainActivity, consider what stats are missing and where to show them"
For 1.0, the main activity will be the map view. We need to consider the UI impact of losing this information viewed on the MainActivity, and where else we can put any items we deem relevant.

[2014-09-02 18:03] sawrubh commented on #777
https://www.dropbox.com/s/m1h87vnazexz8ty/Screenshot_2014-09-02-01-07-53.png - I keep getting this message after I updated to the latest MozStumblr (0.20.9). Maybe this is the same issue.

[2014-09-02 18:07] sawrubh opened #796 "Button to check for updates manually"
There should be a button in "About MozStumblr" which should allow to check for updates.

[2014-09-02 18:17] Djfe commented on #777
Yes it's the same.
@garvankeeley you can close this as well, since it has been fixed already.

@vsessink @sawrubh just update to 0.21.0 using the link above ;)
(the app inbuild installer doesn't update to betas)

[2014-09-02 18:24] Djfe commented on #796
why?
there is an inbuild update task that searches for updates on the app start.

I assume that you are a new user, else you would have seen the window appear already.

at the moment 0.20.9 is the current version and there are no issues with it except the "Unfortunately MozStumbler ahs stopped working" bug which is not a big bug.

0.21.0 is a beta because so much code got changed that some experie

[2014-09-02 18:32] Djfe commented on #794
- #430
- brief explanation/door hangers should include an explanation of the geofencing function
  *a dialog that asks whether the user wants wifi only for uploading ( #555 )
  *maybe a dialog whether the user wants to be listed in the leaderboard (so that he can enter his username)

@cpeterso has posted two things somewhere he wanted to see in a first run dialog, but I don't find it anymore, mayb

[2014-09-02 18:34] Djfe opened #797 "mark out geofenced area on the map"
the geofenced area should be marked out in the map page/main page

[2014-09-02 18:37] Djfe commented on #791
I'm strongly against this, because I guess a lot of users might use this function and won't realize that it is missing if they update to 1.0

just leave it in until the revision

some stuff that should be changed in the revision, in my opinion:
- #786
- ~~#558~~ and #424
- ~~#445~~
- #797

[2014-09-02 18:43] Djfe commented on #795
in my opinion we should use a slider from the left like the play store does (where it shows my apps, etc. and a settings button below)

there we show the upload stuff on top (sent and queue)
including the missing stats

below that a line that separates it from the buttons that open the settings, logs, leaderboard etc.

Edit:
and image from the documents app that shows such a "slider"-page as well:

[2014-09-02 18:46] Djfe commented on #789
ups wrote something for the wrong issue page here first

in #795 I described a way how to do it:
with slider page I mean something like this:
http://i.crn.com/slideshows/2014/android_kitkat/07_openFile.jpg

[2014-09-02 18:46] Djfe commented on #790
just three squares with an icon inside and something like 2/10 (for GPS, cells and wifis)

more detailed explanation is shown in the slider page then (which I described in #795 )

and we should use a different slider for zooming in and out
the one with the plus and minus symbols at the bottom of the page looks like gingerbread...

[2014-09-02 18:51] vsessink commented on #777
Hi, I already updated to 0.21.0, this version doesn't have the bug mentioned in this bug report, but the "stop scanning" button doesn't work anymore. Maybe it's a known bug - didn't have time to search for/file a new bug yet.

Best regards,

Valentijn

On September 2, 2014 8:17:26 PM CEST, Felix Baumann notifications@github.com wrote:

##

Mobiel verzonden, daarom kort.
Durgerdamstraat 29, 1507 JL

[2014-09-02 18:56] Djfe commented on #777
it works it's just a visual glitch/bug
it's known already, and will be fixed in the next version
#761

[2014-09-02 19:22] crankycoder commented on #777
@vsessink I've patched the stop scanning button as of #782.  I'm closing this as it's apparently been fixed in 0.21

[2014-09-02 19:22] #777 closed, assigned to nobody

[2014-09-02 19:23] crankycoder commented on #761
closed in #782

[2014-09-02 19:23] #761 closed, assigned to crankycoder

[2014-09-02 20:04] garvankeeley opened #798 "DataStorageManager: internal cleanup, refactor stateful iteration"
During Fennec review this issue came up, should address this.

[2014-09-03 08:26] cpeterso commented on #664
The app would need to read the SSID list every time it starts, but that should be pretty fast. I don't think it would cause any noticeable performance problems.

[2014-09-03 14:01] crankycoder commented on #445
I'm closing this as the API level requirement is too high (API 18) and it's far from clear that it will provide us with any benefit beyond what we currently do for geofencing anyway.

[2014-09-03 14:01] #445 closed, assigned to nobody

[2014-09-03 14:02] crankycoder commented on #558
Closing as duplicate of #424.

[2014-09-03 14:02] #558 closed, assigned to nobody

[2014-09-03 14:14] crankycoder commented on #424
Just a small comment re: https://github.com/mozilla/MozStumbler/issues/424#issuecomment-35522504, #423 was already merged in but did not address the issues in https://github.com/mozilla/MozStumbler/issues/424#issue-27891597 to :
- Configuring the radius for the geofence
- Managing a list of geofences

[2014-09-03 14:40] crankycoder commented on #791
@djfe - I've double checked those issues you've listed and marked #558 and #445 closed as one is a duplicate and the other is a problem with respect to minimum API level requirements.

Unfortunately, we've got limited resources to apply against the geofencing feature and we would really like to push a nice polished release for 1.0 and we are aggressively reducing scope right now to meet that goal.

[2014-09-03 17:46] Gitschubser commented on #796
I would allow both,
- check updates manually and
- check updates automatically.

  I use v0.20.5 and always the app asked for the new update. ;-(

[2014-09-03 17:48] Gitschubser commented on #794
First-run could include the changelog after a update.

[2014-09-04 00:50] Djfe commented on #445
One advantage is that you can setup several spots for geofencing with it.
another one is that it might reduce power usage
It's an idea for future releases when almost every device supports api 18

[2014-09-04 01:16] Djfe commented on #794
Thx that was the one that was missing ;)
(the one @cpeterso listed somewhere)

[2014-09-04 22:14] Djfe commented on #764
hopefully this behavior  gets fixed before the next release

it could cause quite some confusion, if the numbers are that low
(I sometimes see 0 wifi aps in the queue even though I definitely scanned some...)

[2014-09-04 23:03] Djfe commented on #796
Why don't you update, is there any reason?

[2014-09-05 15:24] crankycoder opened #808 "Fork OSMDroid"
We need to fork OSMDroid to fix performance and rendering issues.

New repo is at: https://github.com/mozilla/osmdroid

[2014-09-05 15:48] crankycoder opened #809 "Review the threadsafety of StumblerService"
There's a bunch of possible threading issues in StumblerService. We should do a proper review and expose a threadsafe interface.

[2014-09-05 20:09] crankycoder opened #811 "Enable NMEA checks for passive stumbling"
We only check NMEA data during active stumbling.   We should be checking when Fennec is doing passive stumbling.

See: https://github.com/crankycoder/MozStumbler/commit/53f7dc68279216b555f666cec64603180b73ee1f#commitcomment-7681578

cc/ @garvankeeley

[2014-09-05 20:52] garvankeeley opened #813 "For the WiFi/Cell/GPS Scanners: Replace Intent-based messaging with callbacks"
The existing system causes confusion like I discussed here:

https://github.com/crankycoder/MozStumbler/commit/d75bdf4eff95325d005fedffc869b2ffda8e2f0e#src-org-mozilla-mozstumbler-service-stumblerthread-ireporter-java-P26

[2014-09-05 20:53] #510 closed, assigned to crankycoder

[2014-09-07 17:41] Gitschubser commented on #796
With v0.21.0 it is not possible to locate me via wifi or cellid and i want that feature!
When i want to show my position via GPS i use Osmand.

[2014-09-08 17:07] Djfe commented on #796
but that has nothing to do with this issue
and you reported it already in: #747

[2014-09-08 18:51] Gitschubser commented on #796
I can't follow you.

You asked me: Why don't you update, is there any reason?
I answered: With v0.21.0 it is not possible to locate me via wifi or cellid and i want that feature! .....

After i have tested v0.21.0, i downgraded back to v0.20.5 and opened #747.

[2014-09-08 21:16] #735 closed, assigned to nobody

[2014-09-08 21:58] Djfe commented on #796
oh I'm sorry... definitely my fault
I totally missed what I had said before and only looked at the thread's first entry at the top

ok that's a valid and good reason but I'm not sure whether this will be changed before 1.0 release

[2014-09-10 00:16] #557 closed, assigned to nobody

[2014-09-10 00:16] garvankeeley commented on #732
No longer seeing any problems

[2014-09-10 00:16] #732 closed, assigned to nobody

[2014-09-11 15:34] #791 closed, assigned to crankycoder

[2014-09-11 15:43] garvankeeley opened #818 "OSMDroid: for Mozilla builds, increase the tile load thread count from 2"
This is killing the performance of the map view:
https://code.google.com/p/osmdroid/source/browse/trunk/osmdroid-android/src/main/java/org/osmdroid/tileprovider/constants/OpenStreetMapTileProviderConstants.java#48

For Mozilla builds, which use the MapBox commercial service, we should load like a web browser and use 6-8 simultaneous requests.

[2014-09-11 15:55] garvankeeley commented on #759
To fix this problem, I had to delete /sdcard/osmdroid/*sqlite.

Things that did not fix this:
- uninstalling the app
- deleting /sdcard/osmdroid/tiles

Since deleting the sqlite files, they have not reappeared. I have no idea why the sql was there (I assume some other OSMDroid app I installed used sql-backed tiles) or why the tiles for our app were partially managed by the sqlite db.

[2014-09-12 12:35] crankycoder commented on #818
Moved issue to here: https://github.com/mozilla/osmdroid/issues/2

[2014-09-12 12:35] #818 closed, assigned to nobody

[2014-09-12 17:43] garvankeeley opened #826 "Updater Unit Test: update Mozilla builds only"
MainActivity onCreate has this:
 if (BuildConfig.MOZILLA_API_KEY != null) {
            Updater.checkForUpdates(this);
 }

This would be a good item to unit test so it doesn't get broken

[2014-09-12 17:44] garvankeeley opened #827 "Map view locate me button: doesn't animate"
This button should animate on tap (darken or lighten). This was left as a TODO item in the code.

[2014-09-12 20:00] #808 closed, assigned to crankycoder

[2014-09-12 20:09] ryanfeeley opened #829 "UX Design Document"
User flow diagram and low fidelity wireframes for MozStumbler 1.0 planning.
https://www.lucidchart.com/documents/view/73aa0a22-f817-4d28-8cf5-eabbd9b1bc2c

[2014-09-12 20:33] garvankeeley opened #830 "Map view performance: limit the number of observations points drawn"
We can just draw observation points with no upper limit, on older devices this could bog them down.

@keverets suggestion is to time bound the drawing code. This would be the simplest approach to start with. The points are stored in order, so we could iterate from newest to oldest, and stop after 100ms (or something similar).

[2014-09-12 20:34] garvankeeley opened #831 "Notification Icon doesn't match App Icon"
The updated app icon should be used for the notification icon.

[2014-09-13 01:33] garvankeeley opened #836 "Auto-follow mode: indicate using icon that this is on/off"
This is a follow-up item from #834.
Ideally, the icon would be a different style/color when auto-following the users GPS position.

[2014-09-13 16:39] garvankeeley opened #838 "Reminder: "keep screen on" commit from master to dev"
Landed on master instead of dev, fix on monday

[2014-09-13 20:42] cpeterso commented on #767
@Djfe: what Android OS version are you using? I'm using JB 4.3.1. When my "Scanning always available" system setting is disabled and I enable MozStumbler's "Always scan Wi-Fi", I get a Deny/Allow dialog asking if I would like "To improve location accuracy and for other purposes, MozStumbler wants to turn on network scanning , even when Wi-Fi is off. Allow this for all apps that want to scan?"

Thi

[2014-09-14 03:09] Djfe commented on #767
Those ideas are similar to #517

There are likely values that you could read out to find out whether mozstumbler is able to scan wifis and cells atm

But there is more than one setting (airplane + hotspot disable some stuff as well)

[2014-09-14 19:28] Gitschubser opened #841 "Add Offline Geolocation with cellids"
Is it possible to add a "Offline Geolocation" with cellids?
Maybe you can select your mcc and mnc in mozstumbler and download the data (MLS export) only from this provider.
This could be useful
- if data connection is not possbile because mobile reception is too bad
- if i am in foreign countries and roaming
- if the data volume is consumed
- to reduce the requests to the api

[2014-09-14 19:51] Djfe commented on #767
I'm using Kitkat 4.4.2 btw.
In my opinion we should leave the setting in. It's not confusing and most of the people should be able to understand it.
a help page/entry for this is only needed if we leave this setting out and check automatically whether it is turned on in the system settings

for the value: this is what you have been looking for ;) :
http://developer.android.com/reference/android/ne

[2014-09-14 19:52] Djfe commented on #555
is it possible to check this:
http://developer.android.com/reference/android/net/ConnectivityManager.html#getNetworkPreference%28%29
before making a decision for the default state of this setting?

[2014-09-15 04:37] cpeterso opened #842 "Map view only draws observation points when the map view is open and screen is on"
This is frustrating because I will shut off my screen when I'm driving and, when I reach my destination, I have no intermediate points.

[2014-09-15 04:41] cpeterso opened #843 "App reverts from map view to main view when screen is turned off"
STR:
1. Open map view
2. Manually turn off screen
3. Main screen turn on!

RESULT:
The app has reverted to the main/stats view and is no longer in the map view. This behavior might interact with issue #842, where observation points are only drawn when the map view is open and the screen is on.

[2014-09-15 04:47] garvankeeley commented on #842
Thanks for the report, confirmed here also.

Note to self, hook this up properly in ObservedLocationsReceiver.java

[2014-09-15 04:52] garvankeeley commented on #843
That is weird behaviour for sure. I think this one will get automatically closed with the next release, we plan to make the map the main view and the detailed stats (now called Metrics) as a overlay.
Issue #829

[2014-09-15 13:39] Djfe commented on #843
Doesn't happen to me.
Are you able to reproduce this @garvankeeley ?

[2014-09-15 15:50] crankycoder commented on #826
I'm going to add this into my fix for #629

[2014-09-15 16:08] garvankeeley opened #844 "Hookup SimpleKML"
First step in data export (and import?) is to have this lib in the codebase:
https://github.com/Ekito/Simple-KML

[2014-09-15 23:44] #766 closed, assigned to nobody

[2014-09-16 00:12] #744 closed, assigned to nobody

[2014-09-16 00:13] garvankeeley commented on #750
I believe this to be fixed by #817

[2014-09-16 00:13] #750 closed, assigned to nobody

[2014-09-16 00:22] garvankeeley commented on #838
Pushed it to dev.

[2014-09-16 00:22] #838 closed, assigned to nobody

[2014-09-16 14:23] #844 closed, assigned to crankycoder

[2014-09-16 15:35] crankycoder commented on #763
Closing this as #817 was merged

[2014-09-16 15:37] crankycoder commented on #733
Closed as of #817 landing

[2014-09-16 15:37] #733 closed, assigned to nobody

[2014-09-16 15:38] crankycoder commented on #746
Closing this as a duplicate of #782

[2014-09-16 15:38] #746 closed, assigned to nobody

[2014-09-16 15:39] crankycoder commented on #765
Closed as of #817

[2014-09-16 15:39] #765 closed, assigned to nobody

[2014-09-16 15:42] garvankeeley commented on #771
no longer relevant

[2014-09-16 15:42] #771 closed, assigned to nobody

[2014-09-16 15:45] crankycoder commented on #771
This is related to implementing a passive stumbling mode for Android. We'll revisit this after 1.0.

[2014-09-16 15:45] crankycoder commented on #773
Closed as of #835

[2014-09-16 15:45] #773 closed, assigned to nobody

[2014-09-16 15:45] #783 closed, assigned to nobody

[2014-09-16 15:48] #830 closed, assigned to nobody

[2014-09-16 15:53] garvankeeley opened #849 "Leaderboard: capture email addresses"
Although we would like to have Fx accounts integration, we can't get that for 1.0. We should as a stopgap, grab email addresses.

[2014-09-16 18:35] crankycoder opened #851 "Pin the platform version when compiling"
Related to:  https://github.com/crankycoder/SimpleKML/commit/62788d1e9324eb883d5ab0e2ea90b8c5a2af9e23

We need something like this:

[code]

added to the gradle build to pin the platform compatibility.  classes.jar is Apple's awesomely renamed rt.jar, because renaming JAR files is innovative.  No wait. I mean terrible and confusing.

We can probably force setting a JAVA6_HOME in local.properties o

[2014-09-16 18:55] crankycoder commented on #809
Closed in #812

[2014-09-16 18:55] #809 closed, assigned to crankycoder

[2014-09-17 06:49] mikaland2 commented on #430
Hi, I just commented in Bug 1007264.  LMK if you have questions.  Thanks!
Mika

[2014-09-17 19:00] crankycoder commented on #767
Merged in #853

[2014-09-17 19:00] #767 closed, assigned to crankycoder

[2014-09-17 22:14] Djfe commented on #763
Does #817 really fix this issue or does it just obscure it by only showing the points and not connecting them?

the real issue here is that Mozstumbler should ignore faulty GPS positions at the beginning of the scan/ignore faulty positions in general (ignore too unaccurate outliers)

[2014-09-17 23:03] garvankeeley commented on #763
Sorry, I saw this as a UI bug, but it is actually a observation accuracy issue.
I do see some wandering but the reported accuracy of the GPS still looks reasonable (by looking at the accuracy radius), so I don't see an obvious way to filter this.

[2014-09-18 17:43] crankycoder opened #856 "Add prompt for email address after collection data has reached a threshhold"
Prompt for a user email address after we've collected some data.  This will effectively only capture people who are already actively engaged.

@garvankeeley @ppapadeas

[2014-09-18 17:52] crankycoder opened #857 "Tracking of user metrics should keep a time series of data"
This is partly an ichnaea server related bug.

We want to be able to track a particular user's contributions over time.  This time series data should be visible to the user.

@ppapadeas

[2014-09-18 19:27] garvankeeley opened #858 "Slow to show first GPS location"
We should start with the last location, it takes too long for the GPS to start showing the blue dot.

[2014-09-18 19:33] garvankeeley opened #859 "Drop API 8 (Froyo) support"
This is <1% of android users, and it isn't something we want to test on or support.

Also, when working on UI code, API 8 is missing things that make UI coding a bit easier (although we could say that about any older android API, _anything_ that makes the UI coding easier is appreciated as we have lots of work to do there).

I believe API 10 is the next logical jump (Gingerbread)

[2014-09-18 19:40] QuandHarryViste commented on #858
+1 (Android 2.x)

[2014-09-18 20:02] QuandHarryViste opened #860 "Upload issues: add a "Resume Upload" Button"
Some of my data are sometimes stuck in the app, because the upload seem never complete (while my home WiFi is OK for other apps).
If I reboot the phone, data are lost.
A "Resume Upload" function would help.

[2014-09-18 20:07] QuandHarryViste opened #861 "uploaded data should be encrypted"
Uploaded data should be encrypted: are they ?

[2014-09-18 21:07] garvankeeley commented on #860
Thanks for the report. This is surprising, since the app saves data as files on disk and deletes them only when upload complete. You may have a few recent collections held in memory that can get lost if the app is killed suddenly. Can you provide more detail as to what you are seeing (some screenshots maybe).

[2014-09-18 21:08] garvankeeley commented on #861
Yes all communication is https, in AsyncUploader, the submit url is
 private static final String SUBMIT_URL = "https://location.services.mozilla.com/v1/submit";

[2014-09-19 07:28] Djfe commented on #858
Or MozStumbler could prefer MLS over last location over GPS for the first screen ;) (if a data connection is available(has to respect the wifi only setting)

[2014-09-19 14:03] crankycoder opened #862 "Get rid of the Updater code for the 1.0 release"
The Play store will handle code updates of versions for us, no need to run our own updating code.

[2014-09-19 14:07] crankycoder opened #863 "Clean up versionName and versionCode in AndroidManifest to use variables"
The build system needs to be cleaned up so that versionName and versionCode are handled in reasonable ways.

The presentation at https://github.com/Goddchen/Android-Gradle-Examples
https://github.com/Goddchen/Android-Gradle-Examples has some good tips on how to do this.

[2014-09-19 15:01] lua86 commented on #862
I do not think it whould be a good idea, as some people do not want google
play store.

[2014-09-19 16:00] #629 closed, assigned to crankycoder

[2014-09-19 18:35] crankycoder commented on #862
@lua86 are you talking about the F-droid release?  There's a related issue with releasing the MozStumbler with unofficial Mozilla builds - the unoffical builds do not use our much faster performing tile server for maps.

@garvank I've made pretty big changes to the build system as of landing #864.  We could split the builds into different 'flavors'.  The change would amount to adding an extra buil

[2014-09-19 19:39] crankycoder opened #865 "Revisit the updater code"
I nuked the updater code in #864, we need to bring it back but make it safer.

Some points:
- broken commits shouldn't break all our clients because of a bad version string in VERSION_URL
- we need to make the updater conditional so that we only use it for non-Google play build flavors.

[2014-09-19 21:11] crankycoder opened #867 "Wifi count seems to be off by one"
I'm in an area where I'm sure there are no wifi access points. The count is still showing 1 though.

[2014-09-19 21:15] garvankeeley commented on #867
check the on-device scan, is that empty?

[2014-09-19 21:28] narfg commented on #867
I can confirm that the WiFi count sometimes shows 1 in completely remote areas and almost never goes to 0. However, I don't think it's an error in MozStumbler because the number seems to be consistent to the WiFi scan in Android. I guess that either Android or my phone's WiFi driver (Nexus 5) seem to be reluctant to empty the list of available networks.

[2014-09-21 04:23] gpoo opened #869 "No collection: observation count increases, but no data in queue, no data uploaded"
I've been stumbling for some a days with 0.30, and it was worrying me a little that the "In queue" section was always in 0.  My first thought it was uploading as it was collecting the information.  When I saw the log, I saw my multiples positions in green text.  I noticed it was kind of different than 0.21, but I thought it was one of the visual changes, too.

However, under "Sent" the number of o

[2014-09-21 07:53] cascheberg commented on #867
Same for me on a Nexus 4 (Android 4.4.4). Sometimes the count does go down to zero, sometimes it does not.

[2014-09-22 00:50] rodmoreno commented on #869
I can confirm this on my Moto G KitKat Android 4.4.4

I scanned for a few hours and I have come to scan up to +1000 APs Wi-Fi, but when I get to my home and visualize the window to upload the data I see around 300 APs Wi-Fi ... :S Both the observations and cells are correct, it has only happened to me with APs Wi-Fi

[2014-09-22 14:33] crankycoder commented on #859
This change went in in #864

https://github.com/mozilla/MozStumbler/pull/864/files#diff-7ae5a9093507568eabbf35c3b0665732R46

[2014-09-22 14:33] #859 closed, assigned to nobody

[2014-09-22 14:49] crankycoder commented on #831
Merged #872.

[2014-09-22 14:49] #831 closed, assigned to nobody

[2014-09-22 15:11] crankycoder commented on #851
I'm closing this as I just didn't understand the problem when I filed the bug.  Android SDK just uses Java 1.6 anyway, the SimpleKML jar file was just compiled with JDK 1.7 for no good reason.  There's no way you could compile our Android app with Java 1.7.

[2014-09-22 15:11] #851 closed, assigned to crankycoder

[2014-09-22 15:24] crankycoder opened #873 "Drop android-library directory structure"

[2014-09-22 15:40] garvankeeley commented on #869
are you seeing 'Send data' messages in the log?
![screenshot 2014-09-22 11 38 40](https://cloud.githubusercontent.com/assets/5495083/4359014/bc33539e-426e-11e4-8bf0-9803c7eaa4ac.png)

[2014-09-22 17:11] gpoo commented on #869
Nope, and 0 observations to upload.  Although, it seems to capture data, the map shows plenty of green dots, too.

[2014-09-22 17:17] garvankeeley commented on #869
I wonder if it is a filesystem error, the app expects external storage (or 'virtual' external storage). I should make sure these types of errors are going to the GUI log, instead of just ADB log.

[2014-09-22 18:20] crankycoder opened #877 "Need to expire coverage map tiles or users won't see updates to coverage"
We seem to have over aggressive caching of tiles because of OSMDroid.   Not sure what the tile expiry policy is.

[2014-09-22 18:45] gpoo commented on #869
What would it happen if tools like Link2SD were in use? That might make the app to think it is using the internal memory, I guess.  FWIW, a while ago (for a bug in a version I don't recall at this moment) MozStumbler filled the memory. Then I got Link2SD to prevent such kind of events.

[2014-09-22 20:52] crankycoder commented on #873
Merged in #874

[2014-09-22 20:52] #873 closed, assigned to crankycoder

[2014-09-23 07:28] Djfe commented on #877
I think there is no policy
At least old tiles got only updated to the newest version for me if I deleted the folder.

[2014-09-23 08:14] Djfe commented on #869
This is the same issue I have been experiencing since the update. 0.30 seems to be broken
the scanning works. Observations are "recorded" and shown on the map and in the statistics in the main activity.
But nothing appears in the queue and no upload is happening at all.
->upload date doesn't change and upload button stays greyed out.
(screenshots were made on 19th, last upload was on 13th)

In the

[2014-09-23 14:29] garvankeeley commented on #869
@djfe can you check the log window for 'Send data' messages. If you are not seeing those, that is bad.

[2014-09-23 15:06] garvankeeley opened #879 "Lower drawing timeout from 150ms"
Issue #837 limited drawing to 150ms so large numbers of observation points don't kill the rendering. @keverets further pointed out we should be considering what framerate the produces.
30 fps is ~35ms/frame, I am finding half that rate looks ok on the map. Still deciding on what time limit to use.

[2014-09-23 17:16] gpoo commented on #869
FWIW, this kind of record is all what I get:

![screenshot-1411444743111-d](https://cloud.githubusercontent.com/assets/877181/4376496/21a32678-4346-11e4-98b9-fcf722b5051e.png)

Which is, no data.

I was going to paste the other screens, but @djfe already put something similar that what I see, as well.

[2014-09-23 23:40] Djfe commented on #869
@gpoo log looks exactly the same for me.
@garvankeeley no send data messages at all, sadly :(

[2014-09-24 14:16] garvankeeley commented on #877
Thanks @djfe, we'll have to figure some expiration policy out in the app.

[2014-09-24 14:20] garvankeeley commented on #869
The good thing, is this isn't an upload issue. The bad thing is I don't know exactly what is happening. Each blue GPS line means that the app has received a GPS that is valid for stumbling. It _should_ be followed by a line with the cells and wifis scanned. No collection is taking place here, but why?
The observation point display on the map is a bit disconnected from the reporting system, I think

[2014-09-24 18:56] crankycoder commented on #793
We should be able to reuse the telemetry code that is tested here for Fennec.

https://hg.mozilla.org/mozilla-central/file/tip/mobile/android/tests/background/junit3/src/telemetry/TestTelemetryRecorder.java

[2014-09-24 21:17] crankycoder opened #880 "Add a buildstep to enforce a rule that android APIs are used only in some packages"
We should really try to make sure that each package is explicitly **android** or **pure java**.

This would go a long way to making the stumbler more testable as we can use pure JUnit tests on the java codebase and fallback to robolectric or robotium for Android specific tests.

[2014-09-25 06:42] cpeterso commented on #430
Bug 1007264 is about Fennec's setting text. This bug is about MozStumbler's first run, which doesn't actually exist. :)

[2014-09-25 06:47] cpeterso opened #881 "Add something to MozStumbler's User Agent string to identify Google Play Store builds"
For user stat reporting, we want the server to be able to differentiate between our Google Play Store builds, our GitHub APK releases, third-party builds (e.g. [F-Droid](http://fdroid.org/)), and local developer builds.

[2014-09-25 06:49] cpeterso opened #882 "Prepare app description and screenshots for Play Store"

[2014-09-25 06:55] cpeterso opened #883 "Link to MLS home page and privacy policy"
MozStumbler should probably link to the MLS home page and privacy policy:

https://location.services.mozilla.com

https://location.services.mozilla.com/privacy

[2014-09-26 07:36] cascheberg commented on #764
This problem still occurs in the v0.30.0 release. Even the increase of the sent data values after uploading seems to be rather random.

[2014-09-26 08:56] Djfe commented on #883
The link to MLS is already there in the about page.

[2014-09-26 11:37] swarnava commented on #869
reproducible on Samsung Galaxy SII and Android 4.1.2

[2014-09-26 17:24] crankycoder opened #886 "Add Info level debugging for discrete events"
We should have better INFO level logs for important events which we'd like to see during normal runs.

Grepping the code and excluding verbose, debug and error logging shows barely any useful logs that show the program is operating normally.  Having these non-error events logged will assist us in determining if the stumbler is behaving in a relatively normal way.

[code]

I'd like to see INFO mess

[2014-09-26 18:37] garvankeeley opened #887 "Preferences screen: gap (line on API 10) above button-style prefs (a.k.a. move leaderboard on api 10)"
Here is how it looks on API level 10, on API levels above that, there is simply added space.

This is because on API 10, the leaderboard is a button in the settings because I need somewhere quick to put it. To hide this button the pref must be in a preference group, which when left with no title, creates a space. On API 11 and up, the space is transparent, on API 10, it is not as seen in the scree

[2014-09-26 19:51] crankycoder opened #889 "Need to extend gradle build to conditionally pull in custom settings"
We need to be able to pull in optional settings into the gradle build.

We currently have some settings that are required to speed up the build (parallel builds and daemon flags), so we run the risk of adding our mapbox key and mozilla api key into public source control.

[2014-09-28 12:25] Djfe commented on #442
reasons, why crowdin is great:
- allows automization -> automatic upload of new translation files
- can be included into the build process
- translators will be notified if there are new translations and they will see what has changed and stuff
- it's free for open source projects (https://crowdin.com/page/open-source-project-setup-request)
- it works together with git, svn, etc.
- you can make ce

[2014-09-29 14:22] garvankeeley opened #892 "No sdcard (virtual or real), map doesn't display"
OSMDroid hard-codes the tile path to external files dir. We need to override this to support this case.
For 1.0, we either fix this, or explain the problem to the user to avoid nasty reviews.

[2014-09-29 14:50] garvankeeley commented on #858
fixed in https://github.com/mozilla/MozStumbler/commit/571d20a3552857451af254c523634c34d31caba3

[2014-09-29 14:50] #858 closed, assigned to nobody

[2014-09-29 14:51] garvankeeley commented on #829
Addressed (mostly) in issue #885

[2014-09-29 14:51] #829 closed, assigned to nobody

[2014-09-29 14:52] #795 closed, assigned to nobody

[2014-09-29 14:52] #792 closed, assigned to nobody

[2014-09-29 14:53] #790 closed, assigned to nobody

[2014-09-29 14:53] #789 closed, assigned to nobody

[2014-09-29 15:00] crankycoder opened #893 "Let's move the upload button as well as the settings"
I'd like to move the upload button and the settings to the bottom of the metrics.

Like what Pocketcasts does:

![xxernkibiyjl2duxxqscgysm2stddjotlvcg0vnvbvi](https://cloud.githubusercontent.com/assets/4829/4443561/4a83d496-47e9-11e4-9b71-640d97144b7c.png)

[2014-09-29 15:02] garvankeeley commented on #893
@ryanfeeley is not a fan of the current upload button either. (nor am I, but leaving as-is for 1.0).

[2014-09-29 17:50] Djfe commented on #893
I fav this as well.
Upload + statistics in the left sidebar would look great and you can access them more easily from the map/main activity by just swiping from the left of the device.

[2014-09-29 18:52] cpeterso opened #895 "Complete Legal review for Google Play Store"
CC @mikaland2

https://bugzilla.mozilla.org/show_bug.cgi?id=1074356

[2014-09-29 19:00] cpeterso commented on #862
@crankycoder: I think @lua86 is referring to the actual Google Play Store. @hannosch says that only 30% of MozStumbler users are using our GitHub builds, so the other 70% are likely using F-Droid or their own local builds.

I think we should follow our users' lead and:
- Remove our GitHub-based auto-updater.
- Use F-Droid to publish frequent test releases of our Free Software build flavor (no Goog

[2014-09-29 19:49] cpeterso opened #896 "Formalize our L10n process: work with Mozilla L10n or Crowdin?"
CC @Djfe, @garvankeeley

It would be nice to have our L10n story ready before 1.0, but it not a ship blocker.

https://wiki.mozilla.org/L10n:NewProjects
https://developer.mozilla.org/en-US/docs/Mozilla/Localization/Quick_start_guide

[2014-09-29 21:49] elkos commented on #862
Please in case of removing the auto-updater could there be a viable way to prompt the use to either install Mozstumbler from F-Droid or Google Play? I think that some of our users (for example our top3 data contributors) might miss a crucial update ;)

[2014-09-29 23:23] Djfe commented on #862
Pls use Google groups to distribute alphas/betas through the play store:
https://support.google.com/googleplay/android-developer/answer/3131213

Facebook practices this as well.

[2014-09-30 11:13] crankycoder opened #898 "Clicking on the notification pull down no longer brings the app into focus"

[2014-09-30 12:50] garvankeeley opened #899 "Animate sync button"
The upload button turns into a non-spinning arrow while uploading, this arrow should spin, both because it looks broken not to, and it is a busy indicator.

[2014-09-30 12:52] garvankeeley opened #900 "Change upload on wifi pref to 'Automatically upload on Wi-Fi only'"
This pref is for automatic uploading only, we want the user to be able to press the upload button to upload manually regardless of this pref.

[2014-09-30 15:41] Djfe commented on #694
@crankycoder was this fixed by #890?

[2014-09-30 15:43] Djfe commented on #568
@crankycoder was this fixed by #890, too?

[2014-09-30 15:55] Djfe commented on #293
@crankycoder since you have rewritten the code already this might be easy for you to fix ;)

[2014-09-30 18:24] garvankeeley opened #902 "Android Studio: jars task isn't run by "Make Project" but *is* by "Run" or "Debug""
The gradle updateJars should be run first, then assembleDebug. For unknown reasons, Studio will only run the second task for the Make Project command, but the Run/Debug commands will run both gradle tasks.
As long as you do Run or Debug once, the jars will be downloaded and Make Project will work from then on.

[2014-09-30 18:37] crankycoder opened #903 "Disallow running the app if no GPS is found"

[2014-09-30 18:48] #879 closed, assigned to nobody

[2014-09-30 20:05] #899 closed, assigned to nobody

[2014-09-30 20:05] #898 closed, assigned to nobody

[2014-09-30 20:05] #842 closed, assigned to nobody

[2014-09-30 20:07] garvankeeley commented on #778
After comparing with this on/off and running the app for various periods, and also comparing the apps RAM use to other apps, I can't see any issues with having this on. My comment about a 15 MB RAM increase is incorrect, if I run the app a bit longer with hardware acceleration off, the ram usage difference is negligible.

[2014-09-30 20:07] #778 closed, assigned to nobody

[2014-09-30 20:09] garvankeeley commented on #430
This is the first-run dialog, which was based on looking at some other apps. It would be unusual to have any more content than this:
https://github.com/mozilla/MozStumbler/pull/897

[2014-09-30 20:09] #430 closed, assigned to nobody

[2014-09-30 20:10] garvankeeley commented on #883
The first run dialog links to the privacy policy:
https://github.com/mozilla/MozStumbler/pull/897

[2014-10-01 01:37] cpeterso opened #909 "Ask QA team to test MozStumbler release candidates"
CC Edwin and Karl

[2014-10-01 01:38] garvankeeley commented on #909
Thanks for filing this, @crankycoder and I met with Karl today to start the process. We are working on preparing the build we want tested, hopefully it will be baked for tomorrow.

[2014-10-01 08:58] Djfe commented on #430
That actually depends from app to app.
Just take a look at the Teamviewer first run
You have to swipe through 4 screens to get to the app

[2014-10-01 09:17] Djfe commented on #896
Forgot to mention where Crowdin is a lot better than l10n:
Translating whole texts

If we would want to translate the Play Store description or the MLS website we should choose Crowdin cause it allows you to input a whole text and separate it into strings but still the user could see the whole text (the sentences refer to each other)

You are able to "translate" images easily, too

Another feature

[2014-10-01 16:03] crankycoder opened #917 "Delete "This Session" section from MetricsView"
"This Session" provides confusing information to users.  It displays the cumulative data for the current location - that is a lat/long location.  So as wifi and cell towers blink into and out of visibility, the cell and wifi counts are strictly monotonically increasing.

That's just confusing - as the numbers at the top of the mapview show the more useful number of "What's visible now".  At the le

[2014-10-01 17:08] crankycoder opened #918 "Need a dialog that we can't write tiles to device"
This is roughly similar to #894.

On a Samsung GT-S5670L (Galaxy Fit), we don't seem to be able to write map tiles.  We should tell the user that something horrible has happened, or just fix this.  Maybe just hold the current viewports tiles in memory.

[2014-10-01 18:37] #900 closed, assigned to nobody

[2014-10-02 03:07] garvankeeley opened #920 "Need cell and wifi scanning test mode"
This is needed both for client and service testing.

Service:
The service code paths can't be fully tested without simulating the wifi and cell scans, and it can't be load tested or analyzed in monitoring tools without actually scanning (which requires movement).

Client:
On the client side, I can use the KML feature (currently in PR) to load test the graphic display in the app.
I can't test MLS l

[2014-10-02 03:18] garvankeeley opened #921 "Add pref for turning on the "Show MLS locations" switch"
As it stands now, even with the MLS locations off, extra allocations are taking place. There is no quick way to avoid this, as the JSON bundles need to be stored in memory to query MLS. It would be best to be safe and have this feature off by default. This feature should be stress-tested for memory and network usage before it gets removed as a pref (and permanently on).

The pref would be:

Enable

[2014-10-02 13:02] ioana-chiorean commented on #869
I've lost a week of traveling abroad. Any idea how to retrieve data/?

[2014-10-02 14:39] Djfe commented on #869
There is no way of retrieving it, I guess.

But you can switch to an older version until this bug is fixed:
https://github.com/mozilla/MozStumbler/releases

you just have to ignore the update dialog on start.

[2014-10-02 19:29] crankycoder opened #926 "Get Travis to run the release build with a dummy private.properties file"
We need proguard errors to show up earlier dammit.  This should be added into the .travis.yaml file

[2014-10-02 19:41] crankycoder commented on #918
Duplicate of #894

[2014-10-02 19:41] #918 closed, assigned to nobody

[2014-10-02 20:58] garvankeeley commented on #917
I agree we need to fix this ASAP. The numbers are confusing because some are sums of repeatedly observing the same thing and some are unique instances.

In "this session" section, I like the observation count and the data size (to know how much network i am using). The others I will remove.

[2014-10-02 22:11] kbrosnan opened #928 "Using the new maps based interface uses too much data"
I tried the new maps based interface and have consumed 30 MB in a day. If this was my personal phone it would have consumed 6% of my monthly data cap. If I stumble this much I would exceed my monthly data cap in under 17 days.

[2014-10-02 22:15] kbrosnan opened #929 "Maps uses old gingerbread style zoom controls"
The zoom controls on the map use gingerbread styling and feel out of place compared to the modern design of the rest of the app.

[2014-10-02 22:17] kbrosnan opened #930 "700 observations stuck in queue"
Using 1.0, pressing the upload button does not upload the data.

[2014-10-02 22:57] garvankeeley commented on #928
Thanks for the report, can you screenshot this? I use it daily, but only see a few hundred kb. If I delete the map tiles folder manually, I get 2 MB or so (at which point they are cached until I manually delete the tiles folder). Maybe we can add a debug setting to delete the map tiles and we can measure this more closely.

[2014-10-02 22:58] garvankeeley commented on #929
Agreed, it doesn't look good, the map component (osmdroid) we use doesn't expose that control in any way so we are using it as-is for now.

[2014-10-02 22:59] garvankeeley commented on #930
Yikes. Can you check the Settings>Log for messages?

@crankycoder, what build tag is this? I'll take a look and see if something was unhooked in that build.

[2014-10-02 23:27] kbrosnan commented on #930
The log is blank. Tried pressing the upload button and re-checking the log and it is still blank.

[2014-10-02 23:33] kbrosnan commented on #928
![screenshot_2014-10-02-16-31-01](https://cloud.githubusercontent.com/assets/250273/4500128/4af28a12-4a8c-11e4-8d3d-144701ab6e9c.png)

I traveled from MV to SF (40 miles/70 km) + some walking around (<5 miles / 10 km) and checking on lightly stumbled areas.

[2014-10-02 23:42] garvankeeley commented on #928
Oooh crap this is a lot of map downloading. My life occurs in a 5km radius.

[2014-10-03 00:03] garvankeeley commented on #930
Can you try toggle the scanning on and off and see what happens? This should also trigger an upload (although this case will respect the Settings>Auto-upload only on Wi-Fi)

[2014-10-03 00:12] crankycoder commented on #930
@kbrosnan Which build is this?  We've never released a 1.0 version yet.

[2014-10-03 02:32] garvankeeley opened #931 "If app offline at startup, MLS tile url not found"
Need to recheck for this and not give up so easily, or MLS tiles never load even after the device is online again.

[2014-10-03 07:03] cascheberg commented on #928
I tried to avoid data usage by loading and caching the map over WiFi beforehand if I knew where I was traveling to during the day. It might be helpful to have a switch to only use cached map data.

[2014-10-03 14:58] garvankeeley commented on #917
For now, lets remove Cell Towers, Wifi access points, but leave Observations, since that is not ambiguous and also reports the amount of data,

low-hanging fruit bug, i will take it

[2014-10-03 15:21] garvankeeley opened #932 "Use MapBoxTileSource for map box tile layer"
OSMDroid has a built-in tile source where we just set the API key, and it looks better than the source we are using, as it has multiple content urls.

Requires a gradle change, so, hot potato to vng.

[2014-10-03 18:12] kbrosnan commented on #930
Via dropbox from Karl.

[2014-10-04 16:49] #929 closed, assigned to nobody

[2014-10-04 16:53] crankycoder commented on #902
I'm quite sure this is a bug in android studio,  or at least a limitation of the way "make project" works.

As far as I can tell,  the "make project" command doesn't honor the currently selected run configuration.

Yay android.

[2014-10-04 16:53] #902 closed, assigned to nobody

[2014-10-04 16:58] crankycoder commented on #869
We've added substantially better logging for discrete events that will show up in the debug log in the dev branch.

Specifically,  we've added logging around every stumble upload is that we can see the bytes sent,  and the http response that ichnaea returns.

I'm afraid we can't properly diagnose the issue,  of there is an issue at all given the state of logging in the last 0.30 release.  Some of

[2014-10-04 17:00] crankycoder commented on #863
This was merged in earlier this week to dev.  Build versions are now defined at the top of `android/build.gradle`.

[2014-10-04 17:00] #863 closed, assigned to crankycoder

[2014-10-04 17:03] crankycoder commented on #862
@elkos thanks,  that's a good point.  :-)

We'll keep the updater code after all.  I'll tweak the build to conditionally check for updates if you get a github release.

@cpeterson, do we have an fdroid contact as the new build is pretty different now?

[2014-10-04 17:09] crankycoder commented on #849
Merged in https://github.com/mozilla/MozStumbler/commit/6aec16232effe10e2f9555cf71b17573d9daebc7

[2014-10-04 17:09] #849 closed, assigned to crankycoder

[2014-10-04 17:12] crankycoder commented on #889
Merged in https://github.com/mozilla/MozStumbler/commit/44209c62b6ef1b660451819beeea1484383fee66

[2014-10-04 17:12] #889 closed, assigned to nobody

[2014-10-04 17:13] #862 closed, assigned to crankycoder

[2014-10-04 17:14] crankycoder commented on #862
Disable the updater code unless we have a release flavour set to github.

[2014-10-04 17:15] crankycoder opened #933 "Disable updater code unless we are on a github release flavour"

[2014-10-04 17:15] crankycoder commented on #793
We're going to push this to after a 1.0 release.

[2014-10-04 17:21] crankycoder commented on #794
Geofencing is no longer a feature.

Wifi only for uploads is now defaulted to true.

We don't want to clutter the first run dialogue with too much text at this point.

Adding a change log to the first run is a good idea though, let's do that post 1.0.

[2014-10-04 17:23] crankycoder commented on #794
@cpeterson is assigned the google play store description.  Let's just use a summarized version of that text for our first run description.

[2014-10-04 17:58] gpoo commented on #869
I wonder if you are planning to release 1.0, or beta/preview.

[2014-10-04 21:06] Djfe commented on #869
it won't be 1.0 since not all issues/bugs are fixed, yet

https://github.com/mozilla/MozStumbler/milestones/1.0

[2014-10-04 21:09] Djfe commented on #862
there should be something like an information that an update is available even in the Google Play Store version -> it should link to the Google Play Store page so that users can update

something like:
Update | Stay on version xy

other apps like Whatsapp do this as well
not everyone has autoupdates turned on

[2014-10-06 15:38] crankycoder commented on #869
I'm pretty sure that most people reporting this bug are actually seeing a variant of : https://github.com/mozilla/MozStumbler/issues/877

The mapview tile loader doesn't seem to expire tiles ever, so this almost certainly causing confusion with users.

[2014-10-06 16:10] JensErat commented on #869
No, it _definitely_ isn't the same bug. I've been able to observe the exactly same behavior as descriped by the bug reporter with three devices:
- Motorola Defy+
- Samsung xCover 2
- Samsung Galaxy S5

All with most current Stock Firmware, and Stumbler installed manually and from F-Droid (tried both on each device).

The device counts seen WiFi networks (probably same issue for mobile networks), e

[2014-10-06 16:51] crankycoder commented on #877
I'm now very sure that #869 is being reported because of this.

I stumbled last night, and the tiles are correctly updated on the web map, but my local instance of MozStumbler was not displaying the stumbles correctly based on the blue dots on the map view.

I've captured 3 screenshots.

This is my MozStumbler the day _after_ I've done my stumble. I've highlighted areas where I would expect to see

[2014-10-06 16:53] gpoo commented on #869
@crankycoder How can tiling cache be related to (not) scanning data? It might be possible, but I think they should not.

I upgraded again to 0.30. Before running it, I deleted all data and cache, thinking that at least should scan 1 (to retrieve one tile, if so). After a 15 minutes (4-6 blocks), I got everything empty (0) in "Upload observations".

The main screen says it scanned 106 locations, 93

[2014-10-06 16:59] gpoo commented on #869
FWIW, the log looks similar to what I pasted in https://github.com/mozilla/MozStumbler/issues/869#issuecomment-56555711

[2014-10-06 17:20] sekanderb commented on #877
I have stumbled on the yellow marked line which can be viewed here: https://location.services.mozilla.com/map#13/23.7198/90.3751

![Gabtoli - Babubazar Beribadh](http://s4.postimg.org/gjfv5im0t/Untitled.png)

on the yellow line, there should have blue dots. But there is not! My speed was 4km/hr on bi-cycle

[2014-10-06 17:43] garvankeeley opened #934 "Crash reporting tool"
https://github.com/ACRA/acralyzer is the one that I know of, I'll take anything.

[2014-10-06 20:56] Djfe commented on #869
this bug doesn't appear in older versions unlike #877

the bug is that you cannot upload anything as the title says

[2014-10-06 21:00] Djfe commented on #877
#869 is something completely different, because nothing shows up in the upload queue of 0.30.0

this issue here is about the expiration policy which doesn't exist, has never existed
this issue here has always existed

#869 got introduced in the latest versions by the switch from a db to a file system based db

[2014-10-06 22:25] kbrosnan commented on #930
This has grown to over 1300 in queue.

[2014-10-07 00:14] garvankeeley opened #938 "mozilla api key not being set"
Prefs.getInstance().setMozApiKey() is never called

[2014-10-07 16:40] kbrosnan opened #943 "stumbler did not turn off on 15% battery"
Using stumbler 0.40.0 prerelease that was handed to QA. Started device at over 15% then checked on the device later and the battery was at 10% and was continuing to request GPS location.

[2014-10-07 17:03] garvankeeley commented on #869
As best I can tell there are 2 bugs here:
1) In 0.30 the observation counts are off, and
2) No wifi and cell scanning is happening when expected to do so

Hopefully today's update will see the first issue resolved. The second issue we will have to investigate after the update.

[2014-10-07 17:07] gpoo commented on #869
What can we do to help to debug the issue?

[2014-10-07 17:31] crankycoder commented on #892
Merged in #919.

[2014-10-07 17:31] #892 closed, assigned to crankycoder

[2014-10-07 18:12] garvankeeley commented on #869
When we get this next build out today, please retest.
We were a bit stuck completing other items for this coming release and couldn't focus enough on this issue until now, sorry about that.

[2014-10-07 19:00] garvankeeley opened #946 "Show the size of the low res tiles folder to show user how much cell data this uses"
This could be in the developer view, or in the metrics if we want to make it more exposed.

Granted, the cell data usage is available through android -but we want users to keep an eye on the tile folder size specifically so we can determine if we are successful or not in keeping this size to a minimum.

[2014-10-07 19:02] garvankeeley opened #947 "Developer setting to override the low/high res tile switching"
For debugging, this is very helpful.
And, it may be the case that users want to use high-res tiles on their cell data plan, and this would give them a way to do that until we have a better solution.

[2014-10-07 19:04] crankycoder commented on #946
Let's stuff it into the developer settings.  We can get  telemetry data back on the folder size once a day.

[2014-10-07 20:00] crankycoder commented on #938
merged in #945

[2014-10-07 20:00] #938 closed, assigned to crankycoder

[2014-10-07 21:17] ryanfeeley opened #948 "During first run, when I click Start starting, it should turn on"

[2014-10-07 21:28] ryanfeeley opened #949 "UI: Satellite, cell tower and wifi icons on map should be semi-transparent when zero"

[2014-10-07 22:14] kbrosnan opened #950 "Side pannel data is blank with don't keep activites"
![screenshot_2014-10-07-15-09-51](https://cloud.githubusercontent.com/assets/250273/4551252/e24a0d78-4e6e-11e4-9c73-18631e8b2ee5.png)
- Enable the Android developer options
- Select the "Do not keep activities" option
- Launch MozStumbler
- open the sidebar note the values
- Switch apps or open the Settings or Leaderboard
- open the sidebar, no data is shown

[2014-10-07 22:34] gpoo commented on #869
Just tested 0.40.  The UI looks nice (it missing a withe space in Metrics, but overall it looking way better).

@garvankeeley I think by counters you mean the left part of the screenshots (it says the number of satellites, cell towers, observations and wifi access points).  If so, it seems to be working.

However, there are no observations "Ready to be send".  I did not put a screenshot with the l

[2014-10-08 01:26] garvankeeley commented on #869
This is so bizarre. We added a ton more logging in hopes of catching this, obviously not enough. I am trying on a 2.3.6 device now trying to reproduce this, but haven't seen this yet.

[2014-10-08 01:42] #931 closed, assigned to nobody

[2014-10-08 01:42] #921 closed, assigned to nobody

[2014-10-08 01:42] #917 closed, assigned to nobody

[2014-10-08 01:44] garvankeeley commented on #928
Fixed by https://github.com/mozilla/MozStumbler/pull/936. i hope.

[2014-10-08 01:44] #928 closed, assigned to nobody

[2014-10-08 01:44] garvankeeley commented on #930
Should be fixed now.

[2014-10-08 01:44] #930 closed, assigned to nobody

[2014-10-08 09:03] Hugo14 opened #951 "Crash when trying to automatically upload data"
Im running Android 4.3 offical rom on a Sony Xperia SP. MozStumbler crashes randomly when connected to a wifi, but not when using mobile data. Also it happens everytime I have been away for a while and I connect a wifi network. Since I have the option of upload only on wifi activated, I suspect it happens when MozStumbler tries to upload data automatically.

[2014-10-08 09:09] Hugo14 opened #952 "Create an intent (or tasker plugin) to start and stop scanning automatically"
It would be great if MozStumbler could receive an intent that would automatically start or stop the scanning. This way automation apps, like Tasker, could interact with MozStumbler and start and stop it when adequate. It's also possible to create a Tasker plugin, but an Intent would allow any application to interact with MozStumbler.

For example, I could automatically turn MozStumbler on everytim

[2014-10-08 09:43] cascheberg opened #953 "Toggling "Keep screen on while in map" needs restart to take effect"
Toggling "Keep screen on while in map" only takes effect after restarting the app (v0.40.0.0)

[2014-10-08 10:29] cascheberg opened #954 "Should not switch to low-resolution map if high-resolution map is already cached"
MozStumbler (v0.40.0.0) should not switch to low-resolution map if high-resolution map is already cached.
I viewed the map at my current position and the surrounding area using Wifi. Then, as soon as I left my Wifi area, MozStumbler automatically switched to low-resolution map. As a result, it became harder to navigate using the map. Assuming that using the cached high-resolution map does not cons

[2014-10-08 10:52] cascheberg opened #955 "Store tiles in getExternalCacheDir() (with a fallback to getCacheDir())"
It is not possible to clear the MozStumbler (v0.40.0.0) map cache without clearing all app settings, since map cache is listed as "Data".

![mozstumbler](https://cloud.githubusercontent.com/assets/3845150/4557826/bfca611c-4ed7-11e4-8349-51ae16704502.png)

[2014-10-08 11:04] crankycoder commented on #869
Are you still using link2sd?
On Oct 7, 2014 6:34 PM, "Germán Poo-Caamaño" notifications@github.com
wrote:

[2014-10-08 14:24] kbrosnan opened #956 "Fix count looks good, but no pure-GPS arriving"
v0.40.0

Have 13 to 20 satellites visible 0 observations.

[2014-10-08 14:27] crankycoder opened #957 "Extend osmdroid to support etags when fetching tiles"
We need to be able to fetch new tiles if they exist.  This patch mostly affects github.com/mozilla/osmdroid as we need to check the filesystem against the network's etags.

This should remove the need for #955.

[2014-10-08 14:32] kbrosnan commented on #956
Nexus 5 upgraded over v0.30 and many prior releases

[2014-10-08 14:34] garvankeeley commented on #956
Uh oh. Is this always the case? Or intermittent? Any particular steps to repro?
To clarify: you see a number next to the GPS icon (which is the number of fixes), but no collection.
Can you see anything in the log? The log should be blank, which means no pure GPS has arrived.

[2014-10-08 14:37] crankycoder commented on #955
Are you trying to clear the tiles because we are not properly expiring tiles or is this just a request to get button to clear all tile data?

[2014-10-08 15:00] hannosch opened #958 "Consider changing some key terms in the UI"
The MozStumbler UI refers to "Cell towers", "WiFi access points" and "observations".

I'd like to suggest to use "Cell networks", "WiFi networks" and "reports" instead to better match the terms used on the service side.

For the first two: We don't actually ever count physical objects like towers, but merely logical networks. In most cases one physical station supports multiple logical networks. B

[2014-10-08 15:18] cascheberg commented on #955
Mainly it's just nice to be able to clear cache data.
After just checking the code and the Android API, I'd guess that you could basically replace `getFilesDir()` with `getCacheDir()` in cc0d97c100ea24349b95ffd502c5e50b16545b2e, if available. If so, I'd like to try to prepare a pull request.

[2014-10-08 15:24] garvankeeley commented on #955
Cache Dir: By its name, I would assume the OS has control over deleting this. If so, map tiles could disappear unexpectedly. Is that the case?

A button on the developer screen to clear the cache would be a good solution as a place to try out features. The button would call delete on the tiles directory.

On Oct 8, 2014, at 11:18 AM, Christian Ascheberg notifications@github.com wrote:

[2014-10-08 15:39] cascheberg commented on #955
Yes, from the API description:

Running low on storage appears to be a good reason to clear map tiles though. Or are there any problems with that? Firefox and Google Maps also seem to use this kind of caching.

[2014-10-08 15:40] garvankeeley commented on #954
The OSMDroid component doesn't have support for this, so it will have to be post-1.0.
This is a big chunk of time to implement. We need a bug tag for "OSMDroid guru needed to fix".

[2014-10-08 15:50] gpoo commented on #869
I tried both settings, with the same outcome.

That is, yesterday I also suspected of Link2SD, so I switched back to no link2SD, uninstalled Link2SD and S2E, cleared cache, uninstalled mozstumbler, installed back (I had to reinstall Google Play Service)... several reboots... The same thing.

FWIW, I only had linked the cache to the SD.

[2014-10-08 16:07] JensErat commented on #869
I just got home from running (which is a nice occasion for testing the builds, as I can always do exactly the same route and velocity is rather slow, thus results very comparable). Build 0.40 seems fine until now on my S5. Will test the other phones and builds next time, to see whether the numbers diverge between builds. The new user interface is really decent. :)

[2014-10-08 16:10] kbrosnan commented on #956
Yes on both counts. If I recall from my earlier discussions with dougt that that observations should happen when there are 6-7 fixes. I get 0 observations. Nothing in the log.

[2014-10-08 16:21] JensErat opened #959 "Better "observations" icon"
The new 0.40 build uses looking glasses, which probably should be referring to "observe" (and the number next to it is the number of "observations". On this screenshot blatantly snatched from another bug report, it is the icon next to the number 70:

![Example screenshot](https://cloud.githubusercontent.com/assets/877181/4551476/e931d618-4e71-11e4-8e3d-537237f083a4.png)

I'd propose changing that

[2014-10-08 16:23] JensErat commented on #959
Somewhat related to #958, but more about the icon than the wording.

[2014-10-08 16:52] cascheberg commented on #954
One more thing to note: currently, when there is no Wifi or mobile connection at all, just whatever resolution was used last will be used further on.

Fixing #947 would be nice as a workaround.

[2014-10-08 17:41] Djfe commented on #869
I'm using link2sd, too.
But I don't think that that is the issue.

It still doesn't show any entries in the queue

[2014-10-08 17:59] gpoo commented on #869
Just to be sure there were not left overs of my previous Link2sd/s2e setting:
- I wiped my cell phone
- installed cyanmodgen 7.2.0-passion from scratch (install zip from sdcard)
- Enabled a google account (for google play)
- Enabled a wifi-access point
- Installed Google Maps
- Installed Firefox beta
- Enabled installation from unknown sources
- Installed MozStumbler 0.40.0 (from the link in githu

[2014-10-08 18:20] garvankeeley opened #960 "UI Reporting is slightly off for 'This Session' KB"
From left to right here is a sequence that shows the bug.

I started the app fresh (zero for all stats). The second screen shows the observations sent as 1.8 KB, but 'this session' is 1.4 KB. Screen 3 looks ok, and then screen 4 shows the Sent higher than this session again

![screenshot 2014-10-08 14 10 49](https://cloud.githubusercontent.com/assets/5495083/4564340/a974a622-4f16-11e4-98ae-003f4c4

[2014-10-08 18:21] garvankeeley commented on #960
Also, why in the first screen: no size reported for the 'ready to send' observations.

[2014-10-08 19:46] garvankeeley commented on #869
Are you able to get a logcat? If so,
adb logat | grep -i stumbler
might provide the clue we need

[2014-10-08 20:05] garvankeeley commented on #956
It makes sense that with a few satellite fixes you should get pure GPS location. But, with nothing in the log, that indicates to me the app hasn't received a non-fused (a.k.a Google Location Service assisted) location.
We should try to report this state in the app, where satellite fixes are good, but the locations are still coming as "fused".

[2014-10-08 20:55] kbrosnan commented on #956
This is pure user error.

I turned on a Galaxy S5 and I thought I turned on my Nexus 5 to report my commute into the office. The Galaxy S5 was reporting so I thought something serious was wrong. However must have missed the button or something in the rush to get out the door. I successfully stumbled during lunch on my Nexus 5.

[2014-10-08 21:01] kbrosnan opened #962 "ANR with v0.40.0"
Cmd line: org.mozilla.mozstumbler

JNI: CheckJNI is off; workarounds are off; pins=0; globals=489

DALVIK THREADS:
(mutexes: tll=0 tsl=0 tscl=0 ghl=0)

"main" prio=5 tid=1 SUSPENDED
  | group="main" sCount=1 dsCount=0 obj=0x415efca8 self=0x41529408
  | sysTid=29611 nice=0 sched=0/0 cgrp=apps handle=1074540884
  | state=S schedstat=( 205367914473 139158490621 722600 ) utm=18315 stm=2221 core=2
  at

[2014-10-08 21:15] garvankeeley commented on #962
It hung writing the JSON object for the current scan to the GUI log, which is surprising :).
Any idea if you had a really high number of wifis? Was this on your nexus 5?
Did it recover?
How did you get this log, from power button debug logging?

[2014-10-08 21:16] garvankeeley commented on #956
Thanks! One down.

[2014-10-08 21:16] #956 closed, assigned to nobody

[2014-10-08 21:20] gpoo commented on #869
Does this help?

[code]

[2014-10-08 21:40] garvankeeley opened #963 "When switching OSMDroid tile providers, we get receiver leakage"
E/ActivityThread(  802): Activity org.mozilla.mozstumbler.client.navdrawer.MainDrawerActivity has leaked IntentReceiver org.osmdroid.tileprovider.modules.MapTileFileStorageProviderBase$MyBroadcastReceiver@407439d8 that was originally registered here. Are you missing a call to unregisterReceiver()?
E/ActivityThread(  802): android.app.IntentReceiverLeaked: Activity org.mozilla.mozstumbler.client.na

[2014-10-08 21:41] garvankeeley commented on #963
From log in Issue #869

[2014-10-08 21:42] garvankeeley commented on #869
I added a bug for the leaking receiver, but that is minor. Other than that, everything looks correct in the log. I was hoping for some data storage warning, like the app isn't allowed to access the storage or something.

[2014-10-08 22:56] kbrosnan commented on #962
I got the ANR dialog and chose close app option so it did not recover. It is on my Nexus 5, though I was just stumbling during lunch ~60 min (2km). I got the log from adb pull /data/anr/traces.txt

[2014-10-08 23:40] kbrosnan commented on #930
I have not seen this on v0.40.0, seemed fairly common on the build QE was handed.

[2014-10-09 00:54] #960 closed, assigned to nobody

[2014-10-09 01:37] Djfe commented on #869
where is the app writing the data by the way?
about link2sd: I have another device, a Samsung tablet that isn't rooted and doesn't use link2sd and shows the same issues (it's android 4.2)

why can't we return to a real database?
I can't see any advantages in using a file based db
a normal db is very fast, data isn't deleted if the application crashes/is killed (I'm wondering whether this happens a

[2014-10-09 01:56] garvankeeley commented on #869
where is the app writing the data by the way?
http://developer.android.com/reference/android/content/Context.html#getFilesDir()

why can't we return to a real database?
DB is not allowed in Fennec, and the core of this app is re-used in Fennec. There shouldn't be a need for the DB in general as we aren't doing any SQL queries.

is there a way to detect this issue by exporting the kml file?
We have

[2014-10-09 03:39] cpeterso opened #965 ""Using high/low resolution map" notification is displayed even when MozStumbler is running in the background"
Do we really need to notify the user when we're switching between high and low resolution tiles? Why does the user care? They should be accustomed to map apps swapping in different resolution tiles. :)

[2014-10-09 11:39] Djfe commented on #869
Could you switch from saving every 50 observation to saving every 30 seconds(if there are new observations)?
I think that would make more sense
(walking -> less observations, driving -> more observations)
-> less data would get lost (while walking) and it still wouldn't save too often

Could you make us a test fennec build with a custom api so that you could test through the server whether the fen

[2014-10-09 13:29] garvankeeley commented on #955
Sounds useful. I wonder why OSMDroid doesn't use this?

edit: to answer my own question 2 seconds later :), OSMDroid has a 'shared' map concept, where by design, all OSMDroid apps can share tiles.

[2014-10-09 13:37] garvankeeley commented on #965
The fact it was popping up all the time was a bug. We are doing another build today or tomorrow with all the little bits we missed like this.

[2014-10-09 13:50] garvankeeley commented on #958
Will change the cell and wi-fi terms. The 'observations' to 'reports' I want to discuss with UX first. Wording was more of an issue before the app was changed to be graphically-driven, now, I don't think it matters as much to the app.
The app still lacks a walkthrough screen, or some first-time use door hangars, either of which are the hallmark of a friendly app. We need folks to know the "observa

[2014-10-09 15:20] garvankeeley opened #968 "User agent: add android device info"

[2014-10-09 15:20] garvankeeley commented on #968
Lets do this for today's build

[2014-10-09 15:35] garvankeeley commented on #968
Acra uses
https://github.com/ACRA/acra/blob/f00c49d13e6302942c91b53545d847f37485ea95/src/main/java/org/acra/collector/CrashReportDataFactory.java#L182

So, this: android.os.Build.FINGERPRINT

[2014-10-09 16:09] naoliv opened #970 ""no-map" mode"
Isn't it possible to have the old interface where no map is visible when we only want to record locations?

It would be good if MozStumbler could also avoid downloading anything (the maps) when I want only to scan locations.

[2014-10-09 16:34] gpoo commented on #869
IIRC, the swtich from db to json file was before 0.21.  If that is correct, changing the db won't change anything.

So far, the only deterministic way I foresee to catch the issue is to bisect, that would help us to know which commit introduced the regression for some devices. We know 0.21 works and 0.30 does not.  Considering that there were 219 commits, it should take ~7 rebuilds.

Unfortunately

[2014-10-09 17:18] #955 closed, assigned to nobody

[2014-10-09 17:25] #950 closed, assigned to nobody

[2014-10-09 17:25] crankycoder commented on #950
Merged in #964

[2014-10-09 17:26] #963 closed, assigned to nobody

[2014-10-09 17:26] crankycoder commented on #953
Merged in #964

[2014-10-09 17:26] #953 closed, assigned to nobody

[2014-10-09 17:30] crankycoder opened #972 "Need to clear the pref for crash reporting and default it to false for release"

[2014-10-09 17:34] kbrosnan commented on #928
I don't think this is fixed I consumed 25MB on my Nexus 5 in one day. Similar to issue #970 .

[2014-10-09 17:42] garvankeeley commented on #928
Eeek. Were you seeing low-res tiles during that time?

[2014-10-09 17:47] kbrosnan commented on #928
I believe so. I only had about 3 zoom levels.

[2014-10-09 17:53] garvankeeley commented on #928
With the low-res map, there should be a toast that pops up to say the map has switched.
For me, a 25x25 km map on low-res is < 1MB of tiles.

It is _supposed_ to switch resolution based on the wifi state, so with no wifi, it switches to low res.

[2014-10-09 18:01] garvankeeley commented on #928
Hmm, we should make the min zoom level not so low that it shows such a big area, if I pan around at the min zoom, which is ~25x25km on my screen, I can start loading tons of tiles. We would have to re-center the map also when switching to low-res.

[2014-10-09 18:07] garvankeeley commented on #928
Dev note: ideal quick fix would be to trick OSMDroid into thinking that tile level 13 was for zoom levels 16 and up, and zoom levels 13-15 are tile level 8 (or so).

[2014-10-09 18:20] crankycoder commented on #968
This is covered in #971 by using System.getProperty('http.agent')

[2014-10-09 18:20] #968 closed, assigned to nobody

[2014-10-09 19:13] garvankeeley commented on #869
Can you try these builds, based on major changes
The major changes were (in order):
aaa25f6b - https://www.dropbox.com/s/n127pm7jyf5fjr9/MozStumbler-release.apk?dl=0
01f8603 - https://www.dropbox.com/s/h5r3i5i3h3akhp2/MozStumbler-release.apk?dl=0

[2014-10-09 19:14] crankycoder commented on #934
Merged in #967

[2014-10-09 19:14] #934 closed, assigned to crankycoder

[2014-10-09 19:35] gpoo commented on #869
The first one works (aaa25f6), but not the second one.

[2014-10-09 19:39] msylw commented on #869
Got beaten by few minutes, but got same result, first one works, second one
doesn't.
On Oct 10, 2014 4:35 AM, "Germán Poo-Caamaño" notifications@github.com
wrote:

[2014-10-09 20:30] garvankeeley commented on #869
Thanks!
Half way between those is:
2609288 - https://www.dropbox.com/s/ps10mvds3c2ymyd/MozStumbler-release.apk?dl=0

If that fails then:
df10750 - https://www.dropbox.com/s/hsyyx3hlb0apkp3/MozStumbler-release.apk?dl=0

Else if it succeeds, try:
ebafaf7 - https://www.dropbox.com/s/gny5xq7xr8wvt4t/MozStumbler-release.apk?dl=0

[2014-10-09 20:53] msylw commented on #869
Both work for me.
On Oct 10, 2014 5:30 AM, "Garvan Keeley" notifications@github.com wrote:

[2014-10-09 20:56] msylw commented on #869
By both I ment of course 2609288 and ebafaf7.
On Oct 10, 2014 5:53 AM, "Michał Sylwester" msylwester@gmail.com wrote:

[2014-10-09 21:02] gpoo commented on #869
Same here.

[2014-10-09 21:03] garvankeeley commented on #869
Excellent, and the only commit left is 7445a82, I don't need to do a build for, because that commit was overwritten by later changes.
So commit 01f8603 - block-fake-GPS is the one.

[2014-10-09 22:10] Djfe commented on #869
should I test those builds as well? or is the cause/issue clear already?

[2014-10-09 22:13] Djfe commented on #896
should I update/translate the German strings?
or should I wait for this?

since it is connected to Milestone 1.0, it probably doesn't make sense to do it now, right?
so I could wait for this before I start translating

[2014-10-09 22:25] Djfe commented on #869
we might need a different db for mozstumbler anyways to achieve #3
then it would actually make more sense to use a real db, to easily filter out already sent observations when uploading but keep the sent ones to show them on the map
they could be filtered through their lat/lon as well to only load the visible ones (where lat/lon < or > x/y)

[2014-10-09 22:26] crankycoder commented on #869
It looks like I introduced the problem when we added filtering of gps data
if there was no corresponding NMEA data.

We'll revert that change tonight.
On Oct 9, 2014 6:10 PM, "Felix Baumann" notifications@github.com wrote:

[2014-10-09 22:27] Djfe opened #973 "no fixed/visible satellites counter anymore and no evidence of an established GPS connection"
since 0.40.0 it is not possible anymore to see the number of fixed as well as visible satellites anymore

and it is impossible to see whether the device lost the GPS connection without moving and taking a look at the map/log at the same time

[2014-10-09 22:30] Djfe opened #974 "show whether stumbler is able to scan wifi and/or cells"
there should be an evidence if the stumbler isn't able to scan for wifi/cell whether it be because of:
- wifi is turned off and the always scan setting isn't enabled
- airplane mode is on
- a wifi hotspot is running on the antenna

maybe we could grey out the icons or make them red like the GPS is at the beginning

EDIT:
there should be listeners so that the stumbler realizes after the start/durin

[2014-10-09 22:31] Djfe commented on #973
to point this out further:
just having a number of 3 satellites there isn't enough, the GPS needs to be established and can be lost again, but if I loose my GPS connection then the old number (for example 8 satellites) still stands next to the gps icon (the label's text is still "8")

[2014-10-09 22:34] Djfe commented on #869
ok, lol :D
that was unexpected
so it seems like there are devices like my Sony Xperia Arc S (LT18i) that don't expose NMEA data
or is that ROM dependent?

EDIT:
anyway, thx for fixing that bug, was probably quite some hassle

[2014-10-09 22:36] Djfe opened #975 "the leaderboard doesn't jump to your nickname anymore"
the leaderboard doesn't jump to your nickname anymore since it got integrated into the app using the webview component
either you are not forwarding the anchor or the webview component doesn't render it correctly

[2014-10-09 22:38] Djfe opened #976 "zoom buttons appear on opening sidebar"
the gingerbread style zoom buttons of osmdroid appear every time I want to access the sidebar by using the swype gesture

is there a way to prevent this or is it an issue of OSMdroid?

[2014-10-09 22:43] Djfe commented on #976
there was the idea to use the web view, maybe this way this could be solved and an alternative zoom bar could be introduced

[2014-10-09 22:44] Djfe opened #977 "show map stats"
the map should show stats like the scale and/or the zoom level IMO

the website shows the scale as well

[2014-10-09 22:58] Djfe opened #978 "should we switch the map library? (after 1.0)"
I think after the 1.0 release we should debate about whether we keep osmdroid or switch to a different library, since it seemed to me like it produced lots of issues in the past and doesn't bring the needed performance
I heard of issues with map layers
#976, too, but it's a small issue

libraries I've found so far:
- libosmscout http://wiki.openstreetmap.org/wiki/Libosmscout
- opentouchmap http://

[2014-10-10 00:29] Djfe commented on #869
wait, but why does the observation count increase still?
that would indicate that the GPS position is registered as valid but that the observations/reports aren't filled into the db because they are not valid

[2014-10-10 00:32] Djfe commented on #764
I guess this has been fixed in 0.40.0, right?
I'm going to close this now.
If somebody thinks that it's not fixed, yet, then I will open it again.

[2014-10-10 00:32] #764 closed, assigned to nobody

[2014-10-10 00:33] Djfe commented on #94
@crankycoder you should close this issue since you introduced acra now ;)

[2014-10-10 00:35] Djfe commented on #132
@garvankeeley this is kinda fixed now since we only show visible counts and the queue
->there is no general number anymore that is increasing, even though entries aren't filled into the database

[2014-10-10 00:36] Djfe commented on #141
fixed now, I think
(you can enable MLS lookups in the settings)

[2014-10-10 00:37] Djfe commented on #195
@garvankeeley this can be closed since it's a duplicate

[2014-10-10 00:40] Djfe commented on #287
@garvankeeley is this fixed now or do we need an opt-in for data collection still?
what about sending hardware specifications along with the android version?

[2014-10-10 00:46] Djfe commented on #497
this discussion is now at #958

[2014-10-10 00:46] #497 closed, assigned to nobody

[2014-10-10 00:48] garvankeeley commented on #896
I would wait just a bit until https://github.com/mozilla/MozStumbler/issues/958 is fixed, we need to change wording to agree with ichnaea.

[2014-10-10 00:50] Djfe commented on #762
@garvankeeley pls close this ;)

[2014-10-10 00:51] Djfe commented on #952
this is a duplicate of #471
@garvankeeley pls close this issue ;)

[2014-10-10 00:52] Djfe commented on #949
I think they should be semi-transparent if there is none and red/orange if the device isn't able to scan. #974

[2014-10-10 00:55] Djfe commented on #502
@garvankeeley lots of code got changed, I think this can be closed
@Valeryan24 are you still experiencing such a bug in 0.40.1.0?

[2014-10-10 00:58] #534 closed, assigned to nobody

[2014-10-10 00:59] Djfe commented on #551
@garvankeeley fixed long ago already, I think

[2014-10-10 01:01] Djfe commented on #978
forgot about #620
and #582

[2014-10-10 01:01] Djfe commented on #657
@Moktarama did you experience any issues? else pls close this ;)

[2014-10-10 01:02] Djfe commented on #669
not an issue anymore since there is no separate window anymore

[2014-10-10 01:02] #669 closed, assigned to nobody

[2014-10-10 01:04] Djfe commented on #694
@crankycoder this got fixed for the username, but the new introduced email input shows the same issue now

[2014-10-10 01:05] Djfe commented on #896
ok, thx for your answer ;)

[2014-10-10 01:06] Djfe commented on #697
not an issue anymore, since the map view is the default view now

[2014-10-10 01:06] #697 closed, assigned to nobody

[2014-10-10 01:07] Djfe commented on #705
forgot to close this issue

[2014-10-10 01:07] #705 closed, assigned to nobody

[2014-10-10 01:07] crankycoder commented on #94
Merged in #967

[2014-10-10 01:07] #94 closed, assigned to nobody

[2014-10-10 01:08] Djfe commented on #706
@garvankeeley can probably be closed

[2014-10-10 01:08] Djfe commented on #707
@garvankeeley not an issue anymore: mapview is main view

[2014-10-10 01:08] crankycoder commented on #706
@naoliv can you confirm that you are getting a position with v0.40.1.0?

[2014-10-10 01:10] crankycoder commented on #707
The UX has been changed so that the primary usage is stumbling.  Displaying the MLS locations happens in an overlay which shows where MLS would have positioned you at each of the stumbled locations.

I'm closing this as it's not relevant anymore with respect to the new UX.

[2014-10-10 01:10] #707 closed, assigned to nobody

[2014-10-10 01:10] Djfe commented on #710
@gpoo is this still an issue?

[2014-10-10 01:11] Djfe commented on #716
@garvankeeley can be closed now, should work, since even the map legend differs between normal/wifi-only/cell-only observations

[2014-10-10 01:12] crankycoder commented on #710
This is a duplicate of #761 - the notification bar and the start/stop button were not hooked together properly.

Merged in #782.

[2014-10-10 01:12] #710 closed, assigned to nobody

[2014-10-10 01:14] Djfe commented on #811
@crankycoder I'm not sure whether this is even an option now since it prevented me and @gpoo from scanning properly although we don't have a fake gps

[2014-10-10 01:15] Djfe commented on #736
@crankycoder  not an issue anymore since the server-side ip checks got removed by hannosch again

[2014-10-10 01:16] Djfe commented on #748
@crankycoder not really an issue anymore since we got icons now

[2014-10-10 01:17] Djfe commented on #749
@crankycoder not an issue anymore

[2014-10-10 01:19] Djfe commented on #781
@crankycoder fixed already

[2014-10-10 01:20] Djfe commented on #798
@garvankeeley is this still on your to-do-list or already fixed?

[2014-10-10 01:20] naoliv commented on #706
Yes, it's locating me now.
But just one doubt: is it using Mozilla service to locate me, Google or maybe I should be seeing both?

[2014-10-10 01:23] Djfe commented on #860
it could help, if the stumbler would save observations to the file every x seconds instead of every x reports

[2014-10-10 01:24] Djfe commented on #883
@crankycoder fixed by now

[2014-10-10 01:24] crankycoder commented on #706
There's actually a lot going on in the UI, we need to have a walk through so that this is clarified, but here's what you're seeing:
- your location provided by GPS
- if you have the MLS location overlay, you will start getting red dots which indicate where MLS would have located you with only the cell and wifi data

[2014-10-10 01:24] #706 closed, assigned to nobody

[2014-10-10 01:26] Djfe commented on #706
you need to turn the MLS layer on in the settings manually, it's off by default because it can consume a lot of data

[2014-10-10 01:26] crankycoder commented on #883
We have a link to the main https://location.services.mozilla.com/ page in the about, but we are still missing the privacy link.

I'm leaving this open until we add the privacy link to the about activity as it's perfectly reasonable for people to want to see the privacy policy after the first run.

[2014-10-10 01:27] crankycoder commented on #798
It's still open.

[2014-10-10 01:28] #781 closed, assigned to nobody

[2014-10-10 01:28] crankycoder commented on #748
Closed as the UX has changed dramatically, there's no more text to overlap. :)

[2014-10-10 01:28] #748 closed, assigned to nobody

[2014-10-10 01:35] crankycoder opened #979 "Add a paranoid logging mode"
It's sometimes difficult to reproduce errors because of a number of problems:
- Android is inconsistent.  We've seen devices that collect NMEA data, others that don't.
- ichnaea itself is also a limiting factor.  The server does a JSON schema validation, and will return a 20x success response to the client.  The user of MozStumbler has a reasonable expectation that the data is 'valid'.  However, i

[2014-10-10 01:36] Hugo14 commented on #471
It would be great if MozStumbler could receive an intent that would automatically start or stop the scanning. This way automation apps, like Tasker, could interact with MozStumbler and start and stop it when adequate. It's also possible to create a Tasker plugin, but an Intent would allow any application to interact with MozStumbler.

For example, I could automatically turn MozStumbler on everytim

[2014-10-10 01:36] #952 closed, assigned to nobody

[2014-10-10 01:36] naoliv commented on #706
But I am indoor (there is no GPS lock/fix inside here) and I still can see my location:

![screenshot_2014-10-09-22-34-27](https://cloud.githubusercontent.com/assets/982338/4586769/d98e420c-501d-11e4-9b79-74da7ab36fd5.png)

Even with MLS layer enabled I can't see any red dots.

[2014-10-10 01:37] crankycoder commented on #736
It's not clear that this bug has been resolved.  I've filed #979 to add a paranoid logging mode to assist with debugging these sorts of issues.

I'm going to close this though as I don't see a good way of reproducing the problem.  I'm pretty sure @Moztmp isn't going to go on another trip just to stumble data for us. :)

[2014-10-10 01:37] #736 closed, assigned to nobody

[2014-10-10 01:42] Djfe commented on #736
well but the issue here is pretty clear to me.
hannosch preferred geolocation(ip) over GPS, he introduced bounding boxes with you
but people on vacation get an ip from their provider which is not an ip from the country they are making vacation in -> the server just threw the uploaded observations away because they were uploaded from a different country
hannosch wanted to prevent spam, but he also

[2014-10-10 01:44] Djfe commented on #979
could you pls prepare #3 along the side so that users could later on just check a setting named "keep uploaded data to show on map/export/whatever"?

[2014-10-10 01:56] crankycoder commented on #287
We added user-agents in #972 based on system defined http.useragent property

[2014-10-10 01:56] #287 closed, assigned to nobody

[2014-10-10 02:07] Djfe commented on #287
Could you still answer my questions pls ;)

[2014-10-10 05:47] Moktarama commented on #657
@Djfe yes, it happened several times again, always when using the phone heavily orduring the launch of other CPU/memory intensive apps. Not on the .40 versions though, I'm closing the three but might reopen it if it happens again on the last versions.

[2014-10-10 05:47] #657 closed, assigned to nobody

[2014-10-10 14:28] VolMi opened #980 "On/Off switch behaves weird"
I was convinced that MozStumbler 0.40+ is completely nonfunctional because of the way the on/off switch (mis)behaves:
When I _move_ the switch off-> on, nothing happens, except the switch is turned on. I just realized I have to _tap_ it, then MozStumbler is actually activated.
It's a Sumsum Galaxy S4 mini (i9195) with CM11 nightly from 10th October.

[2014-10-10 14:41] Djfe commented on #980
I find it rather interesting that swiping that button even works :)
It's probably just the wrong listener that is used.

[2014-10-10 15:28] garvankeeley commented on #973
We could fit a fractional view there of fixes / visible

[2014-10-10 15:29] garvankeeley commented on #965
Need to fix the fact it shows in the background. Taking it.

[2014-10-10 15:32] #716 closed, assigned to nobody

[2014-10-10 15:35] garvankeeley commented on #551
I would like this also. There is a closed non-merged PR for a partial fix for this if someone wants to continue looking at it.

[2014-10-10 15:36] #762 closed, assigned to nobody

[2014-10-10 15:36] garvankeeley commented on #195
Agreed

[2014-10-10 15:36] #195 closed, assigned to nobody

[2014-10-10 15:37] garvankeeley commented on #141
Yup, we send everything to MLS for location

[2014-10-10 15:37] #141 closed, assigned to nobody

[2014-10-10 15:39] garvankeeley commented on #951
Is still happening with 0.40.1?

[2014-10-10 15:40] garvankeeley commented on #794
Closing, we have a first run dialog now, no further action planned ATM on this.

[2014-10-10 15:40] #794 closed, assigned to nobody

[2014-10-10 15:43] Hugo14 commented on #951
My Mozstumbler About says it's version 0.20.9. I installed Mozstumbler from F-Droid. Could you remind whoever is in charge to update the version in that repository?

[2014-10-10 15:43] crankycoder opened #981 "NullPointer exception on receiving intent"
Crash occurs

[code]

https://github.com/mozilla/MozStumbler/blob/v0.40.1.0/android/src/main/java/org/mozilla/mozstumbler/client/mapview/MapActivity.java#L332

[code]

[2014-10-10 15:43] crankycoder opened #982 "NullPointer while starting a component"
Crash occurs at:

[code]

https://github.com/mozilla/MozStumbler/blob/v0.40.1.0/android/src/main/java/org/mozilla/mozstumbler/client/navdrawer/MainDrawerActivity.java#L140

[code]

[2014-10-10 15:46] Hugo14 commented on #951
I just checked F-Droid and version 0.30.0 is available but version 0.20.9 is the prefered version. Someone should take a look at the state of Mozstumbler in that repository.

[2014-10-10 16:20] Djfe opened #983 "widget support"
widgets should implemented, I think
there are probably lots of people that use them still.

we could show stats

this is similar to #476 but would work on older android versions as well ;)

[2014-10-10 19:49] crankycoder commented on #980
@VolMi can you try with a stock firmware?  The switch widget only listens for `onClick` as per the spec at: http://developer.android.com/guide/topics/ui/controls/togglebutton.html

[2014-10-10 20:02] crankycoder opened #985 "NullPointer exception on receiving intent"
Related to, but not the same as #981

Crash occurs during network connectivity change:

[code]

https://github.com/mozilla/MozStumbler/blob/v0.40.1.0/android/src/main/java/org/mozilla/mozstumbler/client/mapview/MapActivity.java#L343

[code]

[2014-10-10 21:01] cascheberg commented on #980
I can reproduce this on stock Android 4.4.4, Nexus 4

[2014-10-10 21:38] crankycoder commented on #980
Does swiping toggle switches work anywhere on your phone?  Swiping the
toggle works fine over here on a nexus 4 running stock 4.4.4.

What build number of Android do you see in "About phone"?  I have KTU84P
On Oct 10, 2014 5:01 PM, "Christian Ascheberg" notifications@github.com
wrote:

[2014-10-10 22:05] cascheberg commented on #980
Same build number. For example swiping the WiFi toggle switch in the Android menu works perfectly fine.
Swiping the switch in MozStumbler looks the same, but the icons stay transparent/grey. If I then click the switch anywhere, it quickly jumps to off, then back to on, and icons turn black. Interesting is that I cannot swipe the switch to off if the app is actually running, it always automatically

[2014-10-11 00:01] crankycoder commented on #747
Duplicate of #733

[2014-10-11 00:01] #747 closed, assigned to nobody

[2014-10-11 00:06] crankycoder commented on #932
Marked as "WONTFIX"

Mapbox's own fork of osmdroid doesn't use multiple URLs.

https://github.com/mapbox/mapbox-android-sdk/blob/mb-pages/MapboxAndroidSDK/src/main/java/com/mapbox/mapboxsdk/constants/MapboxConstants.java#L12

[2014-10-11 00:06] #932 closed, assigned to crankycoder

[2014-10-12 10:57] grrrrr commented on #970
Hopefully this will be an early fix.  Having just upgraded, Mozstumbler on a 20 minute drive ate through 60MB of a 250MB monthly cap.

[2014-10-12 11:06] grrrrr opened #989 "0.40.1.0 upload errors"
it is possible I am interpreting the logs but I see constant upload errors on all versions (0.2x, 0.3x, 0.4x).

Most recently I have upgraded to 0.40.1.0 and after a 20 minute mapping session (and 60Mb of data used :( #970 ) I got home and tried to upload the capture.  I pressed the upload and the queue is cleared instantly.

in the logs I see the following

[code]

The 2nd line gets repeated 14 t

[2014-10-12 12:33] crankycoder commented on #989
That's really strange - what kind of device do you have?

[2014-10-12 12:54] grrrrr commented on #989
Galaxy S4 running CM11 M8

[2014-10-12 14:56] crankycoder commented on #989
Can you retry this with stock firmware?

[2014-10-12 16:22] grrrrr commented on #989
unfortunately I'm not in a position to do that at the moment.

[2014-10-12 17:25] Djfe commented on #970
Got partially fixed now ;)
The coverage layer tiles are now down to 25% of the original filesize.
Mozilla/Ichnaea#326

[2014-10-13 04:47] crankycoder opened #993 "OutOfMemoryError finalizing reports"
Crash while generating JSON:

[code]

https://github.com/mozilla/MozStumbler/blob/v0.40.1.0/android/src/main/java/org/mozilla/mozstumbler/service/stumblerthread/datahandling/DataStorageManager.java#L417

[code]

[2014-10-13 04:55] #985 closed, assigned to nobody

[2014-10-13 17:35] AgentSteel commented on #869
Confirming this bug with releases 0.40.1.0  and 0.30

Counters stay at 0, no upload possible.

Motorola Defy+ / Stock rom 2.3.6

[2014-10-14 13:29] #980 closed, assigned to crankycoder

[2014-10-14 13:30] #982 closed, assigned to nobody

[2014-10-14 14:04] crankycoder commented on #993
More details - this happens on a 512MB Android 4.3 device: http://www.gsmarena.com/t_mobile_concord-4949.php

[2014-10-14 14:12] crankycoder opened #997 "NPE while starting the PreferencesScreen"
Crash on line:

[code]

https://github.com/mozilla/MozStumbler/blob/v0.40.1.0/android/src/main/java/org/mozilla/mozstumbler/client/subactivities/PreferencesScreen.java#L55

[code]

[2014-10-14 14:20] #981 closed, assigned to nobody

[2014-10-14 15:41] garvankeeley commented on #993
Related to https://github.com/mozilla/MozStumbler/issues/962

[2014-10-14 15:41] garvankeeley commented on #993
This is the first bug we have that would impact Fennec collection. And it is a crasher.

[2014-10-14 16:02] #694 closed, assigned to nobody

[2014-10-14 16:30] Djfe commented on #694
thx cascheberg :)
good work

[2014-10-14 16:36] Djfe commented on #685
@garvankeeley the only issue remaining from this is #974 because the UI got changed so much
you are not really able to see whether you still a new GPS position every second/10m -> it still shows satellites x, although there might be no established connection atm. (short GPS losses, aren't visible)

[2014-10-14 16:38] #997 closed, assigned to nobody

[2014-10-14 18:58] kbrosnan commented on #962
Hit this on a Galaxy S5 as well. https://gist.github.com/kbrosnan/f3cb7cc7fcb4d0044bf9

[2014-10-14 19:15] kbrosnan opened #1002 "Map behaves poorly when there are lots of scan points marked on the map"

[2014-10-14 19:18] kbrosnan commented on #1002
When there are a lot of observations on the map it will start to flicker on panning and eventually will stop displaying new points.

http://people.mozilla.org/~kbrosnan/tmp/mozstumbler-1002/mozStumbler-flicker.mp4

[2014-10-14 19:27] garvankeeley commented on #1002
Nice stumbling! We set our bar low, which was, keep running when the observation count gets super-high. We are getting close to finding cycles to do a proper fix, not sure if we can get it in for 1.0.
You should see that the new observations draw first, and older ones will flicker, that is expected (albeit ugly) behaviour for now.

Dev Note:
- For 1.0, instead of stopping storage at the point limi

[2014-10-14 23:50] garvankeeley commented on #965
addressed as part of
https://github.com/garvankeeley/MozStumbler/commit/65d3a3037c7d89ba2aa8fc5de05a284f9049e2f9

Comment on this (the video) shows the label on the map being used to indicate low/high res:
https://github.com/mozilla/MozStumbler/pull/998#issuecomment-59134925

[2014-10-14 23:51] #965 closed, assigned to nobody

[2014-10-15 14:57] #993 closed, assigned to nobody

[2014-10-15 17:44] crankycoder opened #1006 "NPE in PreferencesScreen"
This is pretty odd, it looks like it's throwing a NPE when trying to grab a pointer to the application.

Crash:

[code]

https://github.com/mozilla/MozStumbler/blob/v0.40.1.0/android/src/main/java/org/mozilla/mozstumbler/client/subactivities/PreferencesScreen.java#L99

[code]

[2014-10-15 18:09] garvankeeley commented on #1006
Crazy, getApplication() should be non-null. There must be an application to create an activity.

I think the crash is here:
https://github.com/mozilla/MozStumbler/blob/v0.40.1.0/android/src/main/java/org/mozilla/mozstumbler/client/MainApp.java#L380

That the service is not yet created.

Also, there should be a null pointer check here:
https://github.com/mozilla/MozStumbler/blob/v0.40.1.0/android/s

[2014-10-15 19:36] garvankeeley commented on #1006
pr #1007 fixes this, i hope.

[2014-10-15 19:36] #1006 closed, assigned to nobody

[2014-10-15 19:37] garvankeeley commented on #970
This is now an option on the developer screen, will be in the next build

[2014-10-15 20:06] garvankeeley commented on #943
fixed, hopefully

[2014-10-15 20:06] #943 closed, assigned to nobody

[2014-10-15 20:39] garvankeeley commented on #975
fixed

[2014-10-15 20:39] #975 closed, assigned to nobody

[2014-10-15 20:51] garvankeeley commented on #959
Thanks for the feedback.
I think we need to improve the correlation between the dots on the screen and the icon (currently binoculars) on the screen. I am not sure how to best accomplish that.
We don't use pins because by convention they are a tappable/clickable entity, and also they aren't used for high point density/volume like tracks . If you can show and example of what you mean that would hel

[2014-10-15 21:40] #970 closed, assigned to nobody

[2014-10-15 21:40] garvankeeley commented on #962
Marking fixed by #993

[2014-10-15 21:40] #962 closed, assigned to nobody

[2014-10-15 21:59] #958 closed, assigned to nobody

[2014-10-15 23:51] Djfe commented on #959
The pin symbol is supposed to show that MLS is able to pin-point/locate you on a map/in the world based on your environment (cells+wifis)

[2014-10-16 16:35] #948 closed, assigned to nobody

[2014-10-16 16:35] #909 closed, assigned to nobody

[2014-10-16 18:12] crankycoder commented on #989
@grrrrr can you try on v0.40.3.0?

[2014-10-16 18:12] #989 closed, assigned to nobody

[2014-10-16 19:46] crankycoder opened #1016 "Modify the build so that AndroidManifest.xml is updated as an intermediate"
We should change the build to rewrite versionName and versionCode in an intermediate diretory so that we aren't constantly committing/ignoring the AndroidManifest.xml file.

There's some sample code from here that we can re-use:

https://github.com/mozilla/MozStumbler/blob/09ba72c6de23b4fcba9bae3f89252e334e1d4b98/android/build.gradle

[2014-10-16 20:00] grrrrr commented on #989
@crankycoder  sure, it will be a day or two but I'll report back.  I'll be testing on 0.40.4.0.

[2014-10-16 20:27] garvankeeley commented on #903
I think the play store flags can take care of this

[2014-10-16 21:16] Djfe opened #1018 "Strings in layout file"
Why is there a string missplaced in a layout file?
It is supposed to be in the strings.xml that is translatable.

https://github.com/mozilla/MozStumbler/blob/dev/android/src/main/res/layout/fragment_kml.xml

[2014-10-16 21:32] cascheberg opened #1019 "Show number of unique cells/wifis scanned during session in metrics"
Those numbers were previously displayed on the main screen and are not available anymore

[2014-10-16 23:12] Djfe commented on #903
What about F-droid builds?
I mean this still could get implemented but with a lower priority

[2014-10-16 23:13] Djfe commented on #1019
They got removed to stop displaying unnecessary metrics (could cause confusion if there are two different numbers and you should follow DRY)

[2014-10-17 05:01] ghost opened #1021 "Period Wake to Scan"
As a feature it would be nice of we could set Mozstumbler to wake once every 5, 10, 15, 30, 60, 120, 360 minutes and auto scan for a short interval of time.

It would also be nice if we could have periodic wake triggered by GPS calls from other apps or when charging.

Apps like Sensorly and OoenSignal do this as does Rootmetrics.

[2014-10-17 12:12] Djfe commented on #1021
Duplicate of #369
Have you tried to give it some attention again? ^^
This feature will probably be implemented one day
You could ask @cascheberg whether he is interested in implementing it ;)
Garavankeeley and Cranky oder (core team) are occupied with the play store release atm.

[2014-10-17 14:20] crankycoder opened #1022 "LENOVO Lenovo Lenovo A316i doesn't work"
We're seeing crashes from this device running Android 4.4.4.

This error is happening deep inside of Android and looks like a firmware bug from Lenovo.

[code]

**Updated**: I pasted in the wrong stacktrace

[2014-10-17 14:23] crankycoder opened #1023 "MainApp::onStop crashes (if battery <15%, app crash on startup)"
Reference to the StumblerService in MainApp::onStop doesn't check for null properly.

[code]

[2014-10-17 14:25] crankycoder opened #1024 "Get robolectric tests to verify that Service pointers for NULL are properly checked"
We can instantiate activities and services with robolectric test cases.

The testcase should emit intents against MainApp and verify that NPE are not triggered.

[2014-10-17 14:26] crankycoder commented on #1024
This should mitigate problems like #1023 in the future and give us a template for how to make sure other services do not suffer from runtime NPE.

[2014-10-17 14:31] garvankeeley commented on #1023
mStumblerService is tied to the lifecycle of MainApp, except there is a small (<50 ms) delay while it asynchronously creates the stumbler service. Maybe the app is receiving the low power message on startup, and receiving a stop message before mStumblerService is assigned.

[2014-10-17 14:35] crankycoder commented on #1022
I double checked against Fennec and we have similar crashes reported over there:

https://crash-stats.mozilla.com/report/index/9397696b-3727-4daf-bba5-86f9e2141017

[2014-10-17 14:38] garvankeeley commented on #1022
Is this cause by ACRA libs? I assume this is for catching 'app not-responding' os notifications.

[2014-10-17 14:52] crankycoder commented on #1022
Maybe?  But I don't think so.  Fennec wouldn't have crashstats reported.  I googled around and some Sony devices do the same thing.

http://www.eoeandroid.com/thread-544525-1-1.html

Co-incidentally - it's also on the same 4.2.2 revision of Android.

[2014-10-17 15:20] crankycoder commented on #903
@djfe I'm going to say that if you're capable enough to use f-droid, you probably know enough that you don't want to use this app without a GPS.

[2014-10-17 15:46] garvankeeley opened #1025 "Get F-Droid build updated to 0.40.x"
F-Droid currently only has 0.30, we should get this updated to get some testing from F-Droid users prior to the play store release

[2014-10-17 16:36] Djfe commented on #903
good point :+1:

[2014-10-17 16:47] crankycoder commented on #1025
So a couple things:

We need to get binaries of our fork of osmdroid and simplekml uploaded into JCenter.  I've opened an account, but have yet to upload binaries.

Notes for myself - docs to upload binaries are here:

https://bintray.com/docs/uploads/uploads_howdoiuploadmystufftobintray.html

The osmdroid fork we have will need to be manually packaged up and uploaded into jcenter.

[2014-10-17 17:13] ryanfeeley opened #1027 "Rename “Sent (all time)” to “All sessions”"
In the metrics panel, rename “Sent (all time)” to “All sessions” to make more consistent with previous “This session” heading.

[2014-10-17 17:24] ryanfeeley opened #1028 "Ensure that string length in metrics will survive L10n"
The layout of the metrics table is a little tight. What will happen when longer strings are introduced?

[2014-10-17 17:25] ryanfeeley opened #1029 "Disable upload button in metrics when all numbers are zero"
Render the upload button in a disabled state when there is nothing to send (or optionally, hide the entire section).

[2014-10-18 10:15] goldfndr opened #1034 "No geofencing?"
#1012 was committed, which seems to "solve" #93, but due to #791, my usecase of launching the app early (via tasker) then toggling it "on" manually after leaving the geofenced area is broken.

[2014-10-18 15:18] grrrrr commented on #989
so far so good on 0.40.4.0, no error messages in the logs, 8kb sent in less than 1 second

[2014-10-18 17:17] grrrrr opened #1035 "Philippines mapping"
apologies for this as I know it is not an issue per say but more a question and not sure of a mozstumbler mailing list to ask on.

Can anyone explain the star like mapping that occurs coming out from Manila and into the sea?

https://location.services.mozilla.com/map#7/14.881/120.795

[2014-10-18 17:27] AgentSteel commented on #989
Hi, also tried this release 0.40.4.0 and was able to upload some tiny bits (~260 bytes) but still getting several HTTP 400 upload errors, makes me think that only a small fraction of the collected data was uploaded.

In particular, only some wifi hotspots were sent, no cellular antenna (I'm sure at least 1 was detected)

Using stock rom : gingerbread 2.3.6 on Moto Defy+

[2014-10-18 23:56] goldfndr commented on #1034
I think I have a workaround, System / Send Intent:
- Action: org.mozilla.mozstumbler.turnMeOff
- Target: Broadcast Receiver
- (other fields leave as default/empty; Cat: None)

Using the Test button in Tasker, stumbling is turning off. Now to work on timing... :smiley:

[2014-10-19 10:22] cascheberg commented on #1019
Why did you decide to not hide the other values instead then? I myself found the unique numbers to be more interesting and helpful, and I think they are easier to understand in general.

[2014-10-19 10:45] Djfe commented on #1019
I didn't decide that that were the devs, I'm just a user of MozStumbler that is interested in open source and wants to contribute later into the project like you do already. I'm still learning Java and I need to look into developing for Android still.

The reason is simple, the other (old) numbers were counting wifi/cell sights that were recorded without a valid/established GPS connection -> so th

[2014-10-19 15:38] cascheberg commented on #1019
I wasn't necessarily referring to you personally, but to everyone involved :) I was also asking because I could not find the specific relevant push for that change.

So maybe it's a good idead to keep in mind to fix that bug. I think it's not easily possible to compare the non-unique values to leaderboard points at all.

[2014-10-19 16:54] Djfe commented on #1019
then the wifi/aps should be shown like 5/151 over the map next to the specific icon

took some time but I found the issue about it:
#917

[2014-10-19 17:00] Djfe commented on #1035
ok this looks strange and cool at the same time but I don't have a clue why it is happening :)

[2014-10-19 17:34] WhiteHatTux commented on #1028
This actually happens in german. shortly after an upload it says
"Letzer upload: vor einem Augenblick" (Last upload: a moment ago)
Now the second part of that string is to long and interferes with the next line, when the automatic line break is applied after "einem".

[2014-10-19 23:59] hannosch commented on #1035
That's an old and unsolved problem, first described here: https://groups.google.com/d/msg/mozilla.dev.geolocation/biwiie__M10/koQQW2BcFsQJ (short version: bad imported data). An issue on the server side would probably be more appropriate for this: https://github.com/mozilla/ichnaea/issues

[2014-10-20 08:02] cascheberg commented on #947
This was fixed in #1003

[2014-10-20 08:38] httpless commented on #989
I can confirm that some data is not being uploaded fully from anecdotal evidence.  Following a recording session only some of my data was recorded, despite witnessing mozstumbler recording data in areas which are unmarked in the map.

https://location.services.mozilla.com/map#14/53.3295/-6.2122

In this map, I did Sandymount strand and the main roads of the area marked Irishtown Nature Park.   Pri

[2014-10-20 08:52] Djfe commented on #1028
@elsuggo I'm volunteering for updating the German translation, I've just waited for some if the latest issues to be fixed (lots of string changes)

String that would fit better in this case:
"Gerade eben"

[2014-10-20 09:03] cascheberg commented on #869
NMEA checks were removed in #993

@Djfe the behavior of increasing observations for invalid reports was fixed in #1031

[2014-10-20 09:36] cascheberg commented on #1019
@garvankeeley I'd be willing to look into fixing this (#132 for unique values) if there is a chance for this to be added back to the UI.
Having different values based on different ways of counting is not great, but I still think the more intuitive and meaningful thing to keep (per default) is to count unique networks.

[2014-10-20 10:08] Djfe commented on #1019
the numbers on the left are unique already (got changed some time ago from countings to unique numbers)
the only difference is that the left only counts saved wifi/cell networks
and the other numbers include wifi/cell networks that were recorded without a valid GPS signal, which would be too confusing IMO)

what about a devs option to enable showing them?

[2014-10-20 10:13] Djfe commented on #869
oh I didn't realize that, because I didn't look too much into that issue, an oom error didn't look too interesting to me, especially since it got fixed quickly
thx for the information ;)

independently of that I tested 0.40.4.0 today and everything works fine

this can be closed now I think :)

(Hopefully it works again now for everyone in this thread)

EDIT:
OK found the pull request #1004
and th

[2014-10-20 10:19] Djfe commented on #1035
is it possible to analyse the available data in that part of the database for possible patterns to filter out in a convenient way or will this problem eventually solve itself if new data gets imported for the same cells/wifis so that the blocking algorithm for movement can first delete those entries and later put them in again if further uploads confirm it's "new" position?

or is that not possibl

[2014-10-20 10:31] Djfe opened #1038 "EOF error in log"
Maybe another issue you want to fix before the 1.0 release/milestone:
![log](https://cloud.githubusercontent.com/assets/5685512/4699652/d60d1378-5843-11e4-9a17-07352e033936.png)

cannot provide any information on how to reproduce this, yet, because this was my first run since a month or so ago that really worked (using 0.40.4.0).
Happended at the end of the run during upload

maybe I'm able to rec

[2014-10-20 10:43] Djfe commented on #698
@garvankeeley did this get fixed by crankycoders commit? #1004

[2014-10-20 11:13] hannosch commented on #1035
There isn't an easy way to clean the map up. The problem is that the map only shows the positions where observations where taken. But we don't retain the observations in the online database, but dump those to files (Amazon S3). So we cannot conveniently query that data again without going through it all.

What we have in the online database is just the aggregated positions of the cell/wifi network

[2014-10-20 15:16] WhiteHatTux commented on #1028
Great then. Probably easier to use a shorter string if possible than to change the whole layout. :-)

Am 20. Oktober 2014 10:52:51 MESZ, schrieb Felix Baumann notifications@github.com:

[2014-10-20 15:17] crankycoder opened #1039 "Reduce collection frequency on stumbler"
We need to reduce the collection frequency on the stumbler down to ~30m.  We don't want ichnaea to keel over on initial google playstore release.

cc/ @hannosch

[2014-10-20 16:09] garvankeeley commented on #869
Closing, these issues should all be fixed now.

[2014-10-20 16:09] #869 closed, assigned to nobody

[2014-10-20 16:19] cascheberg commented on #1039
A note here: currently WiFi is set to only scan every 5 seconds. That is ~42m at 30km/h.

[2014-10-20 16:22] hannosch commented on #1039
I think there are two thresholds. We only collect data if you have at least moved X meters (currently 10m, proposed to be increased to 30m). And additionally only collect data at most every X seconds (which I thought was currently 1s).

[2014-10-20 16:25] garvankeeley commented on #1039
GPSScanner.java currently has 10m and 1sec

On Mon, Oct 20, 2014 at 12:22 PM, Hanno Schlichting <
notifications@github.com> wrote:

[2014-10-20 16:37] cascheberg commented on #1039
I was referring to `WifiScanner` that has a scheduler to run `getWifiManager().startScan()` every 5 seconds only. When that is finished, it sends a `ACTION_WIFIS_SCANNED` intent to the `Reporter`. That means that if you travel fast, currently only every ~4th observation contains WiFi data at all.
The cell scanner is scanning every 1 second.

[2014-10-20 16:38] garvankeeley commented on #1039
The android wifi layer actually seems to scan closer to every minute. That
5 second scan does not trigger the hardware to scan any faster.

On Mon, Oct 20, 2014 at 12:37 PM, Christian Ascheberg <
notifications@github.com> wrote:

[2014-10-20 17:05] cascheberg commented on #1039
I really do not know anything about Android (hardware) internals.
But: when I change the MozStumbler WiFi scanner to scan every second, it happens that the number of WiFis displayed in MozStumbler even changes within that time, and the native Android WiFi listing then also updates at that frequency (on my Nexus 4).

[2014-10-20 17:16] gpoo commented on #869
Yes, it is fixed now. Thanks @Djfe for trying 0.40.4.0 out of the blue.  When I read the changelog of 0.40.4.0 and did not see this bug mentioned, I did not bother because I assumed it would be fixed later :-/

[2014-10-20 19:18] #1035 closed, assigned to nobody

[2014-10-20 19:19] #1023 closed, assigned to nobody

[2014-10-20 19:19] #947 closed, assigned to nobody

[2014-10-20 19:20] #883 closed, assigned to nobody

[2014-10-20 19:20] #861 closed, assigned to nobody

[2014-10-20 19:21] ryanfeeley commented on #1027
(Note the lowercase S in sessions)

[2014-10-20 19:21] #843 closed, assigned to nobody

[2014-10-20 19:21] garvankeeley commented on #1027
Thx, it is

[2014-10-20 19:22] #788 closed, assigned to nobody

[2014-10-20 19:22] #785 closed, assigned to nobody

[2014-10-20 19:22] #759 closed, assigned to nobody

[2014-10-20 19:22] #751 closed, assigned to nobody

[2014-10-20 19:23] cpeterso opened #1045 "Error deserializing status from JSON: org.json.JSONException: No value for status"
I saw JSON errors like these logged every ~10 seconds. The MozStumbler app was running in the foreground, but I was not actively stumbling.

[code]

[2014-10-20 19:24] garvankeeley commented on #742
Don't see this being added, closing

[2014-10-20 19:24] #742 closed, assigned to nobody

[2014-10-20 19:27] garvankeeley commented on #1045
This code got changed at some point and is missing an http status check, will fix

[2014-10-20 19:53] billmaggs opened #1047 "Display of drifting location fix"
Mozstumbler (0.40.4.0) shows track of locations while stationary, as what looks like GPS fix rifts. Confusing feedback to user. Should just move a single location dot  as fix shifts. Attachment shows me sitting on my butt but a trail of movement:

![screenshot_2014-10-20-12-38-11](https://cloud.githubusercontent.com/assets/798731/4707941/a4f6c83e-5892-11e4-9c4b-187c4baf4968.png)

[2014-10-20 20:01] garvankeeley commented on #1047
Related to https://github.com/mozilla/MozStumbler/issues/763

[2014-10-20 20:02] garvankeeley commented on #1047
This effect is reduced by https://github.com/mozilla/MozStumbler/pull/1042

[2014-10-20 20:05] garvankeeley commented on #1047
I have no upcoming plans for GPS filtering (if the GPS says you have moved 30meters, the app doesn't do further verification of that). But if someone wants to take this on, or knows of out-of-the box GPS filtering algorithms that are available, we would add it in.

[2014-10-20 20:23] #1018 closed, assigned to nobody

[2014-10-20 20:23] #1039 closed, assigned to nobody

[2014-10-20 21:03] narfg opened #1048 "Crash on low battery"
I got the message "MozStumbler has stopped" right when the battery level gets low (<15%) on two occasions in the last few days. The app was in the background and not actively scanning. This error seems to be intermittent and I can't reproduce it consistently. I'm sorry I can't provide more detailed logs.
Version 0.40.4.0 on Android 4.4.4

[2014-10-20 21:05] garvankeeley commented on #1048
Yeah, that is the bug, it is fixed in the next release.

On Mon, Oct 20, 2014 at 5:03 PM, Tim Habigt notifications@github.com
wrote:

[2014-10-20 21:21] narfg commented on #1048
Oh, I missed that this was already reported and fixed in #1026. Great work!

[2014-10-20 21:21] #1048 closed, assigned to nobody

[2014-10-20 21:25] #867 closed, assigned to nobody

[2014-10-20 21:51] Djfe commented on #1039
even though this got closed:
in 0.40.4.0 I recognized that if I ran/drove too fast then I often got points without wifi data (cell only report: blue square)

[2014-10-20 21:59] #1045 closed, assigned to nobody

[2014-10-20 23:04] Djfe opened #1052 "MozStumb... Apptitle is cut off on some devices"
the app title is cut off on some devices which looks ugly IMO

workarounds:
we could move the leaderboard and settings buttons to the bottom of the drawer, make it scrollable and open on pressing the legacy menu key of the device

or we could move the on/off switch to the top-right off the drawer or make it narrower

the issue:
![2014-10-20 22 59 24](https://cloud.githubusercontent.com/assets/5685

[2014-10-20 23:43] garvankeeley commented on #1052
Oh man! This 480px wide screen, the font is really large. What Android is this?

[2014-10-20 23:56] Djfe commented on #1052
Sony Xperia Arc S using
Carbonrom (basically Kitkat 4.4.4)

[2014-10-20 23:57] Djfe commented on #1052
I guess the padding of the on/off switch is too big
imagine: without the dots "ler" could definitely fit into that space
it would just be a tiny bit closer to the on/off switch than the buttons

[2014-10-21 00:03] Djfe commented on #1047
it's just that the GPS needs some time at the start of the stumbling to get more accurate, if you move further it will get full accuracy

you could use another GPS app walk around a bit and then start MozStumbler and this effect won't occur, because the GPS was/is in use already...

[2014-10-21 00:12] Djfe opened #1054 "The Map updates new tiles faster while touching/swiping on it"
Might have to do with the way OSMDroid works,
but the map updates faster for me if keep on moving through the new unloaded tiles
if I stop touching the screen it can take a second or more

(50mbit VDSL over wifi connection)

[2014-10-21 00:17] Djfe commented on #1052
Works fine in landscape of course, but the font in landscape is smaller, too.

[2014-10-21 11:53] hannosch commented on #1047
I blame the constant earthquakes in San Francisco for this, maybe it's the building that's moving ;)

[2014-10-21 12:23] cascheberg opened #1055 "Investigate network scanner scanning frequency"
Currently the frequencies of GPS position updates, cell scanning, and wifi scanning are configured independently from each other. The `WiFiScanner` has `WIFI_MIN_UPDATE_TIME` = 5000ms and the `CellScanner` has `CELL_MIN_UPDATE_TIME` = 1000ms, while the `GPSScanner` requests location updates after 10m movement occured and at least 1s passed (#1039 -> 30m, 2s).

I would assume that based on the rang

[2014-10-21 12:59] hannosch commented on #1055
I think a very early version of MozStumbler did start off a cell/wifi scan whenever we got a GPS location fix. That didn't work all too well, since the underlying OS and hardware typically don't allow arbitrary short scanning intervals for these. And they tend to actually give you some cached version of data, so what you are getting is rarely data that represent what you actually have around you "

[2014-10-21 13:19] cascheberg commented on #1055
Thanks for that!

I already mentioned this in #1039: I set the wifi scanner to scan every second, and the scan results could vary each second, so it does not seem as if I get the very same cached results for a longer period of time (using a Nexus 4). On the other hand, I do not see a benefit in requesting cell scan data every second, assuming that you could save some energy by using lower frequenc

[2014-10-21 14:00] crankycoder commented on #1039
Marking this as a duplicate of #1042

[2014-10-21 17:56] ryanfeeley opened #1060 "Text-only signal status"
Until we get a beautiful set of icons, text-only (Droid Sans I assume) is proposed for now.

![text-only](https://cloud.githubusercontent.com/assets/68213/4723862/7a5f5f6e-594b-11e4-81c2-4913aec7f350.png)

When signal is not available, colour can be grey; when down, red, etc.

[2014-10-21 18:07] garvankeeley commented on #1060
Agreed, this looks really clean, the matching blue is slick. We avoided text on the toolbar because of translations. This complicates the layout quite a bit. (I am guessing only REPORTS needs translation?)

Implementation notes:
- For reports, we use 5 digits of spacing to hold a large range of values.
- We have a dash in WI-FI throughout our use in the product

[2014-10-21 18:11] Djfe commented on #1060
CELL needs to be translated, too.

EDIT: If we wait for 1.1 before changing this, then we could wait for new icons, too.

[2014-10-21 18:22] #749 closed, assigned to nobody

[2014-10-21 18:23] Djfe commented on #1055
the situation might have changed and the caches of the OS might deliver more accurate data (with better hardware underneath)

I agree that we should scan cells only every 2 seconds or less (happens on my phone that it switches between 1 (connected) and x (available) cells every second, cause the interval is probably too short
wifi every two seconds sounds reasonable, too

about every 30ms: I would

[2014-10-21 18:23] crankycoder commented on #811
Nmea checks break stumbling on a large number of devices.

When we implemented this for active stumbling it broke common devices like the galaxy s3 using stock roms.

Let's not do that again.

[2014-10-21 18:24] #811 closed, assigned to nobody

[2014-10-21 19:00] cascheberg opened #1061 "Opening developer dialog stops scanning"
Opening the developer dialog stops the scanning process. @garvankeeley you already added a TODO about moving this. Now that the dialog contains the map tile options, it would be nice to have that fixed. (Is it easy to fix?)

[2014-10-21 19:01] ryanfeeley commented on #1060
If localization is not surprisingly bad, and you can manage the layouts, I actually think that text performs better in this context. Fixes and new state:
![text-only-off](https://cloud.githubusercontent.com/assets/68213/4724875/9d14d206-5954-11e4-98b7-f2028bb375e7.png)
![text-only-on](https://cloud.githubusercontent.com/assets/68213/4724876/9d1ec036-5954-11e4-8249-7d8b37013520.png)

[2014-10-21 19:37] garvankeeley commented on #1061
good point, i'll fix now, its quick to change...

[2014-10-21 20:22] garvankeeley opened #1064 "unused translations"
values-bn-rBD/strings.xml:6: Error: "action_upload_observations" is translated here but not found in default locale [ExtraTranslation]
values-bn-rBD/strings.xml:10: Error: "view_map" is translated here but not found in default locale [ExtraTranslation]
values-bn-rBD/strings.xml:13: Error: "wifi_disabled" is translated here but not found in default locale [ExtraTranslation]
values-es/strings.xml:16

[2014-10-21 22:36] Djfe commented on #1064
We wouldn't have this kind of hassle with L10n/Crowdin...

[2014-10-21 22:43] garvankeeley commented on #1002
Hopefully fixed in v0.41.0.0

[2014-10-21 22:43] #1002 closed, assigned to nobody

[2014-10-21 22:52] Djfe commented on #1064
I have time to do that tomorrow ;)
Easy but takes some time.
Will resort the English strings then as well.

[2014-10-22 04:25] rodmoreno commented on #1060
I like so much, no icons, the app looks clean and in line with current design trends, aka, flat

[2014-10-22 04:31] rodmoreno commented on #1064
Would you be useful Commits (7ab3aae & 1ac300e) within my pull #1033 ? I reversed since the Travis-CI threw me some errors because the file activity_main.xml these strings were used.

[2014-10-22 06:43] petercpg opened #1066 "Last Upload Time displaying a time in zh-CN script in zh-TW locale (l12y?)"
Hi,
I just found the time in "Last Upload Time:" are not localizable so it displays values as "never", "片刻之前", "19 小时 前" (19 hours ago in Simplified Chinese) rather than strings fully localized in Traditional Chinese. Probably a library issue?

Screenshot: http://imgur.com/dUA1sHq

Tested in 0.41.0.0 on Asus Zenfone 5 LTE (Android 4.4.2 KOT49H) and Nexus 7 2013 (Android 5.0 LPX13D)

[2014-10-22 08:41] Djfe commented on #1064
I don't know how to just append two commits, so I will just try to sync every strings.xml with the source one

[2014-10-22 10:54] cascheberg commented on #1066
That is a library named `PrettyTime`.
There is a problem with the German translation as well.
I prefer an accurate date to figure out the time diff myself, so I think one might just as well remove that formatting. @garvankeeley ?

![bug](https://cloud.githubusercontent.com/assets/3845150/4734865/f5267222-59d8-11e4-8274-0c63ab37eaa8.png)

[2014-10-22 13:29] crankycoder commented on #1060
I'm indifferent to icons vs text.

In either case, the meaning of what the text or the icons mean is not clear to the user without some documentation.   So - let's get some actual formal documentation written down for users so that they understand what the number for each of the 4 things means.

[2014-10-22 14:13] garvankeeley commented on #1061
Is fixed in 0.41 build

[2014-10-22 14:13] #1061 closed, assigned to nobody

[2014-10-22 14:15] garvankeeley commented on #1060
I prefer door hangar app intros to formal docs. So that when I first use an app, views hang off the UI elements explaining their purpose. In settings we would have 'Show first run screens again' or something of that nature.

[2014-10-22 14:18] garvankeeley commented on #1054
With scanning off, do you ever get areas on the map not loaded until you touch the screen?

[2014-10-22 14:19] garvankeeley opened #1067 "Cell count on map view shows 1, when many have been scanned"
My cell count always shows 1, but I can see in the log, the current scan actually had many. I am not sure the cell count has ever shown anything other than 1 on the map view.

[2014-10-22 14:35] garvankeeley commented on #1066
I like the PrettyTime, and we should investigate the translation issue, both for missing translations and for  fitting the translation better. For now I am just going to do:

if (Locale.getDefault().getLanguage().equals("en")) {
                    lastUploadString = new PrettyTime().format(new Date(lastUploadTime));
 } else {
                    lastUploadString = DateTimeUtils.formatTimeForLocal

[2014-10-22 14:37] Djfe commented on #1054
they load in the moment I touch the screen

if I swipe on the screen the map will move for a few seconds even without touching it
but it takes noticeable longer to load

my theory: while moving around the screen gets continually updated for tiles -> faster intervals/timeouts if connection is not perfect
and it could have to do with my hardware. 1,4 ghz single-core + 500mb RAM (380mb accessible for

[2014-10-22 14:39] garvankeeley commented on #1038
This looks like a network error, which should be ok, it will retry the upload.

@crankycoder can answer the upload crash reports question. They are independent of the scanning report uploads from what I see.

[2014-10-22 14:41] Djfe commented on #1060
btw. we could move the map legend somewhere else then or/and add an explanation for the green icon, too or else people (new users) might get confused

I think the clean look is nice but icons work as well and might be even better (no translation needed)

we could maybe even offer a real tour through the app in which you are guided how to make geofenced areas and what they are (this is for later on

[2014-10-22 14:43] Djfe commented on #1038
I thought EOF mean EndOfFile so I thought it was about the db.
this screenshot was taken in 0.40.4.0 btw.

[2014-10-22 14:43] garvankeeley commented on #1054
We are actually investigating osmdroid behaviours at the moment.
Can you get a state where sections of the screen don't load?

[2014-10-22 14:51] Djfe commented on #1054
well this was about them loading slower
haven't had issues, where tiles won't load at all

just sometimes (really rare) it takes over 5 (up to 10) seconds for some tiles too load, which I think is caused by the custom rom/my device

as said the normal behaviour is surprisingly good since got changed like, how many are loaded at the same time and since you optimized the framerate in several ways

[2014-10-22 15:33] crankycoder commented on #1038
Thanks for catching this.

@Djfe what device and version of Android are you using?  We had a problem in Stumbler 0.30 where HTTP connections were not properly closed because of an Android bug, but I haven't seen this myself.

I've just added a patch to make all error logs include a stacktrace so that we can debug this here: https://github.com/crankycoder/MozStumbler/commit/c3532553e723efbbd2d7727a

[2014-10-22 15:34] crankycoder commented on #1054
@Djfe which ROM are you using?

[2014-10-22 17:27] AgentSteel commented on #974
or maybe display a message to ask the user to enable wifi

[2014-10-22 19:40] garvankeeley opened #1068 "Investigate name change to Mozilla Stumbler"
Branding is against shortening Mozilla to Moz on actual products. Let's see if this is do-able.

[2014-10-22 19:43] garvankeeley commented on #1068
On 2.3.3 480 px wide screen:
https://www.dropbox.com/s/pcd4a6pby5tf1q0/Screenshot%202014-10-22%2015.41.34.png?dl=0
https://www.dropbox.com/s/m3p18y6v2r7giqy/Screenshot%202014-10-22%2015.41.24.png?dl=0

[2014-10-22 19:46] garvankeeley commented on #1068
On 4.4.4 540px wide Nexus 5:
homescreen (not cut off, 2 lines)
https://www.dropbox.com/s/zdcd28hraqsxujf/_20141022_154345.JPG?dl=0
ActionBar (not cut off)
https://www.dropbox.com/s/s7th7ege5j0pb6n/_20141022_154450%20%281%29.JPG?dl=0
App listing screen:
https://www.dropbox.com/s/ivcvh9fnyx1u9d3/_20141022_154427.JPG?dl=0

[2014-10-22 19:57] kbrosnan opened #1069 "Disable "keep screen on while in map" when in low power situations"
When keep screen on while in map is selected and the device is under 15% battery the display never turns off and since it is the foreground application the current location is still requested. Allowing the screen to sleep when in low power mode seems to disable the location requests.

[2014-10-22 19:58] garvankeeley commented on #1069
Good catch. Under 15% we should shut off the screen.

[2014-10-22 20:04] Djfe commented on #974
this is about issues where it might not be obvious that MozStumbler doesn't have wifi access.

Another issue is:
if you allow MozStumbler/apps in general to scan while wifi being off while MozStumbler is scanning already MozStumbler won't scan until you restart it (if wifi is off)

if you have that option is off and you are in airplane mode or have a hotspot on it might not be obvious that MozStum

[2014-10-22 20:06] garvankeeley commented on #1068
2-line action bar title works on a wide range of APIs:
https://www.dropbox.com/s/nmfy1ffuuljnqmy/Screenshot%202014-10-22%2016.05.53.png?dl=0

[2014-10-22 20:06] Djfe commented on #1054
http://forum.xda-developers.com/showthread.php?t=2575425 nightly 13 -> need to update to nightly 14 still
so for you everything loads faster than you can scroll through the map/the tiles load instantly?
if so then there is no issue with the map but my device

[2014-10-22 20:08] Djfe commented on #1038
I will report here if I catch issues again in 0.41.0.0
Android Carbonrom http://forum.xda-developers.com/showthread.php?t=2575425 nightly 13 (Kitkat 4.4.4)

(if there are bugs in Android they might have been fixed in the upstream already->the page above is an unofficial port, it doesn't get updatet as often as the official versions, it was official before, but it's only one developer that integrat

[2014-10-22 20:10] cpeterso commented on #1068
"Mozilla Stumbler" looks much better.

[2014-10-22 20:11] garvankeeley commented on #1068
Any ideas about scenarios I should check (screen sizes, API levels, etc.) and I'll try set up emulators accordingly.

[2014-10-22 20:56] gpoo commented on #1068
@garvankeeley Possibly the one that has "Mozilla Stumbler" and the "Start Scanning" button, rather than the icon with pause.

Update: In my phone currently reads as "MozStu...    Start Scanning".

[2014-10-22 21:09] gpoo commented on #1068
I should have mention Android 2.3.7 (API level 10).  The "START SCANNING" appears only the first time I run the application, after that it switches between the icons for play and pause.

I guess it would say "Mozill..." or "Mozilla..." followed by "START SCANNING". Maybe the uppercase might not help to save some space with the kerning (if it were an issue).

Nevertheless, Mozilla Stumbler sounds m

[2014-10-22 23:47] petercpg commented on #1066
I read the time messages used by PrettyTime at [Here](https://github.com/ocpsoft/prettytime/tree/master/core/src/main/java/org/ocpsoft/prettytime/i18n) and it seemed no problem.
Could that be a locale fallback issue?

[2014-10-23 02:19] #1068 closed, assigned to nobody

[2014-10-23 02:21] garvankeeley commented on #1066
We should ensure we are using the latest version. The version we get is from the Maven repo, which is not always up-to-date.

[2014-10-23 02:21] #882 closed, assigned to cpeterso

[2014-10-23 02:23] garvankeeley commented on #957
#877 Is a dup  (or sufficiently related we can close this or the other)

[2014-10-23 02:26] garvankeeley commented on #1069
Changed this pref to 'Keep screen on while scanning', no reason to keep it on otherwise.

[2014-10-23 02:26] #1069 closed, assigned to nobody

[2014-10-23 03:32] garvankeeley commented on #1027
The stats are actually the sent data. All sessions implies the current session is included in this data, which it isn't.
![screenshot_2014-10-22-23-24-38](https://cloud.githubusercontent.com/assets/5495083/4747932/23d226e8-5a65-11e4-82c9-8b2baec67b06.png)

[2014-10-23 03:33] garvankeeley opened #1076 "Getting HTTP 400 errors in log"
![screenshot_2014-10-22-23-29-20](https://cloud.githubusercontent.com/assets/5495083/4747944/64488f32-5a65-11e4-871e-2949dbb2907b.png)

[2014-10-23 03:39] garvankeeley commented on #1076
@hannosch no doubt the radio:0 is the problem in the stumble. I recall there was an old bug about how to handle this, I'll have to take a look

[2014-10-23 03:44] crankycoder opened #1077 "Merge the .etag and .cache_control files"
The osmdroid code we have writes out a tile, an etag file and a cache control header.  Each file will take up one block on the filesystem effectively tripling the disk usage as each file is quite small.

Merge the 3 files together into a single file so that we don't consume too much space.

[2014-10-23 03:48] crankycoder opened #1078 "Add proper maximum cache size management."
This is a port of : https://github.com/mozilla/osmdroid/issues/4

The osmdroid TileWriter writes all files to disk, we should pull in the LruDiskCache to store all files as well as probably encoding them as gzip to save space.

The original osmdroid code uses a maximum disk usage policy, but it relies on the last modified timestamp - this is unreliable on android.  See: https://code.google.com/p/a

[2014-10-23 03:49] crankycoder opened #1079 "Cache control file is not updated on conditional get"
The cache control file is currently only updated on a complete download of a tile.

In the case of a conditional GET which yields a 304 not updated status - we should rewrite the cache control file to indicate a new timestamp.

[2014-10-23 07:06] cascheberg commented on #1055
@hannosch I am trying to figure out how things work. The current accuracy is 30m, before it was 10m. Does MLS benefit from collecting **cell only** observations at these high accuracies?

[2014-10-23 08:55] hannosch commented on #1076
Indeed, for the submit API, radio needs to be a string and one of "gsm", "umts", "cdma" or "lte". If it is something else, just drop the entire cell record, as it's too incomplete for us to make any sense of.

[2014-10-23 09:01] hannosch commented on #1055
@cascheberg We haven't really looked into collection intervals and how much data is actually really useful and by how much it could be reduced.

That said, there are some pico and femto cell networks around for example transportation hubs which can be just 100 meters in size. On the other hand we have cell sizes of 100 km in rural areas.

Personally I'd be more interested in getting a better handl

[2014-10-23 11:15] narfg opened #1080 "NPE in ObservationPoint errorMLSResponse"
Mozilla Stumbler crashes nearly every time I click on the switch to stop scanning.
The crash occurs in ObservationPoint.java:94

[code]

I guess that setting mMLSQuery to null after logging should fix this.

[2014-10-23 11:30] httpless opened #1081 "0.40.4.0 upload errors"
This is a follow on for #989 which I did not spot was closed when I comment

I can confirm that some data is not being uploaded fully from anecdotal evidence. Following a recording session only some of my data was recorded, despite witnessing mozstumbler recording data in areas which are unmarked in the map.

https://location.services.mozilla.com/map#14/53.3295/-6.2122

In this map, I did Sandymou

[2014-10-23 14:25] #1080 closed, assigned to nobody

[2014-10-23 14:40] garvankeeley commented on #1081
Could it be https://github.com/mozilla/MozStumbler/issues/1076
You would need to run 0.41.0.0 to see the log message clearly.

[2014-10-23 15:11] garvankeeley opened #1083 "Update screenshots for new app title"

[2014-10-23 15:12] garvankeeley opened #1084 "Log Activity OOM crash"
Acra report:
java.lang.OutOfMemoryError : at org.mozilla.mozstumbler.client.subactivities.LogActivity$ConsoleView.print(LogActivity.java:174)

[2014-10-23 15:28] Djfe commented on #1055
might be because of #1004 but I see lots of cell-only reports nowadays when moving too fast

the reason could be that #1004 blocks duplicates now and that we only scan every 5 seconds...

I was riding a bus here so I was driving at more than 10m/s

![2014-10-23 14 36 14](https://cloud.githubusercontent.com/assets/5685512/4755797/6a869c8c-5ac8-11e4-813e-9e6eb3f90cb4.png)

I would like to have kinda

[2014-10-23 15:32] garvankeeley commented on #1055
@hannosch "Personally I'd be more interested in getting a better handle on time synchronization between the different sensor data points, so the GPS/cell/wifi data collected in one record actually are all about the same time/place."

Reducing the scanning interval from 1s to 2s will reduce the accuracy of the scans, because it creates a larger scanning window. The trigger to close the scan window

[2014-10-23 15:34] Djfe commented on #1064
@garvankeeley are there any references in the old main_xml to these unused strings so that I cannot delete them without getting compliation errors?

I haven't tested it, yet. But @rodmoreno has, and if he is correct then there are still some bits of pieces left from the old main GUI/map GUI concept (where the map GUI was another activity from the main one)

[2014-10-23 15:37] Djfe commented on #1027
actually we should add the wifi and cell counts of the current session again like @cascheberg proposed already (#1019) because if an upload takes place during the session/scan time than the ready to send section doesn't represent the number of collected wifis and cells in this session any more

it only represents them if the user is using "Upload only on Wi-Fi" and hasn't connected to a Wi-Fi sinc

[2014-10-23 15:51] garvankeeley commented on #1067
as @cascheberg noted, now the counts just increase

[2014-10-23 16:06] #1067 closed, assigned to nobody

[2014-10-23 16:09] #1076 closed, assigned to nobody

[2014-10-23 16:22] Djfe commented on #1019
explained at #1027 that it actually makes sense to show them again because the numbers decrease if you upload during scanning so that ready to sent doesn't represent this session anymore

haven't thought about it before because I was only uploading over wifi -> there was no difference noticeable to me

[2014-10-23 16:24] Djfe opened #1087 "the big blue gps dot doesn't get redrawn completely"
![2014-10-23 14 19 42](https://cloud.githubusercontent.com/assets/5685512/4756873/f9ae53c0-5ad0-11e4-9924-3b86a4a5e73d.png)
![2014-10-23 14 19 46](https://cloud.githubusercontent.com/assets/5685512/4756874/face2488-5ad0-11e4-9a8f-454eaca84076.png)

as you can see the big blue gps dot doesn't get redrawn correctly

the issue vanishes if I move around in the map because that enforces a complete redr

[2014-10-23 16:29] Djfe opened #1088 "disable MLS location layer for cell-only reports"
it would be nice to be able to disable red dots for cell-only reports because they are so inaccurate that they draw lines all over the screen which doesn't look to good (-> maybe another checkbox setting)
![2014-10-23 14 36 14](https://cloud.githubusercontent.com/assets/5685512/4756961/8cb9a412-5ad1-11e4-888b-7f0e809cb768.png)

[2014-10-23 16:33] crankycoder commented on #877
Duplicate of #957

[2014-10-23 16:33] #877 closed, assigned to crankycoder

[2014-10-23 16:38] Djfe opened #1089 "Max zoom out level should be dependant on screen size"
why did the lowest zoom level get reduced so much? I cannot scroll through countries efficiently anymore now (takes too long)

[2014-10-23 16:44] Djfe opened #1090 "log errors cut off by dots"
similar to #695
I think log errors should an independent counter
->it could be helpful to be able to read the full error log entry

they are not as long as normal entries that contain reports and they are not occuring as often

I think they should get an independent counter that reaches up to 50
1st error to 50th error gets displayed fully the following ones get cut off by dots

another approach t

[2014-10-23 17:31] cascheberg commented on #1055
@Djfe I am pretty sure that this is not caused by #1004, I noticed this several times in the past already.
I think this happens because wifi data only gets added to the current observation every 5 seconds, while observations may happen every 2 seconds. This means that, if you travel >30m in 2s to trigger GPS position updates, there will always be 2 observations (0-1 otherwise) without wifi data.

[2014-10-23 17:32] Djfe commented on #1090
To show what I'm talking about:
![2014-10-23 14 40 30](https://cloud.githubusercontent.com/assets/5685512/4757861/81434ad0-5ada-11e4-8c70-eb4d780ae2cf.png)

[2014-10-23 17:37] Djfe commented on #1038
This is what it looks like in 0.41.0.0:
![2014-10-23 14 40 30](https://cloud.githubusercontent.com/assets/5685512/4757926/0c499b02-5adb-11e4-9d62-bf1dfbbba262.png)

the cause here was different though:
I was riding a bus and driving past my university so that my device connected to the university wifi (eduroam) and started uploading some of the reports even got uploaded but others seemed to have e

[2014-10-23 17:42] Djfe commented on #1055
well already running causes blue points to appear... (doesn't need to be a vehicle)

I think that the cell scanning intervall is too short anyway though -> it returns a cell everytime, yes, but often it's only the cell I'm connected to and no neighbouring cells... (it switches between connected and neighbouring cells every second->seems like it takes longer than a second to get all neighbouring ce

[2014-10-23 19:28] crankycoder opened #1092 "OOM errors after applying #1075"
OOM problem with bitmaps

[code]

[2014-10-23 20:04] cascheberg commented on #1064
@Djfe The old main GUI `activity_main.xml` still exists (although I do not know why). You can find all unused translations really quick (fix in less than 10 min) if you use Android Studio (for example), it has a built-in function to find them.

[2014-10-23 20:19] crankycoder opened #1094 "Full stacktraces shouldn't show up in the logs"
As per https://github.com/mozilla/MozStumbler/pull/1075#discussion-diff-19298920

Full stacktraces shouldn't show up in the logs, we only need the .toString() rendering to get the line number.

[2014-10-23 20:26] #1084 closed, assigned to nobody

[2014-10-23 20:33] Djfe commented on #1064
can you do it for me then? I don't have Android Studio installed.
I guess there should be a bigger cleanup that removes unused files of the old gui

[2014-10-23 20:37] garvankeeley commented on #1064
that old main activity xml should be deleted yes

On Thu, Oct 23, 2014 at 4:33 PM, Felix Baumann notifications@github.com
wrote:

[2014-10-23 20:42] #1094 closed, assigned to nobody

[2014-10-23 23:39] garvankeeley commented on #1089
It loads too much tile data, consuming network bandwidth. The app isn't intended for general viewing of worldwide coverage (the website is better for that, maybe we should link to it in some way), only for the local area where the user will be stumbling.

[2014-10-23 23:45] garvankeeley commented on #1088
It is intended to look bad, in a sense, since the coverage is bad. It provides feedback to the user of where the cell towers are, where coverage can be improved by re-stumbling, and give an indicator of the value of your contribution as those lines improve over time.

[2014-10-24 00:40] #1064 closed, assigned to nobody

[2014-10-24 00:43] #1027 closed, assigned to nobody

[2014-10-24 00:44] garvankeeley opened #1101 "TileWriter:Failed to read ETAG file"
This is due to upgrading to the new system

![screenshot_2014-10-23-19-17-36](https://cloud.githubusercontent.com/assets/5495083/4763786/dc89ac0e-5b16-11e4-86c4-98a234360e6d.png)

[2014-10-24 00:55] garvankeeley opened #1102 "Screen blanks on zoom rather than keeping the scaled tiles and filling in new ones"
This is due to the osmdroid changes for tile expiry.
https://drive.google.com/file/d/0B1sYPwjczMsQaHNVNFdmMzByR1E/view?usp=sharing

[2014-10-24 07:27] gsurrel opened #1103 "V 0.41.0.0. crashes and deletes reports"
Since I've updated to 0.41.0.0, MozStumbler seems to crash often as the service is not running anymore after my usual 15 minutes of cycling. I didn't encounter this problem for the previous pre-releases.

I tried to see what's going on in the log, but the _only_ thing I have is "HTTP non-success code: 400, 400 Error, deleting bad report". Is it possible to see what is the actual report so as to ch

[2014-10-24 10:17] Djfe commented on #1089
ok, will close this now

[2014-10-24 10:17] Djfe commented on #1088
ok, will close this now

[2014-10-24 10:17] #1088 closed, assigned to nobody

[2014-10-24 10:24] Djfe commented on #1103
@crankycoder a question about the crash reporter:
will it report old crashes too if it gets turned on or only the new ones?

@gsurrel if your battery percentage was above 15% all the time then the cause was really a crash but I cannot say more about it

[2014-10-24 11:32] gsurrel commented on #1103
The crash reporter was enabled before the crash happened, so there is nothing to worry about, concerning this specific point :)
Concerning the battery, it was always between 80% and 100%

[2014-10-24 13:39] crankycoder opened #1105 "Upload only on charge"
Let's provide an option to upload to MLS only while charging.

I think this should probably be the default.

[2014-10-24 13:49] garvankeeley commented on #1105
Why?

[2014-10-24 13:51] garvankeeley commented on #1103
Weird, we have zero crash reports for 0.41.0 so far, unless @crankycoder has seen one that I missed.

[2014-10-24 14:06] crankycoder opened #1106 "Auto-detect mobile hotspots using a bounding box, and filter them out"
We currently use a naive approach to detecting mobile hotspots.

In most cases, these are going to be tethered cell phones, and in some cases you'll see things like in-car hotspots, trains or buses.

On the device, we already capture the BSSID and lat/long during a stumble.  We can compute a bounding box for the min lat/long and the max lat/long for each BSSID.

Outdoors, the typical range for a w

[2014-10-24 14:10] garvankeeley commented on #1102
- when I have no tiles for an area, it will blank on every zoom (as expected for this bug)
- when I have tiles, it will blank every 3-4 zooms, which makes no sense to me
- when I have tiles, and switch to Airplane mode (offline), it will not blank as above

[2014-10-24 14:12] crankycoder opened #1107 "Hook accelerometer to enable/disable wifi/cell scanning"
We should really try to minimize battery consumption.

If we hook the accelerometer to enable the wifi and cell scanning for a small fixed window of time, we can reduce the power consumption of the stumbler when the application is running but the device is not actually moving.

[2014-10-24 14:15] garvankeeley commented on #1107
Battery-Saving related items seems like it could be a category.

[2014-10-24 14:18] garvankeeley opened #1108 "Battery Saving: mode to scan only when outside of coverage area"
- start/stop scan automatically based on whether the current location is within a previously covered area
- basically, auto-geofence, so that scanning only takes place in uncovered regions.
- we would need to look at the higher zoom level coverage tiles on disk, and determine if the GPS location is within the transparent region of the tile or not.

[2014-10-24 14:20] garvankeeley opened #1109 "Battery Saving: minimum battery level setting (currently hard-coded to 15%)"
Have an option to set the minimum level to any value, for me, it would be 50%.
I charge my phone daily, and don't mind committing the first 50% of consumption to the app, but after that, I want the rest of the charge for other purposes.

[2014-10-24 14:25] narfg commented on #1103
@garvankeeley I use version 0.41.0.0 and it crashed a couple of times. With adb logcat I can see that ACRA sends crash reports.

[2014-10-24 14:28] gsurrel commented on #1103
Is there a way that the MozStumbler service quits without crashing while it's scanning, apart from battery going low?
EDIT: On my way back home, it was still running at mid-way, but once I was home, it was off. Could it be it's automatically turning off when it reconnects to a known wifi?

[2014-10-24 17:48] Djfe commented on #1109
Thx, was hoping for this!
Finally a feature that allows me to disable the battery limit ;)
0% -> it stops only while my device is shutting down

I stumble only actively
So this was a bit stupid if I was charging my device in my car while stumbling and my device was low on battery (after a day of work/studying/whatever)
-> stumbling stopped when charging stopped
Scenario:
I connect my device to the

[2014-10-24 17:56] Djfe commented on #1089
Actually I think you should still leave this to the user
The user ist still able to disable the map

And it consumes less bandwidth the further you drive
I'm riding a train at the moment and the zoom level is far to small to see the complete route and going through all recorded points takes far more bandwidth than on another zoomlevel where i can see more... (only a few big tiles need less bandwid

[2014-10-24 17:59] Djfe commented on #1107
This is a part of #333

[2014-10-24 18:11] Djfe commented on #1106
Nice feature that could reduce data usage

An issue that comes to my mind is that this might unhook the server-side blacklist for moving wifis

Possible Solutions:
1. The client should still upload a list of wifis that have been blocked by the client so that the server can add them to the list and block these wifis for older database entries and new uploaded ones (by other clients, that don't have

[2014-10-24 18:16] garvankeeley commented on #1089
I see the bug. We should configure this based on the screen size.  On the Nexus 5 zoom out shows 25x25 km, on a small screen device (the Samsung Duos 320 x 480 I have) it shows 5x5 km.

[2014-10-24 18:17] Djfe commented on #365
This discussion will be continued in #1106

[2014-10-24 18:21] Djfe commented on #1105
Scanning takes a lot of of energy (wifi/scan/gps are on and used at the same time)
Uploading doesn't except if you have driven really really far

[2014-10-24 18:25] garvankeeley opened #1112 "Log Activity: spamming network unavailable messages"
My log gets filled with this
![screenshot_2014-10-23-22-10-25](https://cloud.githubusercontent.com/assets/5495083/4774219/0a13e4fc-5bab-11e4-8430-7a9335b55fee.png)

[2014-10-24 19:55] #1092 closed, assigned to crankycoder

[2014-10-24 23:29] Djfe commented on #1112
Seeing something similar in 0.42.0.0:
![2014-10-24 22 19 04](https://cloud.githubusercontent.com/assets/5685512/4777694/84fdb1c8-5bd5-11e4-9e11-e3562a0bfdbe.png)

Something similar (or different) in 0.41.0.0 from today:
![2014-10-24 19 05 56](https://cloud.githubusercontent.com/assets/5685512/4777691/788b4cca-5bd5-11e4-9984-0caabe1fb235.png)
![2014-10-24 19 10 48](https://cloud.githubusercontent.c

[2014-10-24 23:39] Djfe commented on #1052
I'm not even sure if this needs to be fixed:
pretty much all of these devices with such a small width have a legacy menu button, right?
so the three dots won't be there

I bet this issue will disappear from my device after an update (gonna test it again this weekend)

somehow my rom tells apps to show the ... menu button even though I have a hardware menu button

[2014-10-24 23:41] Djfe commented on #1090
Another example:
![2014-10-24 22 19 04](https://cloud.githubusercontent.com/assets/5685512/4777780/2073f1e8-5bd7-11e4-81fe-c22148c8564d.png)

it doesn't make sense to increase the truncating counter for such short logs, they are fully shown
pls make it only increase and be used for log entries above a certain number of characters

[2014-10-25 10:52] Djfe commented on #698
didn't encounter this issue anymore in the latest versions

[2014-10-25 10:52] #698 closed, assigned to nobody

[2014-10-25 17:48] cascheberg commented on #1087
This (or another bug) also affects drawing of lines that connect MLS lookups.
And sometimes observation points are only drawn when zooming in and out, or even disappear.
I think this is a regression.

[2014-10-25 17:50] cascheberg commented on #1066
Wouldn't it be just a few lines of code to check for
- x seconds
- x minutes
- x hours
  else: display just the date

[2014-10-25 18:40] cascheberg commented on #1028
The metrics layout was improved in #1091. The width of the metrics columns is not fixed and will adjust to the string length, as long as the row width does not exceed the width of the drawer. Additionally, in that case, strings can now be multiline without breaking the layout.
Translation problems regarding the upload time are discussed in #1066.

[2014-10-25 19:01] cascheberg commented on #93
This was fixed in #1012

[2014-10-26 21:30] gsurrel commented on #1103
I've not noticed this problem since then. I don't know if it's because it's hard to reproduce or because of v42. I think this issue can be closed by the end of the week if it's stays like that

[2014-10-26 23:00] Djfe commented on #1087
Something that should be changed as well:
old points are drawn over new ones
In my Opinion new points should be drawn over old ones instead

[2014-10-27 03:07] gpoo commented on #1103
Yesterday I noticed a similar behavior in an Nexus S / Andriod 4.0.4, and I recalled this issue.  (Although, it was with 0.40).  It never was under 15% of battery; and the user told me that from time to time it was necessary to run MozStumbler, and rather than bringing the application, it showed a crash dialog, and no reports, no nothing.  After upgrading to 0.42, the summary of reports sent appea

[2014-10-27 03:18] crankycoder opened #1120 "OutOfMemory errors on 0.42"
I'm still getting OutOfMemory errors with v0.42.0.0

I don't think #1075 caused the OOM errors, this seems like a deep bug in osmdroid.

On investigation, the LRUMapTileCache is not a proper LRU, it doesn't implement ensureCapacity correctly and object eviction is incorrectly implemented.

I've got a patch in queue here https://github.com/crankycoder/MozStumbler/commit/db29ac57baab47e84e99ea90eb96

[2014-10-27 14:11] garvankeeley opened #1121 "Acra report: NPE ObservationPointsOverlay.java:85"
java.lang.NullPointerException
at org.mozilla.osmdroid.views.Projection.toPixels(Projection.java:102)
at org.mozilla.mozstumbler.client.mapview.ObservationPointsOverlay.update(ObservationPointsOverlay.java:85)
at org.mozilla.mozstumbler.client.mapview.MapFragment.newMLSPoint(MapFragment.java:683)
at org.mozilla.mozstumbler.client.ObservedLocationsReceiver$1.run(ObservedLocationsReceiver.java:89)

[2014-10-27 14:13] garvankeeley commented on #1112
https://github.com/mozilla/MozStumbler/pull/1118

[2014-10-27 14:13] #1112 closed, assigned to nobody

[2014-10-27 14:13] #1083 closed, assigned to nobody

[2014-10-27 14:13] garvankeeley commented on #1024
Remove from 1.0 milestone?

[2014-10-27 14:14] #957 closed, assigned to crankycoder

[2014-10-27 17:35] #502 closed, assigned to nobody

[2014-10-27 17:37] #365 closed, assigned to nobody

[2014-10-27 17:39] garvankeeley opened #1124 "Screen Off Scanning: Reports doesn't increase when the screen turned off."
Have this report on the geolocation list. If anyone else is experiencing the problem please let us know what device, perhaps a dev can get their hands on a particular device and figure out a workaround.

nevzorovn@gmail.com wrote:

I can't say since  ver, i think 0.40.0.0 no scanning when screen is off, and turned on screen decrease battery life in 3 times. I saw it on two phones: Lenovo A789 and

[2014-10-27 18:36] Djfe commented on #1124
For me I often see, that my phone doesn't reconnect to cells while driving in a tray -> after a certain time with my screen off I get only purple dots and then there are places without any dots (since there is no wifi either)

For me it only happens for cell, wifi scan seems to work correctly

if my screen is on my phone seems to try to connect to a cell tower
(I have my data connection over cell

[2014-10-27 18:51] #1121 closed, assigned to nobody

[2014-10-27 18:52] #1079 closed, assigned to crankycoder

[2014-10-27 18:52] #1077 closed, assigned to crankycoder

[2014-10-27 18:52] #1120 closed, assigned to nobody

[2014-10-27 18:53] garvankeeley commented on #881
They will have different MLS API keys

[2014-10-27 18:53] #881 closed, assigned to crankycoder

[2014-10-27 19:12] #972 closed, assigned to nobody

[2014-10-27 20:02] crankycoder commented on #1025
osmdroid is now pulled directly into our sourcetree as we've had to make nontrivial changes.

SimpleKML is being pulled from the Mozilla Services ivy repository now.

[2014-10-27 20:21] #933 closed, assigned to crankycoder

[2014-10-27 20:53] kbrosnan opened #1129 "Map not updating with scanned locations"
Using v0.42.0.0 on a Galaxy S5

I have seen times when the map displays scan locations spottily. Locking the phone and unlocking the phone displays the scan locations correctly.
![screenshot_2014-10-25-16-19-39](https://cloud.githubusercontent.com/assets/250273/4799280/3c7931e6-5e1b-11e4-9790-22fe4f1a31e7.png)
![screenshot_2014-10-25-16-19-46](https://cloud.githubusercontent.com/assets/250273/4799

[2014-10-27 20:57] garvankeeley commented on #1129
I assume zooming in and out didn't trigger a redraw?

[2014-10-27 20:58] kbrosnan commented on #1129
I did not try that.

[2014-10-27 21:00] garvankeeley commented on #1129
Zooming triggers a full point redraw, or panning so the points aren't shown and then panning back. Actually those are two different drawing paths, so it would be cool to know if that behaves differently, but I am guessing this is tricky to repro.

[2014-10-27 21:05] crankycoder commented on #1124
I've seen the same behavior on a Nexus 4 running stock 4.4.4, no SIM card only doing WiFi scanning.

After the screen was turned off for ~30 minutes, the stumbler stopped collecting data. No other apps were running (or even installed other than the stock apps) so I don't think the app was killed off.

Unfortunately, I wasn't persisting the debug logs.  This was on 0.42 of the app.

[2014-10-27 23:43] VolMi commented on #1089
On my S4 mini (540 x 960) and using version 0.99.0.0, my max Field of View is at most about 5x5 km. This is really unpleasant. I used to peek nation- continent- and even worldwide quite regularly and liked it.

[2014-10-28 00:55] garvankeeley commented on #1089
Did you notice _any_ difference with the new build? Maybe we aren't checking screen size in a portable way.

[2014-10-28 00:55] Djfe commented on #1089
People complaining about too much data consumption should know that scrolling through the map needs to load new tiles...

That's like people in the ios app store that complain in their reviews about swiftkey that it needs full access to what you type in.
I was like WTF when I read that :D , I mean it was like this forever on Android and I never heard anyone complaining because it just makes sense

[2014-10-28 01:42] garvankeeley commented on #1089
The map view suits the primary use case of the app, to stumble from the current location.
If the user is in one part of the world, and needs to check the MLS coverage some large distance away (certainly more than can be stumbled from the current location), then the website is a better place to check.
That said, a setting for the minimum zoom level would be fine by me if someone wants to add that.

[2014-10-28 02:08] crankycoder opened #1132 "Updater should really stop looking at the master branch"

[2014-10-28 02:29] VolMi commented on #1089
@garvankeeley: Nothing has changed with 0.99.0.0.

I also agree to every word by Djfe. I don't see the compelling reason to hide the world in the app. The online map is no fun on mobile but the Stumbler view is actually great, apart from the arbitrary limitation.

[2014-10-28 02:37] garvankeeley commented on #1089
I just re-read and saw you are a 540px screen, sorry, no change for that screen size, didn't realize your viewport would be quite that small.

[2014-10-28 06:11] RexWheeler commented on #1087
I find that when I have the map centered (map scrolls with motion) the dots are not drawn as I move. If I zoom in or out, all the dots get redrawn. If I have the map not scroll with motion, the dots get drawn. This is on 0.99 on a Galaxy S4 Active.

[2014-10-28 12:54] Djfe commented on #1052
Now it's Mozilla Stumbler...
that's even longer and too long for the app drawer

I thought MozStumbler is a catchy name, Mozilla Stumbler sounds too long

[2014-10-28 13:44] garvankeeley commented on #1052
Lots of apps have names about this length, just looking at my device: Amazon Kindle, ES File Explorer, News & Weather, Podcast Addict, Play Newsstand, Play Movies & TV. The name doesn't seem unusually long.

[2014-10-28 14:12] ag88 opened #1136 "feature request: latitude"
can mozstumbler incorporate features of the retired _google latitude_?

https://support.google.com/gmm/answer/3001634?hl=en
http://en.wikipedia.org/wiki/Google_Latitude

however that may mean that mozilla may need to run an additional service on top of exlsting Mozilla
Location Service.

for a start it may be based on GPS as cells & wifi are growing and not yet ready for prime time.
however, this

[2014-10-28 14:52] Djfe commented on #1087
That is something I noticed as well. If the GPS is locked then the points don't get drawn or are more spread out, until the GUI gets reloaded (close app completely (only service is open) and then open again)
![2014-10-24 11 49 20](https://cloud.githubusercontent.com/assets/5685512/4810250/f20f2cea-5eb1-11e4-8df3-70bcdd91f000.png)
![2014-10-24 12 07 12](https://cloud.githubusercontent.com/assets/56

[2014-10-28 15:14] crankycoder opened #1137 "Crash when no telephony type is available."
[code]

[2014-10-28 15:31] #1132 closed, assigned to crankycoder

[2014-10-28 16:46] ferongr opened #1139 "Consider reverting new collection rates."
(Image removed)

In this example, the stumbling area is a densely populated urban location with multiple apartment blocks each having anywhere from 5 to 50 apartments, Every segment of the main road (Αγίων Πάντων) between intersections can potentially have up to 60 access points evenly distributed. The lower sampler rates may potentially cause the stumbler miss many of them (also taking in account

[2014-10-28 16:48] crankycoder opened #1140 "Errors while saving tiles running on Galaxy Nexus"
![2014-10-27](https://cloud.githubusercontent.com/assets/4829/4812629/1a6a1294-5ec2-11e4-9809-fe55c3bfe6e8.jpg)

[2014-10-28 17:05] hannosch commented on #1139
My plan was to revert back to the 10m threshold (from the now 20m), once we have the app in the play store and got an idea of what kind of traffic and users we are getting from that. It's a temporary measure to help reduce the potential traffic we are getting on the service end.

[2014-10-28 17:06] ferongr commented on #1139
Okay, thanks for the heads up.

[2014-10-28 17:06] #1139 closed, assigned to nobody

[2014-10-28 17:22] Djfe commented on #1052
yeah but the beginning of the name says something about the app unlike Mozilla which pretty much only says that it's from Mozilla

[2014-10-28 17:26] garvankeeley commented on #1140
If we can't repro, don't worry about this for now. I saw it once, on 1 device. No negative side effects.

[2014-10-28 17:38] garvankeeley commented on #1136
What specific feature you would like from latitude?

[2014-10-28 18:05] crankycoder opened #1142 "Slowly pinch zooming out causes the viewport to not redraw properly"
![r3iq4j_jvtsvwrsxa_ertagd7rhtb9goutekmza11pc](https://cloud.githubusercontent.com/assets/4829/4813960/00eb9a9e-5ecd-11e4-929c-963bbe9a55d4.png)

[2014-10-28 18:08] gpoo commented on #1052
Jsst to provide a little more information:

I think the issue with Android 4.4.4 which has that menu on the right (on a Nexus 5 looks ok).  With 4.0.4, which does not have the menu on the right, it looks ok:

![screenshot_2014-10-28-10-51-40](https://cloud.githubusercontent.com/assets/877181/4813920/b04ebb0c-5ecc-11e4-85f9-b7fff8e7ae97.png)

However, with 2.3.7; it only says "Mozilla S", but that

[2014-10-28 18:32] VolMi commented on #1089
With the new release I can confirm a slightly larger max field of view.

[2014-10-28 19:12] garvankeeley commented on #1124
Comments from mailing list:

The 0.30.0 works fine on both phones, newer versions(and 0.99 too)
with turned off screen scan only wi-fi cells. On map prints only
magenta rounds on all way.
2014-10-28 1:47 GMT+05:00 Nikolay Nevzorov nevzorovn@gmail.com:
0.41.00 on THL W100S seems work with off screen. Lenovo A789 no GPS
fix from window. Tomorroy i'll test it from car and write result.

[2014-10-28 19:45] crankycoder commented on #1129
I'm still getting this on the dev branch after #1135 was merged.  I'm seeing exactly the same behavior as @RexWheeler describes in https://github.com/mozilla/MozStumbler/issues/1087#issuecomment-60713970

When I'm centered, the map moves with my position remaining centered, but no new dots are drawn.

Zoom in and zoom out do not seem to affect dots from showing up until I hit a threshold where the

[2014-10-28 19:45] crankycoder commented on #1129
~~I'm pretty sure that this bug and #1087 are the same bug.~~

Nope, this ended up being a pixel grid hash bug.

[2014-10-28 21:15] #1142 closed, assigned to crankycoder

[2014-10-29 06:11] rodmoreno opened #1148 "Suggest spanish translate for description in Google Play"
Today we could see Mozilla Stumbler on Google Play (https://play.google.com/store/apps/details?id=org.mozilla.mozstumbler) and have decided to create a Spanish translation of the description, Thanks to @LeZelt for review, I share it here:

Mozilla es un proyecto sin ánimos de lucro y una comunidad global que construye un mejor internet. **Mozilla Stumbler** es un escáner de redes inalámbricas open

[2014-10-29 06:51] gpoo commented on #1052
I take my word back with respect to 2.3.7.  With the newest 0.102, there is no time to see "START SCANNING", because it starts automatically (something that previously was not happening with that particular Android).

[2014-10-29 09:01] ghost commented on #1025
I suppose the 1.0 milestone indicates that publishing on F-Droid is planned for 1.0 as well?

[2014-10-29 09:42] cimm commented on #1025
I always look on F-Droid first, downloaded the application from F-Droid and noticed the screenshots are different in the Play Store. Ah, right, F-Droid is on v0.30 and the latest release here is v0.102. Are there any plans to keep the F-Droid repo in sync?

[2014-10-29 12:56] Nutomic commented on #356
This should be done using [LocationManager.PASSIVE_PROVIDER](http://developer.android.com/reference/android/location/LocationManager.html#PASSIVE_PROVIDER).

[2014-10-29 14:24] crankycoder opened #1149 "Clear up licensing"
After we pulled in the osmdroid code into the stumbler, I added the Apache license file into the source tree, but we should tidy that up to make it clear that the Apache license should apply to anything in the osmdroid subtree.

[2014-10-29 15:44] #1103 closed, assigned to nobody

[2014-10-29 15:48] edt-xx opened #1150 "nexus 7 2013 lte: can't install play store, make android.hardware.telephony required=false"
I have a nexus 7 2013 lte.  The Updated Stumbler app will not install.  Build issue?  or is there another reason?

[2014-10-29 15:49] garvankeeley commented on #1150
From the play store, or from github?

[2014-10-29 15:49] edt-xx commented on #1150
playstore

[2014-10-29 15:54] garvankeeley commented on #1150
This is a bug, will look into this. Is there any info in the message you see?

[2014-10-29 15:54] crankycoder commented on #1101
We use a merged file format now for etag/cache-control and bitmap payload.

[2014-10-29 15:54] #1101 closed, assigned to nobody

[2014-10-29 15:55] garvankeeley commented on #1129
@kbrosnan I think you'll see this fixed now, looks ok?

[2014-10-29 15:58] crankycoder commented on #1089
The 1.0 release should be slight better with this commit: https://github.com/mozilla/MozStumbler/commit/9085648786b4a0a2ae111b303c0e4449f6db0ac6

[2014-10-29 15:58] #1089 closed, assigned to nobody

[2014-10-29 15:58] edt-xx commented on #1150
"This item is not compatible with your device" in the drop down to select the device then when I try to install in via play in chrome.

[2014-10-29 15:59] #1081 closed, assigned to nobody

[2014-10-29 15:59] garvankeeley commented on #1150
Ok, I assume I missed a checkbox in the play store listing, i'll dig through the settings and find it

[2014-10-29 15:59] edt-xx commented on #1150
The device is up to date with 4.4.4, is unlocked and rooted.

[2014-10-29 15:59] crankycoder commented on #1081
Upload issues should be sorted out as we weren't handling HTTP 400 errors properly before.

[2014-10-29 16:00] edt-xx commented on #1150
This is the fastest I've even got support after opening a bug.
Thanks!

[2014-10-29 16:04] #1047 closed, assigned to nobody

[2014-10-29 16:04] #1034 closed, assigned to nobody

[2014-10-29 16:05] garvankeeley commented on #1090
Closing, I think this ok for now. Re-open if there is more we should look at here

[2014-10-29 16:05] #1090 closed, assigned to nobody

[2014-10-29 16:06] crankycoder commented on #978
I don't think we should bother switching at this point.  Licensing issues and technical requirements - especially on lower end devices is a problem no matter which codebase we use.

[2014-10-29 16:06] #978 closed, assigned to nobody

[2014-10-29 16:07] garvankeeley commented on #1087
Is this still happening?

[2014-10-29 16:08] crankycoder commented on #865
The updater now only runs on debug and github builds.  VERSION_URL is no longer used and just looks up the latest tag in github.

[2014-10-29 16:08] #865 closed, assigned to nobody

[2014-10-29 16:09] #973 closed, assigned to nobody

[2014-10-29 16:09] #880 closed, assigned to crankycoder

[2014-10-29 16:11] edt-xx commented on #1150
Just to confirm that v0.102 seems to work fine when sideloaded from github

[2014-10-29 16:11] #826 closed, assigned to nobody

[2014-10-29 16:12] garvankeeley commented on #1038
Closing, this sounds like a benign network error. We certainly won't delete the stumbles because of this, and will retry later to send.

[2014-10-29 16:12] #1038 closed, assigned to nobody

[2014-10-29 16:13] grrrrr opened #1151 "notify when gps is disabled"
Can we can a feature added so that MozStumbler notifies you if your GPS is disabled.

Doing a stumble, I opened MozStumbler and it auto started and I assume all was well or it would be once it got satellite lock not knowing that it was disabled.

I think this used to be a feature in older version but when I try on 0.4x and up no notificat

[2014-10-29 16:14] garvankeeley commented on #1028
Closing, various UI bugs addressed this.

[2014-10-29 16:14] #1028 closed, assigned to nobody

[2014-10-29 16:14] grrrrr opened #1152 "Add a preference to not autostart stumble. Default to yes."
Can we have feature so that MozStumbler do not start recording when app get opened but instead only when user decided

[2014-10-29 17:07] garvankeeley commented on #1150
I am stumped. We have no nexus devices excluded.

Our play store listing of nexus devices supported:
![screenshot 2014-10-29 13 05 30](https://cloud.githubusercontent.com/assets/5495083/4830423/d6fbd2be-5f8d-11e4-85b5-f14bedeb70b8.png)

[2014-10-29 17:10] garvankeeley commented on #1150
I see, our manifest:
uses-feature android:name="android.hardware.location.gps"
should have  android:required="false"

[2014-10-29 17:42] garvankeeley commented on #1150
Oh my brain. Of course we have this, we only accept pure-GPS locations.

I assume your device is missing hardware GPS?

[2014-10-29 18:00] crankycoder opened #1153 "Add code to deprecate stumbler code when it's too far out of date"
I'm getting crash logs still for 0.40 in ACRA, that's now 6 releases out of date and 200+ commits.

We should have a way to ping our server on non-playstore releases to see if we should really update.

[2014-10-29 18:15] crankycoder opened #1154 "French Playstore translation (desc. updated in store)"
We need to get title, short description and full description translated to french.

I'm happy to just have people fill in the text in this ticket as a comment and we can directly patch the description in the playstore listing.

Title:

[code]

Short description:

[code]

Full Description:

[code]

[2014-10-29 18:16] edt-xx commented on #1150
No.  It has a hardware gps.  It works too.  I use it often.
On Oct 29, 2014 1:42 PM, "Garvan Keeley" notifications@github.com wrote:

[2014-10-29 18:17] crankycoder opened #1155 "Italian translation of playstore listing"
We need to get title, short description and full description translated to italian.

I'm happy to just have people fill in the text in this ticket as a comment and we can directly patch the description in the playstore listing.

Title:

[code]

Short description:

[code]

Full Description:

[code]

[2014-10-29 18:17] crankycoder opened #1156 "German translation of playstore listing"
We need to get title, short description and full description translated to german.

I'm happy to just have people fill in the text in this ticket as a comment and we can directly patch the description in the playstore listing.

Title:

[code]

Short description:

[code]

Full Description:

[code]

[2014-10-29 18:18] crankycoder opened #1157 "Spanish translation of playstore listing (desc. updated on store)"
We need to get title, short description and full description translated to spanish.

I'm happy to just have people fill in the text in this ticket as a comment and we can directly patch the description in the playstore listing.

Title:

[code]

Short description:

[code]

Full Description:

[code]

[2014-10-29 18:18] crankycoder opened #1158 "Brazilian Portugese translation of playstore listing (desc. updated on store)"
We need to get title, short description and full description translated.

I'm happy to just have people fill in the text in this ticket as a comment and we can directly patch the description in the playstore listing.

Title:

[code]

Short description:

[code]

Full Description:

[code]

[2014-10-29 18:18] crankycoder opened #1159 "Russian translation of playstore listing"
We need to get title, short description and full description translated to russian.

I'm happy to just have people fill in the text in this ticket as a comment and we can directly patch the description in the playstore listing.

Title:

[code]

Short description:

[code]

Full Description:

[code]

[2014-10-29 18:19] crankycoder opened #1160 "Polish translation of playstore listing"
We need to get title, short description and full description translated to polish.

I'm happy to just have people fill in the text in this ticket as a comment and we can directly patch the description in the playstore listing.

Title:

[code]

Short description:

[code]

Full Description:

[code]

[2014-10-29 18:27] rodmoreno commented on #1157
I had already proposed a first translation to the description in #1148, Here I add the information:

Title:

[code]

Short description:

[code]

Full description:

[code]

Thank @LeZelt for helping review the translation

[2014-10-29 18:31] rodmoreno commented on #1157
You might also upload the banner image translated?

![banner image](https://cloud.githubusercontent.com/assets/4095436/4832131/c24ca27e-5f99-11e4-895e-004531eb9b39.png)

If so, we could get editable (xcf, psd, ai) for the relevant translation done?

[2014-10-29 18:58] garvankeeley commented on #1150
I am sure it relates to the app manifest, but I can't see what the problem is, searching...

[2014-10-29 19:08] hannosch commented on #1156
@Djfe is this something you can take a look at? I'd be happy review it :)

[2014-10-29 19:12] cascheberg commented on #1156
I'll give it a try ;) I would keep the english app title.

Update: this version includes changes that were suggested in the following comments.

Short description:

[code]

or

[code]

Full description:

[code]

Graphic:

[code]

[2014-10-29 19:19] garvankeeley commented on #1157
@ryanfeeley do you have the .ai file? hmm, maybe you sent it to me

[2014-10-29 19:21] crankycoder opened #1162 "Automate installation of the android SDK to get a buildserver setup"
Setting up the Android enviroment is a pain.  Let's wrap that up in a script that also checks that all the paths and enviroment variables are correct.

[2014-10-29 19:26] crankycoder commented on #1162
We basically need to scrape the output from: `android list sdk --all --extended`, grab the name of the package and then issue : `android update sdk -u -a -t <package>`

[2014-10-29 19:39] Djfe commented on #1156
@hannosch I was already at it :D
But @cascheberg was faster ^^

Short description:

[code]

What do you think about "establish" instead of "create" for the English version?
Lokalisierungsdienst or Ortsbestimmungsdienst

Full Description:

[code]

comments/questions on full description:
I have added lots of commas and translated some stuff differently

wireless network scanner
->Scanner für drahtlo

[2014-10-29 19:48] Djfe commented on #1087
will test tomorrow

EDIT:
part of the issue: "auto-follow mode should be indicated", is a duplicate of #836

[2014-10-29 20:31] edt-xx commented on #1150
This is probably another issue but, even though my tablet has lte enabled and other apps see cell towers, stumbler does not look to be collecting cell tower info (I sideloaded the app).

[2014-10-29 22:01] Cameleon commented on #1154
Title:

Mozilla Stumbler

Short description:

Aidez Mozilla a créer un service de géolocalisation Wi-Fi et mobile ouvert

Description complète:

Mozilla est un projet à but non lucratif et une communauté qui battit un internet meilleur. <b>Mozilla Stumbler</b> est un logiciel libre qui collecte les emplacements GPS des réseaux Wi-Fi pour notre service de géolocalisation. Lorsque vous vous déplacez

[2014-10-29 22:06] stripTM commented on #1157
@rodmoreno & @LeZelt I have one suggestion, unify "tu" and "usted" and do more natural the "un-stumbled" term and other small corrections.
Do you agree?

Title:

Mozilla Stumbler

Short description:

Ayuda a Mozilla a crear un servicio abierto de geolocalización Wi-Fi y celular

Full description:

Mozilla es un proyecto sin ánimo de lucro y una comunidad global que construye un mejor internet. <b>

[2014-10-29 22:24] rodmoreno commented on #1157
@stripTM It seems to me correct, I had not noticed that we used the terms "usted" and "tu", it seems a correct comment.

@crankycoder I think is would be the final version as revised by @stripTM, @LeZelt and me:

Title:

[code]

Short description:

[code]

Full description:

[code]

@stripTM I suggest this translate for the banner in the Play Store, What do you think?

[code]

[2014-10-29 22:43] cascheberg commented on #1156
I updated some poor parts of my original translation based on the feedback by @Djfe

[2014-10-29 22:47] stripTM commented on #1157
Upps, I have included a typo, sorry.
Change:
&bull; Tus aportaciones tardará un día en mostrarse en el mapa.
To:
&bull; Tus aportaciones tardarán un día en mostrarse en el mapa.

And for the banner, my approach is change the first "para" for "de" -> "Un escaner de geolocalización para el Servicio de ubicación de Mozilla"

[2014-10-29 22:53] rodmoreno commented on #1157
@crankycoder All yours, ready for uploading to Play Store, thanks to @stripTM and @LeZelt for revisions and corrections.

Title:

[code]

Short description:

[code]

Full description:

[code]

Banner in Play Store:

[code]

[2014-10-29 23:05] Djfe commented on #1156
@cascheberg version looks good now, r+

would like to now what you all think about my other suggestions for the English source text :)

[2014-10-29 23:07] Djfe commented on #1152
What are you starting Mozilla Stumbler for if not for stumbling?

I think it's easier this way.

[2014-10-29 23:15] Djfe commented on #280
@crankycoder I think the new issue #1151 fits better now since the UI changed so much.
The only thing missing now is an indicator for loosing the GPS connection.
The message described above has been removed already.

[2014-10-29 23:15] Djfe commented on #1151
If the app never got a GPS fix (a concrete position(lat/lon)) then the icon is red
once it gets a position it turns black, but it never turns red again if the satellite fix gets lost again...

[2014-10-29 23:20] Djfe commented on #1150
are you using stock android? or have you switched to a custom rom? this might be an issue of your rom not telling the play store of your hardware gps correctly so that it knows that all of the apps requirements are complied.
(this is only an assumption)

[2014-10-29 23:24] Djfe commented on #1136
I'm not sure whether that even makes sense anymore:
most of the users will have updated to the newest version of maps

quotation from the website you linked above:

[2014-10-29 23:42] Djfe commented on #1153
In future builds we could do that server-side (only accept uploads from deprecated builds for a certain amount of time and warn the user about it, else return error code)

[2014-10-29 23:46] edt-xx commented on #1150
I am stock using xposed.  I'll try tomorrow with xposed modules disabled and see...  Suspect that its the app though - I have seen the same behavior on a few others (GSAM Battery monitor comes to mind) and they have a switch to force the app to recognize you have a cell radio.  But this is the exception.  Most apps just work (Llama and a few apps to locate cell towers).

[2014-10-29 23:54] cascheberg commented on #1055
I'd think that triggering one scan only every time the `GPSScanner` reports a new location would be a good solution. Is it worth another try although @hannosch mentioned some problems with that in the past?
The current implementation does not seem to scan at the fastest possible rate, there are fixed values of 1 and 5 seconds. I found some [code](https://android.googlesource.com/platform/framework

[2014-10-30 01:03] crankycoder opened #1165 "Wifi scanning not reported, cell scan ok"
This seems to be odd behavior, I'm not entirely sure what's going on.

My brother is running a Galaxy S5 in NYC and doesn't seem to be getting wifi dots in his stumble, but you can clearly see the wifi count @ 20 here.

He said the wifi count doesn't seem to change at all, and it looks like there is no actual wifi data in the collection data if you look at the bottom screen shot.

![pasted_image_2

[2014-10-30 03:11] edt-xx commented on #1165
In my case it reports wifi and misses the cells (nexus 7 2013 lte rooted with xposed factory image).

If I use xposed to enable SMS then stumbler detects the cells.  This leads me to believe that the test being used to checkif the device has mobile data is flawed.  Maybe you could just supply a user set able switch that can be used to override the check when it gets the wrong answer.

[2014-10-30 03:25] Rondom commented on #1156
"Starten Sie mit größeren Straßen und Kreuzungen[...]"

The use of "Starten" sounds pretty much like a word-by-word-translation from English to me. I would use "Beginnen" (formal) or "Fangen Sie [...] an" (less formal)

[2014-10-30 06:21] SteveALee opened #1166 "Key is missing green dots"
On my maps I see bright green dots that are not shown on the key. My guess is that they are cell + Wi-fi as I have not seen any wi-fi only (magenta) dots

[2014-10-30 06:22] SteveALee opened #1167 "Map tiles keep reloading"
The caching of map tiles could do with some improvement. I find they keep reloading - ie reset to course quality and have to wait for details to load again.

[2014-10-30 06:23] SteveALee opened #1168 "How long should I wait for new blue to appear?"
I have used for several days now and my newly stumbled routes have not appeared in blue yet.

[2014-10-30 08:14] Cameleon commented on #1154
Just added a few corrections. Please use this version instead of the previous one.

Title:

Mozilla Stumbler

Short description:

Aidez Mozilla à créer un service de géolocalisation Wi-Fi et mobile ouvert

Description complète:

Mozilla est un projet à but non lucratif et une communauté qui bâtit un internet meilleur. Mozilla Stumbler est un logiciel libre qui collecte les emplacements GPS des rés

[2014-10-30 09:03] VolMi commented on #1168
That's strange. The server updates the map within each European night. But I haven't checked in the last days (since I live in a completely blue environment already).

Is your upload queue empty? Do you have a nickname and can check if you got points for your stumbles? If you got the points, the data is there and it might be some server issue.
Did you check the online map in the browser? -> Maybe

[2014-10-30 09:42] SteveALee commented on #1168
Thanks, I just checked and they are appearing now. I'll put it down to caching as you suggest. Lets see when last night's stumbling appears. Plus out walking the dog this morning

My nickname is slee, right near the bottom of the table :)

[2014-10-30 12:17] helix84 commented on #779
Not resolved yet as of version 1.0.0.0 Google Play or 0.30.0 in F-Droid.

[2014-10-30 12:22] VolMi commented on #1152
[code]

Just watching the map, maybe? I also happen to do the sequence `open Stumbler → deactivate stumbling → play with the map → close` quite often. I never got why I am forced to deactivate the stumbling every time.

[2014-10-30 12:34] VolMi commented on #1153
In [F-Droid](https://f-droid.org/repository/browse/?fdid=org.mozilla.mozstumbler) version 0.30 is still "up to date". What "mechanism" triggers updates for F-Droid?

[2014-10-30 14:21] garvankeeley commented on #1167
The low quality tiles switch happens with no wi-fi, is this happening then? This feature needs work, but it uses 10x less bandwidth, which was the initial concern and why the feature was added.

This bug describes some of the problems I have seen:
https://github.com/mozilla/MozStumbler/issues/1102

Is it similar to that?

[2014-10-30 14:25] garvankeeley commented on #1168
The generation is once daily. I agree the feedback cycle for this feels a tad long, as depending on the times you stopped on day 1 and check on day 2, it can seem like the data isn't showing up.

[2014-10-30 14:26] garvankeeley commented on #1166
Agreed, we should explain the green ones too.

[2014-10-30 14:28] SteveALee commented on #1167
Yes, I was just about to add tha to the issue. So the cycling I saw between low and high res would be as WiFi dropped in and out ?
I guess it looked worse as I was zoomed right in.

[2014-10-30 14:28] garvankeeley commented on #1150
@edt any more info?

[2014-10-30 14:29] garvankeeley commented on #1140
Closing, can't repro

[2014-10-30 14:29] #1140 closed, assigned to nobody

[2014-10-30 14:29] garvankeeley commented on #1129
I'll be optimistic and close for now, please re-open if it happens again

[2014-10-30 14:29] #1129 closed, assigned to nobody

[2014-10-30 16:11] garvankeeley opened #1169 "ACRA Report: NPE WifiScanner.java:98"
The code is:
  ArrayList<ScanResult> scanResults = new ArrayList<ScanResult>();
  for (ScanResult scanResult : getScanResults()) {

We can add if scanResults == null return;
Note this code is in response to a WifiManager.SCAN_RESULTS_AVAILABLE_ACTION, so by definition the scan results shouldn't be null.

java.lang.NullPointerException at org.mozilla.mozstumbler.service.stumblerthread.scanners.Wifi

[2014-10-30 16:12] garvankeeley commented on #1169
This a 2.3.4 android, running 1.0.0.0
VERSION {CODENAME:REL, RELEASE:2.3.4, INCREMENTAL:110922, SDK_INT:10, SDK:10, SYSTEM:Blur_Version.45.31.0.M...

[2014-10-30 16:19] garvankeeley opened #1170 "ACRA report: provider doesn't exist: gps"
We could catch this I think

java.lang.IllegalArgumentException: provider doesn't exist: gps
at android.os.Parcel.readException(Parcel.java:1469)
at android.os.Parcel.readException(Parcel.java:1419)
at android.location.ILocationManager$Stub$Proxy.requestLocationUpdates(ILocationManager.java:540)
at android.location.LocationManager.requestLocationUpdates(LocationManager.java:860)

Sony Xperia S
{CO

[2014-10-30 16:52] Djfe commented on #1087
tested using .102
fixed:
&bull the GPS lock related bugs got fixed (points get drawn correctly in follow mode now)
&bull the blue dot get redrawn correctly now

bugs that are still in the app:
&bull the GPS lock/positioning icon, still has the bug that it stays in glowing mode under certain conditions, I was able to find a way to reproduce that 100%:
press GPS positioning icon and swype the drawer

[2014-10-30 17:03] crankycoder opened #1171 "Split out integration tests"
We need to have some tests run outside of the normal unit test suite.

@garvankeeley has a test that checks that github redirects are working as expected (https://github.com/garvankeeley/MozStumbler/tree/updater-test) which seems like a reasonable thing to check for.

But we don't want to have live HTTP calls in the unittest suite.

Let's fix that.

[2014-10-30 18:27] grrrrr commented on #1152
useful for when I need to submit tickets and have to checking logs or check version installed or just checking the map to see where I want to go.

[2014-10-30 18:30] grrrrr commented on #1151
@Djfe  the problem there is that I don't wait to see if it gets a fix, I assume that it will and put it on dash but as gps is disabled that never happens.

At least if gps is disabled (not no fix) and I get a warning I know to enable it.

[2014-10-30 18:37] Djfe commented on #1151
that's pretty much the same for me, the thing is, that if it loses the GPS fix/the GPS gets disabled manually then it will still keep on showing the black GPS icon and the numbers of the previously connected GPS satellites

[2014-10-30 18:38] Djfe commented on #1152
sounds legit, but that's not the normal use case, so I'm not sure whether it makes to set this too default
@garvankeeley / @crankycoder What are your opionions on this topic?

[2014-10-30 18:43] VolMi commented on #1152
The default does not need to be changed. As grrrrrrrrrrrrrrrrr said: "Can we have feature [...]?"
I think the current default does indeed make sense. Just for a few of us it would be nice to have an option for that.

[2014-10-30 21:53] koehlermichael commented on #1156
Just a few toughts…

Helfen Sie Mozilla, einen offenen WLAN und Funkzellen Lokalisierungsdienst zu erschaffen
→ Helfen Sie Mozilla, einen offenen Lokalisierungsdienst für WLANs und Funkzellen zu erschaffen

Wie Sie den Mozilla Stumbler verwenden
→ Ohne Artikel?

&bull; Starten Sie mit größeren Straßen und Kreuzungen, bewegen Sie sich dann auch durch kleinere Straßen.
→ Beginnen Sie…

&bull; oder i

[2014-10-30 23:26] Djfe commented on #1156
->sounds as if you get a position for a single/several wifi/cell and not your own position based on the location of several stuff
<br/>

Es ist ein Name, deswegen.
Wie Kaka Fußball gespielt hat
Wie der Fernseher bedient wird

Stumbler ist ein Name, weil es dafür keine richtige Entsprechung im Deutschen gibt.
Eine etwas andere Begründung: wenn man von etwas in einem allegemeinen Kontext spricht ste