[2015-02-27 15:32] asteko commented on #1514
I was just about to file an issue that the app v1.7.1 cannot be launched with Turkish interface. Changing phone's language to English helps, and the app can be lauched with English interface.

Tried clean install too, but it doesn't help. Using Samsung Galaxy S3 Mini on Android 4.1.2

[2015-02-27 15:32] crankycoder opened #1515 "1.7.1 crash in MotionSensor"
This is a bit confusing.  I would say that mContext should use an application context, but tracing back the call stack shows that start(Context) uses an application context already.

[code]

Crash log:

[code]

[2015-02-27 15:33] crankycoder commented on #1515
Not sure if it helps, but I see this happening a lot on Nexus 4, running Android 5.0.1

[2015-02-27 15:44] #1515 closed, assigned to nobody

[2015-02-27 15:44] crankycoder commented on #1514
Thanks.  @garvankeeley just mentioned that he thinks he can get this fixed.

[2015-02-27 15:52] crankycoder commented on #1514
Fixed in #1517

[2015-02-27 15:52] #1514 closed, assigned to nobody

[2015-02-27 17:56] crankycoder opened #1518 "KML sharing"
Got a bug filed with this description for v1.6.1

After save the kml file, when asked to share it, the only thing shared is "<kml/>".

[2015-02-27 17:58] crankycoder opened #1519 "KML NPE in v1.7.0"
[code]

[2015-02-27 18:04] crankycoder opened #1520 "ConcurrentModification error in v1.6.1"
[code]

[2015-02-27 19:28] Djfe opened #1521 "wrong changelog after update"
Changelog after updating to 1.7.2 shows the 1.6.1 changelog

![2015-02-27 18 40 07](https://cloud.githubusercontent.com/assets/5685512/6419634/108b9dbc-bebf-11e4-8d34-4000ca00b40b.png)

[2015-02-27 19:35] asteko commented on #1514
Hotfix v1.7.2 works without any problem with Turkish interface. Thanks.

[2015-02-27 21:52] crankycoder commented on #1479
I dug through the AOSP code and ended up tracing the bindService and startService calls into android.app.ActivityManagerNative.  I'm pretty unconvinced there's any good reason to have this split.

I'm refactoring the MainApp and ClientStumblerService so that we run the active stumbler in it's own thread just like the passive mode.

[2015-02-28 17:45] RunningDroid commented on #1521
Happened to me too
![screenshot_2015-02-28-12-41-02](https://cloud.githubusercontent.com/assets/486393/6427204/97e41072-bf47-11e4-9e6f-a09ccb0934db.png)

[2015-02-28 21:02] Djfe commented on #841
you can use the following backend for microg-nlp:
https://github.com/n76/Local-GSM-Backend

it does exactly what you want and even includes stumbling without any service.

If you want the same for MLS but with online requests you can use:
https://github.com/microg/IchnaeaNlpBackend

Both apps are found on F-Droid, too.

You need the main service though (it can either replace the Google Geolocation

[2015-02-28 21:03] Djfe commented on #1210
@crankycoder I think, you have done something to improve the situation here, right? -> can I close it?

[2015-02-28 21:05] Djfe commented on #582
@garvankeeley is this still on your (road) map? (pun intended :D)

[2015-02-28 21:06] Djfe commented on #1513
I'm not sure how the situation is, but map caching should prevent that from happening (if you are not deleting the big looking cache of mozstumbler manually (it's sometimes 50-100mb cache on the sd card)

there were a lot of issues with it in the past -> that the cache got deleted far to early and stuff

partially it's fixed already

@crankycoder what is the status on this?

and apart from that of

[2015-02-28 21:07] garvankeeley commented on #582
We invested the time to customize OSMDroid to work for our needs, so we don't need this anymore.

[2015-02-28 21:07] #582 closed, assigned to nobody

[2015-03-01 11:07] cascheberg opened #1524 "Metrics not updated on app start"
The metrics in the navdrawer are not set when the app starts (i.e. last upload time: never). The stats are updated for the first time when a report is finished. This is a recent regression.

[2015-03-01 11:13] cascheberg commented on #1210
Recent improvements that you might be noticing are #1370 #1403 #1406 #1407 and #1400, but afaik none that match your original suggestion.

[2015-03-01 11:16] cascheberg commented on #1513
Using the stumbler offline has been improved recently, see my comment in #1210. Another helpful and certainly easier to implement feature is #1408.

[2015-03-01 19:01] grrrrr commented on #1513
@Djfe  @cascheberg

The problems is that I do not know where I am necessarily going from day to day so I am unlikely to have cached where I will be going.  My data is very limited - 250mb for 1 month.

Maybe #1408 is one solution but it mean that I have to scroll around map on wifi caching a city / country. unlike just downloading a precompile map like I suggest and having it ready to go no planni

[2015-03-02 14:55] garvankeeley commented on #1505
This is saying there is no network connection. We should remove these messages. They are benign and part of normal operation.
EDIT: Confirm this assumption with @crankycoder

[2015-03-02 14:59] garvankeeley commented on #1505
The message in red can definitely be removed from the log. The other message I am not so sure about.

[2015-03-02 15:05] Djfe opened #1526 "check phone clock to avoid GPS issues (unix time, see mailing list)"
We should warn the user if the phone clock is off (for example: Unix time: 1970, or if the phone clock timestamp is in general lower than the build timestamp) to avoid collecting wrong data

this is not only about wrong timestamps but also about the GPS
if the phone clock is off that far, then the GPS position is likely wrong as well, so we shouldn't collect data then and avoid uploading it.

Mayb

[2015-03-02 15:12] Djfe opened #1527 "lag spike on scrolling over the map the first time"
If I haven't used the app for some time (a few days) and then open up the app and I still see the map tiles and then start scrolling over the map, then I get a (massive) lagspike once and see all map tiles reloading.

Is this intended behaviour and what happens exactly?
are all tiles replaced by newer ones (update over the internet)?

after that first lagspike scrolling over the map works fine.

[2015-03-02 15:15] Djfe commented on #1527
I'm not sure if this is still happening or got fixed (I got the lagspike in an older version)
->I'll reopen it if it happens again

[2015-03-02 15:15] #1527 closed, assigned to nobody

[2015-03-02 15:24] Djfe commented on #1210
thx for keeping me up-to-date ;) (haven't had time lately to check out this repo)

I think my issue is already partially fixed now -> tiles won't be deleted if there is no internet connection (and are shown then)

now it would be nice if MozStumbler could cache OSM tiles for a longer time, because they rarely change drastically -> it could save a lot of traffic
one idea I had, was changing how lon

[2015-03-02 15:32] crankycoder commented on #1505
@djfe - which stumber version is this?

Hrm. I was going to say that this is a synchronization bug, but it looks like a plain old network failure.

I'll clean up the networking code so that we really never return NULL.  We can just wrap it with a bogus HTTP 5xx error like 598.

[2015-03-02 15:36] #1496 closed, assigned to garvankeeley

[2015-03-02 15:37] garvankeeley commented on #1490
I am no longer getting this behaviour after #1502 landed.

[2015-03-02 15:37] crankycoder opened #1529 "We should test permissions on startup (Cyanogenmod)"
We should do a quick check to see that we can actually use all the permissions we need to run properly on startup.

This would alleviate the problems we see on Cyanogenmod and the odd firmware which puts special permission restrictions on us and we could notify the user in a sensible way on application start.

[2015-03-02 15:37] #1490 closed, assigned to garvankeeley

[2015-03-02 15:38] garvankeeley commented on #1484
Is this related to #1524?

[2015-03-02 15:42] Djfe commented on #1505
I think this was either version 1.7 or version 1.6.1, not too sure.

[2015-03-02 16:44] lua86 commented on #1526
Checking local unix time against build unix time should be both highly
effective and really efficient. Just that check should be enough.
El 02/03/2015 16:05, "Felix Baumann" notifications@github.com escribió:

[2015-03-02 16:49] crankycoder commented on #1484
I think this is the same bug as #1524.  We aren't emitting the intent to update statistics in any case other than on `PersistedStats::incrementSyncStats`.

[2015-03-02 17:33] narfg commented on #1526
I read the discussion on the mailing list but I'm not entirely convinced that an incorrect phone clock affects the GPS position. Can anyone provide a source for that?

[2015-03-02 17:42] Djfe commented on #1526
I thought the phone needs a very accurate time to get your current position
and according to http://www.maptoaster.com/maptoaster-topo-nz/articles/how-gps-works/how-gps-works.html it does need that indeed
but it doesn't use your phone clock
-> if you have at least 4 satellites your gps receiver will calculate an accurate time itself from the signals it receives

so an inaccurate phone clock might

[2015-03-02 18:03] narfg commented on #1526
@Djfe Yes, the GPS receiver chip uses its own clock, not the one of the phone.
Does Mozilla Stumbler actually use the phone clock for its timestamps? The code in StumblerFilter.java seems to get the timestamp directly from the GPS module.

[2015-03-02 19:06] hannosch commented on #1526
The report we got was from someone using the wigle app and uploading data to us. So this might have actually been a bug in the wigle app. But there might also be some problems with how some phones get the GPS assistance data or internally confuse the GPS and phone times.

[2015-03-03 14:55] #1505 closed, assigned to nobody

[2015-03-03 14:57] garvankeeley commented on #1484
This isn't fixed with 1524 landed

[2015-03-03 14:57] #1524 closed, assigned to garvankeeley

[2015-03-03 15:04] garvankeeley commented on #1495
I'll add a check for this now

[2015-03-03 15:14] #1495 closed, assigned to garvankeeley

[2015-03-03 15:15] garvankeeley commented on #1521
Note, we should fix this for play store release, or switch to the link to the notes #1489

[2015-03-03 15:21] garvankeeley commented on #1489
I agree that people don't open the link to get the info very often. But the procedural overhead of keeping that list up-to-date means it is likely to get overlooked/outdated.

[2015-03-03 15:25] crankycoder commented on #1489
I'm thinking that for official release builds to the Google Playstore, we can update that - otherwise we should just link to github's release page.

[2015-03-03 16:00] crankycoder opened #1532 "Mozilla Stumbler requests far more permissions than it requires"
No idea why this is happening, but Cyanogenmod seems to think we have access to more permissions than we define in our AndroidManfest.xml.

I'm wondering if the declaration of

[code]

is causing this.

![2015-03-03 10 57 31](https://cloud.githubusercontent.com/assets/4829/6466238/24551490-c194-11e4-9672-d44c3c24cd5b.png)

[2015-03-03 18:20] Djfe commented on #1489
+1
Github get's releases earlier and not many features will be added to it afterwards
-> translators have some time to translate the changelog

[2015-03-04 16:33] garvankeeley commented on #1521
This should be in sync for 1.7.4

[2015-03-04 17:05] lua86 commented on #1489
I don't know much about android, but...
How about an iframe? I mean, open the text from a file in github? Open it within the app, like the leaderboard.

[2015-03-04 19:33] hbogner opened #1536 ""Already Sent" metrics deleted with each application start"
Mozilla Stumbler version 1.7.2 from F-Droid
Android 4.4.4 Cyanogen OS version 11.0-XNPH05Q

Metrics go back to zero on each application start.
Cleared cache, data, and reinstalled the app, and no help.

![2015-03-04 16 05 48](https://cloud.githubusercontent.com/assets/794472/6491451/8a9b82f6-c2ad-11e4-8807-a9059adfd52a.png)
![2015-03-04 16 18 30](https://cloud.githubusercontent.com/assets/794472/6

[2015-03-04 19:43] hbogner opened #1537 "KML Reports File always empty"
Android 4.4.4 Cyanogen OS version 11.0-XNPH05Q
Android 4.4.2 Cyanogen OS version 11-20140321
Mozilla Stumbler version 1.7.2 from F-Droid
Mozilla Stumbler version 1.5.2 from F-Droid
And even versions before that.

I never managed to get anything in KML file, all I get is an empty file named by date an time:
obs-1-date-04-03-2015-20:34.kml
Size of file: 6B

[2015-03-04 19:56] garvankeeley commented on #1537
I use this feature heavily, other than being not user-friendly, I haven't had any problems with it. We do have a 3 KML bugs filed in the last week that I'll try fix ASAP, but none would explain this.

According to the file name, and your description, the app has no observation points. Maybe it is a memory issue, I don't usually export thousands of points. How many observations (roughly) are you tr

[2015-03-04 19:57] garvankeeley commented on #1537
BTW, 1.7.4 has a KML fix that _might_ fix this bug.

[2015-03-04 19:58] garvankeeley commented on #1536
Can you check in 1.7.4? I think this is fixed.

[2015-03-04 20:01] hbogner commented on #1537
This happens every time, from the time I started using the app for the first time.
When I try to export 1 point up to 3000 points.
On 2 phones. Never managed to export anything but the empty file.
Both phones running CM11.

[2015-03-04 20:02] hbogner commented on #1536
Only 1.7.3 on F-Droid. Will wait for 1.7.4. and then test.

[2015-03-04 20:07] Djfe commented on #1537
Are you trying to export after you uploaded your reports?

[2015-03-04 20:08] Djfe commented on #1536
The issue is that the metrics only update when the first upload happens
This has been fixed

[2015-03-04 20:09] garvankeeley commented on #1537
As long as the dots are visible on the map view, KML will export them. It doesn't export from previous stumbling sessions. It is essentially a map view point export, for what is currently visible.

[2015-03-04 20:12] Djfe commented on #1489
No I-Frame pls
We can just load the text from a text file on GitHub and output the text. (but no webview pls)

[2015-03-04 20:19] hbogner commented on #1537
Was trying, before and after. Gave up after 20 unsuccessfull test.
Maybe it's a problem with CM.

[2015-03-04 20:20] crankycoder commented on #1537
@hbogner can you file a bug in the settings?  Maybe I can see something odd in your device configuration.

[2015-03-04 20:26] hbogner commented on #1536
No it's not fixed.
I upgraded to 1.7.3. and I had some reports few minutes ago, and now my metrics is back to 0.
Already sent is wiped clean.
Older version on other phone 1.5.2 still counts sent reports, but 1.7.2 and 1.7.3 delete number of sent reports.

[2015-03-04 20:29] crankycoder commented on #1425
I've setup a new buildbox as well as a new ACRA server.  We need to get a route53 alias setup for ACRA before we push an update, but the current branch of code is over here: https://github.com/crankycoder/MozStumbler/tree/features/new-acra-box

When the DNS alias is setup, the URL for ACRA will be changed from the raw EC2 address.

[2015-03-04 20:30] hbogner commented on #1537
Sent it.

[2015-03-04 20:41] Djfe commented on #1532
This looks like an issue in CyanogenMod to me -> you should report it

[2015-03-04 20:58] Djfe commented on #1536
Yeah because the fix is in 1.7.4

[2015-03-04 21:13] crankycoder commented on #1537
Hmm. Looks like you're on a OnePlus device. I have the same phone and it's working for me on 1.7.4.

I noticed a bug in 1.7.3 where saving the KML would spin forever - seemingly in a deadlock, but that seems to not happen in 1.7.4 for me.

F-Droid should get 1.7.4 shortly they merged 1.7.4 last night: https://gitlab.com/fdroid/fdroiddata/merge_requests/601

[2015-03-04 21:22] hbogner commented on #1537
Yes, OnePlus One, and older one is Samsung Galaxy S+ I9001.
Have problems with both. Will submit log from SGS+ tomorrow.

[2015-03-04 21:23] hbogner commented on #1536
OK. THX, will test it out tomorrow.

[2015-03-04 21:39] crankycoder commented on #1532
Yeah, I'm pretty sure it is a bug in CM.  I've posted in the forum, but I just found their JIRA tracker.

Bug is being tracked over here: https://jira.cyanogenmod.org/browse/BACON-3101

I'm closing this for now as permissions are fine as displayed on the google playstore and `aapt dump badging` on the apk file.

![2015-03-04 16 37 48](https://cloud.githubusercontent.com/assets/4829/6494056/06370f6

[2015-03-04 21:39] #1532 closed, assigned to nobody

[2015-03-04 22:52] cascheberg commented on #1536
The bug still exists in 1.7.4. Sometimes the numbers are updated on start, sometimes they are not. I did not yet try to investigate any further when this fails.

[2015-03-04 23:02] cascheberg commented on #1521
@garvankeeley You should delete the translated changelogs so that they show the up-to-date English version instead of the outdated translated version.

[2015-03-05 02:20] Djfe commented on #1532
Carbonrom also shows the correct permissions (it has a similar functionality (blocking permissions) and is based on cm)

[2015-03-05 10:09] cascheberg commented on #1210
I had created another PR that was not accepted then, see #1388 and comments.

[2015-03-05 20:00] Djfe commented on #1210
@crankycoder is it possible to change the server setting for this?

[2015-03-05 20:21] crankycoder commented on #1210
I don't think so.  This is a bug on the client side.

#1388 can be reworked to do the right thing still.  I haven't re-read that code in a while, but if i recall correctly - we should just dump the entire OSM file system cache entirely.  It's got bad synchronization which slows down the map as it is.

If we delete that cache code and just do something like this:
1. TileIOFacade requests to load a

[2015-03-05 21:40] Djfe commented on #1210
I was just asking because you said that in #1388 (that it would be easier to change the server configuration)

If reworking the client cache system will improve the performance than that would be even better

[2015-03-06 17:54] crankycoder commented on #1536
This is probably a bug I introduced to @garvankeeley's patch that pushes an intent for statistics. I added a zeroe'd stats metric if nothign can be read from disk.  That should probably be changed to a subclass that means "NullStatEvent" instead of a zeroed metric.

[2015-03-06 21:21] crankycoder commented on #1529
If the Build.HOST is 'cyanogenmod', we should also throw up a user visible warning that there are known issues on cyanogenmod and the user should pay attention to any permission checks guarded by CM Privacy Guard.

[2015-03-06 22:41] hbogner commented on #1536
As @cascheberg said, still present in 1.7.4. No matter how many reports are sent, it always goes back to 0(zero) on next aplication start.
@crankycoder I hope you know how to fix it :D

[2015-03-06 22:44] hbogner commented on #1537
Filed a bug report from Samsung Galaxy S+ I9001 yesterday. On it i get the message about creating KML file but there is no file. On OnePlus I at least get an empty file :D

[2015-03-07 00:20] crankycoder commented on #1536
Patch is being tested tonight.  This one was all my fault. Sorry!
On Mar 6, 2015 5:42 PM, "hbogner" notifications@github.com wrote:

[2015-03-07 12:22] cascheberg commented on #1087
The remaining problem of old points being drawn over new ones is probably because of 8ea0f5febcda0519ef88c6c514d848148798f75f. @garvankeeley Is it ok to change that? It is probably nicer to have newest points drawn on top, although they will be drawn last then.

@Djfe I think dots should be drawn on top of the blue dot as is, so that they remain visible even around the current location. Also the s

[2015-03-07 12:48] Djfe commented on #1529
"Known issues" sounds as if MozStumbler would likely have problems with scanning which is wrong.
IMO we should have a help/faq page in the app/in the GitHub wiki that explains stuff like this:

If scanning doesn't work:
Possible reasons
1.
2.
3. If you are using CM make sure to allow MozStumbler to access... (GPS, cells, wifi, etc.)

[2015-03-07 12:56] Djfe opened #1540 "Bug: Upload doesn't show progress in the metrics section"
The number of reports that are ready to sent doesn't update during upload which makes you think that your upload isn't working.

You can enforce an update by sliding the metrics section out and in again though.

How to reproduce:
Collect a good chunk of reports (300 at least) by disabling upload over mobile Internet and start uploading -> the number of reports ready to sent isn't decreasing.

[2015-03-07 18:18] #1484 closed, assigned to nobody

[2015-03-08 20:13] Gitschubser opened #1547 "Add workaround/don't collect wrong mnc"
Is it possible to solve this problem (https://github.com/mozilla/ichnaea/issues/340)
with the workaround from mar-v-in?

https://github.com/microg/android_external_UnifiedNlpApi/blob/master/src/org/microg/nlp/api/CellBackendHelper.java#L204

[2015-03-10 10:33] kparal opened #1554 "Can't be toggled off at all"
After today's update (stumbler 1.7.5), I can't disable scanning **at all**. Every time I put the slider to OFF, it jumps back to ON instantly. I tried it like 20 times, it happens every time. I had to kill Stumbler from the list of running applications to make it stop scanning. Can anyone reproduce?

Android 4.4
Motorola Moto G 4G

[2015-03-10 12:44] crankycoder commented on #1554
Duplicate of #1550. Patched in #1553

[2015-03-10 12:44] #1554 closed, assigned to nobody

[2015-03-10 13:59] crankycoder opened #1555 "Add a simple robotium test to make sure notifications can be dismissed"
I give up.  We need to have some kind of integration tests for some of the UI code.

The notification pulldown regression we had in 1.7.5 (#1554) has no acceptable way of being tested using robolectric.

We need to have someway of doing UI testing with a full build on real Android for some UI behaviors.

Robotium seems like a reasonable choice: https://code.google.com/p/robotium/

This isn't a pla

[2015-03-10 14:02] crankycoder commented on #1554
@kparal I just pushed out 1.7.6 now to google play, fdroid and the github release.  Can you give this a try again?

Sorry for this regression - it slipped through.  Gah.

[2015-03-10 14:29] sshvetsov commented on #1554
Appears to be fixed for me.

[2015-03-10 14:34] crankycoder commented on #1547
Wow.  This is some pretty cool work.  @hannosch does this patch to fix MNC look correct to you?  We can integrate this patch in if the corrected MNC is really correct.

Is there a way we can know if the MNC is _truly_ correct and not just transformed into some other number?  I suspect that this might be better to handle on the server side in Ichnaea where we can do better data analysis.

[2015-03-10 14:54] #1476 closed, assigned to nobody

[2015-03-10 16:10] sshvetsov opened #1556 "Geolocate JSON request is inconsistent with API specification"
StumblerBundle.toMLSGeolocate() generates JSON that is not consistent with geolocate request format specified in https://mozilla-ichnaea.readthedocs.org/en/latest/api/index.html#geolocate (which points to https://developers.google.com/maps/documentation/business/geolocation/#requests)

JSON specified by the geolocate API document looks like this:

[code]

JSON generated by toMLSGeolocate() looks l

[2015-03-10 16:37] crankycoder opened #1557 "geolocate is including radioType in the wrong place in the JSON blob"
Geolocate includes the radioType in the wrong location.  Ensure that we do _not_ affect the radio field for geosubmit when we make this change.

See: https://github.com/mozilla/ichnaea/issues/416

[2015-03-10 17:00] sshvetsov commented on #1557
I also created #1556, since it seems like other property names and placement in the JSON blob are not quite consistent with geolocate API.

[2015-03-10 18:04] hannosch commented on #1556
We need to update the ichnaea docs here. This is a purposeful deviation from the GLS API. Or rather we support putting radioType both in the top-level and in the per-cell entry.

The use-case here are multi-sim devices, which can have two cell connections, for example one for a 2G GSM network and one for a 3G WCDMA network at the same time. A radioType at the top would mean you'd only be able to s

[2015-03-10 18:08] hannosch commented on #1557
The client code is correct here and does what I thought the API was. Turns out there's another bug on the service end.

[2015-03-10 18:12] lua86 commented on #1087
Can't the new one be drawn "again" last?

[2015-03-10 18:21] kparal commented on #1554
Seems to work properly now.

[2015-03-11 12:53] Djfe commented on #1087
What do you mean? This patches it so that new points will be drawn last instead of first so that old points will end up below new ones

[2015-03-11 13:07] cascheberg commented on #1087
The problem is that new points are drawn first, so as a result older points end up being drawn on top. But the good reason for drawing newer points first is that drawing is stopped after a certain time if the device is too slow (see #1545). And it makes sense to leave out older points instead of newer ones.
@lua86 all points are always redrawn, only putting the latest one on top is not much of an

[2015-03-11 13:36] Djfe commented on #1087
Ok I understand now what lua86 meant

One last chance:
What about using png tiles instead of redrawing the dots everytime
Since their position doesn't change it would make sense I guess, since it should improve performance on low end devices as well and dots can always be drawn on top.
The only dot that needs to be redrawn is the GPS dot

I'm wondering though how this could affect zooming performa

[2015-03-11 14:20] #1427 closed, assigned to nobody

[2015-03-11 14:28] garvankeeley commented on #1087
Our preferred approach would be to draw directly to the raster tiles on disk. The only reason it is drawn as an on-screen overlay is for simplicity. Same thing for the coverage tiles. Those should be permanently overlaid on the map tiles. We are planning to start drawing more objects (like cell towers) on the map, this would also benefit from being drawn to the on-disk tiles.

[2015-03-11 14:31] sshvetsov commented on #1556
What about "psc" and "asu" properties in the "CellTowers", which aren't present in GLS spec, do they have effect on the request?
What about "age" property in "CellTowers", in GLS spec, is it supported by MLS?
What about the format differences in "WifiAccessPoints"?

Perhaps it is time to fully define the "geolocate" API in MLS?

[2015-03-11 14:38] hannosch commented on #1556
@sshvetsov, yes it is time to have our own complete spec. Especially now that combain has adopted many of the small changes we made to the GLS API as well (and added a couple of their own).

[2015-03-11 14:40] garvankeeley commented on #1087
BTW, drawing to a separate PNG raster for the observation points would be a performance killer. Raster compositing on the fly is the biggest chunk of our existing rendering problems, and we are only doing 2 of them (map + coverage). A third would be a disaster. The correct approach is to draw to 1 raster, and have that render. In that case, the current location will still be drawn on top of observ

[2015-03-11 14:44] garvankeeley commented on #1087
The discussion was useful, but I am going to close this bug, as I don't see anything actionable here, although I don't object to new bugs being created for specific issues that were raised during this discussion if they are still happening.

[2015-03-11 14:44] #1087 closed, assigned to nobody

[2015-03-11 16:07] crankycoder commented on #1557
@hannosch I've just added the radioType as per the Google spec in #1558 to work around the problem where cell-only geolocate calls were returning geo-ip only.  The per cell tower records contain the radioType field still as well.

[2015-03-11 16:07] #1557 closed, assigned to nobody

[2015-03-11 17:57] crankycoder opened #1562 "Add barometric pressure collection"
Need to flesh this out a bit with ichnaea, but we might as well add barometric pressure. Take a look at Pressure.NET codebase.

[2015-03-11 23:46] Djfe commented on #178
maybe some of the new functions in Android 5.1 could be used later down the road to get this or some additional info about the multiple sims that are connected:
https://developer.android.com/reference/android/telephony/SubscriptionManager.html#getActiveSubscriptionInfoList%28%29

[2015-03-11 23:49] Djfe commented on #1087
ok good arguments you brought up there
and it's good that this issue got closed now since the most important bugs in this discussion now got fixed anyway :)

[2015-03-12 14:13] crankycoder opened #1564 "NPE in v1.7.5"
Not quite sure what's going on here.   Either MainDrawerActivity can't resume or we're getting a NPE at:

[code]

Stacktrace:

[code]

[2015-03-13 14:59] sshvetsov commented on #1537
Having the same problem on my Nexus 5 (stock 5.0.1) and Galaxy Nexus (CM 11-20141115-M12, 4.4.4). Gonna file bug from each device.

Forgot to mention, using v1.7.7 on both.

[2015-03-13 18:05] #1564 closed, assigned to crankycoder

[2015-03-13 19:14] #1055 closed, assigned to nobody

[2015-03-13 19:14] #1301 closed, assigned to nobody

[2015-03-13 19:14] #1503 closed, assigned to nobody

[2015-03-13 19:57] crankycoder opened #1567 "MapFragment metrics updates are 'laggy'"
When toggling the stumbler from on to off and then back on again, the visible AP and cell numbers do not seem to bounce back to non-zero numbers quickly after #1563 landed.

[2015-03-13 23:54] cascheberg commented on #1567
Could this be because of #1559? Because of that cell and wifi scans are only done after the first new GPS position report. In that case this is not a bug.

[2015-03-14 16:37] grrrrr opened #1568 "Intermittent failure to have a persistent "Last upload date". Occasionally resets to 'never'"
MozStumbler: 1.7.7
CyanogenMod CM11

Following an update to MozStumbler 1.7.7, the application is no longer reporting results in the `Already Sent` section.

`Last uploaded` is always listed as `never` despite successful uploads according to the logs. Previously this would show the last uploaded date
`Roports` is left blank, previously this would show the number of records uploaded since install

[2015-03-14 16:49] crankycoder commented on #1568
How is this bug reproduced?   1.7.7 had a fix specifically for this
problem.
On Mar 14, 2015 12:37 PM, "grrrrr" notifications@github.com wrote:

[2015-03-14 16:51] crankycoder commented on #1567
It might be,  I haven't had a chance to back out both changes and then
bisect to determine the root cause.   The good news is that it's either the
single commit in #1559 or the final commit in the bindservice removal PR.

I'm also seeing the stumbler service stop running when the screen is off.
I'll post a screenshot tonight when I get a chance.
On Mar 13, 2015 7:54 PM, "Christian Ascheberg" notif

[2015-03-14 17:02] grrrrr commented on #1568
I am not sure how to reproduce from my end other than, record data and upload and note neither field changes.

It's possible that it was broken before 1.7.7 but it is certainly still here for me in 1.7.7

[2015-03-14 17:05] grrrrr commented on #1513
to also add it means that with an offline map a user does not have to cache tiles at various levels

[2015-03-15 03:23] sshvetsov commented on #1568
I also see it in 1.7.7, but it seems intermittent, so exact steps to reproduce are hard to formulate at the moment.

[2015-03-15 04:49] crankycoder commented on #1513
If you don't know where you are going,  we need a way to specify what maps to download.  If someone can sketch out a UI that would help to move this bug forward.

[2015-03-15 13:15] cascheberg commented on #1568
I noticed that I still sometimes see this issue as well.

[2015-03-15 13:38] cascheberg commented on #1567
Since you mentioned that the service stops running when the screen is off: with #1563 landed, when I minimize the app I see no indication of active GPS anymore. And it seems that GPS is actually stopped since it has to search for satellites very time I bring the app back to the foreground. Only the notification is still there.

[2015-03-15 14:34] sshvetsov commented on #1518
That's the same issue I'm still having in 1.7.7 (see #1537). Should probably mark this one as duplicate.

[2015-03-15 14:37] sshvetsov commented on #1556
So should this issue be moved to Ichnaea project then?

[2015-03-15 17:33] grrrrr commented on #1568
so a bit more recording today and it has for the most part has displayed the problems above.   However once I did upload while the stumbling was on (usually done when off) and it recorded the date and the number of records uploaded as is the expected behavior unfortunately I could not replicate this a second time

[2015-03-15 19:53] Djfe commented on #1513
The first question IMO is:
What would we want to cache:
tiles or vector maps?

and what is smaller in the end?

[2015-03-15 20:16] lua86 opened #1569 "Still getting seemingly geoip, both cell-only and cell+wi-fi on 1.7.7"
![screenshot_2015-03-15-20-58-27](https://cloud.githubusercontent.com/assets/6490233/6657821/7b21b19e-cb57-11e4-9be0-b9b083ed429d.png)
This is a little village which has cell service gaps.
I apparently am the only one stumbling here.
Wiko BLOOM(dual-sim) with Android KitKat.
Do I need to provide any more info? I think this is a duplicate bug, though I cannot find the 'original'
EDIT: New screensho

[2015-03-16 13:05] crankycoder opened #1570 "Paused state seems wonky on dev as of 57279ef99"
I don't seem to get a pause state with the significant motion sensor on the OnePlus anymore.

[2015-03-16 14:56] hannosch commented on #1556
@sshvetsov yes, this is actually an ichnaea issue, would you mind copying it over? Doesn't look like github has a feature to do this in a nicer way.

[2015-03-16 16:02] crankycoder opened #1571 "Gaps in stumbling as of 57279ef99"
I'm getting significant gaps in stumbling as of 57279ef99

The first was in pocket while driving.  The second was in pocket while on a bus.  I've gotten very good scans on this device before so this looks like a recent regression.  Probably #1559 or #1563.

![2015-03-14_17_19_57](https://cloud.githubusercontent.com/assets/4829/6670093/2e61d2f4-cbd3-11e4-9d3f-7e7745afa85d.png)

![2015-03-13_18_05_2

[2015-03-16 19:14] #1436 closed, assigned to nobody

[2015-03-16 19:15] crankycoder commented on #1571
I backed out #1559 and #1563 on a local branch, then applied #1559 again.  Stumbling worked pretty well.

![2015-03-16 13 35 46](https://cloud.githubusercontent.com/assets/4829/6674157/4af15c76-cbee-11e4-8962-b521630974fe.png)

#1563 definitely causes a problem:

![2015-03-16 14 11 06](https://cloud.githubusercontent.com/assets/4829/6674164/5f4fc64e-cbee-11e4-8444-6ebbe18520c3.png)

Both of the ab

[2015-03-16 19:15] crankycoder commented on #1571
#1572 addresses this by backing out the removal of bindService.

[2015-03-16 19:27] crankycoder commented on #1570
This seems to have also been a problem related to #1563 and the removal of `bindService`.

I no longer see this issue after putting `bindService` back in with #1572

[2015-03-16 19:27] #1570 closed, assigned to nobody

[2015-03-16 19:29] crankycoder commented on #1569
This looks like a bug in ichnaea as I'm getting pretty ok cell-only fixes (~1km accuracy).  @lua86 can you file a bug in Ichanea?  I'm closing this on the client side as there is nothing that the stumbler can do about this.

[2015-03-16 19:29] #1569 closed, assigned to nobody

[2015-03-16 19:33] crankycoder opened #1574 "about_mapbox string for values-fr is incorrect."
The `about_mapbox` string for FR locale is incorrect. It should be a translation of "Learn more at http://www.mapbox.com"

[2015-03-16 20:52] crankycoder opened #1575 "NPE in MapFragment on 094927f"
[code]

[2015-03-17 11:04] hbogner commented on #1537
Using 1.7.7 from F-Droid.
Still empty KML.

[2015-03-17 11:06] hbogner commented on #1536
Using 1.7.7 from F-Droid.
Still get for "Already sent" section in metrics:
"Last upload: never"
"Reports: "
Tried clearing cache and data, and reinstalling the app.
Nothing helped.

[2015-03-17 13:48] #1571 closed, assigned to nobody

[2015-03-17 13:53] crankycoder commented on #1567
Thanks for noticing this. I've backed out the removal of `bindService` in #1572. That seems to make things better again.  The other commits in #1563 were related to decoupling the service pointer dependency and using Intents to message between the service and the client application.

My guess at this point is that with unbound services the Android VM is simply marking the stumbler service as garba

[2015-03-17 13:58] crankycoder commented on #1537
@hbogner @sshvetsov are you trying to generate KML while you are stumbling?  That developer option is only meant to export in-memory observation data to KML. It does not retrospectively go back and transform all the collection data to KML.

[2015-03-17 14:25] #1575 closed, assigned to nobody

[2015-03-17 14:28] #1567 closed, assigned to crankycoder

[2015-03-17 14:29] crankycoder commented on #1520
Fixed in #1522

[2015-03-17 14:29] #1520 closed, assigned to nobody

[2015-03-17 14:30] crankycoder commented on #1521
We just dropped the changelog entirely.  We don't have a formal translation process which allows us to update all the translation before every point release.

[2015-03-17 14:30] #1521 closed, assigned to nobody

[2015-03-17 14:32] crankycoder commented on #1540
I'm not sure what you mean.

I can see the Ready to send report increment from 13 to 14 and it clearly shows a 1 report ready to send.

After sending, I see the count go back to zero.

Truthfully, I'm not sure what the point of that label is - the current session already tracks all your uploads anyway.

![2015-03-17 10 24 34](https://cloud.githubusercontent.com/assets/4829/6689478/c780ced2-cc90-11

[2015-03-17 14:45] crankycoder commented on #1536
If you clear the cache and data, those metrics should go to zero - there is no more data to read from storage.

Can you screenshot your application with specific steps to reproduce?

I just tested with the build from F-Droid. Version 1.7.7 71 ddf1a-dirty and the "already sent" metrics show up properly for me.

With stumbler on, the "ready to send" increment up correctly:

![2015-03-17 10 37 54](ht

[2015-03-17 15:31] #1518 closed, assigned to nobody

[2015-03-17 15:31] crankycoder commented on #1518
Duplicate of #1537

[2015-03-17 15:56] crankycoder commented on #1537
@sshvetsov filed a bug report with steps to reproduce, but I get reports on mine:

Steps from app filed bug:
- Collect data
- see it on the map
- go to settings, Developer, click Save KML File
- click cancel, when offered to share
- go to sdcard/Android/data/org.Mozilla.mozstumbler/files/
- the kml file is only 6 B and has no data in it

---

Turning on stumbling from my desk I get this:

![2015-0

[2015-03-17 16:00] crankycoder commented on #1529
Doing this at the same time as checking for xposed in #1485 seems to make sense.

[2015-03-17 16:30] sshvetsov commented on #1537
Here are my screens from today:
![screenshot_2015-03-17-23-10-14](https://cloud.githubusercontent.com/assets/2501176/6692130/7256ec80-ccfd-11e4-9e29-89bb14d75f70.jpg)
![screenshot_2015-03-17-23-10-25](https://cloud.githubusercontent.com/assets/2501176/6692131/7257f6b6-ccfd-11e4-9d8f-9863008c935e.jpg)
![screenshot_2015-03-17-23-10-35](https://cloud.githubusercontent.com/assets/2501176/6692132/725ad

[2015-03-17 16:34] sshvetsov commented on #1569
@lua86, please reference this issue # in the ichnaea ticket once you create it, so others with the same issue can follow the back link.

[2015-03-17 16:58] sshvetsov commented on #1568
I think I figured out the pattern:
1. stop and kill MozStumbler by removing it from the recent/running apps
2. open MozStumbler
    \* it will start stumbling on start (switch moves to ON)
    \* the metrics drawer shows sent observations
3. turn stumbling OFF and press back button to (soft) exit the app
4. re-open the MozStumbler from the recent/running apps
    \* the metrics drawer is reset

![

[2015-03-17 17:31] crankycoder commented on #1485
I'm not certain there is a problem with xposed, but I am aware of some incompatibility issues listed over here:

http://forum.xda-developers.com/xposed/framework-xposed-rom-modding-modifying-t1574401/post42048445#post42048445

I'd like to be able to just alert the user that Xposed is installed and may cause crashing issues.

[2015-03-17 17:32] crankycoder opened #1578 "GPS-free location fixes should be possible using only cell and wifi data"
I'd like to be able to support gps-free location fixes where all data is simply on the device.

There are privacy issues here that need to be resolved, but I think this is a very compelling feature.

The particular privacy problem we want to solve is to make it reasonably difficult for someone to find the location of a particular wifi router based on knowing that single router BSSID.

[2015-03-17 18:00] crankycoder commented on #1547
Just adding a note that the code in the NLP backend looks correct so we should implement this.

[2015-03-17 18:01] crankycoder commented on #1499
I've cut over to geolocate as of #1500

[2015-03-17 18:01] #1499 closed, assigned to nobody

[2015-03-17 18:03] crankycoder commented on #1151
Marking this as won't fix as we have the icon that goes red already.   If someone wants to contribute an actual buzzing notification that's great, but I'd like to triage a bunch of these bugs to get our issue list under control.

[2015-03-17 18:03] #1151 closed, assigned to nobody

[2015-03-17 18:04] crankycoder commented on #1174
Low memory is now handled all over the place and we haven't heard of anyone losing data after a crash for a while.

[2015-03-17 18:04] #1174 closed, assigned to nobody

[2015-03-17 18:05] crankycoder commented on #19
We've reworked all the leaderboards since this bug was filed.

[2015-03-17 18:05] #19 closed, assigned to nobody

[2015-03-17 18:08] crankycoder commented on #21
I'm closing this as I don't think this is important anymore considering the power consumption changes we've made to the stumbler and passive stumbling is already in fennec.  Our 'high power' mode already very conservative with power consumption while collecting as much as possible.

[2015-03-17 18:08] #21 closed, assigned to nobody

[2015-03-17 18:08] #40 closed, assigned to nobody

[2015-03-17 18:11] crankycoder commented on #210
This doesn't happen anymore

[2015-03-17 18:11] #210 closed, assigned to nobody

[2015-03-17 18:12] crankycoder commented on #261
The spread in battery consumption between stumbler and other apps has closed since the 1.6 and 1.7 releases went out.

[2015-03-17 18:12] #261 closed, assigned to nobody

[2015-03-17 18:13] crankycoder commented on #280
No longer relevant.  GPS icons are black with a fix, red when no fix is available.

[2015-03-17 18:13] #280 closed, assigned to nobody

[2015-03-17 18:15] crankycoder commented on #293
I'm closing this and superceding it with #1325.  We're going to target getting a new leaderboard in place for local stumbling events to get more events run in India.

[2015-03-17 18:15] #293 closed, assigned to nobody

[2015-03-17 18:16] lua86 commented on #1569
@sshvetsov I don't even know how to do that referencing.

[2015-03-17 18:17] crankycoder commented on #1425
New bulidbox and acra box is up now and in production.

[2015-03-17 18:17] #1425 closed, assigned to nobody

[2015-03-17 18:17] crankycoder commented on #1389
The widget has been pulled entirely.

[2015-03-17 18:17] #1389 closed, assigned to nobody

[2015-03-17 18:20] crankycoder commented on #1415
This has been 'solved' by using the standard accelerometer instead of the linear accelerometer.

[2015-03-17 18:20] #1415 closed, assigned to nobody

[2015-03-17 18:20] #1449 closed, assigned to garvankeeley

[2015-03-17 18:21] crankycoder commented on #1479
`bindService` is required to keep the service alive.  It's bizarre and undocumented Android behavior but it's true.

See #1571 for details and evidence of the service lifecycle being different with a bound service vs an unbound service.

[2015-03-17 18:21] #1479 closed, assigned to crankycoder

[2015-03-17 18:22] #1352 closed, assigned to nobody

[2015-03-17 18:27] crankycoder commented on #1568
Thanks!  I've reproduced the bug following those exact steps.

[2015-03-17 18:29] #1322 closed, assigned to nobody

[2015-03-17 18:30] crankycoder commented on #1454
This is coming in #1566

[2015-03-17 18:32] crankycoder commented on #1447
We haven't had anyone report this since the new motion sensor code has landed in v1.6 and v1.7 series.

[2015-03-17 18:32] #1447 closed, assigned to nobody

[2015-03-17 18:32] crankycoder commented on #841
Duplicate of #1578

[2015-03-17 18:32] #841 closed, assigned to nobody

[2015-03-17 18:33] crankycoder commented on #1262
Pause scan with no motion detection is in now.

[2015-03-17 18:33] #1262 closed, assigned to nobody

[2015-03-17 18:33] crankycoder commented on #475
After talking with the PressureNET people, this is a bug in hardware/drivers.  It's not really the stumbler.

[2015-03-17 18:33] #475 closed, assigned to nobody

[2015-03-17 18:38] crankycoder commented on #380
We no longer crash with the wifi hotspot enabled, but wifi collections will stop happening.  Toggling the hotspot from on, to off and then back no longer crashes in at least the v1.7 release.

[2015-03-17 18:38] #380 closed, assigned to nobody

[2015-03-17 18:41] crankycoder commented on #796
Updates come down automatically if you're on the Google Playstore or F-Droid.  We've designated the github release channel for early adopters and testing.

[2015-03-17 18:41] #796 closed, assigned to nobody

[2015-03-17 18:46] crankycoder commented on #1394
@kparal is this still an issue with 1.7?  We've reworked a lot of the motion sensing code to handle the standard accelerometer and use network location to wake up the device.

[2015-03-17 18:48] crankycoder commented on #1412
I'm marking this as won't fix.

1) GPS is used if it's available - it's how we get the lat/long location.
2) Changing the API URL doesn't provide us any benefit and if the user really needs to do this, they are free to simply update the code and recompile
3) We have no driving use case to upload data to multiple servers

[2015-03-17 18:48] #1412 closed, assigned to nobody

[2015-03-17 18:51] crankycoder commented on #1362
This is unnecessary now.  We now use the signfiicant motion sensor if it's around, only white list known good devices (nexus and oneplus).

Everything else uses standard accelerometer and hints from network location to wake to stumble.

[2015-03-17 18:51] #1362 closed, assigned to nobody

[2015-03-17 18:53] crankycoder commented on #1320
We patched this a while ago - if cachedir doesn't exist, we fall back to whatever path osmdroid normally uses.  We also haven't seen any crashes of this sort for many months now.

[2015-03-17 18:53] #1320 closed, assigned to nobody

[2015-03-17 18:55] crankycoder commented on #763
I'm closing this as waiting for better GPS fixes doesn't help us in the context of collecting data for Ichnaea.  Waiting just means we aren't collecting data.  We might as well just start collecting right away.

[2015-03-17 18:55] #763 closed, assigned to nobody

[2015-03-17 18:56] crankycoder commented on #743
We've got some "share" code for the KML file handling.  I'm not sure how this UI for this would work as we don't have any street level information - just lat/lon.

[2015-03-17 19:10] crankycoder commented on #695
We display the full MLS blob now.

[2015-03-17 19:10] #695 closed, assigned to nobody

[2015-03-17 19:17] crankycoder opened #1579 "Power consumption is up on Nexus 5"
User bug reported: "The last 2 or 3 updates seem to have regressed motion detection on my nexus 5. Even overnight where the phone is completely motionless, seems to continually scan and not pause causing significant battery usage."

[2015-03-17 19:22] crankycoder commented on #701
There's nothing actionable here and nobody is complaining yet.  :)

[2015-03-17 19:22] #701 closed, assigned to nobody

[2015-03-17 19:23] crankycoder commented on #728
I'm pretty sure this is largley irrelevant since we are using gzip compression now and by default, we only upload on wifi.

[2015-03-17 19:24] crankycoder commented on #555
+1 to a first run dialog that just prompts the user as per https://github.com/mozilla/MozStumbler/issues/555#issuecomment-41495390

[2015-03-17 19:25] #1200 closed, assigned to nobody

[2015-03-17 19:25] crankycoder commented on #1022
Haven't seen this in ages in ACRA.

[2015-03-17 19:25] #1022 closed, assigned to nobody

[2015-03-17 19:26] crankycoder commented on #506
#1566 is a work in progress to get cell maps.

[2015-03-17 19:43] kparal commented on #1394
I haven't used 1.7 much yet. But I have noticed that motion detected was turned back on, and I haven't seen any gaps in my coverage. So it seems this has improved greatly. Thanks a lot.

[2015-03-17 19:56] #1178 closed, assigned to nobody

[2015-03-17 19:57] crankycoder commented on #860
Resume upload is no longer necessary as we journal all in-memory records to storage on low memory pressure or application close.  Those records are uploaded once the app is restarted.  If an upload gets 'stuck', the network connection just times out.

[2015-03-17 19:57] #860 closed, assigned to nobody

[2015-03-17 19:58] crankycoder commented on #793
I'm not aware of any extra telemetry we need to add for the purpose of fennec.

[2015-03-17 19:58] #793 closed, assigned to crankycoder

[2015-03-17 20:07] crankycoder commented on #381
Without access to this particular hardware, we don't have a good way of ensuring that any patch we make is going to work.   I can't see adding this feature benefiting more than a fraction of a percentage of our users and we're tightly constrained on engineering resources.

[2015-03-17 20:07] #381 closed, assigned to nobody

[2015-03-17 20:08] crankycoder commented on #1569
@lua86 you should be able to just drop a hyperlink to this bug in the other ticket.

[2015-03-17 20:09] #1394 closed, assigned to nobody

[2015-03-17 20:16] crankycoder commented on #903
We've got a permission in the manifest now that forces this.

![mozilla_stumbler_-_android_apps_on_google_play](https://cloud.githubusercontent.com/assets/4829/6696601/e0a930a4-ccc0-11e4-82ba-8184df92aff5.png)

[2015-03-17 20:16] #903 closed, assigned to nobody

[2015-03-17 20:22] crankycoder opened #1581 "Get the library to interoperate with other crowdsourcing intiatives better"
This is a tracking bug.

I'd like to see our library code play nicely with other crowdsourcing initiatives to incentivize usage of our library.
- Exporting a GPS trace to OSM #490

[2015-03-17 20:38] #559 closed, assigned to nobody

[2015-03-17 20:40] crankycoder commented on #597
It's problematic to find a location to write to storage across the variants of Android hardware and software.  I don't think it makes sense to use up storage if the user has explicitly uninstalled our application.  We currently do versioned upgrades preserving the old preferences where possible.

I'm closing this as I don't see any user benefit.

[2015-03-17 20:40] #597 closed, assigned to nobody

[2015-03-17 20:41] crankycoder commented on #670
Closing as there's nothing actionable.  If specific items should be logged, or logged with a specific colour - let's be specific about those details.

[2015-03-17 20:41] #670 closed, assigned to nobody

[2015-03-17 20:46] crankycoder commented on #709
This would end up complicating our storage layer for tiles and stumbler reports.  Many newer devices don't support SD cards.  There is also no standard API to access the external SD card.

[2015-03-17 20:46] #709 closed, assigned to nobody

[2015-03-17 20:47] crankycoder commented on #797
Geofencing is gone.

[2015-03-17 20:47] #797 closed, assigned to nobody

[2015-03-17 20:47] crankycoder commented on #798
I think this really should be a "refactor/cleanup/rewrite" of the DataStorageManager, StumblerBundle and the Reporter classes.  It's a bit of a mess in there.

[2015-03-17 20:49] crankycoder commented on #813
The intent messaging is here to stay.  Now that the stumbler service is pulled into a separate library, we can't really rely on having a pointer hanging around to the running service.

[2015-03-17 20:49] #813 closed, assigned to nobody

[2015-03-17 20:49] hbogner commented on #1537
@crankycoder  I do the same procedure as @sshvetsov and get the same results as him.
I can produce the same screenshots as him, if you like.

[2015-03-17 20:52] crankycoder commented on #1537
It looks like you've turned off stumbling. That will upload all records into Ichnaea and clear your memory buffers.  The KML option only dumps in-memory reports.

I think part of the problem is the wording of "Developer Options". Those are options which are not rigorously tested but @garvankeeley and I find those options useful enough that we want to expose them.

We should probably display a dial

[2015-03-17 20:55] crankycoder opened #1582 "Localized leaderboards for stumbling parties in india"
We need to cut the world up into tiles and enable short duration (day or two) stumbling events where a leaderboard exists for a particular geographic tile for that duration.

This would help incentivize our student community in India to run stumbling events.

We need to get #1325 landed for this bug as success means lots of stumbling parties - which means a high probability that we get human name

[2015-03-17 20:55] crankycoder commented on #857
I'm closing this as we're going to rework the leaderboards entirely.  See #1582

[2015-03-17 20:55] #857 closed, assigned to nobody

[2015-03-17 20:57] naoliv commented on #709
Isn't it as simple as setting `preferExternal` in http://developer.android.com/guide/topics/data/install-location.html ?

[2015-03-17 21:23] crankycoder commented on #709
Oh, this is actually worse than I thought.

We don't want to install on external storage because we do at least 3 of things listed under "Applications That Should NOT Install on External Storage":
- Stumbler is a Service
- listen for ACTION_BOOT_COMPLETED
- We use Alarm Services to schedule file uploads to ichanea.

[2015-03-17 21:24] crankycoder commented on #1124
Closing as this was filed before a lot of UI work was done.

[2015-03-17 21:24] #1124 closed, assigned to nobody

[2015-03-17 21:26] hbogner commented on #1536
I know that the option to clear the cache and data wipes all data from the app.
What I meant to explain is that I cleared cache and data, then collected some reports and sent them and got "never" after the next start. Then tried removing the app and reinstalling it again, collected some reports and sent them and got "never" again.

But in 1.7.7 now I see some changes, which I missed in last messag

[2015-03-17 21:39] hbogner commented on #1536
Forgot the screenshots in the last post
This is after clean start today:
![2015-03-17 18 05 47](https://cloud.githubusercontent.com/assets/794472/6698003/f5554d42-ccf4-11e4-8537-327dff01ac7f.png)
This is after exiting the app and starting again today:
![2015-03-17 18 07 54](https://cloud.githubusercontent.com/assets/794472/6698005/f871b196-ccf4-11e4-8ef0-f6d9458a94d9.png)
This is again after clean

[2015-03-17 21:46] lua86 commented on #709
Besides, why would anyone move such a lightweight app to the sdcard? I see less than 3 megabytes of benefits against a lot of counterfeit.

[2015-03-17 21:49] hbogner commented on #1537
Stumbling is turned off automatically when doing the KML export.
Just tested it, twice.
First time I left wifi on so the reports were sent automatically, stumbling was turned off automatically when doing the export.
Second time wifi was off to disable automatic upload and to keep them in the memory, stumbling was turned off automatically again.
In both cases there were created 6B empty files

[2015-03-17 21:51] naoliv commented on #709
@crankycoder understood!
@lua86 when I asked this I had a device with a very limited internal storage

[2015-03-17 21:51] crankycoder commented on #1537
This is really puzzling.  I think you've got a OnePlus One right?  I have
the same device. I'll try to do a video capture of KML exports and we can
do a comparison of this.

On Tue, Mar 17, 2015 at 5:49 PM, hbogner notifications@github.com wrote:

[2015-03-17 21:58] hbogner commented on #1537
Yes, OnePlus One and Samsung Galaxsy S+, and have the same issue with both of them.

[2015-03-17 22:06] hbogner commented on #1568
This issue is continued issue i reported some time ago : https://github.com/mozilla/MozStumbler/issues/1536

[2015-03-18 01:13] sshvetsov commented on #1537
Stumbling turns OFF for me automatically as well on stock Nexus 5 (5.1.0) and CM Galaxy Nexus. Still nothing is in the kml file.

[2015-03-18 01:23] crankycoder commented on #1537
Huh. Ok, I just did a screencast and reproduced your problem with the
Playstore release of 1.7.7.

Then I did the same thing with a debug version of the github build and
everything worked.

So this looks like some kind of build related issue.  My favourite kind of
bug.  No wait. I mean my least favourite kind of bug.

Let me take a look at this.

On Tue, Mar 17, 2015 at 9:13 PM, Sergei notificatio

[2015-03-18 01:55] Djfe commented on #797
yeah I know but this is still an idea floating around in my head about how geofencing could look nice, if it will come back:

If you create a geofence: show it on the map as some kind of overlay which size you can adjust by pinching with your fingers

[2015-03-18 02:18] Djfe commented on #1447
Pls reopen, it is likely to be device specific but this happened to me in 1.6.x or something like that with the motion sensor related code turned OFF.
So it's something else.

Especially since it's only happening if the screen is turned off (so it couldn't be an issue with the motion detection anyways).

I think this bug has happened to me earlier as well (I was wondering in earlier reports why th

[2015-03-18 02:26] Djfe commented on #1485
I don't get why you linked to that particular post
I mean it's not about any app related issues
the only thing discussed is that the boot got slowed down (by system UI related anrs/crashes)

[2015-03-18 02:31] crankycoder commented on #1485
Sorry - wrong link.  There are known issues with SELinux which is baked into at least CM11.

http://forum.xda-developers.com/xposed/xposed-faq-issues-t2735540

[2015-03-18 02:36] crankycoder commented on #1447
Great. Let us know what you see in your tests.  The new motion detection code in 1.7 that did not exist in 1.6 should wake up if the network location listener indicates movement changed.

[2015-03-18 03:19] sshvetsov commented on #1579
I've got Nex5, so I can try verifying this. Any suggestions on the test procedure?

[2015-03-18 03:21] crankycoder commented on #1579
I think you just leave the phone idle overnight while you sleep.  If significant power drain happens,  then we have a bug.

[2015-03-18 03:28] sshvetsov commented on #1578
I'm a bit confused, isn't geolocation with just the wifi SSID already possible via MLS API? This pretty much gives you the location of the router.

If you want to make it harder to locate a specific router, the API has to require more than just SSID. For example, the correct neearby cell must be provided as well, and only if the provided SSID is located within reasonable range from the provided ce

[2015-03-18 03:41] sshvetsov commented on #1581
+1 this idea. I used to participate in OSM mapping and was always annoyed that I had to use one app for wardriving/netmonitoring and another for nice GPX generation.

If this library allows user to chose which type(s) of data to collect, it will become more attractive to diifferent projects app developers. For example: OSM mappers can use it for GPX generation, wardrivers for WiFi measurements, ne

[2015-03-18 08:56] lua86 commented on #1578
I don't get why is this an issue. If I don't opt-out is because I don't think where in my house is my access point is a privacy matter.

[2015-03-18 13:44] crankycoder commented on #1578
To clarify,  this feature would enable location fixes based completely data local to the device without ichnaea or gps.

[2015-03-18 16:15] cascheberg commented on #1182
This issue is fixed and should be closed.

[2015-03-18 16:21] cascheberg commented on #1215
I think it would be good to at least update the existing sidebar screenshot, since it has improved a lot:
- metrics are much nicer
- energy saving options are now visible immediately
- better map legend

[Google Play Store link](https://play.google.com/store/apps/details?id=org.mozilla.mozstumbler)

[2015-03-18 16:47] #1182 closed, assigned to nobody

[2015-03-18 17:29] crankycoder commented on #1325
Quick update, I've grabbed the android client code and forked it  over here https://github.com/crankycoder/moz-androidfxa-client

[2015-03-19 15:10] crankycoder opened #1583 "GPSScanner has locale dependant code"
GPSScanner checks for fused locations by looking for the substring 'gps' within the provider name.

This should be changed to something that is not locale specific.  https://github.com/mozilla/MozStumbler/blob/a1066db7047b138cc8fbfd6e8fbfeb0de8ae70fc/libraries/stumbler/src/main/java/org/mozilla/mozstumbler/service/stumblerthread/scanners/GPSScanner.java#L168

[code]

[2015-03-19 16:15] sshvetsov commented on #1579
Did one test last night. So far doesn't seem out of the ordinary, just 1% consumption by MozStumbler when stationary over period of 7 hours, compared to 7%  over period of 2 hours while moving. Will do another test tonight.

Test 1:
Phone laying on the desk over night:
![idle1](https://cloud.githubusercontent.com/assets/2501176/6746120/88cfbb96-cef5-11e4-90ea-c5e9423f37d7.png)![idle2](https://clou

[2015-03-19 16:38] cascheberg commented on #1436
My patch does not set wifi/cell values to zero in all cases properly, but I can fix that...

[2015-03-19 18:46] Djfe commented on #1215
Is it possible btw. to provide translated screenshots?

Because that could be easily done with an emulator, I guess (changing translation).

And I still think that 2 screenshots aren't many.

They don't even show the red dots and all.

[2015-03-19 18:48] Djfe commented on #1447
Lol I already said that the device had motion detection turned off arghh.

Also: Wifi points were visible (so the scanning was on), but the device didn't report any cells at all, which is the issue.

And yeah: I will check it soon and report back here ;)

[2015-03-19 18:59] Djfe commented on #1485
the SELinux issues are about HTC devices, so maybe CM itself isn't an issue.

And SELinux is part of the newest android versions and it makes sense for CM to implement them from the AOSP source code, since all devices should/will have it enabled that use newer android versions

I'm using CM11 (Kitkat) in SELinux strict mode and I don't experience any issues at all on my Sony Xperia Arc S.

Since r

[2015-03-19 19:10] Djfe commented on #1436
Well reports shouldn't be set to zero :D
but if there any other cases, you want to fix with followup prs
-> sure and thx in advance for your work ;)

[2015-03-20 04:26] sshvetsov commented on #1556
@hannosch done, created new issue in Ichnaea project (mozilla/ichnaea#419). @crankycoder I think this ticket can be closed now.

[2015-03-20 04:45] sshvetsov commented on #1579
Second test produed similar results. Here are the screen shots from my tests:

Test 2:
Phone laying on the desk over night:
![idle1](https://cloud.githubusercontent.com/assets/2501176/6746148/f9bcfbde-cef5-11e4-9935-0fba3072e60a.png)![idle2](https://cloud.githubusercontent.com/assets/2501176/6746149/f9bd8162-cef5-11e4-9242-bd357ed44333.png)![idle3](https://cloud.githubusercontent.com/assets/250117

[2015-03-20 09:44] hannosch commented on #1556
Thx!

[2015-03-20 09:44] #1556 closed, assigned to nobody

[2015-03-20 12:33] dhawkshaw commented on #1579
Hi, I'm the original user reporting this issue.

I can confirm that settings for power saving were originally set to 'Significant Motion'. Changing back to just accelerometer still causes a similar drain. Here's a screengrab showing last night's typical usage set as accelerometer. I'll run another one this evening with the significant motion setting. Let me know if there's anything else I can do.

[2015-03-20 14:16] crankycoder commented on #1579
Thanks @sshvetsov and @dhawkshaw !  Getting real metrics on power drain from real devices is tough.

My expectation here for a normally function Nexus 5 is that the significant motion sensor will have dramatically lower power consumption than the plain accelerometer sensors.  The code was originally written targetting the Nexus 5 and Samsung Galaxy S5

The significant motion sensor code runs parti

[2015-03-20 15:04] dhawkshaw commented on #1579
Funnily enough. I think I might have fixed it. Following from my previous post, I thought it wise to do a full phone shutdown/reboot, which I'd already done prior to initially reporting my issue. However, switching back to Significant Motion, I was prompted to re-teach the sensor setting. Over the last couple of hours since posting my (sorry overly large) screenshot, Stumbler is happily pausing wh

[2015-03-21 11:08] dhawkshaw commented on #1579
Ok, I'm still stumped. Here's last night's activity. I made sure the nexus was fully charged before retiring. Stumbler is in Significant Motion mode.

![screenshot](https://cloud.githubusercontent.com/assets/11572036/6764749/5dec9020-cfb8-11e4-94f8-f8571a9ada8c.png)

I've turned on save logs under the developer screen, and when I get some I'll post some proper snippets. Before the current log disa

[2015-03-21 14:24] dhawkshaw commented on #1579
Here's what the log looks like in a period where I would expect scanning to be paused.

![screenshot_2015-03-21-13-47-29](https://cloud.githubusercontent.com/assets/11572036/6765383/988349b4-cfd5-11e4-867b-79c62f8fbf2f.png)

[2015-03-22 01:43] crankycoder commented on #1579
That's really strange.  The network location listener is used to help buggy significant motion sensors Wake up.   In your case though,  the network should be stable if it's really at rest.

Is your device rooted and/or  have anything in usual relative to a stock android device?

[2015-03-22 16:44] dhawkshaw commented on #1579
My device is completely stock with google OTA updates currently on lollipop and no 3rd party app store sources. The strange thing for me is that it does indeed pause from time to time. Could one possible link be that there isn't an available GPS fix at the time, relying only on cell/wireless telemetry. I'm certain that the device hardware is ok, since I _am_ getting occasional pauses, and prior to

[2015-03-22 16:48] crankycoder commented on #1579
I wonder if this is a 5.1 issue.  We haven't tested against that.

We've got nexus 5 devices around,  we'll try to reproduce it this week and
follow up.
On Mar 22, 2015 12:44 PM, "dhawkshaw" notifications@github.com wrote:

[2015-03-22 16:52] sshvetsov commented on #1579
Actually, my tests above were done on 5.1. I didn't notice any issues with power consumption.

[2015-03-22 16:55] dhawkshaw commented on #1579
Just to confirm, I'm still on 5.01 build LRX22C as the very latest build hasn't been pushed my way yet.

[2015-03-23 16:08] #1309 closed, assigned to nobody

[2015-03-23 17:13] garvankeeley commented on #1569
I filed in Ichnaea.

[2015-03-23 19:27] crankycoder opened #1586 "1428 - Upload libstumbler into JCenter"
The stumbler library should really be published into JCenter so that anybody with Maven or Gradle can just pull it in easily.

https://www.virag.si/2015/01/publishing-gradle-android-library-to-jcenter/

[2015-03-23 22:45] #1568 closed, assigned to nobody

[2015-03-24 19:01] crankycoder commented on #1579
@dhawkshaw we just cut a v1.7.8 release on github - can you give it a whirl to see if this makes sleep better for you?

[2015-03-24 22:29] cascheberg commented on #1579
@crankycoder The v1.7.8 Github release crashes as soon as scanning starts, but my local debug build does not

[2015-03-24 22:30] crankycoder commented on #1579
Crap.  We had to create a new build box which took all day.  Something must
be screwed up even though we had an EBS volume.
On Mar 24, 2015 6:29 PM, "Christian Ascheberg" notifications@github.com
wrote:

[2015-03-24 22:48] garvankeeley commented on #1579
I just switched 1.7.8 to pre-release so 1.7.7 is reported as the latest

On Mar 24, 2015, at 6:30 PM, Victor Ng notifications@github.com wrote:

[2015-03-25 00:06] VolMi opened #1593 "1.7.8 force closes immediately"
I can't launch the new release. Log:

http://pastebin.com/MbFJb9AV

[2015-03-25 00:26] stripTM commented on #1593
Idem.
My info:
https://groups.google.com/forum/#!topic/mozilla.dev.geolocation/NOel77QSGZY

[2015-03-25 01:52] crankycoder opened #1594 "proguard is a piece of garbage"
We hit a crasher with v1.7.8 and Proguard related to enums.

The Wordpress folks saw the same bug over here:
https://github.com/wordpress-mobile/WordPress-Android/issues/854

Proguard performs some optimisations which are incorrect. It's difficult to predict when things will break as the documentation is poor and vague.

We've decided to remove proguard entirely as the byte savings is negligible.

[2015-03-25 01:52] garvankeeley commented on #1579
1.7.9 is up and working.

[2015-03-25 01:53] garvankeeley commented on #1594
Lets toss it to preserve our sanity.

[2015-03-25 01:53] crankycoder commented on #1594
Proguard was removed as two commits.
- afaa03d74 removed optimisation of enums to address the crash.
- 3d05e64ff We then decided to just turn proguard off entirely as it provides no advantage in

[2015-03-25 01:53] #1594 closed, assigned to nobody

[2015-03-25 01:54] garvankeeley commented on #1593
1.7.9 is up and working, and we should be able to avoid this in future with #1594

[2015-03-25 01:54] #1593 closed, assigned to nobody

[2015-03-25 01:56] crankycoder commented on #1579
@cascheberg see #1594 for what happened with the crashers.  proguard is terrible.

[2015-03-25 09:42] dhawkshaw commented on #1579
I've installed 1.7.9 and will let you know how I get on after a couple of days of testing.

[2015-03-25 11:31] dhawkshaw commented on #1579
Running 1.7.9 I think it may have even got worse. The previous version at least whilst it was on my desk at work was pausing ok. It's now not pausing at all. See screenshot of logs.
![screenshot_2015-03-25-10-58-47](https://cloud.githubusercontent.com/assets/11572036/6823644/199a2ec8-d2e2-11e4-9b86-e81503cf3375.png)

I'm starting to think that this is all about environmental conditions -- state of

[2015-03-25 11:36] crankycoder commented on #1579
@dhawkshaw Let's verify that.

Can you go into your Android location settings and use battery saving mode? That should disable the GPS.

Go into google maps and let's see what location google maps reports.  I'm interested in the stability of the location fix that Google manages to get.

[2015-03-25 12:45] cascheberg commented on #1579
I can reproduce this, my setup:
- disable wifi and disable "scanning always available"
- disabled GPS
- enabled Google location service

The location estimation is now based only on cell towers. The location uncertainty overlay has a radius of ~1.3km, and the center is off by ~100m compared to my actual location.

In the motion sensor's `onLocationChanged` I computed the distances to the previousl

[2015-03-25 13:27] dhawkshaw commented on #1579
Based on the comment above, I changed my settings to match. and the uncertainty overlay jumped to about a 1.3km radius with the epicentre about 0.8km from my actual location. Stumblers map view showed uncertainty with about a 5km radius. Is there anything else I need to provide.

[2015-03-25 14:57] crankycoder commented on #1579
@dhawkshaw, @cascheberg 1.7.10 is on github with some more changes to the network location listener.  Let us know if this helps.

[2015-03-25 15:46] dhawkshaw commented on #1579
@crankycoder @garvankeeley @cascheberg  1.7.10 is looking good so far. Successfully pausing having heading into and back out of cell/gps range (I work in a bad reception area). I'll see how I get on tonight with the overnighter and post results. Thanks so much for all the hard work you guys do.

[2015-03-25 17:44] cascheberg commented on #1579
This is still failing sometimes, because (of course) I still get distance changes of up to ~200m with my cell only config. If you want to have less false positive wakeups, maybe you could require a higher threshold if the accuracy is low.
For comparison, the accuracy in my area using wifi is ~20m, location distance diffs are ~2m.

[2015-03-25 18:49] crankycoder commented on #1586
JCenter: http://jcenter.bintray.com/com/crankycoder/stumbler/

Bintray: http://dl.bintray.com/crankycoder/libMozStumbler/org/mozilla/mozstumbler/stumbler/

The bintray entry is newer, but I expect that jcentery should automatically pull from bintray tonight.

[2015-03-25 18:51] garvankeeley commented on #1579
The cell-only config seems like a 1% use case we shouldn't spend time on fixing. Opinions?

[2015-03-25 18:55] crankycoder commented on #1579
I concur.  If GPS **and** wifi is disabled, there's really not much value here.  Realistically, the stumbler when used in the Android client is intended to be used as an active stumbling client to pull in as much data as possible.

I mean really - if you're on cell only - some places have only 1 tower and your possible position may vary a lot.   Let's ignore this for now until we get a lot of prob

[2015-03-25 19:15] cascheberg commented on #1579
GPS is not used in the motion detector, I only disabled it for debugging purposes, but I see your point ;)

[2015-03-26 08:54] dhawkshaw commented on #1579
Good news everyone. Last nights test was a complete success.

There were only 2 movement blips measuring 5400m, which I think we can completely ignore as an unfixable error bar. During early evening, I got a handful of blips measuring 30 something to 68m where the device was on the cusp of picking up and dropping gps, but there was still enough pausing in between to not impact battery at all.

So

[2015-03-27 14:22] crankycoder commented on #1537
@sshvetsov, @hbogner can you try v1.7.10 ?  It's working for me using the github release of 1.7.10.  I'm going to blame #1594 if this works for you-  because we've changed nothing w.r.t KML output.

[2015-03-27 14:23] garvankeeley commented on #1537
@crankycoder It didn't occur to me before, but this could have been another proguard bug in release builds.

[2015-03-27 23:09] #1371 closed, assigned to nobody

[2015-03-29 10:54] sshvetsov commented on #1537
@crankycoder Confirmed working on my Nexus 5 and Galaxy Nexus, I can now save my observations as KML file. Doing so still turns OFF the active stumbling when I press "Save KML File" button.

[2015-03-29 18:09] lua86 commented on #1569
I did more city testing. Tried disabling the dead SIM, which is the first one, and the wi-fi. Result: no cells are being seen and no reports are being gathered. So now I think it is a cell scanner bug.

[2015-03-30 08:59] herrdeh commented on #1579
On my Huawei y300, running slimkat 4.4.4, MozStumbler is eating an awful lot of battery power even when it's switched off. The symbol remains in the top bar, and I get around 17% / hr instead of round 2%.

So I ever have to kill it in order not to lose all my battery charge - quite annoying.

[2015-03-30 14:34] crankycoder opened #1599 "MLS queries are slow and can cause a concurrent modification exception"
In v1.7.10, ConcurrentModifcationException is thrown sometimes.

[code]

Reading the code, the ObservedLocationsReceiver has a method `getMapActivity` which iterates over the queuedForMLS observation points and iteratively queries MLS one at a time using AsyncTasks.

There should be a lock put around the use of the list so that calls to `addFirst` and the iterator don't cause this exception.

Idea

[2015-03-30 15:13] crankycoder opened #1600 "Simulation mode should not be enabled if Android's developer mode hasn't been set"
Simulation mode can't work if the Android developer option isn't enabled.

When the user toggles the simulation mode switch, we should check the permission and throw up a dialog if ACCESS_MOCK_LOCATION isn't available.

We need this mostly because people are cluttering our crash logs.

[2015-03-30 16:08] crankycoder opened #1601 "IllegalArgumentException v1.7.10"
[code]

[2015-03-30 16:08] crankycoder opened #1602 "IllegalArgumentException v1.7.10"
[code]

[2015-03-30 16:14] garvankeeley commented on #1601
Yup, network location may not be available.

EDIT: actually, no, we are already checking this on 1.7.10

[2015-03-30 16:15] garvankeeley commented on #1602
This would be on a device with no location service. Any idea what the device specifics are?

[2015-03-30 16:32] crankycoder commented on #1602
Ach.  Sorry. I deleted the report already, but it was some Sony Xperia device.

[2015-03-30 22:40] djr7m commented on #1342
I am interested this enhancement request. I may look into contributing for this at some point but will start with trying to post-process the logs. In particular what _I_ want to log is the power levels (RSSI or dBm) from cell sectors at each collection point. I believe the format uploaded to opencellid.org contains what I need so I will keep digging.

[2015-03-31 14:02] swarnava opened #1605 "Stumbling not working on Huawei Honor Holly"
Device:- Huawei Honor Holly
Mozstumbler version:- 1.7.10

Log Screenshot:- http://imgur.com/z87QL0S

Let me know if there any additional information needed

[2015-03-31 14:08] garvankeeley commented on #1605
Any idea what is wrong with the GPS? On the main screen of the app, how many satellites are there?
It says you aren't getting a GPS fix in 120s. You can shut off the motion detection, or increase the wait time in the Developer settings screen (from 120s to 300s).

[2015-03-31 15:06] swarnava commented on #1605
I just tried what you have said.  Still no luck. Yes my phone have some gps issue, it gets a lot drift sometimes.

Screenshot:- http://i.imgur.com/hGUzRp7.png

[2015-03-31 16:57] crankycoder commented on #1605
Without a GPS lock, we can't really stumble.  The stumbler corelates GPS provided lat/lon co-ordinates and we record what wifi and cell towers are available.  Your screenshot shows a red satellite image indicating no GPS satellites are available and no GPS fix.

[2015-03-31 16:57] crankycoder commented on #1605
@swarnava do you _ever_ get GPS satellites to show up in the Stumbler?  Perhaps this is an intermittent failure.

[2015-03-31 17:05] crankycoder commented on #1342
@djr7m the CellInfo records contain a signalStrength field which we output for the geosubmit API.

You can find the specification for geosubmit in the ichnaea project: https://mozilla-ichnaea.readthedocs.org/en/latest/api/index.html#geosubmit

[2015-03-31 18:04] crankycoder commented on #490
OpenStreetMaps has a very minimal requirement - we just need to be able to export GPX tracks:

http://wiki.openstreetmap.org/wiki/GPX

[2015-04-01 18:07] crankycoder commented on #1599
Merged in #1603

[2015-04-01 18:07] #1599 closed, assigned to nobody

[2015-04-02 12:43] Djfe commented on #1605
Pls make sure that your device has sky access and that you are not standing between huge buildings (like skyscrapers) -> this will ensure that your device is able to get a GPS fix

How long does it normally take for you to get a GPS fix with other apps?

[2015-04-02 13:02] Djfe commented on #1579
While you are not moving? Or in general?

[2015-04-02 13:50] garvankeeley commented on #1605
Also, not all devices have assisted GPS data access, whereby the GPS chip is bootstrapped with almanac/ephemeris data using cell networks (or wifi). All GPS chips accept AGPS data, but the manufacturer may not have an AGPS server contract, or may only have that contract for certain countries. When I travel out of the country, I can't get AGPS, and GPS takes 15mins or so to get a fix.

[2015-04-02 14:09] garvankeeley commented on #1601
I think we can close this, unless we see more than one, this is not actionable.

[2015-04-02 14:39] crankycoder opened #1609 "Need test around corrupt reports on disk"
We got a bug filed that a user has ~500 reports on disk that won't upload.

Looking at the AsyncUploader, there are no tests to cover the case that the gzipped report is deleted if it is indeed corrupt.  We should at least add a test case there so that we know that corrupt data does not sit on disk forever.

[2015-04-02 15:01] herrdeh commented on #1579
Ok, I'll check that.

But the app symbol ever remains in the menu bar, making me believe that the
app doesn't close. I know, that's 'according to the book', but nevertheless
confusing as hardly any app still is doing so.

[2015-04-02 15:05] garvankeeley commented on #1609
DataStorageManager constructor takes a arg for the max weeks stored, I think it is 4 weeks IIRC. It is wiped if it is older than that.

EDIT: correct, we have no test case that validates this, and that is bad

[2015-04-02 15:29] ghost commented on #1609
@crankycoder Thanks for posting my issue.
@garvankeeley So the ~500 reports will just disappear in a month , not a problem for me.

I can see new reports on the map that were created and uploaded after the issue so it seems it isn't causing any ongoing problems.

[2015-04-02 18:12] garvankeeley commented on #1609
The bad news is that when a month passes and the app sees old reports, the app panics and deletes all reports currently waiting, not just the old one. We treated that state with panic that we might be causing a privacy issue (by persisting the users movements), and got a little aggressive there.
I'll file a bug for that now.

[2015-04-02 18:17] garvankeeley opened #1610 "UploadAlarmReceiver deletes all reports if any report is >maxweeks old; only delete the bad reports"
This came to light due to #1609.
Be nice to fix this before @markwaters hits the 4 week mark.

[2015-04-02 19:09] Djfe opened #1611 "wifi-only dots aren't drawn green"
This is recent regression, I don't know since when though
I noticed it first in 1.7.11, but it could have been earlier as well:

Wifi-Only reports get green dots instead of purple ones on the map

how I know that this is the case:
the log only shows wifi data but no cell data at all for these reports

[2015-04-02 19:10] Djfe commented on #1504
@crankycoder I think this has been fixed, right?
at least in 1.7.11 the dialog was shown longer (a few seconds)

[2015-04-02 20:31] Djfe commented on #1605
it could help to use https://play.google.com/store/apps/details?id=org.fastergps&hl=de if you have root access on your device (su)
you can select a server to get a faster fix, if you are switching countries you can also select different countries

you can use this tool https://play.google.com/store/apps/details?id=com.eclipsim.gpsstatus2&hl=de to enforce the update of the AGPS data

[2015-04-02 20:33] Djfe commented on #1579
as long as you don't press the stop button in the app or in the notification bar, MozStumbler will keep on scanning in the background

if you pressed stop the service should be stopped though and there shouldn't be any icon in the notification bar anymore

[2015-04-02 21:26] Djfe commented on #1447
I managed to reproduce this bug in 1.7.11 today but it was a little bit harder to notice because of #1611

the log showed only wifi-only and empty reports (only gps coordinates) though

and what I also noticed when turning the device on:
my device had no mobile network/cell connection at all for a few seconds (the statusbar icon indicated it)
so it's save to say that it is device related

![2015-0

[2015-04-02 21:31] Djfe commented on #1609
It would be interesting to see what is corrupted exactly, maybe there is another rare bug in the app that caused it
-> you should maybe build a debug version for markwaters that allows us/you to see what wents wrong exactly

[2015-04-03 06:50] ghost commented on #1609
@Djfe The problem occured after my phone (Samsung Galaxy S2 running Cyanogenmod 11) froze needing me to power it off and restart it.
I then started the mozstumber app and stumbled until I got to my destination , this is the data that is corrupted.
Before heading home I restarted mozstumber again , this data was fine and has uploaded.

[2015-04-03 11:30] herrdeh commented on #1579
Yes, so thought I.

But on my phone (Huawei y300, Slimkat 4.4.4) the menu bar icon remains in place and the menu bar message all the time says "Mozilla Stumbler is scanning, 92 reports, 8 cell towers, 474 WLANs".
That only disappears when I'm killing MozStumb in settings -> apps.

Energy consumption seem to be allright - nothing, when MozStumb is not active - but the message is confusing and led m

[2015-04-03 11:57] ghost commented on #1609
Upgraded to Mozilla Stumbler 1.7.11 via F-Droid and the ~500 unsent reports have disappeared.

[2015-04-04 06:53] ghost commented on #1609
Checked the map this morning and it shows the reports that were missing.

[2015-04-04 21:30] Djfe commented on #1609
so there is no bug at all and the reports now got uploaded correctly?

[2015-04-06 06:19] ghost commented on #1609
Went out yesterday for a ~56Km ride , most of it 'unstumbled'.
I tried uploading the data when I got back and it doesn't upload.
Seeing 1452 ready to send reports.
Rebooted the phone this morning.
Tried both WiFi and 3G connections.
When I look at the log I see a red highlighted line -
`08:06:09: java.io.EOFException(uploadReports)`
Screenshot - [https://imgur.com/mP3T7ZS](https://imgur.com/mP3T7Z

[2015-04-06 08:08] lua86 commented on #1609
I think that is an (unexpected) end of file  exception, maybe the only thing to do is remove the files.

[2015-04-06 08:36] ghost commented on #1609
OK , Thanks for the solution @lua86 .
Can I maintain the same 'account' by using the same Name and Mail address ?

[2015-04-06 13:17] crankycoder opened #1613 "Bug report filed that multi-sim devices do not report cell towers"
We have a bug report from Germany where a Lenovo IdeaTab ( http://www.gsmarena.com/lenovo_ideatab_a2107-5247.php ) is not capturing cell towers properly when it has 2 SIM cards installed.

I'm not sure if we've ever verified that Android does the right thing with dual SIM devices. @garvankeeley ?

[2015-04-06 13:27] ghost opened #1614 "Use system date format rather than locale date format"
Android allows you to specify the date format in the settings, but Mozilla Stumbler seems to just use the locale-specified date format instead.

You can get the system date format this way ([source](http://stackoverflow.com/a/6982154/492203)):

[code]

[2015-04-06 13:30] crankycoder opened #1615 "Add a developer option to emit geolocate and geosubmit JSON blobs to SDCARD storage"
Debugging with screenshots is painful.  We should really have a developer option to just save the JSON blobs we send up to ichnaea on the SDCARD.

Saving the last 5 to 10 reports that we upload should be more than enough to debug this.

Note that we want to save these to the SDCARD - not to the cache directory.  We want non-rooted users to be able to send us their JSON data so that we can debug is

[2015-04-06 14:04] #1611 closed, assigned to garvankeeley

[2015-04-06 14:04] garvankeeley commented on #1613
We don't know if multiSIM works. I have no dual-sim device to test with.

[2015-04-06 14:16] lua86 commented on #1613
Can you automate such tests or explain how to test? Then I might be able to help with my dual-SIM smartphone.

[2015-04-06 14:50] crankycoder commented on #1613
@lua86 can you try going into the developer options and turn on "Save Stumble Logs"?  It should save the logs into your SDCARD under /sdcard/MozStumbler.  Then go stumble for a bit, then turn off the stumbling to flush everything to disk.  If you send us the captured logs we can take a look to verify that the cell radio data is captured correctly.

[2015-04-06 15:24] crankycoder commented on #1609
Just a note to myself - the exception in https://github.com/mozilla/MozStumbler/issues/1609#issuecomment-89943773 is from :

https://github.com/mozilla/MozStumbler/blob/dev/libraries/stumbler/src/main/java/org/mozilla/mozstumbler/service/uploadthread/AsyncUploader.java#L196

[code]

[2015-04-06 17:45] lua86 commented on #1613
Cannot I upload a tar file here? Do I seriously need to create a repo just for some logfiles?

[2015-04-06 18:51] Djfe commented on #1609
one thing: the number of uploads won't decrease during the upload until it's finished
->you need to "refresh" the side column to see progress or take a look at the log
you can refresh it by closing it completely and then opening it again (by swiping)

[2015-04-06 18:59] Djfe commented on #1615
it could also help to be able to copy certain log entries into your clipboard by tapping and holding a log entry (for example a JSON blob)

[2015-04-06 20:40] TLBM commented on #1613
Hi!

This is a Mozilla Stumbler report from my dual SIM Lenovo A2107A-H with one Vodafone SI; inserted:

{"items":[{"timestamp":1428343509989,"longitude":10.979225,"latitude":50.303363,"accuracy":11.199999809265137,"wifiAccessPoints":[{"signalStrength":-82,"frequency":2437,"macAddress":"002401fb2f26"},{"signalStrength":-69,"frequency":2462,"macAddress":"0024fed764b9"},{"signalStrength":-70,"freque

[2015-04-06 20:57] TLBM commented on #1613
Hello again!

Maybe someone can take a look at the Wifi Matic code at https://github.com/arqam/wifimatic-android because it gets the correct cell IDs on my phone.

kind regards
Thomas

[2015-04-07 04:29] ping2ayan commented on #1605
Hello, Guys there is some problem I have faced in my phone. Sometime GPS works fine and sometime it doesn't. I have submitted more than 5000+ reports in Stumbler using this Honor Holly. But nowadays don't know why stumbler is not working properly.

[2015-04-07 17:31] Djfe commented on #1605
Do other GPS apps work fine while MozStumbler shows these problems?

[2015-04-07 18:12] ping2ayan commented on #1605
In facebook messenger, it shows my location, or at the time of check-in I can get the location of the near-by places.

[2015-04-07 18:30] ping2ayan commented on #1605
And one more thing is that I play one location based game named Ingress. Sometime it take time to set the location but still it works well

[2015-04-07 20:44] hbogner commented on #1537
@crankycoder KML export, on 1.7.10 and 1.7.11, on OnePlus One, works fine now. It should work on older Samsung, will test it in next few days/weeks.
\o/

[2015-04-07 20:46] crankycoder commented on #1537
I'm going to blame Proguard and terrible serialization over-optimisation for this one.  We changed nothing related to the KML output code.

[2015-04-07 20:46] #1537 closed, assigned to nobody

[2015-04-07 20:47] hbogner commented on #1536
1.7.10 and 1.7.11 still report empty metrics on app start.
After the first upload it shows correct numbers.

![2015-04-03 10 10 58](https://cloud.githubusercontent.com/assets/794472/7033084/df81acb6-dd77-11e4-8d21-099a136ec86d.png)
![2015-04-03 10 21 27](https://cloud.githubusercontent.com/assets/794472/7033086/e141db2a-dd77-11e4-977b-f78dd57050de.png)
![2015-04-07 13 48 25](https://cloud.githubus

[2015-04-07 20:53] crankycoder commented on #1536
Strange.  When I do a force kill and restart, I get metrics on my build:

![2015-04-07 16 50 19](https://cloud.githubusercontent.com/assets/4829/7033225/9e27e48c-dd46-11e4-9e96-0d9fd99ae8f5.png)

This is using a dev build after the 1.7.12 release mind you.

[2015-04-07 21:01] cascheberg commented on #1536
I can confirm that this is still happening sometimes, I'd say rarely. I wished I had steps to reproduce.

[2015-04-08 03:33] crankycoder commented on #1536
This is probably a race condition between registration to listen to intents broadcast by the `PersistedStats` class.

Currently - the ClientStorageManager makes a request to the `PersistedStats` class to broadcast the metrics from storage. There's no guarantee that this happens _after_ `MetricsView` constructor has completed.

One solution is to modify `MetricsView` so that it records the first ti

[2015-04-08 08:23] ghost commented on #1609
The ~1452 reports didn't upload despite reboots and retries.
Yesterday I wiped the MozSumbler data and cache in the App Info page and went out for another ride.
It is now uploading correctly.

[2015-04-08 14:10] crankycoder commented on #1609
I found a couple bugs where corrupt reports are not cleaned up properly. I've got a PR in #1618 that handles this, I'll try to get that in shortly.

[2015-04-09 11:04] Djfe commented on #1605
I'm not sure about Ingress but at least facebook uses a wifi/cell based location from the google location service if no GPS is available (if you activated that service)
What about other GPS apps? (navigation, google maps, or GPS Status &  Toolbox)

The log would be helpful -> maybe it's the motion detection that isn't working correctly (you could try to disable it for test purposes)

[2015-04-09 11:06] ping2ayan commented on #1605
Ok I will try and let you know. It shows me the map. It shows me the exact location where my position is. but no scanning anything.. :(

[2015-04-11 03:01] crankycoder opened #1621 "Bump robolectric to 3.0"
Robolectric 3.0 is out and has a bunch of features that we probably care about including better v4 fragment testing.

We need to update the gradle build and probably update some tests.

This is a pretty low priority as we have tests that run already.

[2015-04-11 10:45] lua86 commented on #1613
Here you have the logs, sorry for the delay, but a certain programmer social network doesn't allow to put tarfiles in a commet but does allow images. And guess who doesn't like to create repos for just some logs. https://github.com/lua86/SomeLogsHere/blob/master/MozStumbler.tar
Okay, so what I did was this: first I spent more than ten minutes to figure out I had to backarrow-close the  app for the

[2015-04-13 10:46] Djfe opened #1622 "The accuracy circle isn't updated by events/intents (map)"
The accuracy circle around your position on the map isn't updated by changes. It's only updated if the map is refreshed (by moving around the map with your finger)

[2015-04-13 14:36] garvankeeley commented on #1622
Interesting, we need to trigger a map.invalidate() when this info changes.

[2015-04-13 16:24] Djfe commented on #1622
Wouldn't it be easier to update that circle every time mozstumbler gets a new GPS fix?
Or if the gps doesn't get a position then everytime the app gets a new network position.

[2015-04-14 12:01] hannosch opened #1623 "Don't send geosubmit requests with an empty body"
We are logging detailed error messages in our service again. One thing I saw was a MozStumbler play store release build sending us a request with an empty body to the geosubmit API.

Please double check that request without any data items aren't send, thx!

[2015-04-15 21:07] rugk commented on #490
Yes I also like this idea.
It would be nice if you could export the GPX files not only for OSM, but also for other uses.
E.g. you can later analyse where you walked or drove with any website or app which can read GPX files. This way you don't need another app running if you just want to view your route later.

[2015-04-17 16:12] #1601 closed, assigned to nobody

[2015-04-17 16:33] crankycoder commented on #1602
Sony ST21i, Android rev 4.0.4
Fingerprint: Sony/ST21i_1264-4261/ST21i:4.0.4/11.0.A.4.27/46N97w:user/release-keys

[2015-04-17 16:35] crankycoder opened #1627 "Acer Z160 doesn't scan in background."
Bug reported that stumbler won't scan in the background if the lockscreen is engaged.

[2015-04-17 16:48] crankycoder opened #1628 "NPE Crash in 1.7.12"
[code]

mMainThreadHandler should be set in the construtructor of LogMessageReceiver.

[2015-04-23 06:49] cpeterso opened #1630 "Stumbler_CellInfo: IllegalArgumentException: Unexpected network type: 0"
When testing on a Nexus 4 without a SIM card, the following exception is logged when I rotate my device:

[code]

[2015-04-25 20:44] naoliv opened #1631 "MozStumbler is silently crashing"
Before traveling I am always starting MozStumbler + GPSLogger + Towe Collector (all the 3 in background) + Mapillary (in foreground).
But it's already the second time that I see that MozStumbler wasn't running at the end of the travel. It seems that it crashed somewhere and didn't record anything (because there isn't any report to send)
All the others are working fine and capturing data.

What can

[2015-04-26 15:04] Djfe opened #1632 "Speed up uploads by uploading multiple observation files per connection"
Why does MozStumbler upload reports only in 200-300 byte chunks?
That causes more traffic than needed because of the additional overhead and it takes very long to establish so many connections (for example if you have 1000 reports or more in a queue)

it would be far more efficient to concat reports up to 500kb or even 1mb and then send these bigger chunks -> way faster and less overhead (because

[2015-04-26 15:07] Djfe commented on #1631
What is your device? do you have enough RAM to run so many apps in the background?
It might be that your OS is killing MozStumbler to free RAM.

The other apps might have set their priority higher, but MozStumbler doing so wouldn't help because then maybe one of the other apps gets killed.

the reason could also be a crash, a log for sure would help, but I'm not able to guide you how to record it

[2015-04-26 17:28] naoliv commented on #1631
It's a Moto G2, with 1 GB of RAM.
After a long travel (4+ hours), if I run a `adb logcat`, could the problem still be available at the log?

[2015-04-26 20:43] hannosch commented on #1632
Not sure this is related, but the service side had a problem for the past week. If any uploads contained cell data without any radioType field set, the service did accept and process the data, but failed in a final step. This caused a HTTP 500 error to be send back to Mozilla Stumbler. I believe it retries those uploads after some time, as 500 errors are usually transient server errors.

But that

[2015-04-26 22:01] Djfe commented on #1632
yeah I noticed that, 71 entries remained in the queue, I was able to upload them today
and I noticed some 500s in the log
but the rest uploaded fine, it just took a long time and the log said that they were uploaded in just steps of a few hundred bytes which isn't much in my oppinion

[2015-04-26 22:02] Djfe commented on #1631
you should maybe run it while stumbling so that it records everything
I'm not sure if you can restore/get the logs after it crashed already

[2015-04-27 17:58] garvankeeley commented on #1632
@Djfe How long is the upload taking?

I would be curious to know if doubling or tripling the size of the POST actually makes an order of magnitude speed difference.
The current advantages, the POST is 1:1 with the file on disk, which makes the code simple, if a POST succeeds, we delete the file; also the larger the POST the more chance of failure.

[2015-04-27 18:03] crankycoder commented on #1632
I'm reluctant to see this change.  The total number of requests we're making is not that many - and the typical use case is that we're uploading on wifi networks where connections are generally pretty fast.

Once we start batching multiple reports from disk into a single network request, we need to start worrying about how to handle failed uploads for the network transaction.

Do we retransmit the

[2015-04-27 18:04] crankycoder commented on #1631
How do we know the application is _crashing_ as opposed to Android simply killing the application because it's running in the background?   I'm pretty sure mapillary is quite resource intensive - I'd suspect Android is simply killing the stumbler.

[2015-04-27 18:05] naoliv commented on #1631
Do you know something that I can keep running to record the logs?
I have tried https://play.google.com/store/apps/details?id=org.jtb.alogrec but it's not recording anything.

[2015-04-27 18:06] crankycoder commented on #1631
@naoliv I use Catlog https://play.google.com/store/apps/details?id=com.nolanlawson.logcat&hl=en

[2015-04-27 18:39] naoliv commented on #1631
Good!
Just in case somebody needs this too:
`adb shell pm grant com.nolanlawson.logcat android.permission.READ_LOGS` (so CatLog can read the logs)
I will let it running on the next time and see what I can see. If CatLog doesn't get killed by Android we will be able to see if MozStumbler is crashing or being killed, right?

[2015-04-27 18:57] gpoo commented on #1632
I am unsure if related, but last week it took my Nexus 1 more than 8 hours to upload ~2000 records.  It was using Wifi, nothing but MozStumbler installed.  My Nexus 5 does it relatively quick, either by LTE or Wifi (although I have never had accumulated that much records to report)

[2015-04-27 20:19] hannosch commented on #1632
One more data point: Once the client has established the SSL connection to the service, it takes no more than 100ms to process each upload on the service end. 90th percentile is at 20ms. So I don't think there's anything wrong on the service end here. These times have been stable for a long while now.

[2015-04-28 19:04] crankycoder commented on #1586
The JCenter link should be used.

[2015-04-28 19:04] #1586 closed, assigned to nobody

[2015-04-29 14:11] garvankeeley commented on #1632
SSL connections do take much longer to establish than non-SSL, that could be contributing to the problem.
If stumbler was to upload more per connection I think it could be coded such that there is no cost/risk to doing to, so I support the idea.

[2015-04-29 16:30] garvankeeley opened #1633 "Unit test build errors"
Two errors are happening today (the second is on my mac):
1)  com/jcandksolutions/gradle/androidunittest/AndroidUnitTestPlugin : Unsupported major.minor version 51.0 (reported by rdandu on his mac)

2) org.mozilla.mozstumbler.service.stumblerthread.ReporterTest > testReporterCellLimits     I/Stumbler_MainApp: Simulation disabled as developer option is not enabled.
    D/ACRA: Connect to https://mo

[2015-04-29 16:40] garvankeeley commented on #1633
Also, ./gradlew build fails with:

:android:compileFdroidDebugJava
MozStumbler/libraries/stumbler/src/main/java/org/mozilla/mozstumbler/service/core/logging/MockAcraLog.java:7: error: package org.acra does not exist
import org.acra.ACRA;
               ^

EDIT: nevermind, we don't support that target. `./gradlew assembleGithubDebug` or `make debug` is used.

[2015-04-29 16:47] garvankeeley commented on #1633
Issue #1 is resolved for rdandu, he had to get JDK 1.7 properly set up.

[2015-04-29 16:47] crankycoder commented on #1633
Don't use gradle directly. I always screw up the commands myself.

I always use `make` from the command line.

`make debug` will build you a debug github build.

[2015-04-29 17:18] Djfe commented on #1632
well it happened, while riding a train -> the ssl connection needed to be reestablished all the time

@crankycoder why shouldn't we resend the whole batch
the only cases where http errors are send are, that there was a problem with the connection or on the server side
if the reports are faulty the server just throws them away anyways

simply concatenating reports and taking a look at the available

[2015-04-30 06:44] ghost opened #1634 "Data points missing after Cyanogenmod upgrade"
I recently switched from Cyanogenmod 11 (Android 4.4.4) to 12.1 (Android 5.1.1) on my Nexus 7 (2012) , not an OS upgrade , a complete nuke and pave.

Yesterday I went out on my first day out MozStumbling , checked the map today and can see there are data points missing.

Screenshot of MozStumbler map , missing highlighted in red - http://imgur.com/YXqTiVm

MozStumbler map URL - https://location.se

[2015-04-30 07:37] lua86 commented on #1634
I think it can be because lollipop. No more Dalvik... Maybe the tipical compatibility issue betwen apps and ART.

[2015-04-30 08:07] ghost commented on #1634
I was using ART mode in 4.4.4 also.

[2015-04-30 09:07] hannosch commented on #1632
Related to this, the upload code explicitly closes connections after a single batch upload for Android versions 4.0-4.3 / API versions 14-18 (https://github.com/mozilla/MozStumbler/blob/dev/libraries/stumbler/src/main/java/org/mozilla/mozstumbler/service/core/http/HttpUtil.java#L170).

In those versions the underlying libraries have a bug and you can't actually use keep-alive connections. Maybe th

[2015-05-02 21:42] Djfe commented on #1634
The upload worked correctly?
What happened to your leaderboard: did you get more points for the stumbled route?
Are you sure that your phone recorded wifi aps or cells in this area? (it might be that you only uploaded GPS positions which are of no value for the project)
Did the rest of the track get uploaded correctly? -> does it show up on the map?

If you go there again: watch your device closel

[2015-05-04 08:21] ghost commented on #1634
Sorry for the delay , It has been raining constantly and  had to find a route that I hadn't cycled previously.
First , the uploads are perfect , I can see my leaderboard points went from 72778 to 73001 after uploading 223 reports.
I have compared the mozstumbler map before and after my previously unstumbled route and I am seeing the purple wifi circles but no green cellular circles even though my

[2015-05-04 08:21] #1634 closed, assigned to nobody

[2015-05-06 18:12] crankycoder commented on #1602
Fixed in #1626

[2015-05-06 18:17] #1602 closed, assigned to nobody

[2015-05-12 20:16] crankycoder opened #1637 "Make email field in bug submisison required"
A lot of bugs we get filed in the stumbler have insufficient detail for us to act on the problem, and without an email address we have no way to get more details about the bug.

[2015-05-13 18:07] crankycoder opened #1638 "Opt out SSID needs to include empty string SSID"
https://github.com/mozilla/MozStumbler/blob/509f0975edc2b1d16f0b6df03911f43ab52b1315/libraries/stumbler/src/main/java/org/mozilla/mozstumbler/service/stumblerthread/blocklist/SSIDBlockList.java#L17

should really check for an empty SSID string as well as NULL.

[2015-05-20 10:09] hannosch opened #1640 "F-droid build uploading broken body"
I've gotten a couple error reports on the service side for our f-droid build uploading a broken body. Instead of a proper gzip encoded body or a JSON payload, it sends the literal value `'/data/data/org.fdroid.fdroid/files/fdroid/repo/../../index.html'` as the body.

These are requests against https://location.services.mozilla.com/v1/geosubmit?key=... with our f-droid api key.

[2015-05-20 10:12] hannosch commented on #1623
This does still happen a couple times each day, can't say when it started but seems to be happening for a good while now.

[2015-05-20 10:14] hannosch commented on #1623
Oh, the same thing also happens for the submit API and our Fennec api key.

[2015-05-20 20:26] #1637 closed, assigned to nobody

[2015-05-21 19:04] bharat127 opened #1644 "Add dual sim support on dual sim phones for effective stumbling."
It seems mozilla stumbler doesn't detect the cellid-info of second sim on dual sim phones.

Add dual sim support on dual sim phones, for a more effective stumbling.

[2015-05-21 21:20] crankycoder opened #1645 "Force SSLv3 to go away"
Android < 4.4 has a bug that tries to use SSLv3 when falling back from TLSv1.

There's a code snippet here that should force that problem to go away

http://stackoverflow.com/questions/26649389/how-to-disable-sslv3-in-android-for-httpsurlconnection/29946540#29946540

[2015-05-21 21:23] crankycoder commented on #1645
We should prioritize this bug as we seem to be getting them quite frequently now.

[2015-05-21 22:06] crankycoder commented on #1644
Do you have a particular device that you use?  We currently have code in place to capture dual-sim but I don't think we've tested this on real hardware.  I can look into ordering a device to test with.

[2015-05-22 09:13] ymhuang0808 commented on #1404
I think the color icon, ic_launcher.png and gray icon, ic_status_scanning.png in the notification bar for scanning and paused mode respectively.

[2015-05-22 13:28] bharat127 commented on #1644
yes, I do have the YU YUREKA smartphone with dual sim capability.
It is currently on custom built CyanogenMod 12 (android 5.0.2) corresponding to the stock stable CyanogenOS branch.

I can always help testing the feature.

[2015-05-23 08:46] hannosch commented on #1645
As a reference, we are using the latest AWS ELB SSL policy on the service end, the supported protocols and ciphers are listed at http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/elb-security-policy-table.html

But we have stopped supporting SSLv3 sometime last year. Do you actually see acra reports for failed SSL connections? If so, that must be proxies / captive portals getti

[2015-05-23 21:25] Djfe opened #1646 "Add a quick tile for mozstumbler on cyanogenmod (using the new SDK)"
It would be awesome if I could start MozStumbler in the background (the scanning) through the quick tiles under Cyanogenmod.
This should be possible soon when the Cyanogenmod SDK gets published.

What do you think about such an addition? It would be even easier than a widget since you can access it while using another app.

https://www.cyngn.com/developer-blog/introducing-the-cyanogen-platform-sdk

[2015-05-25 14:57] crankycoder commented on #1646
Huh.  That's kind of neat.

My only reservation with this is that @garvankeeley and I have seen a _lot_ of problems with people who run CM and get truly bizarre unreproducible problems.

Generally, the problems we see with CM are with people who are not running on the stable M-series or a commercial release (like the OnePlus).  For those users, they are usually using an unofficial and unstable bui

[2015-05-25 19:17] Djfe commented on #1646
You just don't need to say that MozStumbler "officially supports CM".
You will only provide additional GUI functionality for that ROM (after version xx, because older versions won't support the SDK, I guess)
if something doesn't work in the backend then that might have to do with an unstable ROM, but most of the users of such ROMs including MozStumbler users know that anyways, because they are mor

[2015-05-26 19:27] cascheberg opened #1650 "NPE crash in latest (unreleased) code"
Steps to reproduce (I hope):
- disable internet connections
- start MozStumbler
- stop scanning

[code]

[2015-05-26 20:20] cascheberg commented on #1583
I think the only existing location provider names in Android are `LocationManager.GPS_PROVIDER` ("gps") and `LocationManager.NETWORK_PROVIDER` ("network"). I ran the Stumbler in passive mode (see my PR) to try to confirm that. Do you think there are/could be any exceptions?

[2015-05-26 21:25] crankycoder commented on #1583
There shouldn't be any exceptions to this, but we really shouldn't be using the string literal "gps".  Just grab the LocationManager constants.

[2015-05-28 15:24] #1583 closed, assigned to nobody

[2015-05-28 18:50] #1650 closed, assigned to nobody

[2015-05-29 12:22] crankycoder opened #1653 "Crashing in dev 91e9b740dfefa"
[code]

[2015-05-29 20:51] #1653 closed, assigned to crankycoder

[2015-05-30 21:31] mahmud2011 opened #1656 "Mozilla Stumbler for Android not collecting any data"
I am using Huwaei ascend p6-u06. I installed Mozilla Stumbler for Android but it does not collect any data. I checked GPS and Wifi. Everything is working fine.

[2015-05-30 23:16] crankycoder commented on #1656
What ROM are you using?  Do you have privacy guards running?

Did all the icons at the top of the screen change from red to black?

[2015-06-08 21:32] hridoy43 opened #1658 "Mozilla Stumbler isn't collecting any data."
Facing this problem from last few months.
After updating my android one phone (symphony roar a50) from kitkat 4.4 to lollipop 5.1 Mozilla Stumbler is not collecting any data... tried out by installing different version but the result is same...

[2015-06-09 16:14] garvankeeley opened #1659 "Investigate Android M doze/standby modes"
https://bugzilla.mozilla.org/show_bug.cgi?id=1172633

I think these modes will benefit the app, but bugs are certainly possible.

[2015-06-09 16:16] garvankeeley opened #1660 "Don't use Context.MODE_MULTI_PROCESS in Stumbler prefs (deprecated in Android M)"
https://bugzilla.mozilla.org/show_bug.cgi?id=1171302

[2015-06-09 20:46] crankycoder opened #1661 "java.lang.NullPointerException : at org.mozilla.mozstumbler.service.stumblerthread.motiondetection.MotionSensor.stop(MotionSensor.java:121)"
Reported in ACRA on Android 4.1.2 on Samsung Golden on v1.7.12 of the stumbler

[2015-06-10 17:15] crankycoder commented on #1645
Alrighty, the Fennec folks have a new DEFAULT_CIPHER_SUITE defined in their TLSSocketFactory in this bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1061273

We need to get that ported into the stumbler and then back ported into the fork that is in Fennec.  We don't use the TLSSocketFactory so we'll have to duplicate the DEFAULT_CIPHER_SUITE.

[2015-06-10 22:47] ghost opened #1664 "A way to force unpause?"
Is there a way to force the application to "unpause"?

What happens is that it pauses appropriately when I stand still (e.g. at the office) but I want to force it to start scanning again as soon as I know I'm about to move (e.g. a quick coffee run from the office).

What I have in mind is a "Play" button on the lock screen widget.

I'm on Nexus 5 with vanilla Google Android 5.0.

[2015-06-11 01:05] crankycoder commented on #1664
@amos-stan on the Nexus 5 (or any Nexus device), the significant motion sensor should be working properly.  Is the motion detector not behaving as you would expect?  We surpress over aggressive scanning when you are _probably_ not moving to conserve battery.  You can modify the significant motion sensor threshholds in the developer options.

[2015-06-11 01:31] gpoo commented on #1664
I have seen a kind-of similar problem with a Nexus 5, however, this happen to me when I am in a car, bus, train or a ferry.  I can go for kilometers without getting MozStumbler to scan anything.

I believe this happen when it stops because I am still. Then in a vehicle, it does not detect there is movement, because the phone is still.  In such case, I wish I could force it to scan and forget about

[2015-06-11 03:58] ghost commented on #1664
@crankycoder I think the motion detector works fine and the application works as designed.
But what happens is that by default it sleeps for 20 minutes before it will notice that the phone is moving, in that time I can complete a whole coffee run or even drive home.

[2015-06-11 03:59] ghost commented on #1664
@gpoo where are the "stop" and "start" buttons you refer to?

[2015-06-11 04:31] gpoo commented on #1664
@amos-stan I meant to say the button "On/Off" in the UI.

[2015-06-11 05:05] ghost commented on #1664
@gpoo yep, this seems to do what I need, thanks.
Still would be nicer to be able to access this from the lock screen.

[2015-06-18 16:23] mahmud2011 commented on #1656
1. Jelly Bean 4.2.2.
2. No.
3. The leftmost icon, the satellite one, it stays red. But all other icons change to black.

[2015-06-18 16:26] garvankeeley commented on #1656
Red sat icon-> you need more GPS sats to get a fix, 3 or 4 at least. Are you indoors? Seems odd that you wouldn't get a GPS fix outdoors, although if you are surrounded by tall buildings it can happen.

[2015-06-18 17:56] gpoo commented on #1656
@mmhyamin IIUC, the left icon tells you how many satellites are being used and how many are visible.

From 3 to 4 it changes to black, although it does not mean you are getting a position. It might depend on other factors, like if you are moving it will need more satellites.to triangulate your coordinates.

I think it also depends on the location, if there are tall buildings nearby.(as @garvankeel

[2015-06-19 18:02] Djfe opened #1666 "MozStumbler doesn't check for an available connection during uploading"
MozStumbler keeps on trying to upload reports even if I deactivate all connections.
Is that intended behaviour?

[2015-06-19 18:12] Djfe commented on #1664
Wasn't it possible to use the location service to detect whether the device is moving.
You probably won't even need an online connection for this.

It would be enough for MozStumbler to notice that there are new wifi and especially cell connections that it hasn't recorded in the last 5-20mins.
Just disable GPS in energy-saving mode and scan for cells/wifis every 30 seconds/every minute (dev option

[2015-06-19 18:18] Djfe commented on #1658
Do you get a working GPS signal?
If not do you experience similar issues with other apps?

What does the log say? (-> settings-> log -> Screenshot)

[2015-06-20 12:49] hridoy43 commented on #1658
from last night it's working but taking much time to work. And sometimes without internet connection it's not working.

[2015-06-20 15:56] Djfe commented on #1658
Well if you have a working Internet connection then your device is able to download a quick fix which contains precalculated values that allow the GPS Chip in your device to get the first position much faster

There are apps in the play store that allow you to enforce the download of that data for example: GPS status and toolbox
^this app is also able to show from when the last quick fix is

The o

[2015-06-28 13:03] cascheberg commented on #1506
The problem appears to be that the map does not scale existing tiles when zooming out (while it apparently does this when zooming in). So the overlays disappear when the zoom is lower than the configured `aZoomMinLevel`, which is 10 for the `CoverageOverlay` and 11 for the `LowResMapOverlay`.

These two overlays only have two fixed zoom levels. Would it be okay to have coverage tiles with the full

[2015-06-30 21:25] garvankeeley commented on #1666
Seems odd, I would think we would check the network state. Attempting an upload periodically is correct, and that code should be checking the network.

[2015-06-30 22:13] Djfe commented on #1666
I should give more detail about what I mean with keeps on trying:
If I start uploading/MozStumbler started uploading on it's own and then I deactivate the network connection (or I happen to drive into a dead zone) then mozstumbler's upload icon is still rotating for quite some time afterwards, which looks to me like it's still trying to upload

there are no checks that happen during the upload

[2015-07-01 00:26] garvankeeley commented on #1664
@goo that is the motion sensing causing that. Nexus 5 should have pretty good motion sensing, so our code around this sensor may be at fault.

[2015-07-02 16:24] crankycoder opened #1671 "Disable uploads if Mock Locations is enabled in android"

[2015-07-02 16:35] garvankeeley commented on #1666
Ok, marking as a bug. This should be fixable

[2015-07-02 16:41] garvankeeley opened #1672 "Metrics view is not reporting uploaded info correctly"
Running the latest master, after uploading
- "Already sent": I see last uploaded as 'never', and Reports not incrementing.
- the "Ready to send" can go to zero, and still show (0.x KB), but that is not shown in the screenshot.
  Not sure when all this got broken, need to bisect.
  ![2015-07-02 16 22 06](https://cloud.githubusercontent.com/assets/5495083/8482353/3db0e036-20b7-11e5-80c5-0e9207fe2489

[2015-07-03 14:16] #1481 closed, assigned to nobody

[2015-07-03 14:16] #1506 closed, assigned to nobody

[2015-07-04 23:44] Djfe commented on #1672
how do you want to bisect this?
is it possible to keep the data that causes this to happen even when downgrading? or are you using backup tools for that?

[2015-07-04 23:46] Djfe commented on #1645
What is the current status here?

[2015-07-08 16:40] crankycoder commented on #1645
Working on it in a branch right now.  This is ending up to be trickier than expected.

[2015-07-10 18:34] crankycoder commented on #1645
Verified fixed on Android 2.3.6

I/Stumbler_HttpUtil(  927): Negotiated HTTPS ciphers: TLS_RSA_WITH_AES_128_CBC_SHA

[2015-07-13 06:13] anupkumarmishra opened #1677 "When the user changes his/her username , Stumbler application generates his points with new user name instead of adding the existing points to the username using the email id."

[2015-07-13 16:40] crankycoder opened #1678 "We need to add FxA support for refresh tokens as they are going live to production"
OAuth bearer tokens are currently assumed to be long lived without an expiry.

FxA is rolling out refresh tokens to expire tokens at a 2 week interval initially, then much less.  The libfxa-android library needs support to issue a refresh token command.

I propose that we simply do the refresh opportunistically.  On application startup, we should try to refresh the token with the FxA server, and o

[2015-07-14 11:03] hannosch commented on #1678
@crankycoder I'm not sure I quite understand option a. Where would this FxA endpoint have to be implemented in? The new leaderboard service?

I think you are assuming that we could switch to FxA on its own, without at the same time switching to the new leaderboard service. I'm not quite sure how that would work, as we'd have to make sure to tell people how to change/setup their FxA nicknames, so t

[2015-07-14 11:07] hannosch commented on #1677
Yes, the email is not actually what uniquely identifies a user, but the nickname is. You can change the email address, keep the nickname and still contribute as the same "user account".

But you currently can't change the nickname, without effectively becoming a new user with zero points.

This doesn't make it lot of sense, except that it historically has grown this way. We are working on fixing t

[2015-07-14 11:12] anupkumarmishra commented on #1677
We, the Mozilla community from North India are running a Stumbling campaign and to check the users who are contributing as part of the campaign , we asked them to provide their name as Mozpacers_Username , some of them could not understand that at the first time and they changed their username after earning 3k points . The current way we are handling it is not correct and we should be linking with

[2015-07-14 11:25] hannosch commented on #1677
@anupkumarmishra I think for past community events, people used a spreadsheet where the nicknames of the contributing users were written down. If you'd do that, you could allow a person to write down two nicknames for their own person, and sum those points up yourself.

The new leaderboard service should allow for time-limited and geographically-limited leaderboards, so hopefully once that is work

[2015-07-14 16:14] #1645 closed, assigned to crankycoder

[2015-07-14 16:20] crankycoder commented on #1664
I'm closing this as https://github.com/mozilla/MozStumbler/issues/1664#issuecomment-110999775 seems to indicate that things are ok.

[2015-07-14 16:20] #1664 closed, assigned to nobody

[2015-07-14 18:24] crankycoder opened #1679 "new async uploader FileNotFoundException causing crash (not in release)"
I think we need to double check if the storage directory somehow got wiped out.    If the directory is not there, we should try to recreate it.

If that fails, we should immediately terminate the application.

On application startup, if the storage directory can't be created - there should be some kind of meaningful notification to the user that no reports can be saved or loaded from Android stora

[2015-07-14 18:53] garvankeeley commented on #1679
We do create the storage dir on request.

[2015-07-14 18:55] garvankeeley commented on #1679
This stack trace is scary. We have the upload task being called twice, and racing to access the file, which then disappears unexpectedly.

[2015-07-14 18:58] garvankeeley commented on #1679
This is new code, not in release yet. Thankfully.

[2015-07-14 19:01] garvankeeley opened #1680 "Metrics view updated from wrong thread (ACRA crash)"
[code]

[2015-07-14 19:10] garvankeeley commented on #1679
Oops, it only looked nested from the way this report was, fixing the name of this bug.

[2015-07-14 19:14] crankycoder opened #1681 "KML File List operation crashes"
[code]

[2015-07-14 20:29] garvankeeley commented on #1679
JSONRowsStorageManager.mFileList is not in-sync with the actual state on disk.
mFileList.update() is what needs to be called to do this.

One obvious place it is missing is in the finally block of: https://github.com/mozilla/MozStumbler/blob/cdffa69a847324fcfdea497a28819c64746627a8/libraries/stumbler/src/main/java/org/mozilla/mozstumbler/service/stumblerthread/datahandling/base/JSONRowsStorageMana

[2015-07-14 20:44] garvankeeley commented on #1679
Are all the crash reports files named r0-w0-c0?

[2015-07-14 22:37] garvankeeley commented on #1679
Sigh, nevermind. Fixing my broken code...

[2015-07-15 04:41] Mikaela opened #1683 "Sailfish app"
I learned about https://location.services.mozilla.com/ today and the [apps](https://location.services.mozilla.com/apps) page only lists this project and [community projects](https://wiki.mozilla.org/CloudServices/Location/Software).

There is no Sailfish app, so Sailfish users are closed out unless they use the Android version which again requires aliendalvik/Jolla phone and aliendalvik drains bat

[2015-07-15 06:16] anupkumarmishra opened #1684 "Application Stops working after 4-5 hours of continuous stumbling"
Hi ,

I saw that the application stopped working even when everything was fine . Please look into the screenshot.
![stumble](https://cloud.githubusercontent.com/assets/2819529/8691980/18166622-2ae7-11e5-94e0-91619fc119ad.jpg)

[2015-07-15 13:02] crankycoder commented on #1684
Thanks @anupkumarmishra !

We need to get some more details to follow up on this.

Are you using v1.7.12 of the stumbler?   What device and version of android are you running?

The stumbler may 'stop' if Android decides to kill the application - which is almost certainly the case here.

Your screenshot shows 19% battery - which shouldn't cause the stumbler to stop automatically as the defaults are

[2015-07-15 14:04] crankycoder commented on #1683
We don't currently have resources internally to apply engineering effort to a Sailfish application.

I don't foresee anytime in the near or intermediate future when that will change - so I'm going to just close this bug for now.

@Mikaela if you'd like assistance with building a Sailfish MLS client - we'd be happy to help guide you.

We're available on irc.mozilla.org in the #geo channel and there

[2015-07-15 14:04] #1683 closed, assigned to nobody

[2015-07-15 14:07] crankycoder commented on #1677
@anupkumarmishra  - I'm going to close this bug and move it over to the new leaderboard-server code.

You should be able to find it over at: https://github.com/JaredKerim-Mozilla/leaderboard-server/issues/4

[2015-07-15 14:07] #1677 closed, assigned to nobody

[2015-07-15 14:12] crankycoder commented on #1660
The Nexus 5 order just got processed (July 14, 2015) - so we should expect to see hardware in about a week to move this forward.

[2015-07-15 14:12] crankycoder commented on #1680
Duplicate of #1672

[2015-07-15 14:42] crankycoder commented on #1678
@hannosch I concur.  I'll disable the FxA code from the dev branch of the stumbler client so we can cut a release at any time.

Closing this bug as the refresh token issue is specific to the fxa-android library anyway.

[2015-07-15 14:42] #1678 closed, assigned to nobody

[2015-07-15 14:44] crankycoder commented on #1582
This feature is supported in the new (unreleased) leaderboard-server.

I'm closing this bug in mozstumbler, but reopening a new one over in the new repo.

https://github.com/JaredKerim-Mozilla/leaderboard-server/issues/5

[2015-07-15 14:44] #1582 closed, assigned to nobody

[2015-07-15 14:48] crankycoder commented on #1325
FxA code is in, works -but Im' backing it out temporarily.

FxA android library can be found over at: https://github.com/crankycoder/fxa-android

[2015-07-15 14:48] #1325 closed, assigned to nobody

[2015-07-15 14:51] crankycoder commented on #1214
I'm just closing this.  It's been over a year and we are not going to get the UX resources to tackle this one.

[2015-07-15 14:51] #1214 closed, assigned to nobody

[2015-07-15 14:52] crankycoder commented on #887
Closing as our UI has changed significantly, and nobody is complaining about this. :)

[2015-07-15 14:52] #887 closed, assigned to nobody

[2015-07-15 14:57] crankycoder commented on #568
Blargh.  We do encode nicknames as UTF-8.  I'd rather not deal with this problem in the client code right now as we've got a fix by simply not doing nicknames at all in any of the stumbler client or server side code.

Instead - we delegate all the unicode/nickname problems to Firefox Accounts now.

That code went in on 916db01d8538db94c9b968387341bf56824d58c5 but we're going to delay release of Fx

[2015-07-15 14:57] #568 closed, assigned to nobody

[2015-07-15 15:01] crankycoder commented on #411
Closing this as it's a core feature in the new leaderboard.

As for https://github.com/mozilla/MozStumbler/issues/411#issuecomment-35513699, we are using Firefox Accounts (FxA) for logins.

New bug is here: https://github.com/JaredKerim-Mozilla/leaderboard-server/issues/8

[2015-07-15 15:01] #411 closed, assigned to nobody

[2015-07-15 15:02] crankycoder commented on #324
Fixed so long ago by @cascheberg.

[2015-07-15 15:02] #324 closed, assigned to nobody

[2015-07-15 19:49] Djfe commented on #1214
could you maybe tag this so that it gets fixed later on?

the layout works almost fine on tablets and only needs a few adjustments
for example the colored points on the map are far too small (the size is not relative but absolute or something)

maybe the settings can be adjusted

and some more buttons could be placed on the top bar over the map

but that should be it

[2015-07-15 20:44] garvankeeley commented on #1672
it was recent changes that caused the bug filed here

[2015-07-15 20:46] garvankeeley commented on #1680
non dup, will add a guard for this now

[2015-07-16 10:24] Mikaela commented on #1683
I would if I had any coding skills :(.

I am idlling there as Mikaela.

[2015-07-19 22:18] cascheberg opened #1688 "Loading KML file is broken"
Loading a previously saved KML file has no effect, points are not shown on the map. As far as I can tell, this feature broke in 3aceac1afc9a9660a3be1538697a969e080b9b3c.

[2015-07-21 07:25] jidanni opened #1690 "allow the user to keep / export a copy of his data"
Tower Collector allows the user to keep / export a copy of his data. MozStumbler should do so too.

[2015-07-21 07:28] jidanni opened #1691 "Allow manual uploading in addition to forced uploading"
Tower Collector allows the user to upload when he wants to, i.e., be able to connect to wifi without necessarily uploading. MozStumbler should do so too.

[2015-07-21 07:32] jidanni opened #1692 "Allow user to access the data he has uploaded"
After uploading with Tower Collector, the user can always retrieve his data from the opencellid.org database. MozStumbler should offer or document a means for a user to access the data he has uploaded too. E.g., I want to retrieve a copy of all the points I uploaded last week.

[2015-07-21 07:34] jidanni opened #1693 "Make sure on all the pages mentioning the app, that towers are mentioned too."
On
https://play.google.com/store/apps/details?id=org.mozilla.mozstumbler
it says cell towers but on
https://location.services.mozilla.com/apps
it doesn't.

Make sure on all the pages mentioning the app, that towers are mentioned too.

Also document if the user can still use the app but only collect towers, or only collect wifi, etc.

[2015-07-21 17:55] crankycoder commented on #1690
You can already export a log of your data by enabling "Save Stumble Logs", or export KML output in the developer options.

[2015-07-21 17:55] #1690 closed, assigned to nobody

[2015-07-21 17:56] crankycoder commented on #1691
Toggling the stumbling off will attempt to upload immediately.  I'm not sure why we would want to enable wifi connectivity without uploading data.  The entire point of the stumbler is to collect and submit data.

[2015-07-21 18:01] crankycoder commented on #1692
You can currently download cell data from here:

https://location.services.mozilla.com/downloads

Releasing a raw dump of all wifi data has some privacy issues around it - more details can be found on the downloads page.  If you just want your own wifi data, you should just enable logging output in the developer options.

[2015-07-21 18:01] #1692 closed, assigned to nobody

[2015-07-27 15:55] #1622 closed, assigned to nobody

[2015-07-28 17:17] #490 closed, assigned to nobody

[2015-07-30 05:47] h4xr opened #1696 "Location can be spoofed when Mock Locations is enabled"
When a user has Mock Locations enabled in the developer settings of android they can use any route simulation app to create a fake location change which gets accounted in the stumbler app for android.

Workaround:-
1). Test to check if mock locations is enabled or not.
2). Check the GPS state change.
3). Check for NMEA data onLocationChanged

[2015-07-30 06:40] CuriousLearner opened #1697 "Multiple users with same nick show in leaderboard with combined reports"
If anyhow two or more person have same nick in the app, their reports are combined and updated in the leader board with the common nick.
A proper authentication system is needed for this. May be persona or a similar system would be better.

[2015-07-30 06:46] CuriousLearner opened #1698 "Android App uploads the reports automatically even if 'Auto-upload only on Wi-Fi' is not checked."
I've noticed this several times that the Android App uploads the reports automatically even if 'Auto-upload only on Wi-Fi' is not checked.

Here are the environment specifications and other details which might help:

1) Android Phone:  MotoG 2nd Gen
2) Android version: 5.0.2
3) Kernel version: 3.4.42-g48d3b85
4) Build Number: LXB22.46-28
4) Mozilla Stumbler version: 1.7.12 d7b3156

Please let me k

[2015-07-30 07:16] CuriousLearner commented on #1696
Bug Confirmed.

Easy fix: Remove all the reports which have GPS satellites in the report: 0/0.
While mock locations are switched and some app is trying to fake locations, even with or without the GPS enabled the Mozilla Stumbler app shows 0/0 satellites.

In reality while at least 3 satellites are not getting connected to the device, they won't be able to track the device and capture data for repo

[2015-07-30 09:41] cascheberg commented on #1698
This is expected, but the wording might not be quite clear. The option could also be titled "Do not auto-upload on mobile networks", as this option only allows to reduce data usage by disallowing automatic uploads on mobile networks. So if you disable 'Auto-upload only on Wi-Fi', then the app will additionally automatically upload on mobile connections, as well as Wi-Fi still.
There is an issue fi

[2015-07-30 09:47] cascheberg commented on #1696
This is basically a duplicate of #1671. There have been checks of this kind, but they have caused problems on some devices, see #811.

[2015-07-30 09:48] cascheberg commented on #1697
This will be fixed with the release of #1325, but I do not know any details about the status.

[2015-07-30 10:49] hannosch commented on #1697
Work is happening on the FxA integration. The new leaderboard system is being worked on over at https://github.com/JaredKerim-Mozilla/leaderboard-server and we are aiming to switch over to it sometime this quarter.

[2015-07-30 10:54] h4xr commented on #1696
If we could just remove the test provider using the location managers api before requesting location updates, that workaround should fix the scenario too.

[2015-07-30 16:14] pizzamaker opened #1699 "Make map legend clearer"
What do the satellite and the binoculars mean?

Also, it says that blue squares are cell only reports, but I commonly get blue circles (and I suspect they're the same).

When the satellite says 4/6, what is that supposed to mean?

These things should be explained in the app or at least in the accompanying documentation.

[2015-07-31 09:16] CuriousLearner commented on #1698
Yes, all uploads should be disabled as the option mentioned is not clear. Thanks for clarification.

[2015-08-01 10:37] anupkumarmishra commented on #1684
Yes , I am using the same version of the application . I am using Moto g device and Android V 5.0.

[2015-08-01 20:29] Gitschubser commented on #1547
The MLS Cell Network Export Data contains so much cells with false mnc.
Is there planned to implement the code from the NLP backend to prevent this?

[2015-08-04 08:56] rishabhbanga opened #1700 "Reports not being uploaded"
Automatic upload isn't happening, and whenever I try to manually upload the reports, the button changes to refresh button and back to upload within a second.

NOTE: This happened suddenly. It was working fine till Sunday evening.

[2015-08-04 12:32] cascheberg commented on #490
Currently only locations that contain at least one wifi or cell observation are recorded. For the GPX export it would be much better to be able to export all scanned locations. Would it be ok to change that, and filter empty reports at a different place within the client?

[2015-08-04 18:56] agilob opened #1701 "A lot of class not found exceptions logged"
[code]

When I have stumbler and logcat on at the same time, this messages causes catlog to freeze for a few seconds, look at times-temps how often it happens.

[2015-08-05 14:21] mahmud2011 commented on #1656
I use endomondo when I go for a ride. It works fine. I started Mozilla Stumbler in my Xiaomi Redmi 1S and Huwaei ascend p6-u06 at the same time. But the stumbler is working fine in Xiaomi not in Huwaei. I'll upload the screenshot shortly.

[2015-08-06 19:01] crankycoder commented on #1698
@CuriousLearner "all uploads should be disabled" isn't terribly helpful.  Many people upload using cell data plans.

Maybe we should break this up into 2 check boxes.

1) Allow Upload on Wifi
2) Allow Upload on Cell

Default to having #1 checked and require that at least one is checked off.

[2015-08-07 17:52] Djfe commented on #490
it would also make sense to save gps coordinates, cell scans and wifi scans differently (in general).
accuracy could be increased drastically.
right now the next report gets the wifi/cell reports even though they might be more fitting for the last report or something like that
All three scans would have a timestamp and the cell positions and wifi positions would be interpolated over the gps positi

[2015-08-07 18:08] jaredlockhart opened #1703 "Integrate Stumbler with new Leaderboard Dev Instance"
There is a new dev instance for the leaderboard available here:

http://leaderboard-dev.jaredkerim.com/

It implements the leaderboard whose API spec can be found here:

https://github.com/JaredKerim-Mozilla/leaderboard-server

The FXA client_id for this instance is:

86cd25bed2c63936

You should be able to point the stumbler to that dev URL with that FXA client_id and walk through a successful fu

[2015-08-10 10:22] seeingwithsound commented on #1022
Interesting, I got the exact same crash reported only from a Lenovo A316i device with fingerprint
{Lenovo/A316i/A316i:4.2.2/JDQ39/A316i_S040_140730:user/release-keys} on Android 4.2.2 for my unrelated app The vOICe for Android, and found this report through a Google search for "NoClassDefFoundError: android.app.ANRManagerProxy" (so I did not search for Lenovo or A316i). I do not use ACRA.

[2015-08-12 19:30] garvankeeley commented on #1703
So the FXA client_id gets set as a header on our submission to ichnaea? I thought ichnaea then submitted this data to the leaderboard-server.

[2015-08-12 19:38] garvankeeley commented on #1703
I just started removing the leaderboard file storage. I just need to know if I continue. I would like to pull it and cleanup the code.

[2015-08-18 14:24] #1386 closed, assigned to nobody

[2015-08-18 17:30] agilob opened #1707 "Move application data to dedicated location"
What do you think about moving location of the folder with data from default user-location to `./Android/data/`? Currently the folder is easily accessible by users, can be deleted/modified by accident by user or cleaning applications.

Android supports 'private' data folders by design, current implementation of MozStumbler doesn't follow those 'guidelines' (not really guidelines, or I can't find t

[2015-08-18 21:07] Djfe opened #1708 "support android auto"
I think it would for sure make sense if MozStumbler would support Android auto in the future :)
-> you won't need to worry about your smartphones battery and stuff
and it could start and stop when your motor gets turned on and off automatically then

https://developer.android.com/auto/index.html

[2015-08-21 14:50] crankycoder commented on #1707
The client code stores data using the ContextWrapper::getFilesDir() method call as a root path where map tiles, preferences, JSON logs other bits of data go.

Using getExternalFilesDir() will break older devices which have external SDCARD slots which are empty.

[2015-08-21 14:50] #1707 closed, assigned to nobody

[2015-08-21 15:19] crankycoder commented on #1701
This seems like you're running a debug build. If so - this is expected behavior.

The stumbler dynamically selects a logger at startup depending on the build type:

https://github.com/mozilla/MozStumbler/blob/dev/android/src/main/java/org/mozilla/mozstumbler/client/MainApp.java#L151

[2015-08-21 15:19] #1701 closed, assigned to nobody

[2015-08-24 10:12] agilob commented on #1701
So MozStumbler in Fdroid is a debug build? Oo

[2015-08-24 15:00] crankycoder commented on #1699
Blue circles are wifi only reports.  This should be in the Map Legend on the bottom left of the slide out panel.

Can you get a screen cap of the problem?  I'm currently

The satellites indicate how many GPS satellites are in view.

Do you have time to help with the documentation effort?   We've been falling behind on this for a long time now.

[2015-08-25 22:09] pizzamaker commented on #1699
Wi-Fi only reports show up as a purple circle here (note: I'm not colorblind :P).

The satellite thing should probably be in the map legend as well. Also, still not sure what the binoculars mean.

Where can I find the doc? I'd love to help.

[2015-08-26 07:33] ghost opened #1711 "Debug Build Instructions Outdated"
The android studio debug build instructions are outdated as there is a newer version of studio but also they are not complete from A to B. Can you update screenshots but also give complete instructions?

[2015-08-26 07:42] ghost opened #1712 "Target Android API 23"
Please target Android API 23

[2015-08-26 16:20] crankycoder commented on #1712
Our current build process breaks horribly with SDK 23.  I'm not sure yet if it's the jakewharton android sdk deployer tools, or the Android-Gradle plugin or what.  It's a mess.

Are you asking for us to explicitly target SDK so that we an compile or to add features that utilize SDK 23?

[2015-08-26 16:28] crankycoder commented on #369
I think the intent here is to enable better low power stumbling, but it's unclear from the bug description.

Strictly implementing an interval based scan would not give the GPS enough time to get a fix.  The primary power draw on the stumbler is the GPS itself.

As we have passive stumbling contributed by @cascheberg in #1649 already, I think it makes more sense to have some more testing done arou

[2015-08-26 16:28] #369 closed, assigned to nobody

[2015-08-26 16:28] crankycoder commented on #1711
Which version of Android Studio are you running?

[2015-08-27 01:55] crankycoder commented on #1699
![tumblr_md3nrgoetf1rzqj3uo1_1280](https://cloud.githubusercontent.com/assets/4829/9510672/995a47a0-4c3c-11e5-9fc7-ade98038da90.jpg)

There's no user facing documentation available yet.  I can bootstrap in something that will emit to mozstumbler.readthedocs.org though.

I'll get it setup tomorrow with reStructuredText.  You can see an example of how documentation text can be formatted by looking a

[2015-08-27 15:07] ghost commented on #1712
Because Android M is coming and there are benefits to targeting like App Data Backup and also Permissions have changed in Android M.

And yes I can't build a new apk at all it seems like your gradle is messed up plus your using a API 21 library but targeting API 19.

[2015-08-28 15:51] crankycoder commented on #1684
I have a Moto G myself running stock Android 5.02 - I think you're just seeing the OS kill the application after a while - this is expected behaviour on Android.  Especially on 5.0 on the Moto G where resources are highly constrained.

[2015-08-28 15:58] crankycoder commented on #1699
@pizzamaker I've got a branch over at https://github.com/mozilla/MozStumbler/tree/gh-pages

I tried creating a branch using Python's Sphinx but decided - "Lets just use github and jekyll" to minimize the number of things we need to get people to write documentation.

I would just start writing documentation - good or bad - and we can iterate and improve it over time.

[2015-08-28 16:00] crankycoder commented on #1699
FYI - the final output gets published in the usual place for [github pages](https://pages.github.com/) - https://mozilla.github.io/MozStumbler/

[2015-08-28 17:45] crankycoder commented on #1712
SDK versions don't work that way.

The application is compiled with the `compileSdkVersion` which specifies which version of the SDK the code should be compiled with.

targetSdk specifies :

http://developer.android.com/guide/topics/manifest/uses-sdk-element.html

The build should work from command line as the Travis CI system shows.

FWIW - I'm trying to upgrade the build to android-gradle plugin

[2015-08-28 21:41] crankycoder commented on #1712
I've upgraded the build to play nice with Android SDK 23 in #1713 and it seems to work in Android Studio 1.3.2 for me.

I'm closing this bug as 'targetting' Android M doesn't mean anything.  If there are discrete features that are useful, please file separate bugs.

[2015-08-28 21:41] #1712 closed, assigned to nobody

[2015-08-28 22:50] ghost commented on #1711
I am using 1.3.2 latest stable and when I try the make instructions I get "com/jcandksolutions/gradle/androidunittest/AndroidUnitTestPlugin : Unsupported major.minor version 51.0"

When I load it in the UI I get the same

[2015-08-29 05:01] ghost opened #1715 "Offer Nightly Builds"
Since for whatever reason I cannot build on the latest stable Android Studio it would be nice
if we could have nightly MozStumbler builds. Their are features like high power mode I would love to try but cannot since a update has not been offered through Google Play in awhile.

[2015-08-30 12:05] crankycoder commented on #1711
Hrm... I might be getting builds to work in AS 1.3.2 because of my command line builds.  I'm away until Wednesday - I can take a look again then.

[2015-08-30 13:04] ghost commented on #1711
1.3.2

[2015-09-02 08:08] ghost opened #1716 "exception in :android:compileFdroidReleaseJava when building apk"
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':android:compileFdroidReleaseJava'.
    at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(ExecuteActionsTaskExecuter.java:69)
    at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.execute(ExecuteActionsTaskExecuter.java:46)
    at org.gradle.api.internal.tasks.execution.Po

[2015-09-02 08:16] ghost opened #1717 "LBUploadTask.java:23: error: cannot find symbol"
/Users/bkerensa/mozs/MozStumbler/android/src/main/java/org/mozilla/mozstumbler/client/leaderboard/LBUploadTask.java:23: error: cannot find symbol
        private static final String SUBMIT_URL = BuildConfig.LB_SUBMIT_URL;
                                                            ^
  symbol:   variable LB_SUBMIT_URL
  location: class BuildConfig
/Users/bkerensa/mozs/MozStumbler/android/src/main/j

[2015-09-14 05:34] baigd opened #1718 "Report an atomicity issue"
Hi, Developers of MozStumbler,

I am writing to report an atomicity issue. I would very appreciate if you could check below for details and confirm with us whether it is a real problem.

File: mozilla/MozStumbler/android/src/main/java/org/mozilla/osmdroid/tileprovider/util/CloudmadeUtil.java
Location: Line 128
Description:
Data race may manifest if thread_1 happen to set mToken.length==0 in 128, w

[2015-09-14 15:26] hannosch commented on #1372
Instead of trying to fix this, we decided on the service end to stop support for CDMA networks.

[2015-09-14 15:26] #1372 closed, assigned to nobody

[2015-09-17 06:51] yuchuangyan commented on #39
ye

[2015-09-19 08:00] cascheberg opened #1719 "TileLoader BufferUnderflowException"
I noticed a bug using the current v1.7.12 release. Some tiles where not showing up, they just stayed gray. Zooming in and out did not fix the problem. Killing the app also did not solve it.
Clearing the cache did help.

This was reported in the log:

[2015-09-21 12:23] crankycoder commented on #1718
It's possible that the CloudMade code is broken.   That code branch is actually a form of osmdroid.  We've deleted all the CloudMade related code (CloudMadeTileSource,  HttpClientFactory, etc) on Aug 28th.

https://github.com/mozilla/MozStumbler/commit/050eeda0ea3ed5eaa27eacb1ad692034e5a5db58

None of this is obvious though as we've been swamped and haven't cut a new release in far too long.  I re

[2015-09-21 12:23] #1718 closed, assigned to nobody

[2015-09-21 12:29] crankycoder commented on #1719
Hrm.. That's the AbstractTileLoader blowing up.

https://github.com/mozilla/MozStumbler/blob/dev/android/src/main/java/org/mozilla/osmdroid/tileprovider/modules/AbstractTileLoader.java#L141

I haven't looked at the osmdroid code in a while, but I think that might be able to happen in here:

https://github.com/mozilla/MozStumbler/blob/dev/android/src/main/java/org/mozilla/osmdroid/tileprovider/modu

[2015-09-21 19:41] ghost opened #1721 "UnknownHostException"
Seeing this Stumbler_HttpUtil: post error:java.net.UnknownHostException: Unable to resolve host "fill me in please": No address associated with hostname

In 1.7.13

[2015-09-21 19:43] ghost opened #1722 "MozStumbler tracking data but showing no reports ready"
MozStumbler in 1.7.13 is finding new locations and wifi but when I look at the side pane it shows no reports ready to upload and the most recent upload ways days ago.

Nothing useful in logs as to why its not generating reports to send

[2015-09-21 19:43] ghost commented on #1722
Actually I take that back this may be caused by #1721 it looks like when its hitting that exception it doesn't have any place to send them so is discarding them?

[2015-09-23 19:17] cascheberg opened #1723 "Failed updates from Github should not crash the stumbler."
@crankycoder Release 1.7.12 offers update to v1.7.14. Then crashes when trying to update:

[code]

[2015-09-24 19:02] Djfe commented on #1723
Happened for me as well.
And when will the update be available on the playstore?

[2015-09-24 19:04] Djfe commented on #1700
Is it still happening?
If so: are you sure you have a working internet connection when it happens?

[2015-09-25 06:14] amaneight opened #1724 "The MLS android app abruptly stops generating reports even though the GPS is set."
No MLS reports were generated along an 8 miles stretch even though the GPS was working perfectly fine.

Steps to reproduce it :
1. Switch on the Mozilla Stumbler app and GPS on android phone.
2. Stumble around for over an hour, ensure that you are constantly moving.
3. Also Stumble in those areas where you are unable to find cellular network on phone.

At some point of time the app stops generatin

[2015-09-25 15:25] crankycoder commented on #1723
Crap.  This is what happens when I don't do a release for months.

Sorry.  I've updated the filename - the upgrade should be ok now.

On Thu, Sep 24, 2015 at 3:02 PM, Felix Baumann notifications@github.com
wrote:

[2015-09-25 15:26] crankycoder commented on #1700
The 1.7.13 release had a bunch of datastorage manager changes that were
incomplete.   I backed out all of those for 1.7.14.

The v1.7.14 release is just 1.7.12+TLS fixes so it _should_ be ok now.

[2015-09-25 15:55] crankycoder commented on #1724
There's a number of reasons the stumbler may stop related to Android power management, Stumbler power management, buggy GPS, accelerometers and motion sensors, lack of wireless antennas, and bugs specific to some android+hardware pairs.

@amaneight Can you provide the version of Stumbler you were using as well as the device and Android version you are running?

It looks like the gap you have is re

[2015-09-28 17:58] ghost opened #1725 "MozStumbler lacks l10n"
MozStumbler should be translated :)

[2015-09-28 18:22] agilob commented on #1707
Why not make it API dependent like notification manager? My file manager crashes when I select MozStumbler by accident due to huge number of files in there.

[2015-09-28 18:24] lua86 commented on #1725
It is. Kinda. I mean, there's a need to update translations, but they exist.
El 28/09/2015 19:58, "Benjamin Kerensa" notifications@github.com escribió:

[2015-09-29 16:00] crankycoder commented on #1707
Making it API dependant and changing the location of the file storage would have no impact on your file manager crashing.

[2015-09-29 16:03] #1725 closed, assigned to nobody

[2015-09-29 16:04] crankycoder commented on #1721
I've removed 1.7.13 as it introduced a bunch of bugs due to my incorrect cherry-pick of patches.

v1.7.14 is a simple v1.7.12 build with some TLS security patches applied.

[2015-09-29 16:04] #1721 closed, assigned to nobody

[2015-09-29 16:04] crankycoder commented on #1722
I've removed 1.7.13 as it was far too buggy. Sorry!

[2015-09-29 16:04] #1722 closed, assigned to nobody

[2015-09-29 16:48] cascheberg commented on #1723
Wouldn't it be good to also catch all exceptions in the updater, so that at least it does not crash if something similar happens again?

[2015-09-30 13:12] crankycoder commented on #1723
Yes. I've renamed this bug so that we can track this.

[2015-10-02 21:32] yuphorian6 opened #1727 "Precache osm tile data for offline stumbling"
Currently MozStumbler uses online map tiles to render map.

But if OsmAnd~ is installed on the device and using offline maps, it would be ideal for MozStumbler to use the same offline map data (`.obf` files).

OsmAnd~ offline map data location will be in any of the locations..

`$EXTERNAL_STORAGE/osmand/map.obf`
`$EXTERNAL_STORAGE/Android/data/net.osmand.plus/files/map.obf`
`$SECONDARY_STORAGE/And

[2015-10-10 23:51] Djfe opened #1729 "reports aren't deleted"
is it intended that reports are saved on the sd card? I thought that you said in the past, that you want to save them in the apps folder (to be save from other apps)
they aren't even deleted on my tablet (might be SELinux blocking the access?) -> Samsung Galaxy Tab 3 10.1 (android 4.4)

there are 10660 gz files in there :O (on my smartphone there are 16000 files)
it's 2,56mb big, but 41,64MB on th

[2015-10-11 13:20] unaszplodrmann commented on #1644
Stumbling on my Moto G (titan) only captures tower data from one SIM card. This is on CM 12.1... Have you guys looked at the API for multi-SIM added in Android 5.1?

[2015-10-14 18:25] crankycoder commented on #1727
We can't do this safely - in fact, we did this in earlier versions of the stumbler and only had problems with other applications writing over our tile data.

The root problem is that the stumbler can't make any guarantees on the quality of the tile data that other applications provide us so we end up giving an unpredictable user experience if we share tiles with other applications.

[2015-10-14 18:51] crankycoder commented on #1729
Reports should be deleted immediately upon upload into ichnaea.  Are you
talking about the log files?  We don't do any cleanup of those yet, but
that's mostly because it's intended as a debugging/developer feature.

On Sat, Oct 10, 2015 at 7:51 PM, Felix Baumann notifications@github.com
wrote:

[2015-10-14 21:17] Djfe commented on #1729
doesn't look like a log to me:
the content of the file in the .gz archive:

[code]

[2015-10-15 03:20] yuphorian6 commented on #1727
Or could Stumbler download its own copy of the offline data for rendering Map? As an extra option?
http://wiki.openstreetmap.org/wiki/Downloading_data#Choose_your_region

I would prefer using offline maps during stumbling.

[2015-10-15 15:52] crankycoder commented on #1729
Hmm.. Which directory are you looking at?

[2015-10-15 16:00] crankycoder commented on #1727
That's an interesting idea.  We need to determine how many tiles we actually want to grab and at what zoom levels.

Currently when stumbling, we use low resolution tiles on cell data and high res tiles on wifi, but we use cached tiles where possible.

If we precache tiles, we need to set up a bounding box for which tiles to prefetch and also specify if we're going to continue using the hi/low leve

[2015-10-15 16:07] lua86 commented on #1727
Presumably it is wanted to do right when it is Asked to, probably I'm not making much sense.

[2015-10-15 23:05] yuphorian6 commented on #1727
Thank you very much for reopening this.
If possible, also include the data that shows the user, already stumbled areas on map ( those blue dots over stumbled locations). If that's too complicated, just tiles would even be great.

[2015-10-16 00:04] farobek commented on #1512
Just to make clear, when you say "pushed out into subclasses" do you mean that they should be put inside inner classes or do you mean that they should be taken outside CellInfo class and into a different new class?

[2015-10-16 00:07] greyskyunderthewoods commented on #1507
Do you want the class and the associated test class removed then?

[2015-10-17 10:27] unaszplodrmann commented on #1644
I found a way to get towers capture from both SIMs: With mobile data enabled on my 3 SIM in slot 1 using 3G, it was only capturing towers from that slot, but when I put my 3 SIM into the secondary slot and reverse the setup, so that 3G and mobile data are enabled for slot 2, all towers are captured. In both instances outgoing call selection is set to 'ask every time'.

[2015-10-18 12:17] Djfe commented on #1729
Sorry for the late answer
I was looking at the MozStumbler folder on the internal sdcard
And you were right
Actually the folder is created when I activate the dev setting for saving the scan log
But I was thinking it would be the same that is visible in the app itself and not just reports
What also left me wondering is that the .gz files are only created after uploading the records

What I don't l

[2015-10-25 08:08] Clonewayx commented on #1721
Same error from me. With 1.7.13 (last version on F-droid). Android 4.1.2 Sony ST26i

[2015-11-13 00:42] ghost opened #1731 "MozStumbler for iOS"
We need a MozStumbler for iOS Port :)

[2015-11-13 00:44] lua86 commented on #1731
Good luck getting free-as-in-speech software into Apple Store.

[2015-11-13 00:46] ghost commented on #1731
Firefox for iOS is open source and on app store and so is VLC.

[2015-11-13 00:51] lua86 commented on #1731
Haven't read apple store tos in such a long time... Besides, I think the average Ios user is less prone to something like contributing for free to something like this than the average android user is.

[2015-11-13 14:33] hannosch commented on #1731
See https://wiki.mozilla.org/CloudServices/Location/Software#iOS. The closed nature of iOS does prevent this kind of app from being developed. The API's that we'd need to collect the wifi and cell information aren't exposed to applications. Only the operating system itself has access to them.

[2015-11-13 14:34] #1731 closed, assigned to nobody

[2015-11-13 15:15] ghost commented on #1731
Hi Hanno,

The wiki is incorrect there are several apps for iOS that already do exactly this: Sensorly, OpenSignal and Rootmetrics all on demand and in background harvest Cell Signal, Wifi SSIDS, GPS and other metrics but specifically all the data that MozStumbler collects in Android.

I'm not sure where the information was sourced but the wiki statement is incorrect.

[2015-11-13 15:23] hannosch commented on #1731
@bkerensa do you have a link to anything that specifically mentions gathering wifi bssid's or cell ids? The product descriptions of the apps you mention are all about collecting network speed /data rate information which is indeed available.

Our information is partly based on talking the team behind WiFiFoFum (http://wififofum.net/blog/) who once had a WiFi scanning app on iOS and were kicked out

[2015-11-23 19:37] crankycoder commented on #1703
Hmm.. The FxA login seems broken here.

I've set the client ID to 86cd25bed2c63936 and the callback URL is set to http://leaderboard-dev.jaredkerim.com/ but I'm getting a 500 error code.

Any ideas?

It's pretty hairy for me to try and dig out URLs that the embedded Android Webview is hitting in the Android Studio debugger - I really need to be able to just SSH into the leaderboard server to see w

[2015-11-28 14:56] TLBM opened #1733 "Filter for own mobile hotspot"
Hi!

Mobile personal hotspots aren't really helpful for building a geolocation-map as they move with the user.
So it would be really nice if one could filter out his/her own ones to make the map more accurate and keep the "data pollution" down.
Or are there algorithms serverside to detect this?

[2015-11-29 14:22] hannosch commented on #1733
On the service end we detect moving networks and filter them out. "Moving" means any network that is seen in different enough places over time, and which keeps being seen in different places. The detection isn't particularly sophisticated, but seems to be working well enough.

I don't think a device would see its own hotspot in the list of available networks to connect to. So a device shouldn't co

[2015-11-30 14:31] breversa opened #1734 "Keep screen on but dimmed when scanning"
Hi,

I order to save a bit of power, why not add an extra "dim screen" option when "keep screen on while scanning" is on ?

[2015-11-30 16:17] breversa opened #1735 "UI improvement suggestion : re-think reports icons shape and colour"
Hi,

I've been using MozStumbler for a few months now, but I've always been put off by the reports icons. I mainly use MozStumbler when driving either in new or known areas to map/update networks in both urban and rural areas.

The icons I encounter the most often are "cell only" (blue square) and "cell + wifi" (green dot). However, I spontaneously confuse both… and after a bit of thinking, I've f

[2015-11-30 16:29] breversa commented on #1733
But what about my wi-fi only tablet using my smartphone's hotspot, when I carry both around when in the car, bus or train ?

(My tablet has GPS + GLONASS, while my phone only has GPS)

[2015-11-30 16:35] breversa commented on #1735
Even better suggestions :
- Wi-fi only = blue (hollow) square (for the aforementionned reasons)
- Cell only = red (hollow) circle (the "hollowness" indicating that gathered data is only partial − that applies to wi-fi only too)
- Cell + wi-fi : green/yellow solid dot (solid = full data. And since the shape is now distinct from "cell only", colour won't matter as much, so why no stick with "green =

[2015-11-30 16:51] lua86 commented on #1733
Filtered sever-side because moving spot

[2015-12-01 15:13] crankycoder commented on #1734
http://stackoverflow.com/questions/4803248/dim-screen-while-user-inactive has some information on where to start.

[2015-12-01 15:19] crankycoder commented on #1735
@breversa Do you think you can whip up some icons?

The existing icons are over here as a reference for the size of each.

https://github.com/mozilla/MozStumbler/tree/dev/android/src/main/res/drawable-xhdpi

I'm personally red/green colour blind (thanks for thinking of us!) - so having red and green together makes the map unusable to me unless I have shaped markers.

Blue + red + yellow colors wou

[2015-12-01 15:20] #1733 closed, assigned to nobody

[2015-12-01 15:26] crankycoder commented on #1729
Those log files are only enabled as a developer option, otherwise - we only store files in the application's private storage directory.

We don't use one log file per run as the files are too large - larger log files would have a negative impact on uploading to the server on slow mobile connections.  Unstable connections and slow connections would suffer.

Encrypting the data with a password might

[2015-12-01 15:26] #1729 closed, assigned to nobody

[2015-12-01 16:11] breversa commented on #1735
Well, judging from the file names, I believe it's more a matter of swapping them in the program files. I'm no dev, but I would do it like that :

sed -i '/ic_bluerect.png/ic_redring.png/g' files
sed -i '/ic_purplering.png/ic_bluerect.png/g' files

I made the ic_redring.png picture, but I have no idea how to upload it…

[2015-12-01 17:47] garvankeeley commented on #1735
Those shapes are drawn as vectors on the map view, and those icons are just hand-drawn duplicates of what is drawn on the map view.

Dev note: drawing was kept ultra-simple to maximize performance with thousands of points, even a few hundred points was causing problems on 2.3 devices.

[2015-12-02 08:28] breversa commented on #1735
Well, that _might_ make the change even simpler then :
1- Alter the "draw purple circle vector" function to change purple to red
2- Swap the "draw blue rectangle vector" function with "draw red circle" function
3- Swap the "draw purple circle vector" function with "draw blue rectangle" function

But I believe the above icons are used in the map legend, right ? So they need to be swapped anyway, no

[2015-12-09 18:51] rugk commented on #780
Any news on this?

On https://location.services.mozilla.com/apps it now says:

BTW I do not really get what is meant by "If the specific Firefox OS device uses this service depends on a number of factors including which chipset is used in the device, which manufacturer built the device and via what partner and channel it was sold or given out.".
If a specific FF OS device depends on <listing of so

[2015-12-09 20:00] hannosch commented on #780
Stumbling support is actually built into Firefox OS starting with version 2.5. There are still not enough public web API's to build a stumbler as an application outside the OS level, so older versions of FxOS are out of luck.

FxStumbler is a prototype that shouldn't be used.

[2015-12-09 20:00] #780 closed, assigned to nobody

[2015-12-09 20:15] rugk commented on #780
Oh very nice. :smiley:

[2015-12-09 20:18] lua86 commented on #780
Wasn't it just passive stumbling?

[2015-12-09 20:23] hannosch commented on #780
Firefox OS uses the same mode we use in Firefox for Android, which is passive stumbling. That is: If any application on the device gets a GPS fix, we piggyback on this event and also collect cell and wifi information. There are additional safeguards in place to keep the overall impact on battery life and data usage low.

An active stumbling app would have been far more difficult and time consuming

[2015-12-09 22:50] rugk commented on #780
Really? :cry:
I mean passive stumbling is nice, but of course active stumbling is superior.

(Although: if you really want to trigger the passive stumbling you can of course just execute an app which always asks for GPS :smile:)

[2015-12-11 09:38] Zeriuno commented on #780
It works well enough, though. It could be a bit slow to find your position (depending on the GPS), it could be not very precise in locating you, but it works even if Clochix thinks it should be rewritten from scratch.

[2015-12-22 19:58] crankycoder opened #1736 "Switch back to FxA's display_name for the user's visible name on leaderboard"

[2015-12-23 06:05] RaymondFanch opened #1737 "Incorrect MLS location"
I am not sure if anything (either cell ID database or algorithm) goes wrong but I guess this is not simply an accuracy problem. Please have a look at the attached snapshots which shows the incorrect MLS location reported for either Cell only or WiFi + Cell report (as marked in a yellow oval). Actually, it reports a location 200Km away. Would it be possible to check this? Thanks.

![screenshot_2015

[2015-12-23 08:47] lua86 commented on #1737
Are you using a double sim device?
Also, please go into dev settings and enable logs, they will be handy for troubleshooting.

[2015-12-23 15:58] nuntius35 opened #1738 "MozStumbler stops collecting data"
I observed that MozStumbler often stops collecting data after some (varying) time when the screen is locked. When I unlock to see if MozStumbler is still working, data collection immeadiately resumes. If I keep the screen switched on, no such problem appears.

I am not sure what is going on, I can only guess from what I observe: The stop of data collection seems to coincide with the moment you swi

[2015-12-23 16:15] crankycoder commented on #1736
Fixed in bceace3a57547527d507899417a15bebab67bcca

[2015-12-23 16:15] #1736 closed, assigned to nobody

[2015-12-24 05:56] RaymondFanch commented on #1737
Nope. This is Samsung Galaxy S6 (single SIM device). The log is attached as below. It is not exactly the same as the attached snapshots but is very similar. Let me know if you moe information.

[MLS_Log.txt](https://github.com/mozilla/MozStumbler/files/71474/MLS_Log.txt)

[2015-12-29 14:32] crankycoder commented on #1737
I'm not entirely sure why this would happen.  It looks like those areas have high density wifi routers.

The only thing I can think of is that this is a case where you may have picked up new wifi routers that were never seen before, but your device also didn't pick up any previously known wifi routers.  This would cause MLS to return a cell based location.

This seems pretty unlikely though.

[2016-01-11 17:51] crankycoder opened #1740 "New leaderboard JSON blob has a nested fxa namespace"
After the OAuth2 authentication occurs, the final JSON blob that the leaderboard will return looks something like this:

[code]

Nopte that all the fxa_auth_data is straight from FxA.  I need to refactor the processWebSvcAuthResponse method to properly extract the access_token from the fxa_auth_data namespace instead of assuming it's a top level item.

[2016-01-11 19:22] crankycoder opened #1741 "Configuration URL parsing"
All the Configuration for the stumbler should be extracted from the BuildConfig and loaded from a JSON blob.

A sample can be found here: http://cloudvm.jaredkerim.com/api/v1/fxa/config/

[code]

[2016-01-11 20:53] crankycoder commented on #1740
This is now landed in 99ad711. We just dropped the processBearerToken method call in the underlying FxA library and force the application to parse the web service returned auth JSON.

[2016-01-11 20:53] #1740 closed, assigned to nobody

[2016-01-11 22:22] crankycoder opened #1742 "Webview isn't rendering the leaderboard properly for user profile"
The leaderboard view isn't properly loading any scoreboard content. Not sure why.

The URL being loaded seems to be correct at:

http://cloudvm.jaredkerim.com/?profile=a9d5037ea99e492b8af24eb2605b3865

[2016-01-11 22:22] crankycoder commented on #1741
Parsing is in now, but we are waiting on getting a base URL for the leaderboard in https://github.com/mozilla-services/location-leaderboard/issues/228

[2016-01-11 22:28] crankycoder commented on #1742
I'm an idiot.  Had to enable JS.

1ed30a290408fdc4ad430cf11bd0540c29b0eb58

[2016-01-11 22:28] #1742 closed, assigned to crankycoder

[2016-01-12 13:39] raymondspame opened #1743 "MozStumbler-1.7.14 Build Error with Android Studio 1.5.1"
I tried every possible solution which I could find from the internet and I installed every necessary SDK but the problem remains.

The error message is as below and the IDE log is attached. Did anyone encounter the same issue?
1. Gradle project sync failed. Basic functionality (e.g. editing, debugging) will not work properly.
2. Error:(214, 0) No such property: bootClasspath for class: com.android

[2016-01-12 16:23] crankycoder commented on #1743
Are you able to build at all from the command line?

[2016-01-12 16:46] crankycoder commented on #1743
@raymondspame - did you follow the build instructions in the README.md file?  I just finished making very minor updates to the documentation, but I just tried building and running a debug build from a fresh git clone - and it worked for me.

<img width="1230" alt="leaderboardactivity_java_-_mozstumbler_-____dev_mozstumbler__and_mozstumbler-1_7_14_build_error_with_android_studio_1_5_1_ _issue__1743

[2016-01-12 16:48] crankycoder opened #1744 "Add MozStumbler to apkfiles"
We can add MozStumbler to yet-another app store thing.   I'd like to have deployments to app stores done as a build step as the process right now is overly time consuming.

http://www.apkfiles.com/submit

[2016-01-13 01:38] raymondspame commented on #1743
Thanks. Yes, I followed the instruction in the README.md file but the error displayed in the dialog box (as shown in the attached PNG). It seems something wrong with gradle project sync. As I am using Windows 10, could you let me know how to build from command line?

According to the log I provided, it even failed to import this gradle project.
2016-01-12 21:28:01,907 [  22721]   INFO - .BaseProje

[2016-01-13 18:01] crankycoder commented on #1743
The Module setting in your configuration looks to be wrong.  Can you change it from "MozStumbler-1.7.14" to "android" ?

The command line build just uses make and it really just invokes "./gradlew assembleGithubDebug"

I don't have a Windows machine readily availble - can you let me know if either AS or cmd line builds work for you?

[2016-01-13 22:45] crankycoder commented on #1743
@raymondspame - I feel bad for doing this, but the build just changed again in the dev branch.

I just landed the leaderboard build flavor so 'make debug' will now issue "./gradlew assembleGithubLbdevDebug"

Can you give that a try?

[2016-01-15 13:56] crankycoder opened #1745 "Update build documentation for leader board"
The new leader board introduces a new build flavour "leaderboard".

The assemble and install directives have now been changed because of this to indicate lbdev or lbprod targets.

Update the docs for command line builds and Android Studio setup.

The Makefile and gradle scripts have already been updated.

[2016-01-19 15:58] crankycoder commented on #1743
I can't reproduce this with the dev branch and we're cutting a production release shortly - so I'm closing this.

[2016-01-19 15:58] #1743 closed, assigned to nobody

[2016-01-20 18:53] crankycoder opened #1746 "Add new leaderboard change into an in-app changelog"

[2016-01-27 17:13] crankycoder opened #1747 "FxA requires us to store access tokens securely"
Problem:

The stumbler will be storing acces tokens and refresh tokens.

If the user does an application backup from Android - adb will also copy the application's internal storage data - including the FxA tokens.

The <android> tag in the AndroidManifest.xml file needs to have `android:allowBackup` set to false to disallow backups.

The only downside I can see is that a user who has gathered stum

[2016-01-27 17:21] #1747 closed, assigned to nobody

[2016-02-01 05:07] divlv opened #1749 "App reports the same location for 30+ km."
Hi, All!
I've started collecting data with Mozilla Stumbler about a week ago, but, all the time I've got the similar picture:

![screenshot](http://screenspic.appspot.com/pic?gid=agxzfnNjcmVlbnNwaWNyFQsSDFVwbG9hZGVkRmlsZRjJ26EEDA)

It's definitely wrong, to have this only location during all my 30+ kilometers trip.
What it could be?
And, **how fast my collected data will get to work?** (will be us

[2016-02-15 12:00] hannosch opened #1751 "Disable geoip fallback in map view queries"
We got a couple of reports about confusing results of the "Show MLS position" option on the map.

One thing we could do, is to explicitly disable the GeoIP fallback in the MLS queries we use to get those results. Instead of getting a lot of lines that all go to the same far away place, we'd get no lines at all for these. At least that should add less visual clutter on the map.

I think all we'd ha

[2016-02-27 19:42] PanderMusubi commented on #1288
Please, use only white and transparency

In the image below you can see that the current icon is not conform material design and being visually a bit disrupting. For an app that is running most of the time it is better to have it look as system-wise as possible. Any color or grey draws unneeded attention to it, especially since there is not notification as an incoming message to which the user mus

[2016-03-11 04:34] danialgoodwin commented on #1475
What about something like `MainApp.getContext()` to get the application Context? The simple implementation would be static, but it would stay valid for the entire life of the process.

[code]

Though, personally, I tend to avoid the above so that dependencies can be explicit in constructors.

If the issue is more about Robolectric's limitations, then how about a new class `SystemService.getConnect

[2016-03-16 13:54] #728 closed, assigned to nobody

[2016-03-22 17:46] crankycoder opened #1753 "Add coverity scans"
Docs: https://scan.coverity.com/travis_ci

Moziilla Central found some static analysis bugs (see: https://bugzilla.mozilla.org/show_bug.cgi?id=1258703).

Let's get static analysis tools added.  The travis docs for coverity seem pretty decent.

[2016-04-11 18:58] hannosch opened #1757 "Stumbler 1.8 - FxAccounts not working"
I'm using the 1.8.0 APK installed from Github. When clicking on the "Firefox Accounts" option in the settings I only get back a dialog: "Unfortunately, Mozilla Stumbler has stopped."

I did enable crash reporting inside the app and tried again. I have Nexus 4.

![mozstumbler-1 8-crash](https://cloud.githubusercontent.com/assets/483109/14438713/c8799cee-0027-11e6-9321-b943eaba5dbc.png)

[2016-04-11 19:00] hannosch opened #1758 "Stumbler 1.8 - Leaderboard web view unreadable"
I'm using the 1.8.0 APK from Github. When clicking on the "leaderboard" link in the top-right menu, all I get is a fairly empty looking screen. I'm on a Nexus 4:

![mozstumbler-1 8-leaderboard](https://cloud.githubusercontent.com/assets/483109/14438825/48ddf3ee-0028-11e6-99ce-23b545a8ae40.png)

[2016-04-11 22:13] #1656 closed, assigned to nobody

[2016-04-12 13:07] crankycoder opened #1759 "Disable "view leaderboard" if FxA is not logged in"

[2016-04-12 13:08] crankycoder opened #1760 "Short circuit FxA login to a failed state if any failure occurs."
Need to be careful that all internal state of FxA is set to reasonable defaults so we don't null pointer.  Ex: FxA Profile

[code]

[2016-04-12 17:56] hannosch commented on #1758
Fixed in 1.8.2.

[2016-04-12 17:56] #1758 closed, assigned to crankycoder

[2016-04-12 17:56] hannosch commented on #1757
Fixed in 1.8.2.

[2016-04-12 17:56] #1757 closed, assigned to crankycoder

[2016-04-12 17:58] hannosch commented on #1703
This was all done in the meantime.

[2016-04-12 17:58] #1703 closed, assigned to crankycoder

[2016-04-12 18:39] crankycoder opened #1762 "Updating the display name in firefox accounts directly doesn't update the stumbler client"
An update over the web UI over at https://accounts.firefox.com/settings does not show up ever in mozstumbler even after a force stop and start.

[2016-04-12 18:40] crankycoder opened #1763 "Saving a blank displayname in the stumbler client causes a crash"

[2016-04-12 21:15] crankycoder opened #1764 "Inconsistent disabling of the display name field in the FxA enabled stumbler client"
When we were prototyping the new leaderboard, inconsistencies with the way the display name field is disabled creeped in.

On initial login to FxA through the stumbler, the display name field does not toggle to an enabled state.

[2016-04-12 21:40] #1760 closed, assigned to crankycoder

[2016-04-12 21:40] #1759 closed, assigned to crankycoder

[2016-04-13 12:57] crankycoder opened #1766 "Icons for GPS, cell tower, wifi and observations no longer make sense to display"
We originally created these icons at the top of the stumbler to give users a way to aid them in gaining points on the old leaderboard.

The new leaderboard only cares about total number of reports, we should probably remove the icons, or better yet - simplify them to be more meaningful.

[2016-04-13 14:24] #1764 closed, assigned to crankycoder

[2016-04-13 14:25] crankycoder commented on #1763
This is a bug related to various string prefs coming back with null.  Change the Prefs class to return empty string and update callers so that they use TextUtils.isEmpty to check for null values

[2016-04-13 17:11] #1763 closed, assigned to crankycoder

[2016-04-15 07:54] cascheberg opened #1770 "FxA email not displayed"
The Firefox Account status does not show the email address after login.
That is because the FxA-JSON only contains `uid` and `displayName`, `email` is not set.
See `PreferencesScreen.processProfileRead` and `PreferencesScreen.setFxALoginTitle`.

[2016-04-15 07:55] cascheberg commented on #1766
I think those are interesting data, even if they are not relevant for the leaderboard.

[2016-04-15 12:12] crankycoder commented on #1770
Dang it.  This is one of those bugs where I wasn't paying close attention to the UX as we changed things.  We removed the email address visibility while building out the new leaderboard.  The FxA signin button should just indicate that the user is logged in.

[2016-04-15 15:06] #1751 closed, assigned to crankycoder

[2016-04-15 15:25] crankycoder commented on #1770
Hrm.. I'm clearly misremembering this.  The FxA profile seems to be incorrectly set.  We should have a "profile:email" in there somewhere.

[2016-04-15 16:09] crankycoder commented on #1746
we dropped in-app changelogs ages ago

[2016-04-15 16:09] #1746 closed, assigned to crankycoder

[2016-04-15 16:10] #1741 closed, assigned to crankycoder

[2016-04-15 16:11] crankycoder commented on #1737
We've dropped IP based fallbacks to prevent this from happening.

https://github.com/mozilla/MozStumbler/issues/1751

Technically - this isn't a 'problem' so much as it's confusing to people as IP geolookups are very imprecise.

[2016-04-15 16:11] #1737 closed, assigned to nobody

[2016-04-15 16:11] crankycoder commented on #1749
These are IP based fallback lookups.  We've disabled it as it's confusing to users.  https://github.com/mozilla/MozStumbler/issues/1751

[2016-04-15 16:11] #1749 closed, assigned to nobody

[2016-04-15 16:12] crankycoder commented on #1724
Nothing actionable here.

[2016-04-15 16:12] #1724 closed, assigned to nobody

[2016-04-15 16:12] crankycoder commented on #1700
Nothing actionable here.

[2016-04-15 16:12] #1700 closed, assigned to nobody

[2016-04-15 16:13] crankycoder commented on #1697
The new leaderboard is being launched now, so this isn't a problem anymore.  Users are now unique based on their Firefox Accounts login.

[2016-04-15 16:13] #1697 closed, assigned to nobody

[2016-04-15 19:02] jaredlockhart commented on #1770
Fixed in https://github.com/mozilla-services/location-leaderboard/issues/266

This will only take effect for new users.  Existing users will not be prompted to reauthorize their FXA scope token and so will not have access to the email field, but I believe this is only shown to users during their initial sign in flow so that shouldn't affect existing users in any way?  @crankycoder

[2016-04-15 20:21] crankycoder commented on #1770
I can add a kludge that detects if the user is logged into FxA, but no email address is saved.

If that's detected, I can just throw up a notification that the user was logged out of Firefox Accounts.

[2016-04-15 20:22] crankycoder opened #1772 "Detect if FxA is logged in and no email address has been saved."
This is a follow up to #1770.

We need to kick out users who are logged in to Firefox Accounts on application startup, but there is no email address saved in the preferences.

In this event, we need to throw up a notification toast, or a notification alert to tell the user that they have been logged out of Firefox Accounts and need to login again.

[2016-04-17 13:33] jeremy447 opened #1773 "F-Droid build failed"
The v. 1.8.3 F-Droid build failed :

https://f-droid.org/wiki/page/org.mozilla.mozstumbler/lastbuild_1080300

Is it possible to fix it please ?

Thanks !

[2016-04-19 15:50] crankycoder commented on #1773
I've got a branch to fix this, but it breaks travis.  Still resolving conflicts.

[2016-04-19 15:52] jeremy447 commented on #1773
Ok thank you.

[2016-04-19 15:54] crankycoder opened #1776 "FxA login seems to do nothing for some users intermittently"
@popey on twitter says the FxA login does nothing a lot.  8 times in a row.

https://twitter.com/popey/status/722452112630816768

I no-op in the case of horrible network failure instead of throwing up what I thought would be alarming login errors on the assumption that network failures would happen, but infrequently.

This seems to not be the case.

Failure to obtain FxA login configuration should

[2016-04-20 13:08] crankycoder commented on #1773
@paviluf - sorry - I forgot to include a link to the branch so you can track progress.  https://github.com/crankycoder/MozStumbler/pull/2

I'm closing this ticket for now as release to the F-Droid app store is a major bug for us and we're actively working on it.

[2016-04-20 13:08] #1773 closed, assigned to nobody

[2016-04-20 21:07] #1772 closed, assigned to nobody

[2016-04-20 21:07] crankycoder commented on #1770
Fixed with leaderboard stage and verified to be fixed when using a 'Lbstage' build directive.  This will go out in the next release of the stumbler client.

[2016-04-20 21:07] #1770 closed, assigned to crankycoder

[2016-04-20 21:11] crankycoder opened #1779 "appcompat-v4:23 and appcompat-v7:23 GUI glitches"
The change to use appcompat at SDK level 23 has broken some of the UI.

Things I've noticed which are not 'broken' but just different:
- Initial welcome screen
- Triple button over the map view now renders the "View Leaderboard" inline rather than below
- PrefencesScreen is now full screen and rendering has been modified slightly.  All UI controls have been updated.

Broken things:
- Power saving

[2016-04-21 06:26] cascheberg commented on #1779
There are more things:
- button for showing the popup drawer is now a back button, stumbler icon is missing there
- on/off button is different, not labeled

What was the reason for the update? Btw, the versions still don't match in `android/build.gradle`.

[2016-04-21 06:40] cascheberg commented on #1770
Ok, just make sure that the leaderboard update is released before the next MozStumbler version, because of #1774 ;)

[2016-04-21 17:38] crankycoder commented on #1779
Urgh. Thanks @cascheberg .  I've got a branch over here which at least partially fixes the 'Change' button for power management.

I've sync'd up the `android/build.gradle` file to use appcompat SDK 23 versions now.

The driver for these changes is F-Droid.  The builds were failing over there and the only way I could find to make everything happy again was to update appcompat to SDK 23.

I'm going

[2016-04-21 17:39] crankycoder commented on #1779
Oops!  Forgot to add the link to the branch I'm working in: https://github.com/crankycoder/MozStumbler/tree/features/1779-appcompat-ui-fix

[2016-04-22 22:05] crankycoder opened #1781 "UI glitches cause failures starting in appcompat 23.3.0"
The build currently works with appcompat 23.0.0 and support 23.0.0, but opening the PreferencesScreen causes a crash starting in at least appcompat v23.3.0.  This might affect other versions > 23.0.0, but I haven't tested yet.

[2016-04-25 21:31] crankycoder commented on #1781
cc/ @cascheberg

[2016-04-26 21:27] crankycoder commented on #1779
This is 'fixed' in #1782 - but a lot of the UI bits need to be reworked for Material Design.  I'll leave the Material Design changes up to a separate bug report, but for now - we haven't regressed beyond some sizing changes to the actionbar and the power management button.

[2016-04-26 21:27] #1779 closed, assigned to crankycoder

[2016-04-27 13:45] cascheberg commented on #1766
How are points actually calculated in the new leaderboard?
In the latest version of the old leaderboard the gained points exactly matched the number of new observations (i.e. locations) as shown in the app.
But in the current new leaderboard I gain much more points than just the observation count.

---

At one point the location-leaderboard readme states: "Submit the number of networks detected wi

[2016-04-27 17:18] crankycoder commented on #1766
cc/ @jaredkerim

[2016-04-27 19:37] crankycoder opened #1784 "Javadoc no longers builds in libstumbler"
#1783 is a hack to work around a problem where the Javadocs are no longer included in JAR files that are uploaded into bintray.

The old code used undocumented features of gradle to clobber the classpath used by the Javadoc task to build documentation.

Amazing. Builds fail because we can't build documentation using undocumented features of the build system.

This really needs to get fixed properl

[2016-04-30 11:23] cascheberg opened #1787 "Leaderboard stats issues"
Sometimes I gain more points in the new leaderboard than I have new observations. I started to investigate that, and I think I found a possible cause.

I have one `jsonrows` file that has 50 entries, others have less. When that file gets uploaded, after a while the server returns `error 502`. As a result that file will be kept around and upload of the same will be reattempted next time. Is it poss

[2016-05-07 02:03] animalextract1982 opened #1788 "BUY FAKE PASSPORT BRITISH(UK) FOR SALE DIPLOMATIC CANADIAN FALSE ID CARD ONLINE UNITED STATES(US) FAKE ID CARD SELL DRIVERS LICENSE"
Buy Quality Fake Passport ,Visa,Driving License,ID CARDS,etc (((milleralexander366@gmail.com )))

We offer only original high-quality real and fake passports, driver's licenses, ID cards, stamps, Visa, school Diplomes and other products for a number of countries like:
USA, Australia, Belgium, Brazil, Canada, Italia, Finland, France, Germany, Israel, Mexico, Netherlands, South Africa, Spain, United

[2016-05-07 17:17] Gitschubser opened #1789 "Bluetooth Networks"
Collect "Bluetooth Networks" with mozstumbler.
Ichnaea is prepared.

[2016-05-07 17:22] Gitschubser commented on #1547
"Just adding a note that the code in the NLP backend looks correct so we should implement this."

Is there any news?

[2016-05-09 12:31] da2x opened #1790 "Frequent crashes and datalosses"
Ever since the update that introduced the new login system, I’ve had troubles with crashes while out stumbling. Restarting the app shows now queued reports and the leaderboard confirms that the data is indeed lost. I don’t have any details or logs (don’t have logcat when out and about) other than this not being a problem prior to this update.

[2016-05-09 12:33] lua86 commented on #1790
Do you not have a terminal app in your phone?

[2016-05-09 12:50] da2x commented on #1790
No, I’m running stock Android 6 on a Nexus 5X. The app worked just fine for hours on end before the update. Now it runs for ~40 minutes and silently crashes in the background while I’m stumbling. I’ve tried leaving my phone plugged in with logcat open but I can’t get it to crash on command in this situation.

[2016-05-09 12:55] lua86 commented on #1790
I have not upgraded in a while, since there seems to be some build problem with f-droid, so I cannot be sure about now, but there used to be an option allowing logging to file.

[2016-05-09 13:09] da2x commented on #1790
Thanks for the hint. That file is only written when the app shuts down, so I expect a crash would prevent it from being written. It only contains stumbled data and I’m not seeing anything that would help identify the problem.

[2016-05-09 16:14] crankycoder commented on #1790
@Aeyoun hrm..  can you enable crash logging in your build?  My guess is that this is somehow related to the way we're doing authentication against the leaderboard.  cc/ @jaredkerim

[2016-05-09 16:41] da2x commented on #1790
@crankycoder, I do have the _enable crash reporting_ option checked but I haven’t seen any documentation on what happens when you enable it. I’m using the Google Play Store distributed build.

[2016-05-10 14:47] Mathnerd314 opened #1791 "Collect and submit indoor positioning data"
Currently MozStumbler only records data if it has a recent anchoring GPS position, has moved 30 meters or more, and a minimum time interval has passed.

But for indoor positioning, much finer data is needed. MozStumbler should detect when it is indoors (e.g. by the lack of GPS) and, as an option, switch to a WiFi-only scanning mode.

[2016-05-10 14:54] lua86 commented on #1791
Is there really backend for sumbitting networks without podition and being useful?

[2016-05-10 15:18] hannosch commented on #1791
@lua86 Right now ichnaea / Mozilla Location Service would treat this data the same it does geolocation queries from any other source. If it gets a list of WiFi networks where some of the networks have a known position in its internal database, it either confirms that the networks are still roughly at the same place, have moved to a different place or for previously unknown networks records them as

[2016-05-10 17:05] crankycoder commented on #1790
Doh.  This is caused by #1786.

I'm cutting a v1.8.5 release today to address this.  I didn't realize how common that NPE crash was.

cc/ @jaredkerim - The leaderboard server is stalling still on uploads.  I've filed https://github.com/mozilla-services/location-leaderboard/issues/298 to track the bug.

@Aeyoun  - I'll close this bug when I push the v1.8.5 release to github.

[2016-05-10 17:19] crankycoder commented on #1790
@Aeyoun  - try https://github.com/mozilla/MozStumbler/releases/tag/v1.8.5 and let us know if this fixes the problem.

[2016-05-10 17:19] #1790 closed, assigned to nobody

[2016-05-11 17:54] crankycoder opened #1792 "Need API17 guard around Location.getElapsedRealtimeNanos"
getElapsedRealtimeNanos() is only available on API17 and up.  Stumbler supports lower API levels.

[2016-05-11 18:09] #1792 closed, assigned to crankycoder

[2016-05-11 20:04] Djfe commented on #758
I don't have this kind of issue anymore since updating my os

[2016-05-11 20:04] #758 closed, assigned to nobody

[2016-05-11 20:06] Djfe commented on #1791
The thing about indoor location is:
You usually want to have more than just lat/lon
you want to know height above the sea (to get a floor level for example)

some interesting article about indoor location I found today
http://nfarina.com/post/134386695359/indoor-location

[2016-05-12 00:54] da2x commented on #1790
The latest update does indeed seem to have resolved the crashing for me. Thank you, @crankycoder.

[2016-05-12 14:25] crankycoder commented on #1547
MicroG code has been reorganized.   Updated link to patch is here:

https://github.com/microg/android_external_UnifiedNlpApi/blob/master/unifiednlp-api/src/main/java/org/microg/nlp/api/CellBackendHelper.java#L193

[2016-05-12 14:26] #1776 closed, assigned to crankycoder

[2016-05-12 14:58] da2x opened #1794 "Better crash recovery"
Issue #1790 lead me to loose a lot of reports. That issue is fixed, but I ran into another crash issue now. (This crash happen after using the camera app, so I suspect a OOM issue.)

When I reopen Stumbler after a crash, I see all metrics display 0 excepts for ”Ready to send reports” that will show a number of reports. After a few seconds after restarting, this number will also go down to 0. Howev

[2016-05-19 21:52] Djfe commented on #1282
Since Android Wear 2 is being released later this year, which supports standalone apps, it might be even possible to create a special MozStumbler version for Android Wear only.
Afaik there are watches that support GPS, Wifi and LTE on their own

And since you wear the watch on your arm, the signal strength (especially of GPS) might be a lot better, which is another advantage

[2016-06-06 22:06] kyl416 commented on #1792
Can you push out a new release build with this fix? It fixes the crashes I get on my Galaxy S II which is on API 16 (4.1.2).

[2016-06-10 14:16] crankycoder commented on #1792
@kyl416 - sorry - I just pushed a release out yesterday.

[2016-06-12 18:15] jeremy447 opened #1795 "F-droid MozStumbler version is still 1.7.14"
Is it possible to update the app in F-droid please ?

Thanks !

[2016-06-20 08:30] proton555 opened #1796 "Cant see my name in Leaderboard :("
For my country there is relatively less Stumbler data (esp of my region). There are only 20 users for my country at link https://location-leaderboard.services.mozilla.com/
So i want to help out the project.
I installed stumbler and sent some 20 reports since yesterday, but my nick (which i entered in stumbler app) is not showing up there

Let me know what can be the issue like so that i start stum

[2016-06-21 15:23] crankycoder commented on #1796
If you're using a nick - it sounds like you're using an older build of the stumbler.

Are you logged into Firefox Accounts?  If not, can you give the github 1.8.6 build a try?

[2016-06-21 17:23] crankycoder commented on #1795
Waiting on the CI build server to complete - I can't seem to get Gradle 2.10 to work on my local machine with the fdroid build server.

https://gitlab.com/fdroid/fdroiddata/merge_requests/1490/builds

[2016-06-22 12:32] proton555 commented on #1796
NO i see nick entering only. No Firefox accounts.
Can we get apk of it from github? or i have to compile (thats a long process of downloading software etc)
if yes, can i have the link?
Thanks

@crankycoder

[2016-06-22 18:48] cascheberg commented on #1795
Google Play Store is also not up-to-date, still at 1.8.5.

[2016-06-23 20:23] crankycoder commented on #1796
Try this: https://github.com/mozilla/MozStumbler/releases/tag/v1.8.6

[2016-06-23 20:23] #1796 closed, assigned to nobody

[2016-06-24 15:41] crankycoder commented on #1795
1.8.6 is merged into FDroid : https://gitlab.com/fdroid/fdroiddata/commit/5127bb6fa37e68152e0fb46c273ee536d5731f81

[2016-06-24 15:41] #1795 closed, assigned to nobody

[2016-06-24 22:04] jeremy447 commented on #1795
Thank you very much ! Is it normal that the v1.8.6 is still not available and there is some error in the build log ?

https://f-droid.org/wiki/page/org.mozilla.mozstumbler#1.8.6
https://f-droid.org/wiki/page/org.mozilla.mozstumbler/lastbuild_1080600

[2016-06-26 09:12] jeremy447 commented on #1795
The builds still fails on Fdroid.

[2016-06-26 09:24] lua86 commented on #1795
Try one of: Available gradle versions: 2.13 2.12 2.11 2.10 2.9 2.8 2.7 2.6 2.5 2.4 2.3 2.2.1 2.1 1.12 1.11 1.10 1.9 1.8 1.7 1.6 1.4

[2016-06-28 11:11] breversa commented on #1735
Anyone willing to support those changes ? :-)

[2016-06-28 12:42] jeremy447 commented on #1795
It seems that they use gradle 2.2 whereas it's not available.

[2016-06-28 18:51] lua86 commented on #1795
In: https://gitlab.com/fdroid/fdroiddata/commit/5127bb6fa37e68152e0fb46c273ee536d5731f81
gradleVersion = "2.2"
It should be one of the availables, for example:
gradleVersion = "2.2.1"

[2016-06-30 19:40] jeremy447 opened #1797 "F-Droid build still failed"
The F-Droid build have been updated (https://github.com/mozilla/MozStumbler/issues/1795) but they failed to build :

https://f-droid.org/wiki/page/org.mozilla.mozstumbler#1.8.6

It seems that they use gradle 2.2 whereas it's not available.

[code]

Is it possible to fix it please ?

Thanks !